[2016-04-20 05:59] hdeshev commented on #1696
_From @tjvantoll on April 19, 2016 15:48_

@rosen-vladimirov Using the released version of the CLI I’m unable to livesync any changes in Groceries. Here’s what I’m doing:

* `git clone https://github.com/NativeScript/sample-Groceries.git`
* `cd sample-Groceries`
* `git checkout angular-end`
* `tns install`
* `tns run ios --emulator`
* `tns livesync ios --emulator --watch`
* Change any file. The li

[2016-04-20 06:00] hdeshev commented on #1696
_From @tjvantoll on April 19, 2016 16:15_

Ok good news and bad news.

**Good news**: I installed the {N} CLI from the release branch and I’m no longer having the same issue with Groceries. TypeScript changes livesync as expected 🎉

**Bad news**: I am still not seeing changes I make to CSS files, even in the release branch. I can recreate this in Groceries and in new apps using the steps above.

[2016-04-20 06:00] hdeshev commented on #1696
_From @tjvantoll on April 19, 2016 16:16_

So it appears that, with the updated CLI, the problem is limited to CSS changes on iOS.

[2016-04-20 06:09] rosen-vladimirov commented on #1696
@hdeshev ok, thanks, I'll check it immediately

[2016-04-20 07:13] rosen-vladimirov commented on #1696
Hi @hdeshev ,

It looks like the problem with `.css` files is that the app is not restarted. However we've added new functionality for the 2.0.0 release of NativeScript CLI, that allows the plugins to define if the livesync should restart the application. You can find a sample plugin here:
https://github.com/TsvetanMilanov/nativescript-restart-on-sync-plugin

The idea is to add `before-livesync` h

[2016-04-20 07:17] TsvetanMilanov commented on #1517
Livesync hook and a way to force full livesync are added. [This](https://github.com/TsvetanMilanov/nativescript-restart-on-sync-plugin) plugin shows how to do it. With this hook when changing any type of file full sync will be executed.

[2016-04-20 13:19] stefanaerts opened #1698 "tns livesync ios does not work with CLI 1.7.1."
tns livesync ios does not work with CLI 1.7.1.
Th error message:
"Error Command failed: /bin/sh -c killall sampleGroceries.app
No matching processes belonging to you were found
 while executing killall sampleGroceries.app "

When i kill sampleGroceries myself it works,but kill sampleGroceries.app doesn't work
because thats not the name of the process,its sampleGroceries.

killall "nameofapp".app

[2016-04-20 14:11] NathanaelA commented on #1096
Woo Hoo!   I'm glad this is almost done; I've ran into another issue as I had to add a post install step to my podfile and because it keeps getting inserted into the file; I start getting warnings about needing to manually fix the podfile due to multiple post install steps.

[2016-04-20 14:13] rosen-vladimirov commented on #1096
@NathanaelA Have you tried our latest build from release branch. We'll be glad for any assist that could confirm it works as expected now?

[2016-04-20 14:19] NathanaelA commented on #1096
Nope, but I will attempt to try this out...

[2016-04-20 20:32] epileftro85 commented on #1097
i was having the same issue, but i think it was because updating the sdk as root,

`sudo $ANDROID_HOME/tools/android update sdk --filter tools,platform-tools,android-23,build-tools-23.0.2,extra-android-m2repository,extra-google-m2repository,extra-android-support --all --no-ui`

so it was many folders with no permission, so i just change the permissions of them and all get perfect.

[2016-04-21 12:26] tjvantoll commented on #1696
@hdeshev @rosen-vladimirov Is the next step for making sure that all new ng2 apps get that hook by default adding the nativescript-restart-on-sync-plugin plugin to https://github.com/NativeScript/template-hello-world-ng?

[2016-04-21 12:28] rosen-vladimirov commented on #1696
@tjvantoll we should add it to `nativescript-angular` plugin instead.
We'll talk with @hdeshev and we'll add it very soon :)

[2016-04-21 13:05] Mitko-Kerezov commented on #1639
@NathanWalker Sorry for the late reply
I think the issue you're describing may be derived from the fact that you haven't cleared (removed) the `platforms` directory in your project prior to building with the new `CocoaPods`.
I'm going to go ahead and add a disclaimer here stating that even if you cleaned your `platforms` directory, you'd probably hit https://github.com/NativeScript/nativescript-cl

[2016-04-21 13:19] hdeshev commented on #1696
Just published it as nativescript-angular@0.0.43.

[2016-04-21 13:19] #1696 closed

[2016-04-21 15:15] rosen-vladimirov commented on #1695
@NathanaelA , interesting idea. With our next release `tns doctor` command will check for available updates of the modules, runtimes and CLI and if some of them could be updated, we show a table with information:
![updatesavailable](https://cloud.githubusercontent.com/assets/8351653/14714195/bb32ee2e-07ec-11e6-946f-55c1bd896996.png)

Also we've added new command: `tns info` and when you execute it

[2016-04-21 15:36] rosen-vladimirov commented on #1676
Hi @leocaseiro ,
This issue is addressed in our release branch and it will be included in the 2.0.0 official release.
You can find more information [here](https://github.com/NativeScript/nativescript-cli/issues/1517) and [here](https://github.com/NativeScript/nativescript-cli/issues/1696)

[2016-04-21 15:36] #1676 closed

[2016-04-21 15:39] #1675 closed

[2016-04-21 16:41] NathanaelA commented on #1695
Sweet, yeah that is exactly what is needed -- does it also list itself in the table (i.e. the nativescript command).

[2016-04-22 05:27] rosen-vladimirov commented on #1695
@NathanaelA,
The `tns info` command will check the versions of:
* `tns-android`
* `tns-ios`
* `tns-core-modules`
* `nativescript-cli`

It will show the current versions and latest versions.

`tns doctor` command will check the same items and will show the table only in case any of them could be updated (and of course will show only the items that can be updated).

I'm closing this issue now, but f

[2016-04-22 05:27] #1695 closed

[2016-04-22 08:55] vchimev commented on #1504
Fixed by adding the needed entries in the package.json:

[code]

[2016-04-22 08:55] #1504 closed

[2016-04-22 08:59] vchimev commented on #1504
@mehfuzh,
as the NativeScript plugins are npm packages, their package.json files need to be updated with the warned information in order to be avoided.

[2016-04-22 09:07] vchimev commented on #1689
The `tns run android` command starts the emulator and exits:

Output:
[code]

[2016-04-22 12:49] georgeedwards opened #1711 "Fatal JavaScript exception when running previously working ios project"
I have just cloned an app to my mac (which was previously working fine), but now when I run `tns run ios`, the app builds and deploys to the device, but doesn't run. I am running OSX El Capitan v10.11.4 with Xcode v7.3. Here is the bit of the stack trace as the app fails and closes.

[code]

[2016-04-22 12:56] georgeedwards commented on #1711
Similarly, when run on a simulator I get:

[code]

[2016-04-22 16:29] mardo opened #1713 "Angular hot reloading / replacement"
Hello!

I'd like to know if hot reloading is coming for nativescript-angular apps. I know livesync is working, but it refreshes the whole app and doesn’t keep the state; I just want to know if we can go even further.

Let's say we make a change on the editor and the whole angular component gets replaced without refreshing the app, and you will be able to test that component with the app's current

[2016-04-23 05:09] jasssonpet commented on #489
This is now possible with https://github.com/NativeScript/nativescript-dev-webpack

[2016-04-25 06:39] enchev opened #1714 "Can't exclude iPad from deployment devices"
_From @wapdtc on April 22, 2016 14:54_

I want to exclude iPad support when delivery to app store, but it failed. I did the following steps after googling:
add TARGETED_DEVICE_FAMILY=1 to build.xcconfig
executing tns publish ios from command line .

But there is still an error when I try to upload my ipa to app store, the validation failed. It says:
ERROR ITMS-90475: "Invalid Bundle. iPad Multitas

[2016-04-25 07:33] #1689 closed

[2016-04-26 11:49] NMNiOS opened #1719 "Uninstall/Remove Nativescript-cli"
How to uninstall Nativescript-cli?

[2016-04-26 11:49] NMNiOS opened #1720 "Uninstall/Remove Nativescript-cli"
How to uninstall Nativescript-cli?

[2016-04-26 11:50] NMNiOS opened #1721 "Uninstall/Remove Nativescript-cli"
How to uninstall nativescript-cli?

[2016-04-26 12:29] #1721 closed

[2016-04-26 12:29] #1720 closed

[2016-04-26 12:31] dtopuzov commented on #1719
npm uninstall -g nativescript (for global installations)
or
npm uninstall nativescript (for local installations)

[2016-04-26 12:31] #1719 closed

[2016-04-26 13:10] NMNiOS commented on #1719
Thanks you so much sir

[2016-04-26 16:44] Sean-Sekora commented on #1175
I'm having the same issue on os X. I've gone through the process and is works but tns doctor gives the following error

-bash: tns: command not found

[2016-04-27 06:28] #1606 closed

[2016-04-27 07:03] vchimev commented on #1262
Fixed in 2.0.0.

[2016-04-27 07:03] #1262 closed

[2016-04-27 08:11] vchimev opened #1725 "Ctrl + C shortcut does not stop the livesync ios --watch command"
In NativeScript CLI 2.0.0 the shortcut Ctrl + C does not stop the `tns livesync ios --watch` command in Terminal of OS X.

Workaround:
Press Ctrl + Z.

[2016-04-27 08:27] #1419 closed

[2016-04-27 11:08] vchimev opened #1726 "LiveSync to sync .js files without restarting the app"
Currently in NativeScript 2.0.0 when you make a change in .js files during livesync, the app gets restarted in order the change to be applied.

[2016-04-27 11:13] vchimev opened #1727 "[Angular] Improve livesync performance for iOS"
Improve the performance of livesync for iOS, particularly for typescript/angular2 apps.

[2016-04-27 16:20] NathanaelA opened #1728 "Self tns validation..."
I've seen this issue occur the last several times I've upgraded the nativescript command on my Macintosh.  I haven't seen this on my windows 7 box.

It installs, and gives me the normal list of all the modules it has installed; but it does not run any of the post-install stuff.   However, the install is bad, some modules are missing even though it "appears" like everything installed properly (beca

[2016-04-27 20:20] NathanaelA commented on #1639
@Mitko-Kerezov  -- I've seen a couple reports that this is *NOT* been solved in v2.00 are we sure the patch got applied.

[2016-04-28 06:47] Mitko-Kerezov commented on #1639
@NathanaelA
2.0 does not require CocoaPods 1.0 beta. In 2.0 if the CLI detects a troublesome configuration (e.g. Xcode 7.3 and CocoaPods 0.39.0) a message is displayed telling users to install the [xcproj](https://github.com/0xced/xcproj) command line tool. Underneath, the CLI uses said tool to restore the main `.pbxproj` back to the ASCII format.

So in theory every configuration should work - re

[2016-04-28 07:27] NathanaelA commented on #1639
No, a couple people in the general slack chat was having the issue with 2.00 and Cocoapods .39.  Shortly after I posted the question, they upgraded to 1.0 beta the issues vanished.  So I updated my question to ask for clarification on the fix.  :grinning:

  I still have CP .39 and xcproj so I'll try and see what happens tomorrow when I upgrade my mac box to 2.00...

[2016-04-28 07:38] enchev opened #1729 "tns doctor does not report error when Java is 1.7"
_From @NathanaelA on April 27, 2016 16:25_

### Did you verify this is a real problem by searching
Yes

### Tell us about the problem
Unable to build project

Will produce:
:asbg:generateInterfaceNamesList
java.lang.UnsupportedClassVersionError: com/ig/GetInterfaceNames : Unsupported major.minor version 52.0
        at java.lang.ClassLoader.defineClass1(Native Method)
        at java.lang.ClassLoa

[2016-04-28 07:38] enchev commented on #1729
_From @dtopuzov on April 27, 2016 17:41_

It looks you have Java 1.7.
{N} now require Java 1.8, see https://github.com/NativeScript/nativescript-cli#system-requirements

[2016-04-28 07:38] enchev commented on #1729
_From @NathanaelA on April 27, 2016 18:15_

Ah, TNS doctor does not report any issues!

[2016-04-28 07:38] enchev commented on #1729
_From @sitefinitysteve on April 27, 2016 18:33_

Doc should report this if possible +1

[2016-04-28 07:38] enchev commented on #1729
_From @NathanaelA on April 27, 2016 23:24_

Please note I upgraded to v1.8 - And this actually does fix the primary issue.    Yeah!

 HOWEVER,
1. On 1.7, TNS Doctor as reported above said everything was good.
2 On 1.8, TNS doctor now says I have issues with my ANDROID_HOME & android.bat file, even though I can run android.bat fine and I can now build perfectly fine.

[2016-04-28 07:38] enchev commented on #1729
_From @sitefinitysteve on April 27, 2016 23:25_

Someone needs to go back to medschool... Looking at you doc

[2016-04-28 07:38] enchev commented on #1729
_From @bradmartin on April 28, 2016 3:27_

I don't have those issues on my Win10 PC @NathanaelA w/ *1.8*, I get:

`Your components are up-to-date.
  No issues were detected.
`

 No major issues now that I have Java 1.8 and running NS 2.0 on new apps. One minor issue about *AppBuilderCallback* (WTF - but it happened with 1.7.1 and has come up on Slack in recent weeks), and a good ole `platform remo

[2016-04-28 08:11] Mitko-Kerezov commented on #1639
Sounds good - any feedback would be much appreciated

[2016-04-28 18:26] tjvantoll opened #1731 "Have the quick setup scripts create an AVD emulator"
I find that a lot of people get confused when setting up an Android emulator for testing the first time. Could we alter our setup scripts so that they setup an AVD out-of-the-box?

Ideally after the scripts run `tns run android --emulator` would just work.

Thanks.

[2016-04-28 21:24] NathanaelA commented on #1639
Well, in my case my stack so far is working fine with V2.00 and Cocoapods 0.39.

[2016-04-28 21:52] NathanaelA opened #1732 "TNS 2.00 & Macintosh without Java/Android configured"
This is a annoying regression in the CLI on macs.

TNS run **ios**, tns debug **ios**, tns deploy **ios**, tns emulate **ios**, and tns prepare **ios**
See the commonality.  ;-)

I do all my Android development on my PC, and so my mac is not configured for even java or Android.

Now when ever a plugin is updated, installed or manually changed the TNS command will now spit out the following:

The A

[2016-04-29 05:21] leocaseiro commented on #1676
Thank you so much. I've tested now and worked just fine.

PS: I had to update the brew and install my xcode with: `brew install xcproj`

[2016-04-29 21:01] mehfuzh opened #1733 "[node.js 6.x support] Native module sources is not supported"
After updating to nativescript 2.0 when I try to install a plugin I am getting the following error:

(node:9070) fs: re-evaluating native module sources is not supported. If you are using the graceful-fs module, please update it to a more recent version.

[2016-05-01 10:24] georgeedwards opened #1734 "ios builds with 2.0.0: Processing node_modules failed. TypeError: Cannot read property 'split' of null"
I have just restarted my mac for the first time since I updated to the CLI 2.0.0. My project which was working before now won't build, citing error:

I am running OSX El Capitan with XCode 7.3

Even if I run `npm install nativescript -g` I get the same error:

[code]

[2016-05-01 10:31] georgeedwards commented on #1734
[Here](https://gist.github.com/georgeedwards/b3388a408b493cc19eb6a8c5c4ab94c6) is a link to the full failing build stack trace

[2016-05-02 05:04] mhh1422 commented on #386
Any update on this issue? I am getting same error mentioned in by getsetbro and can not debug yet!

[2016-05-02 06:40] leocaseiro commented on #1676
Hi @rosen-vladimirov, I'm actually having the same issue still.

I was trying to debug and I've realised that if I comment the `beforewatch/nativescript-dev-typescript.js` reference it works:

_beforewatch/nativescript-dev-typescript.js_
`// module.exports = require("nativescript-dev-typescript/lib/watch.js");`

However, as you can realise, the watch won't work with any JS changes...

I'm not sure

[2016-05-02 12:36] AntonioCuevaUrraco commented on #1542
@Plamen5kov I have some crash reports like this
Android 4.2   -->   71.4%
Android 4.4   -->   28.6%
[code]
I think it may be related to the multidex issue, What do you think?
is it solve on 2.0? some advice? I will start updating immediately

[2016-05-03 00:18] leocaseiro commented on #1676
I temporary sorted it out using gulp to watch my .ts files and then, livesync(which works while watching .js files).

In that case, my gulp task watches .ts and update all .js while livesync handles all .js files and update and sync my ios emulator...

[2016-05-03 00:53] leocaseiro commented on #1676
If someone is interested in this solution:

npm dependencies:
[code]

_./gulpfile.js_
[code]

Run with yarg **debug**:

`gulp --debug`

[2016-05-03 11:11] Plamen5kov commented on #1542
Hi @AntonioCuevaUrraco,
Could you give me additional information:
* Can you provide a repo with the project, so we can easily reproduce your problem, because currently I can't.
* What changes have you made, can you give us the steps?
* Did the application work before the 2.0 release, or started blowing up after a change you made?
* `Android 4.2 --> 71.4% |
Android 4.4 --> 28.6%`
do these percentag

[2016-05-03 13:29] AntonioCuevaUrraco commented on #1542
I have the client on 1.6.0, android 1.6.3 and  iOs 1.6.0.
I can't give you a link to the repo as it is happening on the app we have on the market.
I activated the multidex on build.gradle and is all good on devices running lollipop and up, but older devices crash
The numbers means in which android versions  the crash is happening, 71% of the time is happening on android 4.2
What I did to solve the

[2016-05-04 07:01] NickIliev commented on #1733
Hello @mehfuzh

Which version of **node.js** are you using?
This error is caused by some packages not supporting **version 6** so if that is the case
you can try going back to **5.x**

[2016-05-04 11:10] manijak opened #1737 ""Last message repeated 133 times""
I was trying to debug my app and added several console.log lines in different parts of code (functions where I fetch data). And watched the osx terminal for clues.

I noticed the following line appear either before or after my console.log lines:
```May  4 12:26:15 --- last message repeated 133 times ---```

I was freaking out right about now. Looks like my service was called 133 times after tappin

[2016-05-04 11:18] NickIliev commented on #1733
I have installed the latest nodejs v.6.0.0 and the issue is confirmed.
Installing any plugin via **tns plugin add xxx** will return
`Support for node.js 6.0.0 is not verified. This CLI might not install or run properly.`

@mehfuzh As a solution I recommend to use the recommended Node.js version (4.4.x) or any version lower then 6 (I have tested successfully with 5.9.x) - you can use [NVM](https://

[2016-05-04 11:32] TsvetanMilanov commented on #1734
@georgeedwards check if you have CocoaPods installed. If you have it, tell me which version it is.

[2016-05-05 00:06] DocGreenRob opened #1738 "'tns' is not recognized as an internal or external command, operable program or batch file."
I am new to NativeScript and am currently going through the installation steps described here (http://docs.nativescript.org/angular/tutorial/ng-chapter-1) and I just completed executing the PowerShell script

`@powershell -NoProfile -ExecutionPolicy Bypass -Command "iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/NativeScript/nativescript-cli/production/setup/nati

[2016-05-05 06:38] NickIliev commented on #1738
Hello @DocGreenRob

This script will install all the additional requirements but before you run it you have to already passed step two in the tutorial as follows :
`npm install -g nativescript`

To install npm packages you must have installed [Node.js](https://nodejs.org/en/) (versions 0.10, 0.12, 4.x or 5.x)  - do not install version 6 as it is not supported by many nopm packages at this moment.

[2016-05-05 10:32] stephenfeather opened #1739 "NativeScript 2.0 warning needs to reference how to install updated cocoapods when xcode 7.3 supported version of pods is released"
If the user has a lower version of cocoapods installed, the installer suggest they install xcproj to work around the problems listed in #1639.

The better outcome would be for the user to update all their tooling if possible. The suggestion regarding xcproj, as i see it is a backwards compatibility stub, while showing the instructions to update their cocoapods is future looking.

Current warning a

[2016-05-05 15:31] hdeshev opened #1740 "Dev Dependencies (like Gulp, etc) getting built and build is failing because of which Gulp integration is not working currently."
_From @Headcult on April 26, 2016 11:30_

Thanks for the amazing work on integrating Angular 2 with NativeScript at such a good pace. Looking forward for future releases.

The main issue that I'm facing now is:
Dev Dependencies (like Gulp, etc) getting built and build is failing because of which Gulp integration is not working currently.

Can this be fixed at the earliest as we are unable to use G

[2016-05-05 15:31] hdeshev commented on #1740
I finally reproduced the problem, and I believe this to be a problem with how nativescript-cli handles npm dependencies. Steps to reproduce:

1. Start an empty project.
2. Run it using `$ tns run android`
3. Install gulp: ` $ npm install gulp --save-dev`
4. `$ tns run android`

Working around the problem is easy, but not obvious -- don't call `npm`, but let the tns tool do that for you by adding g

[2016-05-05 21:56] mgol commented on #1734
Installing CocoaPods 0.39.0 resolved it for me but before that I've seen it even in the `tns doctor` output which shouldn't happen.

[2016-05-05 23:22] georgeedwards commented on #1734
Yes, I had to reinstall Cocoapods (with all the El Capitan and Xcode 7.3 quirks) and it started working again. Not sure why it affected `tns doctor`

[2016-05-06 12:16] gillestasse commented on #386
I got the same issue on a fresh install of NativeScript

[2016-05-06 17:39] njl07 opened #1741 "tns doctor => cocoapods failed"
Hello,

When try to do `tns doctor`, I have error with `Podfile` of `AFNetworking`:

[code]

I've reinstalled so many times `cocoapods` in `v0.39` and in `pre` release but nothing works.

Can you help me?

Thanks.

[2016-05-06 20:29] NathanaelA opened #1742 "TNS issues with ANDROID_HOME path"
I was helping someone get going on mac, and TNS kept saying they didn't have ANDROID_HOME set properly or that the folder didn't exist.  I manually walked through each of the steps, and everything looked fine from the disk perspective and even ls $ANDROID_HOME/<path> worked great.

The issue:
ANDROID_HOME=/SOME/PATH**/**
See that little trailing backslash?   Yep, TNS gets totally confuse by having

[2016-05-06 20:31] NathanaelA opened #1743 "Feature Request: Add TNS Version info into the build process"
When doing a tns build / tns run / tns emulate / tns livesync / tns debug  -- TNS should check the version of the runtimes, coremodules and ns command line like the **tns info** does and report them **if** their is a later version, so that people don't forget to upgrade or know when to upgrade...

[2016-05-07 12:01] x4080 commented on #1639
@NathanaelA is 2.0 stable enough in iOS? If so how about in Android? I read there are issues posted by people ?

Thanks

[2016-05-09 05:49] leocaseiro commented on #1097
I had the same issue on OSX and I fixed it instaling the [Android Studio](http://developer.android.com/sdk/index.html). After that, I set the ANDROID_HOME and worked pretty well.

`export ANROID_HOME=/Users/$(whoami)/Library/Android/sdk/`

[2016-05-09 08:37] Mitko-Kerezov opened #1746 "Remove node_modules after preparing plugins"
When preparing plugins the whole directory is copied to the native project. This could lead to complications like for example leakage of `.aar` files inside an iOS project.
In order to avoid the issue `node_modules` dir needs to be cleaned upon preparing plugins.

[2016-05-09 08:37] Mitko-Kerezov commented on #1746
Issue is addressed in https://github.com/NativeScript/nativescript-cli/pull/1730

[2016-05-10 06:44] Plamen5kov commented on #1542
Hi @AntonioCuevaUrraco,
If you wan't to enable multidex support, you need to do a couple more things described [here](http://developer.android.com/tools/building/multidex.html). You can see a working multidex support example [here](https://github.com/Pip3r4o/ns-multiDex-App-Demo). The example works with ^2.0 release.

[2016-05-10 07:23] AntonioCuevaUrraco commented on #1542
Thank you for the working sample. I think the issue is solved now

[2016-05-10 07:23] #1542 closed

[2016-05-10 13:31] AhsanAyaz commented on #1729
+1 :) having the same issue.. tns doctor should report this

[2016-05-11 11:54] Headcult commented on #1636
Even I'm facing the same issue (on TNS 2.0). Any updates on this? Will there be a fix for this, if the root cause is known. Thank you.

[2016-05-11 15:10] enchev opened #1751 "Issue Building For iOS (exit code 65)"
_From @jimmytsao on May 11, 2016 14:57_

I started a new project with `tns create bm-guidebooks` then `tns platform add ios` and finally started livesync `tns livesync ios --emulator --watch`. The build keeps failing with exit code 65 because it could not find this directory ../bm-guidebooks/platforms/ios/internal/nativescript-pre-build . (The full log is below)

tns cli version: 2.0.0
tns-ios ver

[2016-05-12 01:15] mnahkies opened #1752 "Use spaces instead of tabs in package.json for consistency with npm"
npm maintains packages.json files with spaces for indentation instead of tabs, tns uses tabs instead of spaces.

This causes entire file to change if you use both tools to manipulate it, which then leads to hard to read diffs.

Propose that tns use spaces for consistency with npm, with the justification that npm is the de facto tool for manipulating package.json files.

[2016-05-12 01:40] snailbites commented on #1698
+1

Running `/bin/sh -c killall sampleGroceries` seems to run with no errors, but I can't seem to find where this command is being run from. Is no one else having this problem? It's one of the first steps in the tutorial!

[2016-05-12 05:19] spstratis commented on #1398
Has there been any further updates on this?

[2016-05-12 14:55] vchimev commented on #1698
Hi,

are you able to reproduce this issue with NativeScript 2.0.0? If yes, what is your Xcode version?

[2016-05-12 20:33] cfjedimaster opened #1756 "New project's package.json all on one line"
I just made a new project and my package.json is all on one line. Obviously I can fix this myself, but that should be easy to fix in the CLI.

[2016-05-12 21:42] PeterStaev commented on #1740
Was struggling with the same problem! I can confirm that using `tns install` instead of `npm install` does the trick. Thanks @hdeshev !

[2016-05-13 12:51] imjohnbo commented on #1741
I have this problem too.

Any ideas?

[2016-05-13 13:30] ktemo opened #1758 "Cordova error compiling for android cause "-" char in package name id"
I am using last version of meteor and I am getting this error, if I remove the "-" everything works as expected.

=> Errors executing Cordova commands:

   While adding platform Android to Cordova project:
   Error validating package name. Package name must look like: com.company.Name
   at validatePackageName (/Users/temo/.cordova/lib/npm_cache/cordova-android/5.1.1/package/bin/lib/create.js:164:

[2016-05-13 13:35] NickIliev opened #1759 "using fontModule.ios.registerFont("some-font.ttf") will always log error"
registering custom font for iOS is always logging error although it works
Here is the error
[code]

Code to reproduce this behavior (tested with three different fonts in app/fonts folder - all are loaded successfully n the application but all three log this error)

app.ts
[code]
All test fonts are located in **_app/fonts_**

[2016-05-13 13:43] NickIliev commented on #1759
This issue was moved to NativeScript/NativeScript#2109

[2016-05-13 13:43] #1759 closed

[2016-05-14 03:13] jdell64 commented on #837
The Genymotion tutorial specifies to make an old version of Android (the one in http://developer.telerik.com/featured/using-android-emulator-hybrid-mobile-apps-telerik-appbuilder/#managing-avds)
The NativeScript tutorial will not work with this version.

Suggest updating that version if they have access.

[2016-05-14 10:44] mikeybyker opened #1761 "s"

[2016-05-14 10:44] #1761 closed

[2016-05-14 13:03] blagoev opened #1763 "CLI run/debug commands should detect the type of device"
When run/debug command is started it should detect the type of device and make the device Id optional in cases when only one device and one emulator is found.

--emulator and --device should detect the devices connected and ask for device id only when a decision can not be made.

[2016-05-14 13:07] dtopuzov commented on #1763
In Android emulator and device are both devices, so with one emulator and one device you also can not make a decision.
I think we should work in the same way Android Studio works.

[2016-05-14 15:25] ilpaijin commented on #1741
the same

[2016-05-15 02:40] apntzls commented on #1741
Ditto

[2016-05-15 14:26] preekmr commented on #1741
Same problem here!

`Verifying CocoaPods. This may take more than a minute, please be patient.
  ◡ Installing iOS runtime.tns-ios@2.0.0 ../../var/folders/gn/_vqlg02n1r3_3pb_csvyrqgc0000gn/T/nativescript-check-cocoapods116415-47389-15druqb/node_modules/tns-ios
  ◡ Verifying CocoaPods. This may take some time, please be patient..
Analyzing dependencies
[!] The dependency `AFNetworking (~> 1.0)` is n

[2016-05-15 19:18] ejsuncy commented on #1741
same here. I've been stuck on this part of the chapter one tutorial for dayz...

[2016-05-15 19:31] preekmr commented on #1741
Hey @ejsuncy, though I am getting the error I could able to run the app in the IOS emulator. Probably you can check on that.

[2016-05-16 01:15] snailbites commented on #1698
@vchimev I am on 6.4 (6E35b) and NativeScript 2.0. I just pulled the latest from the angular-start branch so I should be up to date. Also I am on Node v4.2.6.

I don't really have much in the way of a good repro as I'm only on the first page of the angular tutorial. But this is what I am doing, if it helps:

1) Complete all of the steps on the angular tutorial up to 1.4, Running your app. I run `t

[2016-05-16 07:32] blagoev commented on #1763
First lets say that there is a way to make a distinction between android device and android emulator.

Lets paraphrase this issue to be more clear.
The request is to handle tns commands as follows on the specific case when there one android emulator and one android device connected.

* "tns debug android" should fail with asking the user to specify device id
* "tns debug --emulator" should start t

[2016-05-16 08:29] blagoev opened #1765 "CLI not directing the commands correctly to the correct device/emulator"
Currently some emulators are not recongnized as emulators and CLI is not working correctly with them

The problem manifests itself in VS Code where there are two options for debug "Launch on Android Device" and "Launch on Android Emulator". In other words there is no way for the user to use plain commands like "tns debug android" and is always specifying --emulator or --device.

The problem is the

[2016-05-16 08:31] blagoev commented on #1765
We already received some issues regarding this incorrect behavior outlining the expectations of the users

https://github.com/NativeScript/nativescript-vscode-extension/issues/38
https://github.com/NativeScript/nativescript-vscode-extension/issues/23

[2016-05-16 08:49] rosen-vladimirov commented on #1765
@blagoev
May I ask you for some clarification, which are these emulators that are not recognized as emulators?

[2016-05-16 09:28] dajk opened #1766 "tns livesync ios --watch, app crashes when I change .css or .xml"
Hi guys,

have a problem with livesync watcher. When I run the app as `tns livesync ios --watch` and change `.css` or `.xml`, app crashes. It happens only on iOS.

This is what I have in console:
[code]

Thanks,
Radovan

[2016-05-16 09:40] blagoev commented on #1765
@rosen-vladimirov The best way of targeting the emulator is by not "recognizing it" but by redirecting communication to it. Similar how adb does it.

https://github.com/android/platform_system_core/blob/master/adb/commandline.cpp#L1480
https://github.com/android/platform_system_core/blob/master/adb/commandline.cpp#L1715-L1716

In our case this "targeting" means passing "-e"  to all adb commands th

[2016-05-16 17:58] kunl commented on #1726
why can't just like RN?

[2016-05-16 19:27] fryck commented on #1741
Same for me

[2016-05-16 20:59] emptist commented on #1559
I am facing the similar problem should I open one new issue?

[2016-05-17 01:52] snailbites commented on #1741
+1

[2016-05-17 02:05] Daxito commented on #1741
+1

[2016-05-17 05:05] Plamen5kov commented on #1559
Hi @rjbain,
What is your node version ? You can check with:
[code]

[2016-05-17 07:35] tsonevn opened #1767 "npm i -g nativescript failed with node v6.1.0"
_From @emptist on May 16, 2016 21:6_

npm install failed with the following messages:
[code]

_Copied from original issue: NativeScript/NativeScript#2122_

[2016-05-17 07:35] tsonevn commented on #1767
_From @emptist on May 16, 2016 21:12_

I noticed this along other warnings:
[code]

[2016-05-17 07:35] tsonevn commented on #1767
Hi @emptist,

Thank you for reporting this issue.

I have reviewed your problem. However at the moment node 6 is not supported by many `npm` packages.
To install `npm` packages you should install Node.js (versions 0.10, 0.12, 4.x or 5.x), then `npm i -g nativescript` will work correctly.

I hope this is applicable for you.
Kind regards

[2016-05-17 09:15] mayureshjadhav opened #1768 "Splash Screen not working properly in Android"
I have tried the following code for showing splash screen on android

style.xml

[code]

AndroidManifest.xml

[code]

app.js

[code]
![screenshot_2016-05-17-14-43-37](https://cloud.githubusercontent.com/assets/4032977/15317166/f2222fca-1c3d-11e6-9948-6c614370228d.png)

but Splash screen is not looking properly. Please find the attached screen shot

[2016-05-17 10:00] #1768 closed

[2016-05-18 09:57] dtopuzov commented on #1766
It works for me, can you give some more details:
Xcode version
Device or Simulator?
iOS version

[2016-05-18 10:17] SvetoslavTsenov opened #1770 ""tns livesync ios --watch" doesn't sync changes if pacakgeId and folder name does not match"
tns livesync ios --emulator --watch  doesn't sync xml and css files but js.

[2016-05-18 10:41] hekigan commented on #1733
I can confirm that.
I had to rollback to v5.11.1
Do we know specifically which plugin is causing that?

In my package.json I only have the following:
[code]

[2016-05-18 11:15] dajk commented on #1766
Hi @dtopuzov

Thanks for answering me.

I've just noticed that this is happening only on my specific project, not sure why but I obviously missed something.

[2016-05-18 11:21] #1766 closed

[2016-05-18 13:38] VishalSubramanyam commented on #1115
I have the same problem on Node 6.1.0. Does this bug exit on that version?

[2016-05-18 13:42] rosen-vladimirov commented on #1115
@VishalSubramanyam
Node 6.1.0 is still not supported, I suggest you to install latest LTS Version (4.4.4) or latest 5.x version of node :)

[2016-05-18 13:44] VishalSubramanyam commented on #1115
How am I supposed to run two versions parallel in the same environment @rosen-vladimirov

[2016-05-18 14:37] rosen-vladimirov commented on #1115
@VishalSubramanyam you can use **nvm** in such cases:
https://github.com/creationix/nvm

[2016-05-18 18:27] bendav91 commented on #1741
Also having the same problem. On Running `$ tns doctor` after the dependency installation, I'm getting ``[!] The dependency `AFNetworking (~> 1.0)` is not used in any concrete target.``

[2016-05-18 23:19] jaferret commented on #1191
Ok so whats the solution? Any commands I need to execute? I'm having the same issue... How do I fix this?

[2016-05-18 23:23] jaferret commented on #1623
This is what I'm getting when i run the installation....

[out.txt](https://github.com/NativeScript/nativescript-cli/files/271587/out.txt)

Then even after I'm getting tons command not found....

[2016-05-19 22:21] b-lawrence commented on #1751
+1

[2016-05-20 00:58] ejsuncy commented on #1741
I had skipped installing node because I already had it. I ended up installing node 4.4.4 from the website (not with homebrew), which also updated npm to 2.15.1. I then started the tutorial over again, installing nativescript, and everything works as expected now...problem solved for me :)

[2016-05-20 01:52] ejsuncy commented on #1354
I'm encountering this error...
`EEXIST: file already exists, open '/Users/[username]/.local/share/.nativescript-cli/.lock`

I believe it is due to the race condition when both livesync processes attempt to create the `.lock` file...but the android livesync wins everytime, and the ios livesync quits watching after the error.

Is multiple livesync without race conditions on the roadmap?

[2016-05-20 06:54] Mitko-Kerezov commented on #1741
This issue was resolved with the latest `2.0.1` version of the NativeScript CLI

[2016-05-20 06:54] #1741 closed

[2016-05-20 13:30] tjvantoll opened #1773 "Show warning when livesync cannot reflect a change"
This is some feedback we got from our call with Martin Keiblinger. Suppose you have a `livesync` watcher running and you change some file in `App_Resources`—let’s say `AndroidManifest.xml`. You’ll see something like this:

[code]

This can be confusing as following the output’s instructions—aka saving the file again or restarting the livesync operation—isn’t going to help. Instead we should be sma

[2016-05-20 13:45] vchimev commented on #685
Sample project and plugins could be found here:
https://github.com/NativeScript/nativescript-cli-tests/tree/master/data/static-lib.

[2016-05-20 13:48] tjvantoll commented on #1366
@valentinstoychev With the livesync improvements coming in 2.1 and 2.2, can we consider making it the default experience as this issue suggests?

[2016-05-20 13:48] sipacate commented on #1366
Yup. I fully agree that would be the nicest thing to do from the developer experience.

[2016-05-20 14:00] sitefinitysteve commented on #1366
...IMO --watch by default as well, whats the use case for livesync with no watch specified?

[2016-05-22 11:00] Jpaagt commented on #1636
I have the same problem, version 2.0.0, here is a part of crash message on the device:

`Unhandled Exception:
java.lang.RuntimeException: Unable to start activity
ComponentInfo{.../com.tns.NativeScriptActivity}:
com.tns.NativeScriptException: Failed to find module: "./config", relative to: /app/tns_modules?nativescript-unit-test-runner/
at android.app.ActivityThread.performLaunchActivity(ActivityT

[2016-05-22 19:53] CleverCoder commented on #371
I dunno... running the "Groceries" 'angular-start' code, with very, very basic code takes 5-6 seconds on my Nexus 6 device. This is pretty bad. I may re-open this or log a new issue if it continues this way. I don't even know where to begin profiling, since it's Nativescript.

[2016-05-23 08:18] fbrcdx commented on #1354
Same error here.
iOS watch failed after a few compilations with multiple livesync (iOS / Android).

`Error: EEXIST: file already exists, open '/Users/fabrice.caudoux/.local/share/.nativescript-cli/.lock'
    at Object.Future.wait (/usr/local/lib/node_modules/nativescript/node_modules/fibers/future.js:535:15)
    at /usr/local/lib/node_modules/nativescript/lib/tools/broccoli/builder.js:35:48
    at

[2016-05-24 14:26] sitefinitysteve opened #1774 "Unable to load framework, doesn't seem to add Symbolic Links"
[Structure](https://github.com/sitefinitysteve/nativescript-kiip/tree/240ba0a79bf70f266a37f67ff6fab048bbce926e/plugin/platforms/ios/KiipSDK.framework)
(Updated link to prev commit)

So when I do a tns plugin add ../plugin all that comes into the node_modules/nativescript-kiip folder is the Versions folder and the info.plist, not the symbolic link files.

Tried even just moving the file and headers

[2016-05-24 17:42] 3logy opened #1775 "sample-Groceries w/Telerik UI crash when using Nativescript 2.0"
Groceries worked fine with Nativescript 1.7 but update to 2.0 i can't build an Android Platform anymore. I need to remove the Telerik UI and XML using it, to be able to build again.

[2016-05-25 08:21] #683 closed

[2016-05-25 08:28] enchev commented on #887
In my opinion `.tnsignore` is better!

[2016-05-25 08:32] SvetoslavTsenov opened #1776 "UnitTest app is packed within the published application which increases the size of the application."
1. Create test app using "tns test init".
2. Build ios/android application.

If you unpackage the package you will notice that unit tests are included in it.

https://github.com/NativeScript/nativescript-cli/issues/887

[2016-05-25 08:42] enchev commented on #913
Most probably related to https://github.com/NativeScript/nativescript-cli/issues/887

[2016-05-25 10:10] enchev commented on #1125
This issue was moved to NativeScript/nativescript-unit-test-runner#10

[2016-05-25 10:18] #1393 closed

[2016-05-25 10:22] #1389 closed

[2016-05-25 10:30] #1523 closed

[2016-05-25 10:33] #1528 closed

[2016-05-25 10:46] #1501 closed

[2016-05-25 10:48] #1577 closed

[2016-05-25 10:51] enchev commented on #1627
Merged with https://github.com/NativeScript/NativeScript/issues/27

[2016-05-25 10:51] #1627 closed

[2016-05-25 12:35] enchev commented on #1318
In my opinion we should enable by default `livesync --watch` similar to AppBuilder CLI. In this way the app will be updated automagically after every change in XML, JS, CSS, etc. Rebuilding plugins can be time consuming and we should be extra careful, still we can show at least warning that plugin is added and the app should be rebuilt.

[2016-05-25 14:32] enchev commented on #1758
Hey @ktemo,

Can you post more info how this is related to NativeScript CLI?

[2016-05-25 17:34] bradmartin opened #1777 "Invalid XML kills livesync"
Using livesync, if you bork the XML and save changes. The app crashes, which is fine, but then after correcting the invalid XML you have to do a new build for Android to get the app to livesync again. Big time killer. It's come up on the slack channel a couple of time and confuses people who don't know how to get around it.

[2016-05-26 09:01] #1776 closed

[2016-05-26 10:17] rosen-vladimirov commented on #1651
This was due to bug in nativescript-karma-launcher.

[2016-05-26 10:17] #1651 closed

[2016-05-26 10:19] rosen-vladimirov commented on #1770
@SvetoslavTsenov  is this issue reproducible?

[2016-05-26 10:50] NickIliev commented on #1775
This issue was moved to NativeScript/sample-Groceries#86

[2016-05-26 10:50] #1775 closed

[2016-05-26 13:31] enchev commented on #1777
Hey @bradmartin,

Maybe we should stop deploying broken XML at all? Right now you will get only warning from the CLI if the XML is invalid however we can change that to real error which will stop the current task (livesync, run, etc.).

Hey @atanasovg @dtopuzov @hdeshev @hshristov @PanayotCankov @rosen-vladimirov what do you think?

[2016-05-26 13:51] bradmartin commented on #1777
Anything to prevent the need to rebuild and start livesync over I'm all
for. Sometimes I even forget to do that and get frustrated and I've been
around for awhile so I just don't want newer NativeScript devs to get
frustrated and give up :smile: I trust you guys to implement a good
solution. Most of the time for me my IDE might throw in an extra double
quote when im making quick attribute property

[2016-05-26 20:58] stefalda commented on #1529
I've spent half an hour trying to understand why my AndroidManifest.xml got replaced, until I've found this thread and understood the problem...

[2016-05-26 22:38] rosen-vladimirov commented on #1777
Hi guys,
I believe we should **not stop** the livesync when there's invalid XML, but we should not livesync the file as well. My idea is to validate the file and tell the user: "Hey, this file's incorrect, fix it, save it and we'll do the job for you". So the user will not restart the operation, we'll check the file and if we consider it as valid, we'll send it to device.

[2016-05-27 02:20] jeremyalan commented on #1097
I just wanted to add this here, since it wasn't obvious to me at first, and thought it might help others that stumble across this issue.  The linked issue #1744 solved my problem, I had a `~/.bash_profile` that I setup awhile ago, and totally forgot about, which was causing my terminal to ignore the exported variables defined in `~/.profile`.

[2016-05-27 06:53] #1752 closed

[2016-05-27 07:28] enchev commented on #1777
We have [similar issue](https://github.com/NativeScript/nativescript-cli/issues/1524) for TypeScript compilation. In both cases (XML is not well formed and TypeScript cannot be compiled) in my opinion we should stop the transfer (not the watch itself). When you fix all errors your files will be transferred automatically again.

[2016-05-27 08:12] hdeshev commented on #1777
I also think we should alert the user by changing the app behavior when we prevent a sync due to an error. Here's how RN does it for app crashes:

![](https://i.stack.imgur.com/Q0WNU.png)

We should use that for compile errors, xml validation failures, etc.

[2016-05-27 09:17] ickata commented on #290
Same error here.

[code]

MacOSX version 10.11.5 (15F34) (El Capitan)

[2016-05-27 13:14] enchev commented on #1777
Hey,

I've played a bit with various approaches and here is what I've found:

### Approach A (Stop livesync transfer in case of error)
+ (pros): will notify the developer in the livesync console about errors in any file in the application
+ (cons):  the developer may not notice the error in the console since the application will not react in any way

### Approach B (Continue livesync transfer in c

[2016-05-27 13:28] #1746 closed

[2016-05-27 13:29] #819 closed

[2016-05-27 13:36] ickata opened #1782 "Issue with CocoaPods"
Hi,

`tns doctor` returns that there is an issue with CocoaPods:

[code]

My environment:

 - MacOSX El Capitan 10.11.5 (15F34)
 - NodeJS 5.14
 - Xcode 6.3.1 Build version 6D1002

Let me know if additional details are needed.

[2016-05-27 14:40] #1777 closed

[2016-05-27 15:40] TsvetanMilanov opened #1783 "Not flattening scoped dependencies of project dependency"
When the project has dependency **A** and **A** has scoped dependency **B**, `tns prepare <platform>` is not flattening **B**.

For example the **nativescript-angular** has dependency **@angular/core** and after `tns prepare <platform>` in the tns_modules folder there is no folder @angular with subfolder core.

[2016-05-29 08:37] blagoev opened #1784 "tns plugin add fails with error when a private github repo is used"
It should ask for credentials as normal "git clone" does

currently fails with message
remote: Invalid username or password.

[2016-05-30 06:02] AhsanAyaz commented on #1249
@jlooper thanks.. you're a life saver 👍

[2016-05-30 06:20] enchev commented on #1756
Are you shareing and opening by chance this package.json created on Mac with some Windows editor?

[2016-05-30 06:33] #1639 closed

[2016-05-30 06:42] SvetoslavTsenov commented on #1770
Hi @rosen-vladimirov, it is my mistake everything works perfectly fine.

[2016-05-30 06:48] #1770 closed

[2016-05-30 07:40] dtopuzov commented on #1734
Still valid in master

[2016-05-30 08:19] enchev commented on #1773
Hey folks,

Interrupting livesync to perform full rebuild in case of major changes like files in the `App_Resources` folder is very good idea and we definitely need to research carefully how to implement it properly.

In the meantime I think that it will be easier to simply exclude files in the `App_Resources` folder during livesync and warn the user in case of changes in these files:
![untitled](

[2016-05-30 11:23] #1738 closed

[2016-05-30 11:36] #160 closed

[2016-05-30 11:59] #290 closed

[2016-05-30 12:03] #1758 closed

[2016-05-30 12:15] enchev commented on #1737
This issue was moved to NativeScript/ios-runtime#570

[2016-05-30 12:15] #1737 closed

[2016-05-30 12:38] enchev commented on #1339
Here is more info about the error: https://github.com/shama/gaze/issues/202

[2016-05-30 12:40] #1339 closed

[2016-05-30 13:22] enchev opened #1787 ""Last message repeated 133 times""
_From @enchev on May 30, 2016 12:15_

_From @manijak on May 4, 2016 11:10_

I was trying to debug my app and added several console.log lines in different parts of code (functions where I fetch data). And watched the osx terminal for clues.

I noticed the following line appear either before or after my console.log lines:
```May  4 12:26:15 --- last message repeated 133 times ---```

I was freaking

[2016-05-30 13:22] enchev commented on #1787
This is actually the console implementation in ios/JavaScriptCore :)

[2016-05-30 13:22] enchev commented on #1787
_From @fealebenpae on May 30, 2016 13:10_

@enchev this actually the syslog implementation in the [Apple System Log](http://stackoverflow.com/questions/17230451/stop-squashing-syslog-debug-messages-on-os-x) :)

@jasssonpet is right - this is an issue of the CLI trying (and failing) to filter the syslog output. [Many moons ago](https://github.com/telerik/mobile-cli-lib/pull/250) @jasssonpet and I w

[2016-05-30 13:22] enchev commented on #1787
Ok. I'm moving the issue back to the CLI :(.

[2016-05-30 13:31] enchev commented on #1787
I'm almost sure that the same can be reproduced in Chrome/WebKit console and that's why I believe that JavaScriptCore is responsible for this and unfortunately I'm not sure what we can do in the CLI itself to improve this. In my opinion this is the expected behavior when you print multiple times the same message.

Hey @manijak do you expect something different?

[2016-05-30 14:14] manijak commented on #1787
Well the thing is that it's not mine Console.log lines that are repeated, but something else that we not see in the console... something system based.

I am just saying, it confused me a lot, because by seeing this, i thought that my code was bad, and that my functions where called 133 times! When in fact they were not, the message was connected to some other lines, that we do not see.

[2016-05-30 18:05] cfjedimaster commented on #1756
Nope, all on a Mac.

[2016-05-30 21:50] tjvantoll commented on #1773
@enchev Looks great! 😀

[2016-05-31 03:02] leocaseiro commented on #1676
Hi, I'd like to reopen this issue and let people know that this problem works on a case-sensitive partition.

I formatted my MAC and I have 2 partitions now, 1 case-sensitive and another one which is not.

The case-sensitive get's the same error, where the case-insensitive runs `livesync` normally.

I believe in somewhere in the code or something with NodeJS perhaps. We have some case-sensitive is

[2016-05-31 03:17] leocaseiro commented on #1676
I've just noticed that the error shows `Error: watch /users/lcaseiro/sites/native-script-groceries ENOENT`

However, my folder structure is: `/Users/lcaseiro/Sites/native-script-groceries`

I'm trying to debug the `addDirWatcher` method which has some inheritance with Nativescript method:
[CompilerHost.useCaseSensitiveFileNames()](https://github.com/NativeScript/xsd-generator/blob/master/customtyp

[2016-05-31 03:45] leocaseiro commented on #1676
The bus is with TypeScript, not NativeScript.

TypeScript has made some changes with case-sensitive and the solution @cmoffatt found it to Downgrade to TypeScript@1.7.5, you [can read more here](https://github.com/Microsoft/TypeScript/issues/7154):

[2016-05-31 06:11] PanayotCankov commented on #1617
For CI it has potential enough.

[2016-05-31 06:15] #1431 closed

[2016-05-31 06:18] PanayotCankov opened #1790 "tns publish ios fails with cocoapods"
Trying the `tns publish` command with the QSF fails with:

[code]

I don't think we should try to sign any of the cocoapod targets using the App's provisioning profile.

[2016-05-31 06:20] #1773 closed

[2016-05-31 06:23] enchev commented on #1787
Hey @manijak {N} CLI is not responsible for the combining nor messages as well and that's why I don't believe that we can do much on this topic. I'm closing this for now.

[2016-05-31 06:23] #1787 closed

[2016-05-31 06:37] enchev commented on #1711
Hey @georgeedwards,

Do you still have the same problem?

Hey @jasssonpet,

Do you know what's going on here?

[2016-05-31 06:39] #510 closed

[2016-05-31 06:45] jasssonpet commented on #1711
It seems that the nativescript-angular package hasn't prepared correctly and is not copied in the `tns_modules` folder of the project.

[2016-05-31 06:48] #1060 closed

[2016-05-31 06:48] #979 closed

[2016-05-31 06:52] #739 closed

[2016-05-31 06:55] rosen-vladimirov commented on #527
Closing this as we do not have concept for debug/release in NativeScript. When you need the plugin in debug builds only, add it to your package.json and when you want to produce release builds, remove it from there.

[2016-05-31 06:55] #527 closed

[2016-05-31 06:55] enchev commented on #851
I'm closing this for now due to low interest from the community.

[2016-05-31 06:55] #851 closed

[2016-05-31 06:57] dtopuzov commented on #1172
Command is available, so this issue will be closed.
Related issue: https://github.com/NativeScript/nativescript-cli/issues/1790

[2016-05-31 07:05] dtopuzov commented on #1611
{N} CLI 2.0.1 works fine with pods 1.0.0

[2016-05-31 07:06] #1611 closed

[2016-05-31 07:31] enchev commented on #1711
This issue was moved to NativeScript/nativescript-angular#267

[2016-05-31 07:31] #1711 closed

[2016-05-31 07:55] vchimev commented on #1725
Reopen this issue.

I am able to replicate it on Simulator iPhone 6 iOS9.3 with the default **hello-world** application - after the first change in the *.xml* file I cannot stop the command by pressing Ctrl + C.

[2016-05-31 08:00] dtopuzov commented on #1674
Now tns doctor detect such problems.

[2016-05-31 08:00] #1674 closed

[2016-05-31 08:30] dtopuzov commented on #1665
I tough it will return search results immediately (as fast as search in npm website). Closing this issues since the feature works, however it is much slower compared to search in npm website.

[2016-05-31 08:31] #1665 closed

[2016-05-31 08:58] rosen-vladimirov commented on #1783
The problem occurs when in your project you have dependency (for example "nativescript-angular") and it has scopede dependencies as its own dependencies (in it's package.json some dependencies are defined as `@angular/<smth>`). In order to make all dependencies usable in NativeScript project, CLI must flatten the dependencies and send them to correct folder in platforms directory. For example for

[2016-05-31 09:21] rosen-vladimirov commented on #1765
Using `-e` flag will work for debug command, but not for other commands as it requires only single emulator to be used. However many commands are designed to work with multiple devices. So we should check carefully and make sure other commands will work as expected.

[2016-05-31 10:41] enchev opened #1791 "Obsolete and remove `emulate` command and `--emulator` switch for other commands"
All commands should work on all available devices/emualtors and if you want to specify the exact device you can use `--device DEVICE-IDENTIFIER`.
If no device/emulator is available the command will start default emulator.

Related issues:
https://github.com/NativeScript/nativescript-cli/issues/475
https://github.com/NativeScript/nativescript-cli/issues/410
https://github.com/NativeScript/nativescr

[2016-05-31 10:50] enchev commented on #1540
Hey @wisonye,

Do you still have problem with this using our latest version?

[2016-05-31 10:50] #1783 closed

[2016-05-31 10:59] enchev commented on #1713
This issue was moved to NativeScript/nativescript-angular#268

[2016-05-31 10:59] #1713 closed

[2016-05-31 11:38] PanayotCankov commented on #1172
We still can't produce xcodearchive from the command line.

[2016-05-31 11:52] #1172 closed

[2016-05-31 12:35] enchev commented on #1398
Hey @spstratis what is your CLI version?

[2016-05-31 12:58] enchev commented on #1481
Hey @sitefinitysteve,

I believe that we can at least close the modal page when restarting the app. Will this work for you?

[2016-05-31 13:15] sitefinitysteve commented on #1481
Anythings better than nothing :)

[2016-05-31 13:20] #1481 closed

[2016-05-31 13:36] dtopuzov commented on #630
Fixed in {N} 2.0.1. Warning message is:
The new package failed because the current SDK version is older than that required by the package.

[2016-05-31 13:36] #630 closed

[2016-05-31 14:12] dtopuzov commented on #1101
Current (2.0.1) behavior:
Change in tns-core-modules cause "tns livesync ios" to call pod install.
Change in your app (not in modules) does not call pod install.

[2016-05-31 15:41] sushruth commented on #1620
Experiencing the same problem here without the `--device` option too.

[2016-05-31 19:56] sushruth commented on #386
Please give more information about why an issue has been closed. I went looking through all the related issues about this and could not find any useful information.

I still see this issue.

[2016-05-31 21:23] georgeedwards commented on #1565
+1 for a livesync debug option! State preservation is again not of interest.

[2016-06-01 06:46] enchev commented on #1732
Hey @NathanaelA,

I've just tried this on my Mac where ANDROID_HOME is not configured at all however all commands worked as expected. I'm using CLI 2.0.1.

[2016-06-01 07:01] enchev commented on #1742
Hey @NathanaelA,

Are you using [our setup scripts](https://github.com/NativeScript/nativescript-cli/blob/master/setup/native-script.rb) by chance? Or you've got this after the installation when you try to run some command?

[2016-06-01 08:22] #1506 closed

[2016-06-01 10:51] dtopuzov commented on #1096
Steps to reproduce:
1. $ tns create myApp
2. $ cd myApp
2. $ tns plugin add nativescript-iqkeyboardmanager
3. $ tns prepare ios
4. $ cat platforms/ios/myApp/Podfile -> there is something like this:
# Begin Podfile
pod 'IQKeyboardManager', '~> 4.0.0'
# End podfile
5. $ tns prepare ios
6. $ cat platforms/ios/myApp/Podfile -> lines above are repeated 2 times

[2016-06-01 11:25] PanayotCankov commented on #1790
The following can produce `.xcarchive`:
[code]

And this can export a properly signed `.ipa`, ready for upload using `Application Loader`:
[code]
In combination with the `export.plist` (this is pretty much the options you have when exporting from Xcode UI):
[code]

[2016-06-01 11:36] dtopuzov commented on #1727
Angular livesync is slow because it always restart the app.

[2016-06-01 13:33] NathanaelA commented on #1732
Do you have Java installed?   The error message is about Java not being installed.

For some reason even when I try and do any command stuff; say like "tns debug ios --emulator" or "tns emulate ios" on a mac, it still attempts to check the "java" version; which is what brings up that dialog if you do NOT have java installed...   This is a NEW issue with v2.00 of the CLI.    Prior versions were app

[2016-06-01 13:37] NathanaelA commented on #1742
@enchev actually it was someone else's machine that I was helping on slack.    I do NOT know if they used your setup scripts.

However what I do know is that if you add:
ANDROID_HOME=/some/path**/** vs ANDROID_HOME=/some/path  The TNS command has major issues and will insist that Android software is NOT installed if you have a trailing "/" on the end of the ANDROID_HOME path.

[2016-06-01 13:43] enchev commented on #1742
I've tried this today both on Mac and Windows and everything worked normally, that's why I'm asking do you get problems during installation or when running commands.

[2016-06-01 13:45] enchev commented on #1732
No. I've tested this on Mac with no Java installed.

[2016-06-01 13:53] NathanaelA commented on #1742
The issue was when running any "tns" commands.   Even TNS doctor was stating that android was not installed.

[2016-06-01 13:57] NathanaelA commented on #1732
So when you type "java" at a command prompt you see  that error dialog show up?

[2016-06-01 14:11] NathanaelA commented on #1742
Hmm, I can't duplicate this on Linux or Windows either.     Not sure why removing the / helped two different people on Slack when v2.0 was just released.    Since neither of us can duplicate this; this should just be closed as un-duplicatable.

[2016-06-01 14:11] #1742 closed

[2016-06-01 18:46] rosen-vladimirov commented on #1727
The problem with angular apps is that they are using TypeScript. When any `.ts` file is changed, TypeScript watcher transpiles all `.ts` files to `.js` files. When this happens, CLI detects *all* `.js` files as modified. In fact only one of them is really modified. For Android we are using the shasums of each file, and when we detect change, we calculate the new shasum of the "modified" file and c

[2016-06-01 19:01] rosen-vladimirov commented on #1732
I believe @vakrilov had faced the same issue, so we'll investigate it further. Not sure what's causing this behavior.

[2016-06-01 19:36] vakrilov commented on #1732
I confirm. On a Mac with no Java -> I get the popup every time i build.

[2016-06-02 07:05] enchev commented on #1732
Ok. We've found [what's causing the problem](https://github.com/telerik/mobile-cli-lib/blob/052500b761c8582616a52c24a2b25b73d9882939/sys-info-base.ts#L19). This code was intended initially to be called only from `tns doctor` (post install) however now is used in various services during build/prepare. The class should be split in two platform independent classes to avoid further problems.

[2016-06-02 09:26] rosen-vladimirov commented on #1756
Hi @cfjedimaster ,
The issue is caused by npm itself, you can reproduce it by doing the following:
[code]
The last command will give you the path to your cache. Navigate to this directory and you'll find lodash package there. Open the directory, there you'll find directory with version and inside it there's package dir and package.tgz. Now if you check the package directory, there's package.json f

[2016-06-02 09:26] #1756 closed

[2016-06-02 11:46] vchimev opened #1798 "The test init command to add a sample test in TypeScript for TypeScript/Angular projects"
The `tns test init` command configures a project for unit testing, creates a _tests_ folder in the _app_ directory and adds an **example.js** file in it with a sample test.

It would be great the sample test to be in TypeScript (example.ts) for TypeScript/Angular projects.

[2016-06-02 12:01] enchev commented on #1673
Hey @dragGH102,

Do you still have the same issue? I've just tested both `tns run ios` and `tns run android` after `tns test init` however both worked properly. I'm using the latest official version (2.0.1).

[2016-06-02 12:13] enchev commented on #1535
Hey @bradmartin,

Do you still have issues with this?

[2016-06-02 12:15] enchev commented on #1569
Hey @katturajam,

Do you still have issues with this?

[2016-06-02 12:18] katturajam commented on #1569
Its working fine when i switched new version of library.
"com.facebook.fresco:fresco:0.9.0+"

[2016-06-02 12:19] #1569 closed

[2016-06-02 12:21] enchev commented on #913
Merged with https://github.com/NativeScript/nativescript-cli/issues/887

[2016-06-02 12:21] #913 closed

[2016-06-02 12:27] enchev commented on #917
Hey @danicomas,

Do you still have the same issue with Xcode?

[2016-06-02 12:28] enchev commented on #988
Hey @vchimev,

Can we verify if this is still valid?

[2016-06-02 12:34] #1124 closed

[2016-06-02 12:34] #1139 closed

[2016-06-02 12:36] #1301 closed

[2016-06-02 12:39] #1334 closed

[2016-06-02 12:46] enchev commented on #1347
Hey folks,

We want to keep livesync as fast as possible and that's why we are excluding changes in App_Resources, node_modules, package.json, etc.

You need to perform full rebuild in such cases.

[2016-06-02 12:46] #1347 closed

[2016-06-02 12:46] #1348 closed

[2016-06-02 12:50] #1360 closed

[2016-06-02 12:52] #1380 closed

[2016-06-02 12:54] #1429 closed

[2016-06-02 12:55] enchev commented on #1399
Hey folks,

Do you still have such problems?

[2016-06-02 13:05] hdeshev commented on #1358
Looking at resources like:
* http://www.joshstaiger.org/archives/2005/07/bash_profile_vs.html
* http://stackoverflow.com/a/416931

I think the correct script to modify here would be the init script for interactive shells i.e. `.bashrc`. Login shells usually have their `.profile`/`.bash_profile` scripts set up so that they dot-source `.bashrc`, so tns completions will continue to work for those she

[2016-06-02 13:36] bradmartin commented on #1535
I never got back around to it. I'll close it and if I get back to it I'll reopen. Thanks.

[2016-06-02 13:36] #1535 closed

[2016-06-02 14:31] #1451 closed

[2016-06-02 17:36] NathanWalker commented on #1727
This would be very helpful @rosen-vladimirov. I've currently been struggling a bit with debugging a {N} + ng2 app I'm working on due to `livesync` performance being a bit slow here.

[2016-06-02 17:37] sipacate commented on #1727
I've noticed it's pretty slow also with Android so I don't think this ticket should be limited to iOS.

[2016-06-02 18:45] dragGH102 commented on #1673
I didn't have the chance to test it further(I'm working with some other
technology now) but I think it's solved now.
looks like that depends on a memory leak.
if nativescript has been strongly improved on that I think it should fine.
hasn't it?
On Jun 2, 2016 2:02 PM, "Vladimir Enchev" <notifications@github.com> wrote:

[2016-06-02 20:19] rdlauer opened #1799 "Possible regex issue with CSS class names"
It appears that there may be some confusion with CSS class names that contain other class names, leading to problems with the way styles are parsed. It appears to only be a problem on Android. For instance, [in this repo](https://github.com/rdlauer/nativescript-ionic), I have these classes: `.button, .button-assertive, and .button-assertive-outlined`.

For example, this button element doesn't load

[2016-06-02 20:27] NathanaelA commented on #1399
@enchev last time I looked, the lib folder is still being used by iOS -- so this issue might still be valid on iOS.   Not sure about Android anymore; seems like everything on android is now kept in the platforms folder.    I would guess that the android team could confirm if lib is no longer used by the android runtimes.

[2016-06-03 02:33] geminiyellow commented on #1767
@tsonevn and also failed with v6.2.1

[2016-06-03 03:03] BrunoDF commented on #1636
+1

I also had the same problem:

[code]

[2016-06-03 03:08] sitefinitysteve commented on #888
Ive been dealing with this icon issue for like 3 days straight, felt like Im going crazy... surely the fix isnt to do what @emiloberg did by manually adding to the Images.xcassets?

Where are we as of 2.01 and why is nothing documented, so many hours burned :/

[2016-06-03 06:17] enchev commented on #1673
Hey @dragGH102,

I just wanted to make sure that you do not have still the same problem! Thanks!

[2016-06-03 06:17] #1673 closed

[2016-06-03 06:18] enchev commented on #1399
Hey @jasssonpet @slavchev can you check this and confirm if still valid?

[2016-06-03 06:31] enchev commented on #1498
Maybe we can list all available templates when you call `tns create` without project name? In this case the developer will be able to choose which template to be used when creating the project and later (answering to second question) specify the project name.

[2016-06-03 06:36] slavchev commented on #1399
On Android everything is kept in `platforms`.

We don't use `lib` folder anymore.

[2016-06-03 06:38] #1519 closed

[2016-06-03 06:43] enchev commented on #1561
Hey @hshristov @PanayotCankov @rosen-vladimirov what's the status of this?

[2016-06-03 06:45] #1529 closed

[2016-06-03 07:34] atanasovg commented on #1366
I support this **only given** that livesync works as expected. Otherwise we'd need a separate option in the `tns run` command, purely for the sake of disabling the implicit livesync behavior. I guess writing `tns run --nolivesync` doesn't seem appealing to anyone here :)

We should also consider this from the VSCode extension perspective. @ivanbuhov @blagoev What do you think guys?

[2016-06-03 11:09] ivanbuhov commented on #1366
Currently, the VSCode extension comes with `Run on Android`/`Run on iOS` commands which are executing `tns run android/ios --device/--emulator` under the hood. Ideally, we want to have a limited number of commands (the most useful ones) in the VSCode extension. If we are to agree that livesyncing is more useful/used than running, I find it necessary to [expose the livesync](https://github.com/Nati

[2016-06-03 11:44] enchev commented on #1314
Merged with https://github.com/NativeScript/nativescript-cli/issues/1376

[2016-06-03 11:44] #1314 closed

[2016-06-03 11:46] enchev commented on #1799
This issue was moved to NativeScript/NativeScript#2240

[2016-06-03 11:46] #1799 closed

[2016-06-03 11:51] #1056 closed

[2016-06-03 11:57] enchev commented on #1565
Hey folks,

Just to let you know that I've made pull request with no `--debug-brk` by default:
https://github.com/NativeScript/nativescript-cli/pull/1801

We will research how to implement debugging with lyvesync as well!

[2016-06-03 12:39] #1212 closed

[2016-06-03 12:52] hdeshev opened #1802 "semver copied to platforms/android even though it's a dev dependency"
This one happens semi-randomly in Angular projects. It seems we sometimes end up with multiple copies of semver.js.gz inside the android platform directory, which causes an error with the android AAPT tool (error below).

I verified that I don't get a semver package in node_modules by running a `npm install --production`, which means semver is a dev dependency. It seems it should never ever get co

[2016-06-03 12:53] enchev commented on #1727
Hey @sipacate,

Are you using our latest version (2.0.1)?

[2016-06-03 13:07] circy commented on #1636
+1

I have the same problem.

[2016-06-03 13:37] pkoleva commented on #1328
Still reproduced in version 2.0.1

[2016-06-03 13:44] dfg-nota commented on #1734
I believe this issue is due to the Cocoapods master repo not having been setup.

It happened to me when I changed to a new user account on my Mac, which of course had an empty ~/.cocoapods directory.
At first tns-doctor reported that master repo was not setup, but then it stopped reporting it without having actually solved the issue.

I fixed it by following the suggestion here: https://github.com

[2016-06-03 13:46] rosen-vladimirov commented on #1802
`npm link` is not officially supported by us (CLI's executing `npm install`, so you should never get linked modules in your `node_modules` dir).
However the semver.js.gz issue had been raised several times, so having these steps to reproduce is a great help.
I firmly believe it's time to ignore all .gz files when preparing project for Android, as aapt fails to use them, what do you think?

[2016-06-06 06:41] rosen-vladimirov commented on #475
Ok, I'm closing this one, as most of the described behavior has been implemented. The current behavior of `tns` build related commands is:
### For iOS
- In case there's device attached, all build related commands will build the application for device.
- In case there's no device attached, the build will be for simulator and some of the commands (like run, deploy) will start the app on iOS Simulato

[2016-06-06 06:41] #475 closed

[2016-06-06 08:09] #1376 closed

[2016-06-06 08:12] hdeshev commented on #1802
We are trying to support it. Anyway, I've seen the semver.js.gz error in cases that don't use npm links too.

It shouldn't be a problem to do that, but it won't solve the original problem for cases where we end up with multiple files with the same names that break Android's AAPT tool. For the time being this happens with a gz file, but there's no guarantee it won't happen with a file having a diff

[2016-06-06 08:26] #1601 closed

[2016-06-06 08:26] #1604 closed

[2016-06-06 08:30] enchev commented on #1615
Hey @MiroValchev,

I believe that this was Chrome issue which is already fixed in newer versions.

[2016-06-06 08:30] #1615 closed

[2016-06-06 08:37] enchev commented on #1623
Hey @jaferret,

Do you still have problems installing NativeScript?

[2016-06-06 08:37] #1630 closed

[2016-06-06 08:45] #1645 closed

[2016-06-06 08:49] #1659 closed

[2016-06-06 08:50] #1666 closed

[2016-06-06 08:53] enchev commented on #1646
Hey @sfabriece,

Do you still have problems with this?

[2016-06-06 09:01] vchimev commented on #1636
@Headcult @Jpaagt @BrunoDF @circy

Guys,

do you experience this problem with NativeScript CLI version 2.0.1? If yes, does the workaround (rerun the `tns test android` command) help?

I am unable to replicate the issue with {N} CLI 2.0.1 at my end.

[2016-06-06 09:51] enchev commented on #1652
I don't believe that OSX version is valuable statistic. Usually more than 90% are using the latest version .

[2016-06-06 09:51] #1652 closed

[2016-06-06 10:05] enchev commented on #1714
Hey @wapdtc,

Do you still have the same problems?

[2016-06-06 10:11] enchev commented on #1726
Hey folks,

We restart the app since you may change the entire app logic from .js files and the current running app  will be in completely invalid state.

Hey @atanasovg @slavchev @blagoev @hdeshev @hshristov @PanayotCankov, do you have any comments?

Thanks

[2016-06-06 10:13] vchimev commented on #1667
Here is a screenshot of the console output of the [Groceries] (https://github.com/NativeScript/sample-Groceries) app built with NativeScript CLI 2.0.1.

![screen shot 2016-06-06 at 1 05 23 pm](https://cloud.githubusercontent.com/assets/12251337/15818786/ecbf9824-2be7-11e6-8057-ad11a1c8e418.png)

The output of CocoaPod is colored in dark green. The warnings are shown as warnings in yellow.

[2016-06-06 10:13] #1667 closed

[2016-06-06 10:16] enchev commented on #1733
Hey folks,

Right now node.js 6.x is still not supported and we will do our best to add support in the next release.

Hey @rosen-vladimirov,

Can you list here everything that needs to be precompiled with node.js 6 here?

Thanks

[2016-06-06 10:24] atanasovg commented on #1726
The Runtime teams are currently researching/implementing the LiveEdit functionality for JavaScript and how the embedded JS virtual machines may handle such scenario. Probably we will have better idea in about 2-3 weeks.

[2016-06-06 11:20] enchev commented on #1767
Merged with https://github.com/NativeScript/nativescript-cli/issues/1733

[2016-06-06 11:20] #1767 closed

[2016-06-06 11:25] enchev commented on #1782
Hey @ickata,

Have you tried to call `gem which cocoapods`? What's the version?

[2016-06-06 11:29] ickata commented on #1782
Hi @enchev ,

It looks like the version is 1.0.0:

`/Library/Ruby/Gems/2.0.0/gems/cocoapods-1.0.0/lib/cocoapods.rb`

[2016-06-06 11:42] dtopuzov commented on #1002
@stephenfeather can you please verify problem still exists and give exact steps to reproduce.

[2016-06-06 11:42] #1734 closed

[2016-06-06 11:43] #1739 closed

[2016-06-06 12:05] dtopuzov commented on #1522
Still valid in {N} 2.0.1

[2016-06-06 12:15] enchev commented on #1782
Can you try to update to the latest version to see if the problem will go away?

[2016-06-06 12:19] enchev commented on #1782
Are you using our latest version 2.0.1?

[2016-06-06 12:22] dtopuzov commented on #1572
Still valid in {N} 2.0.1

[2016-06-06 12:44] ickata commented on #1782
Updated cocoapods to 1.0.1, problem persists.

`tns doctor` now returns that `tns-ios` needs upgrade (current version: 2.0.1, my version 2.0.0) however I'm not sure how to upgrade it. I'm using `tns --version` 2.0.1.

[2016-06-06 13:16] enchev commented on #1782
You can use `platform update ios`. Hey @rosen-vladimirov do you know what could be the issue here?

[2016-06-06 13:21] #1731 closed

[2016-06-06 13:21] ickata commented on #1782
Here's what happens when I try to update ios platform:

[code]

BTW same happens if I run `tns platform add ios`.

[2016-06-06 13:22] dtopuzov commented on #1729
Still valid in {N} 2.0.1

[2016-06-06 13:24] #1517 closed

[2016-06-06 13:25] pkoleva commented on #1579
Not reproduced with {N} 2.0.0

[2016-06-06 13:25] #1579 closed

[2016-06-06 13:25] rosen-vladimirov commented on #1782
hm, XCode 6.3.1 is not supported, we always require latest XCode version. It looks like there's a problem with some version comparison on our side.
@ickata , can you execute `tns platform add ios --log trace` and send us the output. However I strongly recommend you to use latest XCode version :)

[2016-06-06 13:40] dtopuzov commented on #1508
Still valid in {N} 2.0.1 with steps Plamen5kov described.

[2016-06-06 13:44] dtopuzov commented on #1000
@stephenfeather can you confirm this is still valid and if so please provide exact steps to reproduce.

[2016-06-06 13:54] dtopuzov commented on #1023
Known issue

[2016-06-06 13:54] #1023 closed

[2016-06-06 14:02] pkoleva commented on #1463
Still reproduced in {N} 2.0.1

[2016-06-06 14:05] dtopuzov commented on #1698
Can not reproduce with {N} 2.0.1 and Xcode 7.3.
Is there a reason to use such old Xcode?
Closing the issue, please reopen if you still reproduce with {N} 2.0.1 and Xcode 7.*

[2016-06-06 14:05] #1698 closed

[2016-06-06 14:45] pkoleva commented on #1096
Could not reproduce following the steps above in {N} 2.0.1

[2016-06-06 14:45] #1096 closed

[2016-06-06 14:56] pkoleva commented on #988
Not reproduced in {N} 2.0.1

[2016-06-06 14:56] #988 closed

[2016-06-06 15:04] ickata commented on #1782
OK, I updated XCode to 7.3.1. For some reason there was no update alert in App Store, so I had to manually update it.

I am experiencing the same problem, though. Here's the output from the log trace:

[code]

[2016-06-06 15:22] rosen-vladimirov commented on #1782
Just to summarize the issue -
CLI is trying to get the version of XCode by executing `xcodebuild -version | head -n 1 | sed -e 's/Xcode //'`. This commands requires additional tools like `head` and `sed` to be installed on the machine. These tools are installed by default on Unix or Linux based OSes, but in fact it's not mandatory to have them.
We have to spawn `xcodebuild -version` and use regex

[2016-06-07 02:35] BrunoDF commented on #1636
@vchimev

I'm in version 2.0.1 and still have the problem.

The workaround works though.

[2016-06-07 06:08] rosen-vladimirov commented on #1583
@enchev why is this issue closed? The initial feature that @teobugslayer had logged is not implemented. Have you decided to drop this feature request?

[2016-06-07 06:23] enchev commented on #1782
@rosen-vladimirov :+1:

[2016-06-07 06:26] enchev commented on #1583
My mistake, issue reopened.

[2016-06-07 06:35] dtopuzov commented on #1436
@mkosieradzki can you please verify if this issue is still valid. If you still experience the problem please provide exact steps to reproduce.

[2016-06-07 06:56] dwehrmann commented on #1751
+1 same problem here

[2016-06-07 06:58] dwehrmann commented on #1751
I see the following warnings, maybe this can be related to the issue?

[code]

[2016-06-07 07:18] pkoleva commented on #1571
Not reproduced in {N} 2.0.1

[2016-06-07 07:18] #1571 closed

[2016-06-07 08:00] dtopuzov commented on #1296
Still valid in {N} 2.0.1.
Workaround: Delete your platform folder.

[2016-06-07 08:03] ickata commented on #1782
It looks like that this is a result of the Perl LWP module:
http://search.cpan.org/dist/libwww-perl/bin/lwp-request

This added a binary called `head` which screwed up the default bash command.

Thanks for the help last night!

[2016-06-07 08:03] #1782 closed

[2016-06-07 08:09] dtopuzov commented on #1425
Still valid in {N} 2.0.1

[2016-06-07 08:32] dtopuzov commented on #1493
@harlanj, @PeterStaev can you please confirm that this issues is still valid and provide exact steps to reproduce.

Just tested with {N} 2.0.1 and following steps:
[code]
It works.

[2016-06-07 08:43] circy commented on #1636
@vchimev

The same as for @BrunoDF

[2016-06-07 08:50] dtopuzov commented on #1109
{N} 2.0.1 state:

Build iOS -> works offline
Build Android -> works offline
Run iOS  -> works offline
Run Android -> works offline
Debug iOS -> works offline
Debug Android -> works offline

@NathanaelA iOS debug require tns-ios-inspector, with is now outside tns-ios package (outside ios runtime). If you have it installed then debug works offline, but if it is not available in you npm cache may be

[2016-06-07 09:52] #1540 closed

[2016-06-07 09:53] #917 closed

[2016-06-07 10:04] dtopuzov commented on #985
I don't think this is useful idea.
Having config file will not solve you problem, you still need to install Java, Android SDK and otehr tools. This config will just make your live harder, because usually you need env. variables for other projects and config file will be one more step you should do.
If it is up to me I'll close the issue.

[2016-06-07 10:08] enchev commented on #985
@dtopuzov :+1:
If you want to have additional settings we can use package.json file. I vote against introducing yet another config file.

Hey @rosen-vladimirov @Plamen5kov @slavchev @atanasovg what do you think?

[2016-06-07 10:14] #1109 closed

[2016-06-07 10:16] #998 closed

[2016-06-07 10:25] enchev commented on #478
At the moment you can configure anything for the app using `Info.plist` and `AndroidManifest.xml` in `App_Resources` folder and you do not have to edit anything in the `platforms` folder. What's the thinking now? Is this enough or we need something else?

Hey @tjvantoll @atanasovg @hshristov @PanayotCankov what do you think?

[2016-06-07 10:37] #410 closed

[2016-06-07 10:41] #463 closed

[2016-06-07 10:47] dtopuzov commented on #1003
Still valid in {N} 2.0.1.
Steps to reproduce:
tns create TestApp
tns plugin add nativescript-iqkeyboardmanager
tns build ios -> pods are copied to /platforms/ios
tns plugin remove nativescript-iqkeyboardmanager
tns build ios -> pods are still in /platforms/ios (expected: no pods in /platforms/ios)

[2016-06-07 11:00] atanasovg commented on #985
Before I can express an opinion I'd like @teobugslayer to share what problems this config file solves. One major benefit I can see in the proposal is having an entry point where users can manually add/edit variables instead of messing with their environment.

[2016-06-07 11:01] ibnzbssrckr opened #1808 "Livesync --watch fails every few changes for TypeScript projects with sourceMaps disabled"
Every few changes when running **tns livesync android --watch** the cli spits this back at me:

I am working with the sample Groceries Typescript/Angular app from https://github.com/nativescript/sample-Groceries.git. I have not made any configuration changes beyond typing to disable sourceMap in tsconfig per another issue. I am using the Webstorm editor and think that it may be creating these temp

[2016-06-07 11:06] slavchev commented on #985
That is correct. However I agree with @enchev that we don't need yet another place for configuration. Maybe it would be better to rethink `tns doctor` or maybe to have something like `tns config`.

[2016-06-07 11:13] dtopuzov commented on #1495
@NathanaelA what exactly is content of .gitignore. Can you please verify the issue is still valid and provide exact steps to reproduce.

[2016-06-07 11:19] dtopuzov commented on #1751
@dwehrmann, @jimmytsao, @b-lawrence can you give exact steps to reproduce.

Just tested with {N} 2.0.1, Xcode 7.3.1 and following scenarios are ok:

[code]

[code]

[2016-06-07 12:20] PeterStaev commented on #1493
@dtopuzov I can confirm that in the scenario I tried before, it is working now :+1:

[2016-06-07 12:20] #352 closed

[2016-06-07 13:18] PeterStaev commented on #1493
Actually I spoke too soon. Here is the scenario i'm testing:
1. I have a sample app created with the global tns
2. In the folder of the app I run `npm install nativescript --save-dev`
3. In the folder of the app I run `node_modules\.bin\tns deploy android`. The build completes successful but when run on android the app throws the error:
![image](https://cloud.githubusercontent.com/assets/9464097/1

[2016-06-07 13:38] tjvantoll commented on #478
@enchev I think we’re all set here. The already implemented solution is exactly what I was looking for when I created this issue. I didn’t realize this was still open actually 😄

Unless others have more requirements worth mentioning, feel free to close this issue.

[2016-06-07 14:16] tsonevn opened #1810 "tns livesync android --emulator --watch fails when create new folder"
_From @georgeedwards on June 6, 2016 17:2_

### Tell us about the problem

When using livesync on windows, if you save files before the last compilation has completed then I get the error:

It doesn't go away with subsequent file change events. However, killing and restarting the livesync works great.

### Which platform(s) does your issue occur on?
Android

### Please provide the following versio

[2016-06-07 14:16] tsonevn commented on #1810
Hi @georgeedwards ,

Thank you for reporting your problem.
I reviewed your case however I was unable to reproduce the issue. Could you give me more info about this problem.
It would help if you could give me a a sample project, which recreates the problem.

Regards,
@tsonevn

[2016-06-07 14:16] tsonevn commented on #1810
_From @Metalmate on June 7, 2016 13:25_

Hello,

I can reproduce the error, but not the way you described. When livesync --watch is running and you create a new folder in the directory from where the command is running, a.k.a. you livesync a project, and somewhere in that project you create a new directory, this error shows up.

I guess you might have created a directory, or some other program did

[2016-06-07 14:16] tsonevn commented on #1810
Hi @Metalmate,
Thank you for the reply

I confirm that this is an real issue for android projects, when you are using  `tns livesync android --emulator --watch` and make new folder in a project while livesync is running.

Regards,
@tsonevn

[2016-06-07 14:27] Coolranch opened #1811 "Fibers problem in npm install"
I'm experiencing the same issue found in https://github.com/NativeScript/nativescript-cli/issues/1348.  I applied the patch as specified here https://github.com/meteor/node-fibers/commit/d519f0c5971c33d99c902dad346b817e84bab001.  When I make the change and run node build -f I get the following output:

![image](https://cloud.githubusercontent.com/assets/1944174/15861443/63043c58-2c9a-11e6-9e00-761

[2016-06-07 16:31] georgeedwards commented on #1810
@Metalmate @tsonevn Yes, that does seem to be the behaviour that causes the issue!

[2016-06-07 20:36] psmak4 opened #1812 "tns doctor can't find android.bat"
When running tns doctor I get the following output.

`C:\>tns doctor
Unable to find "android.bat" executable file. Make sure you have set ANDROID_HOM
E environment variable correctly.
WARNING: The Android SDK is not installed or is not configured properly.
You will not be able to build your projects for Android and run them in the nati
ve emulator.
To be able to build for Android and run apps in t

[2016-06-07 21:13] krystan opened #1813 "Android SDK is not installed or is not configured properly, environment looks ok."
First of all, I am very new to Nativescript. I am in the process of trying to set it up on windows 10. I have all the tools installed as far as I can tell and have made sure my android environment is setup. When I type android at the cli I get the sdk manager and have them installed (sdk build tools etc).

Java is at version 1.7.0_55 on my box and that seems fine. What is not fine is that Nativesc

[2016-06-08 02:10] brendalynharper34 commented on #1175
I am currently having the same issue on my Macbook and this is driving me insane!!

-bash: tns: command not found

Any suggestions?

[2016-06-08 03:15] brendalynharper34 commented on #1623
I am still getting the same exact issue and I haven't found a solution to fix it.. Any suggestions??

[2016-06-08 06:22] enchev commented on #1813
[Java 1.7 is already deprecated](https://java.com/en/download/faq/java_7.xml). Can you try to update to latest to see if the problem will go away?

You can check {N} system requirements here:
https://github.com/NativeScript/nativescript-cli#system-requirements

[2016-06-08 06:24] enchev commented on #1812
Hey @psmak4,

What's your Java version? We need 1.8 since 1.7 is deprecated.

[2016-06-08 06:27] brendalynharper34 opened #1814 "-bash: tns: command not found (Mac OS X 10.11.5)"
I've seen people posting this same exact issue and I've followed the installation documents to the very last period. For some strange reason, I still cannot run any tns commands after the nativescript CLI installation.

These are the version of node.js and npm installed
$ node -v
v4.4.5
$ npm -v
2.15.5

Any suggestions??

[2016-06-08 07:23] enchev commented on #1814
Hey @brendalynharper34,

Do you get any errors when you call `npm install nativescript -g`?

[2016-06-08 07:50] #478 closed

[2016-06-08 07:51] NathanaelA commented on #1495
Based on my description I wrote 4 months ago - above; it looks like the .gitignore file was just:
*platforms/*
I will attempt to test this tomorrow, unless you beat me to it.

[2016-06-08 07:52] hdeshev opened #1816 "Service exited due to signal: Killed: 9"
_From @burkeholland on March 4, 2016 14:58_

NativeScript Version: 1.6.1

I'm unable to use Angular 2 with NativeScript at the moment. I'm using the [`template-hello-world-ng` project](https://github.com/NativeScript/template-hello-world-ng).

The error I get isn't terribly helpful....

[code]

Steps to recreate:

[code]

_Copied from original issue: NativeScript/nativescript-angular#101_

[2016-06-08 07:52] hdeshev commented on #1816
_From @burkeholland on March 4, 2016 15:33_

Updating with possible related race condition error on iOS Simulator. Could be cause by app size.

https://forums.developer.apple.com/thread/25221

[2016-06-08 07:52] hdeshev commented on #1816
_From @rosen-vladimirov on March 4, 2016 15:35_

It looks like there are some problems when deploying application to iOS Simulator related to project's size. Some information can be found here:
https://forums.developer.apple.com/thread/25221
As a workaround the following commands can be used:
[code]

[2016-06-08 07:52] hdeshev commented on #1816
_From @burkeholland on March 4, 2016 15:56_

:+1:

[2016-06-08 07:52] hdeshev commented on #1816
_From @burkeholland on March 7, 2016 17:45_

It appears to me that `livesync` is not syncing changes from the TypeScript. Changes their require me to run the `deploy` command all over again.

[2016-06-08 07:52] hdeshev commented on #1816
_From @jlooper on April 4, 2016 15:2_

I get this error consistently on iOS emulator when running Angular+{N} apps unless I use the deploy/livesync command above. It's a big workflow stopper for me :(. Hoping to get livesync working for iOS soon as well.

[2016-06-08 07:52] hdeshev commented on #1816
_From @tjvantoll on April 15, 2016 19:9_

I’m going to open this up, because I know at least @burkeholland, @jlooper, and @sebawita are still having this issue, and I think we need to come up with some way to workaround the problem.

[2016-06-08 07:52] hdeshev commented on #1816
_From @tjvantoll on April 22, 2016 12:52_

I can confirm that this issue is fixed when using Xcode 7.3 and version 2.0 of the {N} CLI, so I’m going to close this issue for now. If anyone hits this after upgrading to the soon-to-be-released 2.0 CLI please comment so we can look into this.

[2016-06-08 07:52] hdeshev commented on #1816
_From @jlooper on April 27, 2016 16:49_

I do see this issue if using `tns emulate ios` or `tns run ios --emulator` with Xcode 7.3 and {N} 2.0. The workaround is to make sure Xcode is closed, reset the simulator (Simulator > Reset Content and Settings) and type:

1) Call `tns run ios --justlaunch` (Make sure you do not have any iOS devices attached.
2) Call `tns livesync ios --watch`

[2016-06-08 07:52] hdeshev commented on #1816
_From @georgeedwards on May 1, 2016 14:56_

I also face the same issue using 2.0, XCode 7.3 and OSX El Capitan, but it does work with `tns run ios --justlaunch`

livesync doesn't work for me, so I haven't found a way to get a console.log yet - really annoying

However, when running on a real device, the app launches without issue

[2016-06-08 07:52] hdeshev commented on #1816
_From @rdlauer on May 9, 2016 20:56_

Same issue here with {N} 2.0 + Xcode 7.3.1. The `--justlaunch` flag is like magic, but far less convenient.

[2016-06-08 07:52] hdeshev commented on #1816
_From @cfjedimaster on June 2, 2016 18:41_

I ran into this today. It took me about 10 relaunches or so for it to finally work. I'd seriously consider adding a note someplace in the docs for folks going through the tutorial.

[2016-06-08 07:52] hdeshev commented on #1816
_From @tjvantoll on June 3, 2016 13:39_

Reopening this because clearly people are still hitting the problem.

[2016-06-08 07:52] hdeshev commented on #1816
_From @tjvantoll on June 3, 2016 14:18_

@cfjedimaster Warning added in https://github.com/NativeScript/docs/commit/0aebd9861f59f0511598ad20f7775b7cfc34e5f4. Thanks for the feedback as always.

[2016-06-08 07:52] hdeshev commented on #1816
_From @dwehrmann on June 7, 2016 7:24_

+1 also having this problem.
`tns run ios --emulator` exits with `Signal: Killed 9`

`tns run ios --justlaunch` works for me, but livesync doesn't. I think that's a real showstopper – does anybody have a workaround?

jlooper's advice doesn't work for me:
`Project successfully prepared
Executing before-livesync hook from /Users/SB3/www/mobile-dev/groceries/sa

[2016-06-08 07:52] enchev commented on #1623
Hey @brendalynharper34,

I've replied you in your other issue.

[2016-06-08 07:52] #1623 closed

[2016-06-08 07:57] enchev commented on #1811
Hey @Coolranch,

Are you trying to build the CLI or you get this error during install? Can you try to call `npm cache clean` and try the install again?

[2016-06-08 07:58] #1646 closed

[2016-06-08 09:14] dfg-nota commented on #1392
Hello. I was wondering if there is still no way to make tns build for a specific android architecture?

In an app we're currently working on we want to use libVLC through a plugin. But it really slows down our development process that we arent able to build for one architecture at a time. If anyone knows of a manual fix to the build.gradle file it would be very much appreciated.

[2016-06-08 10:00] dtopuzov commented on #1813
First you need Java 1.8.

Re ANDROID_HOME, can you try this: echo %ANDROID_HOME%
Also after installing Android SDK you need to install those things:
Android SDK 22 or a later stable official release
Android SDK Build-tools 23.0.0 or a later stable official release
Local Maven repository for Support Libraries

[2016-06-08 10:01] dtopuzov commented on #1812
You need:
Android SDK 22 or a later stable official release
Android SDK Build-tools 23.0.0 or a later stable official release
Local Maven repository for Support Libraries

[2016-06-08 10:04] dtopuzov commented on #1811
@Coolranch can you give some more details about your environment.
Node version
OS Version

[2016-06-08 10:22] enchev commented on #289
I suggest to obsolete `--avd` and use `--device` which should work for both android and ios.

[2016-06-08 11:59] krystan commented on #1813
Ok so I updated java to the latest jdk and unfortunately that has not sorted the issue I include everything I can think of to help diagnose.

[tnsver.txt](https://github.com/NativeScript/nativescript-cli/files/304697/tnsver.txt)
[tnsdoc.txt](https://github.com/NativeScript/nativescript-cli/files/304696/tnsdoc.txt)
[nodever.txt](https://github.com/NativeScript/nativescript-cli/files/304695/nodever.

[2016-06-08 12:04] krystan commented on #1813
I should point out that my android_home points to:

"c:\program files (x86)\Android\android sdk"

which is where the sdk is installed :)

[2016-06-08 12:22] #304 closed

[2016-06-08 12:36] #289 closed

[2016-06-08 12:50] enchev commented on #1437
We changed the default behavior and debug will not longer stop on first code statement. I'm closing this.

[2016-06-08 12:50] #1437 closed

[2016-06-08 12:53] enchev commented on #1318
Merged with https://github.com/NativeScript/nativescript-cli/issues/1366

[2016-06-08 12:53] #1318 closed

[2016-06-08 13:23] #1561 closed

[2016-06-08 18:46] latinbox commented on #363
thanks a lot for the solution @rosen-vladimirov i had the same issue as @EduardoAzul

[2016-06-08 18:48] latinbox commented on #363
oh shit i got this one after putting tns run android --emulator --avd Nexus_5_API_21_x86:
Cannot run your app in the native emulator. Increase the timeout of the operation with the --timeout option or try to restart your adb server with 'adb kill-server' command. Alternatively, run the Android Virtual Device manager and increase the allocated RAM for the virtual device.

[2016-06-08 19:11] NathanaelA commented on #1495
I re-tested this, and it appears that it is now fixed.

[2016-06-08 19:11] #1495 closed

[2016-06-08 19:19] brendalynharper34 commented on #1814
@enchev I didn't get any errors when I ran the command but after installation, I was still unable to use the "tns doctor" command

[2016-06-08 20:03] krystan commented on #1813
I have gone back and looked at this, and I suddenly realised the base tools were installed by visual studio. What I did was to uninstall android dev kit and reinstall using android studio, I updated android home to the location studio was using and doctor is now satisfied.

[2016-06-08 20:36] dtopuzov commented on #1814
@brendalynharper34 how did you run the installation, please attach logs

[2016-06-08 20:38] rosen-vladimirov commented on #1814
@brendalynharper34 also during installation you'll see where the CLI is installed (usually the path is written just above the dependency tree printed at the end of the installation). Can you verify that the directory where tns executable is created is in your PATH environment variable?

[2016-06-08 22:07] blagoev opened #1819 "CLI does not respect the whole project template structure"
CLI tries to be smart for what to copy from the project template. It should copy the template as it it with the whole project structure. This magic logic brakes future enhancements of the project template.

[2016-06-09 02:18] brendalynharper34 commented on #1814
@rosen-vladimirov I got it to work! So yeah, I had to change my PATH environment variable for the tns executable.. Thank you so much!!

[2016-06-09 06:18] rosen-vladimirov commented on #1814
@brendalynharper34 I'm glad the issue is resolved. I'm closing it now, but feel free to reopen it in case you have any problems or concerns.

[2016-06-09 06:18] #1814 closed

[2016-06-09 06:35] #1790 closed

[2016-06-09 07:55] jasssonpet commented on #1399
Following the issue guidelines it does seem that the problem is still reproducible for iOS.

[2016-06-09 08:30] jasssonpet commented on #1320
This issue should be no longer relevant after we remove the iOS 7 support.

[2016-06-09 09:51] geminiyellow commented on #1733
👍

[2016-06-09 12:03] enchev commented on #160
To old and irrelevant.

[2016-06-09 12:04] enchev commented on #290
Resolved here: https://github.com/NativeScript/nativescript-cli/issues/1782

[2016-06-09 12:08] enchev commented on #739
I don't believe that we can do much here.

[2016-06-09 12:15] enchev commented on #1139
I believe that now you have full control using AndroidManifest.xml

[2016-06-09 12:21] enchev commented on #1301
Outdated issue closed.

[2016-06-09 12:21] enchev commented on #1334
Already done in `tns doctor`

[2016-06-09 12:22] enchev commented on #1348
Cannot reproduce with latest

[2016-06-09 12:23] enchev commented on #1360
Cannot reproduce with latest

[2016-06-09 12:23] enchev commented on #1380
Cannot reproduce with latest

[2016-06-09 12:24] enchev commented on #1429
Already done.

[2016-06-09 12:27] enchev commented on #1519
Irrelevant old issue closed

[2016-06-09 12:27] enchev commented on #1529
Already done

[2016-06-09 12:28] enchev commented on #1451
Already implemented

[2016-06-09 12:29] enchev commented on #1734
Fixed with #1804

[2016-06-09 12:29] enchev commented on #1739
Fixed with #1803

[2016-06-09 12:29] enchev commented on #1731
Implemented with #1794

[2016-06-09 12:30] enchev commented on #1517
Already done.

[2016-06-09 12:32] enchev commented on #998
already done

[2016-06-09 12:33] enchev commented on #410
We've decided to keep the Xcode output since it is important.

[2016-06-09 12:33] enchev commented on #463
Closed due to low community interest.

[2016-06-09 12:34] enchev commented on #352
Fixed with #1809

[2016-06-09 12:34] enchev commented on #1776
Fixed with #1778

[2016-06-09 13:32] enchev commented on #1729
Fixed in #1824

[2016-06-09 13:32] #1729 closed

[2016-06-09 14:32] enchev commented on #1098
Hey @NathanaelA @teobugslayer

I'm closing this due to low interest from both sides. If you still think that this is important please reopen the issue or even submit pull request.

[2016-06-09 14:32] #1098 closed

[2016-06-09 14:53] enchev commented on #1572
In my opinion it will be better if we implement the logic in the plugin itself (second option). I'm moving this issue to the `nativescript-unit-test-runner` repo.

[2016-06-09 14:54] enchev commented on #1572
This issue was moved to NativeScript/nativescript-unit-test-runner#11

[2016-06-09 14:54] #1572 closed

[2016-06-09 20:10] psmak4 commented on #1812
I have Java version 1.8.0_91, Android SDK Tools 25.1.7, Android SDK Platform-tools 23.1, and Android SDK Build-tools 22.0.1, 23.0.1, 23.0.2, and 23.1 all installed.

[2016-06-09 20:13] psmak4 commented on #1812
Is there some diagnostic log I can produce to document this information?  Forgive my ignorance on this, I'm new to NativeScript.

[2016-06-09 20:14] rosen-vladimirov commented on #1812
Hi @psmak4 , can you execute:
$ tns doctor --log trace > out.txt
And send us the out.txt file?

[2016-06-09 20:16] psmak4 commented on #1812
Here you go.
[out.txt](https://github.com/NativeScript/nativescript-cli/files/307836/out.txt)

[2016-06-09 20:22] rosen-vladimirov commented on #1812
@psmak4 ,
It looks like there's a problem with your Java. When CLI tries to execute
`C:\Users\pjones\AppData\Local\Android\android-sdk\tools\android.bat --help` it receives an error:
`'Usage: java [-options] class [args...]\n           (to execute a class)\n...`
Can you try executing the command `android.bat --help` directly in your cmd and see if it works?
Also please verify your JAVA_HOME enviro

[2016-06-09 20:29] psmak4 commented on #1812
`C:\>android.bat --help
Usage: java [-options] class [args...]
           (to execute a class)
   or  java [-options] -jar jarfile [args...]
           (to execute a jar file)
where options include:
    -d32          use a 32-bit data model if available
    -d64          use a 64-bit data model if available
    -server       to select the "server" VM
                  The default VM is server.

[2016-06-09 20:37] rosen-vladimirov commented on #1812
@psmak4 ,
Definitely something's not correct here, but I'm not really sure what.
The output of `android.bat --help` should be something like:
[code]

I've googled the error and I have two suggestions (the first one sounds really weird, but I'll be glad if you can try it):
1) Try executing `android.bat --help` from a directory that is not in your root of the drive, for example make new dir:
[code]

[2016-06-09 20:39] psmak4 commented on #1812
`C:\>mkdir test

C:\>cd test

C:\test>android.bat --help

       Usage:
       android [global options] action [action options]
       Global options:
  -s --silent     : Silent mode, shows errors only.
  -v --verbose    : Verbose mode, shows errors, warnings and all messages.
     --clear-cache: Clear the SDK Manager repository manifest cache.
  -h --help       : Help on a specific command.

[2016-06-09 20:39] psmak4 commented on #1812
I don't know why that gave a different output.

[2016-06-09 20:41] rosen-vladimirov commented on #1812
@psmak4 that's the correct output. Can you try running `tns doctor` inside test directory and see if the output will be correct this time.
By the way I've taken the idea for new directory from [here](https://groups.google.com/forum/#!topic/android-platform/UjY92-9CX48).
I'm totally confused what could cause such strange behavior.

[2016-06-09 20:41] psmak4 commented on #1812
I just ran tns doctor from the same test directory and it gave a slightly different output as well.
`C:\test>tns doctor
NOTE: You can develop for iOS only on Mac OS X systems.
To be able to work with iOS devices and projects, you need Mac OS X Mavericks or
 later.

You need to have Android SDK 22 or later and the latest Local Maven repository f
or Support Libraries installed on your system.
Run $

[2016-06-09 20:43] rosen-vladimirov commented on #1812
@psmak4
It looks like you do not have `Local Maven repository for Support Libraries` installed. Just run `$ android.bat`, navigate to the bottom of the page, select the `Local Maven repository for Support Libraries` and click install :)

[2016-06-09 20:49] psmak4 commented on #1812
That doesn't appear in the list.
![android](https://cloud.githubusercontent.com/assets/847301/15945812/5be2d66a-2e51-11e6-87fd-2ec4f7dc40ed.jpg)

[2016-06-09 20:52] rosen-vladimirov commented on #1812
Ok, sorry, they've changed it's name again :(
It's `Android Support Repository`, I'll add separate issue to change the name in our code and docs.

[2016-06-09 20:54] rosen-vladimirov opened #1826 "Replace Local Maven repository for Support Libraries with Android Support Repository"
Android had changed the name of `Local Maven repository for Support Libraries` to `Android Support Repository` and that's what's visible when you open the UI for managing Android packages.
All entries of `Local Maven repository for Support Libraries` in CLI's code and in documentation should be updated.

[2016-06-09 20:57] psmak4 commented on #1812
That was it.  Thanks for the help.  Still a little weird that it won't work from C: but will work from any sub directory.

[2016-06-09 21:04] rosen-vladimirov commented on #1812
@psmak4
I've reproduced the same weird behavior, but not sure what's causing it. I'll mark this thread as KnonwIssue for anyone else who has the same problem.
Just a summary: `android.bat` file throws java error when executed from the root of a drive (C:\, D:\, etc.) and `tns doctor` is unable to detect if `android.bat` really works.

[2016-06-09 21:04] #1812 closed

[2016-06-09 21:24] NathanaelA commented on #1098
I think the report is still valid; and not sure I would close it just because it is low on everyone's priority list.  Maybe instead of closing it you should label it as a needs help or another label expressing third party dev is needed on this one.

[2016-06-10 07:09] enchev commented on #1740
Hey @rosen-vladimirov,

Can you post here more info why we have our own nmp and why we do not use the instilled one. What problems we solved?

Thanks

[2016-06-10 07:55] hdeshev opened #1827 "Auto-exit after `tns test` completes and allow for console output collection"
The currently recommended approach to running `tns test` in a CI environment is to use the `--justlaunch` switch, so that tns exits after the test run completes.

* We need a way to run without `--justlaunch`, so we show `console.log` and other output to the user and let CI systems collect it in their build logs.
* We also need a `--timeout` parameter that will kill the test run if it doesn't comp

[2016-06-10 08:01] enchev commented on #1098
Hey @NathanaelA feel free to reopen when needed! :)

[2016-06-10 08:35] rosen-vladimirov commented on #1740
Hi @enchev ,
As you are asking, using `npm` as dependency resolves exactly this issue.  In case we were relying on user's npm, you wouldn't have any workaround for this particular problem and in fact nativescript-cli would have been unusable with npm 3. And btw this is not "our" npm, it's the real npm, we are just using it as dependency.

### How does npm work
NativeScript projects rely on npm and

[2016-06-10 08:54] enchev commented on #1296
Hey @NathanaelA,

What we can do in case of gradle build error is to suggest `platform remove/add`. Will this work for you? I've made pull request with this implemented.

[2016-06-10 08:58] #1826 closed

[2016-06-10 10:21] hdeshev commented on #1740
Dragging our own pinned version of npm is a workaround that seems to work for many cases, but it's nothing more than a workaround. I believe we have to get rid of it -- the breakage caused by a command such as `npm install` (which is perfectly fine in any node project) is a real show stopper.

I'm probably oversimplifying everything, but can we rely on the user running `npm install` and use differ

[2016-06-10 10:39] rosen-vladimirov commented on #1740
Please excuse me, but relying on a specific version of a library is not a workaround for me. In the same manner we can drop all of our dependencies and ask the users to install them globally.

I agree that `npm install` is normal process and shouldn't break the project. We've already discussed this with @ErjanGavalji and he is working on a new approach that should resolve the issue with detecting

[2016-06-10 11:02] enchev commented on #1296
I've made second attempt to fix this. We will validate App_Resources drawable resources and we will stop the build in case of invalid.

[2016-06-10 11:35] PanayotCankov commented on #1790
The `tns publish ios <itunesuser> <itunespass>` will now create Xcode archive and export ipa successfully with pods.

[2016-06-10 13:27] dtopuzov commented on #1811
@Coolranch closing because we can not reproduce, if you still encounter this issue, please provide exact steps, logs and info for your environment.

[2016-06-10 14:43] #1811 closed

[2016-06-10 14:45] enchev commented on #1751
Closing since we can not reproduce it. If you still have the same issue, please provide exact steps how to reproduce it and logs/info for your environment.

[2016-06-10 14:45] #1751 closed

[2016-06-10 14:47] enchev commented on #1436
Hey @mkosieradzki,

I'm closing this issue since we cannot reproduce it locally. If you still have problems please post more info/steps how to reproduce it.

[2016-06-10 14:47] #1436 closed

[2016-06-10 16:11] NathanaelA commented on #1098
@enchev I don't have the ability to re-open issues on any of of Telerik's repos.  ;-)    So I just have to hope I can get you to reopen.  :grinning:

[2016-06-10 16:20] NathanaelA commented on #1296
I know about **platforms remove/add** -- however, I think this is something that maybe should be handled by the new **tns clean** command (not sure the status but I thought it was coming in the next version), and if a gradle image error occurs, maybe a clean is auto-ran and then the rebuild is restarted, so the end user actually is not impacted..

One note:  I personally feel remove/add really sho

[2016-06-10 17:13] sancteor opened #1834 "Build failure for helloworld project on nativescript.org"
I setup the environment as instructed by the page: http://docs.nativescript.org/angular/start/ns-setup-win
And then I try to build the hello world project on nativescript.org: http://docs.nativescript.org/angular/tutorial/ng-chapter-1. But I was given the error below:

:preBuild UP-TO-DATE
:preF0DebugBuild UP-TO-DATE
:checkF0DebugManifest
:preF0ReleaseBuild UP-TO-DATE
:prepareComAndroidSupportAnim

[2016-06-11 19:50] kiramishima commented on #1834
Hi, Try Installing Google Repository & Android Support Repository
[Img Reference](http://imgur.com/rFQn4VJ)

[2016-06-11 23:02] yogeshwar607 opened #1835 "tns doctor stuck on Verifying CocoaPods"
<img width="1280" alt="screen shot 2016-06-12 at 4 22 03 am" src="https://cloud.githubusercontent.com/assets/10059011/15987840/858ca52a-3056-11e6-8dd2-330e82fb7834.png">

[2016-06-12 02:53] WagnerSilveira commented on #386
@sushruth

Close you application, and launch it again  in your phone and then refresh  your dbug page http://127.0.0.1:8080/debug?port=40000
It is not a solution, but someway you can test your aplication

Regards

[2016-06-12 12:03] sancteor commented on #1834
Thanks for your help! Kiramishima! but still not working. Orz

[2016-06-12 15:21] nraboy commented on #1740
None of this seems to be working for me.  I have two NPM libraries included in my package.json:

[code]

I install everything using `tns install`.  I still end up with the following error:

[code]

Any ideas?

[2016-06-13 05:46] lakshmankotipalli commented on #1740
In my case, It resolved by removing the below line
    `<gap:plugin name="nl.x-services.plugins.socialsharing" />`
from config.xml file

[2016-06-13 06:21] ali-hooshmand opened #1836 "Error in tns build android: 'spawn gradle.bat ENOENT'"
I'm able to run NativeScript simple example. However, I am getting 'spawn gradle.bat ENOENT' when I'm trying to build a project where multidex is enabled. Here is my build log:
http://pastebin.com/mf6ZHVA0

Thanks,

[2016-06-13 06:23] enchev commented on #1836
Hey @Plamen5kov,

Do you know what can cause this?

[2016-06-13 06:28] enchev commented on #1834
Hey @sancteor,

Can you build normal Android projects using Android Studio? It seems that Android SDK is corrupted - you may need to reinstall it.

[2016-06-13 06:30] enchev commented on #1835
Hey @yogeshwar607,

What's your OSX and XCode version? Have you tried to run the same command with `--log trace`?

[2016-06-13 06:30] #1296 closed

[2016-06-13 06:33] enchev commented on #1296
Hey @NathanaelA,

In my opinion it will be better if we prevent the error at first place by validating resources. `tns clean` is another story and we will do our best to deliver it asap.

[2016-06-13 06:37] Plamen5kov commented on #1836
Hi @ali-hooshmand

What this message means is, cli can't find the `platforms/android/gradle.bat` file and run it. Make sure the file exists.

Could you provide us with some additional information. As I understand you had a working project and you tried to enable multidex support, so you probably did some changes. It would be helpful, if you could describe the steps you made from the start to finis

[2016-06-13 07:13] meow0703 opened #1837 "Critical bug on new fresh installation"
HI there, please help investigate below console log on windows 10, thanks !
[code]

[2016-06-13 07:31] #1000 closed

[2016-06-13 07:32] #1002 closed

[2016-06-13 10:13] NickIliev commented on #1837
Duplicate to [https://github.com/NativeScript/NativeScript/issues/2297](https://github.com/NativeScript/NativeScript/issues/2297)

[2016-06-13 11:45] #1837 closed

[2016-06-13 12:44] enchev commented on #1740
Hey @Plamen5kov

Do you know what's going here?

[2016-06-13 12:51] #1580 closed

[2016-06-13 13:03] enchev commented on #985
I'm closing this for now. If you think that this is valuable please reopen the issue.

[2016-06-13 13:03] #985 closed

[2016-06-13 13:22] Plamen5kov commented on #1740
Hi @nraboy
This is a problem with android tooling. The `/Users/nraboy/Library/Android-SDK/build-tools/23.0.3/aapt` is part of the android build-tools chain and it takes care of processing all project resources.
The problem is for the `aapt` tool, both files:

and

are the same.
Your problem can be resolved if you delete `/node_modules/bcryptjs/dist/bcrypt.min.js.gz` file and rebuild the project.

[2016-06-13 13:22] enchev commented on #1392
Hey @Plamen5kov,

Do you know such manual fix?

[2016-06-13 14:09] enchev commented on #1524
Tested with latest (2.0.1) and worked as expected.
![untitled](https://cloud.githubusercontent.com/assets/5804953/16010388/a503c94a-3189-11e6-9f58-9fa4c4762432.png)

[2016-06-13 14:09] #1524 closed

[2016-06-13 14:16] enchev commented on #1808
Hey @ibnzbssrckr,

I don't have Webstorm however I've tested with Visual Studio Code and everything worked as expected. Since Visual Studio Code is where we want to invest the only option I can suggest you for now is to use instead Webstorm.

[2016-06-13 14:16] #1808 closed

[2016-06-13 14:17] enchev commented on #1808
Most probably related to https://github.com/NativeScript/nativescript-cli/issues/1810

[2016-06-13 14:25] enchev commented on #485
Still valid with 2.0.1

[2016-06-13 14:53] sancteor commented on #1834
Thank for your reply @enchev,
Yes, I can. My old project still work. And new simple project is working too.

[2016-06-13 14:53] dfg-nota commented on #1392
@enchev
I used to be able to do this in my plugin include.gradle file:
[code]
But it doesn't seem like it's possible anymore in the latest version of Nativescript CLI.

[2016-06-13 14:58] p4ulolol opened #1843 "Processing node_modules failed. TypeError: Path must be a string. Received undefined"
Hello,

I have this error when I try to prepare, build or run :
`Processing node_modules failed. TypeError: Path must be a string. Received undefined`
I don't know where it comes from. I read on the internet that I may be caused by the version 6 of Node. As I was using 5.5.0, I thought I just had to down-grade, so I'm now in 4.4.5 but I still have this... strange error.

Any solution ?

[2016-06-13 15:01] ali-hooshmand commented on #1836
Hi @Plamen5kov,
Thanks for the reply. FIrst, I check platforms/android and as you guessed I don't have the gradle.bat. How can I create this file?

Also, here are the steps I made:
This happened after I added nativescript-plugin-firebase to the project. All I did was:
"tns plugin add nativescript-plugin-firebase"
and then I added "GoogleService-Info.plist" file to platforms/android.
Then I added f

[2016-06-13 15:01] Plamen5kov commented on #1392
Hi @dfg-nota
I don't believe the new version of cli can change the way `include.gradle` works. What you're doing should be working. Let me check it out and i'll get back to you.
Could you give me the version of CLI you're using?

[2016-06-13 15:19] NickIliev commented on #1843
Hi @p4ulolol

In order to help you out in the best way possible please provide more information (the platform on which your are testing, the app package.json and the detailed error log that includes the line you have provided). I recommend that you follow [this guidelines](https://github.com/NativeScript/nativescript-cli/blob/master/CONTRIBUTING.md)

Meanwhile check your **tsconfig.json** it shoul

[2016-06-13 15:32] NathanaelA commented on #1296
@enchev I TOTALLY agree; eliminating any errors a end user sees is the BEST policy.  :grinning:

I just was trying to throw out suggestions in case verifying the images turned into a problem...

[2016-06-13 15:45] meow0703 commented on #1837
The issue still happen so far ! Hurry up folk @@

[2016-06-13 16:03] dfg-nota commented on #1392
@Plamen5kov I just checked my `platforms/android/configurations` folder after a build and it seems my plugin include.gradle file from above is turned into this:
[code]
ndk abiFilters was removed.

[2016-06-13 16:10] p4ulolol commented on #1843
I'm testing on windows.
The package.json file is the default package.json when you create a new project using tns create <name>.
I tried with NPM 2.15.5 on Node 4.4.5 and NPM 3.5.0 on Node 5.5.0.
Here is my tsconfig.json :
`
{
	"compilerOptions": {
		"target": "ES5",
		"module": "commonjs",
		"sourceMap": true
	},
	"exclude": [
		"node_modules",
		"scratch",
		"coverage"
	]
}
`
And I don't know wh

[2016-06-13 17:36] p4ulolol commented on #1843
Well now it works, I don't know why, I didn't change anything...
But I think that it may be interesting to find a real solution in case it occurs again.

[2016-06-13 22:10] yogeshwar607 commented on #1835
OSX version - 10.11.5
XCODE - 7.2
still struck there
screenshot with --log trace

<img width="1280" alt="screen shot 2016-06-14 at 3 39 38 am" src="https://cloud.githubusercontent.com/assets/10059011/16024874/b7471712-31e1-11e6-9ce8-3468d728d00e.png">

[2016-06-14 01:52] harlankoehn opened #1844 "tns livesync android --watch hangs in Visual Studio Code integrated Terminal"
I'm using the latest version of Visual Studio Code on Windows 7 64bit with tns version 2.0.1. When I attempt to run my project using the Code Integrated Terminal, tns hangs on "Transferring project files...". I've tried running Code as Administrator and it doesn't make any difference.

The same command works fine for me from the Windows command line.

One issue is that this seems to create multipl

[2016-06-14 01:55] harlankoehn commented on #1844
OK, not sure what's going on here. I think I posted a little too soon. I killed all the adb.exe processes and my terminal window created two and started working properly. I'll investigate a little further to see if I can duplicate the issue.

[2016-06-14 02:09] nraboy commented on #1740
@Plamen5kov,

This method seems sketchy.  Every time I add some NPM libraries I'm going to have to alter them from a package level?  No one is going to want to do that.

Can't we get the NativeScript CLI to remove certain files?  Seems like it wouldn't be too difficult to do.

Best,

[2016-06-14 05:17] Plamen5kov commented on #1836
Hi @ali-hooshmand

The place where you should add gradle dependencies is in `app/App_Resources/Android/app.gradle` instead of `platforms/android/build.gradle`.

----

`GoogleService-Info.plist` and `.plist` as an extension is used in iOS projects. The Android equivalent of the `.plist` is the `AndroidManifest.xml`.

----

If you want to enable multidex support you can see an example [here](https:/

[2016-06-14 05:56] Plamen5kov commented on #1392
Hi @dfg-nota,
I tested it out and you're right, you can open an issue in the [android-runtime](https://github.com/NativeScript/android-runtime).

[2016-06-14 06:11] Plamen5kov commented on #1740
Hi @nraboy,
Let me say again this is not a problem with NativeScript, but with the android toolchain. You are right, no one would like to remove random packages on a package level.
One possible fix would be to remove the problem file from the source package, so it can work with NativeScript without issue.
Another fix would be to `get the NativeScript CLI to remove` files, as you said, but I can't

[2016-06-14 06:23] enchev commented on #1834
In this case, as far as I understand, you are all set now?

[2016-06-14 06:24] #1836 closed

[2016-06-14 06:44] #1843 closed

[2016-06-14 06:51] ErjanGavalji commented on #1740
I'd vote against making the removal of specific files part of the CLI itself too. That would add an unnecessary dependency to the tool. A plugin might do the work instead, though I can't figure what its name would be - "ns-android-toolchain-fixer"? Sounds lame...

Can we figure out a better solution?

[2016-06-14 06:51] PeterStaev commented on #1740
I agree with @nraboy that there should be a process in the CLI to automatically clean up duplicate files. From what I read AAPT just removes the `.gz` extension of the file on add, so it should be relatively simple to traverse the modules dir and find duplicate `.gz` and non `.gz` files and just remove the `.gz` files.

[2016-06-14 07:16] PeterStaev commented on #1740
@ErjanGavalji , I see plugins as encapsulating functionality that is optional for the user. Here we are talking about a plugin which will be required if you want your build to run w/o problems. So I don't think a good thing to put inside a plugin. Also consider the situation of an existing project that was building fine, then you add a new module and it starts failing with some strange build error

[2016-06-14 08:11] ErjanGavalji commented on #1740
@PeterStaev You are absolutely right about the optionality of plugins and the hassle for plugin authors. The thing is, the problem happens **only** with android and only if you include **some** npm libraries. That's why I want to come up with something better.

So sad I can't figure out anything yet :/

[2016-06-14 08:14] ErjanGavalji opened #1845 "Remove NPM as a dependency, use the NPM installed on users' machine"
I am copying here the discussion from https://github.com/NativeScript/nativescript-cli/issues/1740, for it deserves a separate thread...

[2016-06-14 08:14] ErjanGavalji commented on #1845
By @enchev:
Hey @rosen-vladimirov,

Can you post here more info why we have our own nmp and why we do not use the instilled one. What problems we solved?

Thanks

[2016-06-14 08:15] ErjanGavalji commented on #1845
By @rosen-vladimirov:
Hi @enchev ,
As you are asking, using `npm` as dependency resolves exactly this issue.  In case we were relying on user's npm, you wouldn't have any workaround for this particular problem and in fact nativescript-cli would have been unusable with npm 3. And btw this is not "our" npm, it's the real npm, we are just using it as dependency.

### How does npm work
NativeScript pr

[2016-06-14 08:15] ErjanGavalji commented on #1845
by @hdeshev:

Dragging our own pinned version of npm is a workaround that seems to work for many cases, but it's nothing more than a workaround. I believe we have to get rid of it -- the breakage caused by a command such as `npm install` (which is perfectly fine in any node project) is a real show stopper.

I'm probably oversimplifying everything, but can we rely on the user running `npm install`

[2016-06-14 08:15] ErjanGavalji commented on #1845
by @rosen-vladimirov:

Please excuse me, but relying on a specific version of a library is not a workaround for me. In the same manner we can drop all of our dependencies and ask the users to install them globally.

I agree that `npm install` is normal process and shouldn't break the project. We've already discussed this with @ErjanGavalji and he is working on a new approach that should resolve th

[2016-06-14 08:16] ErjanGavalji commented on #1740
By the way, moved the dependent-npm related discussion to a [separate thread](https://github.com/NativeScript/nativescript-cli/issues/1845).

[2016-06-14 08:26] ErjanGavalji commented on #1740
Well, @atanasovg, @Plamen5kov, how about having errors of the kind handled by the runtime via a CLI hook?

Can this be done as a general fix for any android tooling problems?

[2016-06-14 08:54] ErjanGavalji commented on #1845
I am fine having a dependency to npm for the pure reason of not having to execute a side process.

However, having a strict dependency makes us lazy. The CLI does not evolve with the rest of the framework because we do not dedicate enough resources on keeping it modern by updating its dependencies. This is especially valid for complex dependencies such as npm, which is a giant tool by itself.

Whi

[2016-06-14 09:53] hdeshev commented on #1845
The point I tried to make with my previous post is that we have no choice but support the scenario where the end user runs an `npm install` command by him/herself. This is the way npm projects work, and people are used to doing that.

So, here we are having to support npm 2 and npm 3 anyway (since we don't want to force users into using a specific version of npm). Why bundle npm 2 then? I'm afraid

[2016-06-14 10:35] Plamen5kov commented on #1740
I think it's a great idea to build a tool that will make every node_module, NativeScript Compatible, but I don't think this tool should be CLI. As @ErjanGavalji said this problem concerns only specific node_modules, only in Android, and CLI should include only functionality concerning both platforms, when possible.
Furthermore if we only concentrate on deleting duplicate files, this solution will

[2016-06-14 11:04] atanasovg commented on #1740
If there is a valid way for us to uniquely detect such invalid cases for each Node module out there then we can think of some CLI hook, installed upon `tns platform add android` that will do some additional work prior to the `tns prepare android` command.

Out of curiosity - this is the first such case I am aware of, are there more such ones? If these are some finite number - e.g. 10 modules - the

[2016-06-14 11:22] hdeshev commented on #1740
The semver.js.gz issue we're sometimes seeing for Angular projects is related even if it is caused by another bug -- semver is a dev dependency that should never end up in `platforms/android` anyway.

[2016-06-14 13:15] jgeewax commented on #1506
I'm still seeing about 15 seconds from save time (when livesync picks up the change) to deployment. Is this what's expected?

Comparing this to React Native it's quite a bit slower...

[2016-06-14 14:16] PBartrina commented on #1835
Same issue here, same OS and same xCode
![image](https://cloud.githubusercontent.com/assets/14554908/16046036/49b1d0e2-324b-11e6-9b65-d137d2b9bdf1.png)

[2016-06-14 14:45] sancteor commented on #1834
@enchev, Yes! but I don't know why I still got errors.

[2016-06-14 17:21] jonathan-casarrubias commented on #1249
@jlooper +1

[2016-06-15 11:47] #485 closed

[2016-06-15 17:58] bfattori opened #1850 "Publish with Enterprise Apple Dev Account"
I didn't know where else to put this, but when I'm working with an application that _i don't plan to deploy to the AppStore_, how do I go about doing that? I'm trying to release an internal mobile application, so I'm building it with an Enterprise account to be able to wildcard the provisioning profile.

Does TNS-cli support this? It really seems to be targeted at the AppStore and iTunes Connect.

[2016-06-15 21:34] fabioperrella opened #1851 "Why an application created with Angular template needs 2 package.json files?"
When creating an application with `tns create AppName --ng` it is generated 2 package.json files: `package.json` and `app/package.json`

Is it really necessary the file `app/package.json`?

In Nativescript tutorial project "Sample-Groceries" the file app/package.json has only the key "main" but this file generated by `tns create --ng` has a lot of keys.

[2016-06-16 07:46] enchev commented on #1850
Hey @bfattori,

When you prepare your app for ios (`tns prepare ios`) NativeScript CLI will create XCode project in the `platforms\ios` folder. You can open this project in XCode and archive/export like normal native app.

[2016-06-16 07:57] enchev commented on #1851
Hey @fabioperrella,

I believe that we have `package.json` both in the root folder of the project and in the `app` folder no matter if this is Angular app or not. The content of the `app` folder is separate NPM module downloaded as dependency and that is why we have the inner `package.json`.

[2016-06-16 08:31] enchev commented on #1834
Hey @slavchev @Plamen5kov @blagoev  do yo know why the build is failing here?

[2016-06-16 08:33] enchev commented on #1835
Hey folks,

NativeScript CLI will simply call `pod --version`. Can you verify what will happen if you call the same directly?

[2016-06-16 08:59] sancteor commented on #1834
http://stackoverflow.com/questions/37621383/errorexecution-failed-for-task-mobilepreparecomandroidsupportanimatedvectord/37707867#37707867
This looks like mine.
Another clue is in that I answered in this link.
but that time I had wrong AVD configuration so I don't know if that succeeded or not.

[2016-06-16 11:56] Plamen5kov commented on #1834
Hi @sancteor
Couldn't reproduce the problem, I did:

* `git clone https://github.com/NativeScript/sample-Groceries.git`
* `cd sample-Groceries`
* `git checkout angular-start`
* `tns run android`

[2016-06-16 13:16] vchimev commented on #1636
Thanks, guys!

Hey @rosen-vladimirov, @hdeshev, @vakrilov,

do you have any idea about this issue? I still reproduce it rarely with our master branches, in particular:

CLI - 2.1.0-734
nativescript-unit-test-runner - 0.3.3

[2016-06-16 18:05] tjvantoll opened #1853 "Flag when Android devices are out of storage"
This was originally reported in https://github.com/NativeScript/sample-Groceries/issues/97.

If you try to deploy to an Android device with insufficient storage, we show the “Successfully deployed on device with identifier 'LGXXXXX'” confirmation message, when the app hasn’t actually deployed.

If you turn on trace logs during the build you’ll see the error below, but that’s hidden by default so u

[2016-06-16 20:43] fabioperrella commented on #1851
But when installing a npm module, like "email-validator", the dependency is added to root package.json

I made it when I was doing the tutorial, in chapter 5: http://docs.nativescript.org/angular/tutorial/ng-chapter-5

So I did not understand what will be added to app package.json, and if this file is really necessary

[2016-06-16 21:14] rosen-vladimirov commented on #1853
Hey @tjvantoll ,
This is already addressed and should be working fine in the next official release - the error is detected and shown to the user. I'll mark it as bug and set it to Ready for Test, so it will be included in the release notes.

[2016-06-17 06:44] blagoev opened #1855 "Improve tns install output on Windows"
When _tns install_ is run there are some errors from npm reported. These are confusing and leaving an impression of wrong install setup. The main problem is the last line which we control. It is

Project successfully created.
Exception: Applications for platform ios can not be built on this OS - win32

The last line  _Exception: Applications for platform ios can not be built on this OS - win32_ is

[2016-06-17 08:19] rosen-vladimirov commented on #1733
Ooops, @enchev , sorry, I've somehow missed your comment.
When we want to support new Node.js version, there are a couple of C++ dependencies that we have to rebuild (and get the latest changes from their upstreams in case there are such changes). We've forked the C++ dependencies and modified them to use our own module called `prebuilt`. This allows us to distribute prebuilt binaries, so the end

[2016-06-17 10:33] dtopuzov commented on #1853
I can confirm it works in {N} CLI master

[2016-06-17 10:33] #1853 closed

[2016-06-17 10:51] dtopuzov commented on #645
{N} CLI in master with latest Android tooling, Intel HAXM not installed and x86 emulator:

C:\Users\topuzov>tns emulate android --path TestApp
Starting Android emulator with image Emulator-Api21-Default
....
and it hangs with out any logs.

When run with --log trace:

[code]

Not very good user experience.

[2016-06-17 10:54] dtopuzov commented on #1515
Related to https://github.com/NativeScript/nativescript-cli/issues/1515

[2016-06-17 10:54] #1515 closed

[2016-06-17 11:20] dtopuzov commented on #1493
Currently this is not supported scenario.

[2016-06-17 11:50] #1834 closed

[2016-06-17 11:52] #1844 closed

[2016-06-17 11:52] #1850 closed

[2016-06-17 11:59] dtopuzov commented on #1620
Still valid in {N} master and Xcode 7.3.1. iOS devices with iOS 9.3.2
tns debug ios --path TestApp
-> Successfully deployed on device with identifier 'ccd596fa85d0c0c78c9b5a95147c1ba49c9dcd67'.
-> Inspector app started
tns debug ios --device ccd596fa85d0c0c78c9b5a95147c1ba49c9dcd67 --path TestApp
-> fails with multiple error, different each time

Error 1:
[code]

[2016-06-17 12:22] enchev commented on #1620
It seems that `tns run|debug --device [DEVICE-ID|INDEX]` will work on emulators but not on real devices. In my opinion the problem is with the app deployment not with debug service.

[2016-06-17 12:25] rvanzon commented on #1224
Does this bug still exist? I am using a clean install.

1. tns create test1
2. cd test1
3. tns livesync ios --emulator --watch
4. I get ``[object Object] is not a future``

There is no ``node_modules/ios-sim-portable/node_modules/fibers``

[2016-06-17 13:05] rvanzon commented on #1224
I just found out that ``tns device`` also gives ``[object Object] is not a future`` in red, above the help lines.

[2016-06-17 16:31] sancteor commented on #1834
@Plamen5kov Thanks!
Today I tried it again. The result is, Running four lines of commands, First time is pretty good. The emulator started and appeared but it could not run the program. Then I only ran $tns run android, got that error again.

[2016-06-17 21:30] ChrisFlannagan commented on #888
I have tried everything but this 120x120 is killing me, spent all day trying to get it to go up to the store

![image](https://cloud.githubusercontent.com/assets/14016454/16165275/097299fe-34b1-11e6-8535-f4d085fbd670.png)

I have all icons in place, I have migrated to the asset manager and they are all there, but I'm still getting this error.

![image](https://cloud.githubusercontent.com/assets/14

[2016-06-17 22:32] sitefinitysteve commented on #888
@ChrisFlannagan Yeah, this isnt at all documented, and will hit every single person... I think the info.plist doesnt just have these by default.

Answer by @PeterStaev on slack fixed me
https://nativescriptcommunity.slack.com/files/peterstaev/F1E2YK6KS/Info_plist.txt

His GIST
https://gist.github.com/PeterStaev/95b116df2cc9d82868ad67cdac28ad0e#file-Info-plist

Basically just specify all the icons

[2016-06-17 23:19] ChrisFlannagan commented on #888
Well, I finally figured it out.  If you are doing tweaks in xcode to the plist or anything else it can cause issues with the nativescript generated project so you gotta be carful.  I started a fresh nativescript project, copied my core files and icons over including the 120px, then I tns prepare ios it.  Also, nativescript seems to use lowercase i for a lot of icons in the plist when it needs to d

[2016-06-17 23:22] sitefinitysteve commented on #888
Everything under /platforms should be considered volitile.. when you build the info.plist from App_Resources/iOS is copied down, thats the one you need to change manually... if you're doing this in xcode it's changing the platforms one and you're back in the same boat of it being potentially overwritten (on an upgrade or some other command)

[2016-06-17 23:30] ChrisFlannagan commented on #888
yea man, it caused me a big struggle today.  I didn't change anything manually at first but I didn't have the 120px so then I tried to adjust it all manually in xcode to add the 120px icon and that screwed things up big time.

[2016-06-18 21:24] manijak commented on #1398
Someone care to explain why this is closed and no permanent solution provided?

I have this issue on CLI 2.0.1

[2016-06-19 13:17] SjurWarEagle opened #1860 "Android Typescript Template - AppLabel with Whitespace"
Hi,

at the moment the name in package.json must not have any whitespaces and it has to match the app_name from strings.xml.
This results in the app_name not having whitespaces.
The label title_activity_kimera may have whitespaces but when it is different from the app_name this results in a bad unstallation dialog on Android.
![uninstallwrong](https://cloud.githubusercontent.com/assets/7311103/161

[2016-06-20 06:21] enchev commented on #1398
Hey @manijak,

I asked for more info however never got a response. Hey @dtopuzov @vchimev can you confirm this?

[2016-06-20 07:53] enchev commented on #1860
This issue was moved to NativeScript/android-runtime#490

[2016-06-20 07:53] #1860 closed

[2016-06-20 08:28] manijak commented on #1398
It's a verry odd issue. I had an ipad in the other room that had sync over wifi enabled. So it appeared in the device list all the time, even after I disabled the sync.
Had to turn off wifi on the device for it to go away, restarted my Mac and now it works...

[2016-06-20 08:29] NickIliev opened #1862 "livesync error in fibers/future.js: [object Object] is not a future"
_From @stnguyen on June 18, 2016 3:42_

I can run the app fine on iOS simulator, but when I try livesync, it doesn't work

[code]

My environment:

node v4.4.5
npm v2.15.4

_Copied from original issue: NativeScript/NativeScript#2336_

[2016-06-20 08:29] NickIliev commented on #1862
_From @bisonte-az on June 18, 2016 18:14_

Sample groceries master presents the same problem

[2016-06-20 08:29] NickIliev commented on #1862
_From @bathejasumeet on June 19, 2016 7:5_

even the sample app created while running tns create app_name produces the same problem for iOS during livesync

[2016-06-20 08:29] NickIliev commented on #1862
_From @jlooper on June 19, 2016 14:16_

I normally simply use tns livesync iOS --watch, does that produce the same problem?

[2016-06-20 08:29] NickIliev commented on #1862
_From @stnguyen on June 20, 2016 2:46_

@jlooper yep same problem

[2016-06-20 08:33] NickIliev opened #1863 "TNS doctor redirects OSX user to download JRE instead of JDK"
_From @rbreaves on June 20, 2016 4:56_

## Please, provide the details below:

### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)?

### Tell us about the problem
Please, ensure your title is less than 63 characters long and start

[2016-06-20 08:47] #1732 closed

[2016-06-20 08:48] #1733 closed

[2016-06-20 09:24] dtopuzov commented on #1398
@manijak we had several issues when deploy/run/debug on real device when --device option is specified. Those issues should be resolved in 2.1.0 (it will be available at the end of this month).

If you still experience some issues with 2.1.0, please reopen or report new issue.

[2016-06-20 10:47] enchev commented on #1863
Hey @vchimev @dtopuzov can you verify this?

[2016-06-20 10:51] enchev commented on #1862
Works with current master. Hey @vchimev @dtopuzov can you check this as well?

[2016-06-20 10:56] NickIliev opened #1865 "tns test <platform> include coverage?"
_From @georgeedwards on June 17, 2016 12:46_

## Feature Request:

Can the `tns test <platform>` command include coverage reporting as part of it's output? [Karma-Coverage](https://github.com/karma-runner/karma-coverage) seems to be quite a nice way of doing this. To add support for Typescript, adding in [remap-istanbul](https://github.com/SitePen/remap-istanbul) looks to be the most straight forw

[2016-06-20 11:31] NickIliev commented on #1865
This issue was moved to NativeScript/nativescript-unit-test-runner#12

[2016-06-20 11:31] #1865 closed

[2016-06-20 11:31] dtopuzov commented on #1862
Can not reproduce with 2.1.0 Release Candidate, it will be official available at the end of the month.
Please let us know if problem still exists with 2.1.0.

[2016-06-20 11:31] #1862 closed

[2016-06-20 11:41] dtopuzov commented on #1863
With 2.1.0 RC if JAVA_HOME points to wrong location error is:
[code]

[2016-06-20 11:43] #1863 closed

[2016-06-20 12:44] enchev commented on #1851
Hey @fabioperrella,

At the moment when you build the project this file will be simply copied to the native app (`platforms` folder). If we remove it we will need to introduce special logic in both NativeScript CLI and iOS/Android runtimes to handle it.

[2016-06-20 12:44] #1851 closed

[2016-06-20 13:37] stnguyen commented on #1862
@dtopuzov thank you. is there a way I can test it now on my machine?

[2016-06-20 17:14] vchimev commented on #485
Tests added: https://github.com/NativeScript/nativescript-cli-tests/commit/172ac708df3bf9f5e5d624365d6336ad268e4142.

[2016-06-20 22:36] nikolal commented on #1224
I solved `[object Object] is not a future` by restarting terminal and just running `tns run --emulator ios`.

[2016-06-21 06:16] enchev commented on #1835
Hey @vchimev @dtopuzov @SvetoslavTsenov can you help me to verify this?

[2016-06-21 09:05] jasssonpet opened #1867 "Error messages not printed"
_From @PanayotCankov on June 20, 2016 9:19_

In a blank application, the following `app.js`:
[code]
Prints the following output correctly:
[code]

While if the `console.log` call is omitted:
[code]
The error message is not printed:
[code]

_Copied from original issue: NativeScript/ios-runtime#583_

[2016-06-21 09:05] jasssonpet commented on #1867
The JavaScript error of the runtime crash log is actually being printed to the standard error stream as can be seen from `idevicesyslog` for example:

[code]

CLI output for same run:
[code]

[2016-06-21 09:05] jasssonpet commented on #1867
The problems seems to come frome here: https://github.com/telerik/mobile-cli-lib/blob/a34a9e040d77a4d095d966df139aee4932cfce59/mobile/ios/device/ios-core.ts#L980

The CLI is not reading the whole buffer, but stops at the first zero byte and skips rest of the output.

[2016-06-21 10:14] Gaseema commented on #1576
Hi :)
I'm having issues every time i try to run my application on an emulator or my android phone. This is what it displays. SOS
gaz@gaz-HP-ProBook-430-G2:~/Desktop/groceries/sample-Groceries$ tns device
iTunes is not available for this operating system. You will not be able to work with connected iOS devices.
┌───┬─────────────┬──────────┬───────────────────┬────────┬─────────────┐
│ # │ Device N

[2016-06-21 11:49] enchev commented on #1867
This issue was moved to telerik/mobile-cli-lib#723

[2016-06-21 11:49] #1867 closed

[2016-06-21 12:20] enchev commented on #1727
We've managed to improve the performance with these pull requests:
https://github.com/NativeScript/nativescript-cli/pull/1858
https://github.com/telerik/mobile-cli-lib/pull/719
https://github.com/NativeScript/ios-runtime/pull/584

[2016-06-21 12:20] #1727 closed

[2016-06-21 13:22] dtopuzov commented on #1835
Can not reproduce with
OSX 10.11.5
XCODE 7.3.1
{N} 2.1.0 Release candidate (it will be officially available by the end of the month)

@yogeshwar607 if you still encounter the problem, feel free to reopen the issue.

[2016-06-21 13:45] vtrend commented on #1862
I know that this has been closed, but until the new release I will like to add my two cents.
Had the same issue, this is how I fixed it.

`npm cache clean`
`npm remove -g nativescript`
`npm remove -g nativescript` (yes twice)
`npm install -g nativescript`

if it helps thank @NathanaelA

[2016-06-21 15:51] sitefinitysteve opened #1868 "Expand default info.plist to contain CFBundleIconFiles UILaunchImages"
I personally [strugged with this for days](https://github.com/NativeScript/nativescript-cli/issues/888#issuecomment-226886334), and it pops up every other day on the slack channel I guess as people get to the "Ready to publish" point.

Could we perhaps change the default shipped info.plist stub that comes with {N} to include the full list of images, and people can just remove\rename them as needed

[2016-06-21 15:56] jlooper commented on #1868
Amplifying this, to help the many folks on Slack who keep bumping up against this issue!

[2016-06-21 19:12] bathejasumeet commented on #1862
@vtrend it worked!! @NathanaelA  - thanks, can you please explain why this worked ? just curious

[2016-06-21 19:56] yogeshwar607 commented on #1835
Waiting for {N} 2.1.0 ,
still gettting issue .

[2016-06-21 21:26] NathanaelA commented on #1862
There are three different things that I've ran into that can cause this; and those commands take care of two of them.  :grinning:

1. If somehow your npm cache gets corrupted -- not normal, but has happened to me a couple times; the first command will clear the cache.
2. Occasionally the pre-uninstall script for nativescript fails and leaves parts of NativeScript present.  The double uninstall has

[2016-06-22 02:54] stnguyen commented on #1862
@vtrend @NathanaelA it works. thanks a lot!

[2016-06-22 05:09] bathejasumeet commented on #1862
@NathanaelA .. makes complete sense .. thanks a lot

[2016-06-22 05:54] PanayotCankov commented on #1868
Since this have been merged:
https://github.com/NativeScript/template-hello-world/commit/8a6cdcad2705b570c2a32b2d5365ef9cc7ddd985
We will no longer need to list icons nor launch screens in the Info.plist.

These will now be defined in asset catalog inside app/App_Resources.
The `app/App_Resources/Assets.xcassets` folder can be dragged over the Xcode icon to open a visual editor for the icons or ca

[2016-06-22 05:55] #1868 closed

[2016-06-22 05:56] PanayotCankov commented on #888
https://github.com/NativeScript/nativescript-cli/issues/1868#issuecomment-227485863
We will use asset catalogs from the next version on, there it should be much easier to setup icons and launch screens.

[2016-06-22 06:23] enchev commented on #1835
There are no changes related to this issue in the upcoming version. Have you tried to call manually `pod --version`?

[2016-06-22 07:47] enchev commented on #1296
Hey @NathanaelA,

Unfortunately we found that cannot handle this problem easily and I've removed the code that validates drawables. The other option will be to use our new clean command in such cases:
`tns platform clean android`

[2016-06-22 14:45] NathanaelA commented on #1296
Bummer on the validation.   As long as the clean works that is acceptable to me.   To me their needs to be a easy way to recover from this...

In the event any error occurs during building; can we make sure that the "tns platform clean" command is displayed as part of the suggestions for how to recover?

[2016-06-22 15:13] ChrisFlannagan commented on #888
@PanayotCankov one of the biggest things for me which is my mistake but caused me hours of stress is that the default icon names in NativeScript use lower case "i" where almost every mass icon generator I found uses uppercase "I" in Icon filename.

[2016-06-22 18:12] PanayotCankov commented on #888
Which icon generators do you use? It would be nice to list them here so we can have them in mind in future.

[2016-06-22 18:13] PanayotCankov commented on #888
@ChrisFlannagan Which icon generators do you use? It would be nice to list them here so we can have them in mind in future.

[2016-06-22 18:27] ChrisFlannagan commented on #888
@PanayotCankov I've used a few thinking they were generating wrong, but the entire time it was just they use I and not i lol

http://icon.angrymarmot.org/
https://makeappicon.com/
http://appicon.build/

[2016-06-22 18:46] brandon-thimmesch opened #1872 "`tns livesync android` not updating application consistently"
I have seen other closed issues reporting similar issues; however, I appear to still be having an issue with `tns livesync android`. Whenever I run this command it sometimes updates the application and sometimes doesn't. I have run `tns livesync android --emulator --watch` and had the application refresh with the newly updated code as expected; however, it will randomly stop updating. I will `Ctrl

[2016-06-23 06:40] enchev commented on #1872
Hey @brandon-thimmesch,

Can you post more info about {N} CLI version?

[2016-06-23 08:45] vchimev commented on #1862
Hi All,

This was an issue with a dependency of {N} CLI which affected the work with iOS Simulator with new CLI installations in the last few days.

It was fixed on Tuesday. If anyone still gets `Error: [object Object] is not a future ` can reinstall: *npm install -g nativescript*.

[2016-06-23 14:32] brandon-thimmesch commented on #1872
Oh - my bad, forgot to include that. I am working with v 2.0.1

[2016-06-23 18:23] sitefinitysteve commented on #888
Exception I suppose being the @mikebranstein one http://nsimage.brosteins.com/Home/UploadIcon

[2016-06-24 02:06] mikebranstein commented on #888
The correct URL for my icon generator is http://nsimage.brosteins.com. If you run into any problems, let me know. @ChrisFlannagan

If you've got suggestions on improvements, please drop me a line.

[2016-06-24 04:00] toddanglin commented on #1118
Revisiting this...

Since NativeScript is really created for the JS dev (versus the "native developers"), I think it feels more intuitive to control these _basic_ app configuration values in the `package.json`. As Steve said, I like the _option_ of setting the value in one place to manage all of my target platforms (could be more than iOS/Android in the future).

Steve's proposal for version numbe

[2016-06-24 04:03] nikhiljha commented on #1636
Yup, same problem.

Workaround gives some error about tns-karma.

[2016-06-24 12:21] winnemucca commented on #1767
@enchev

Following the starter guide to get set up https://docs.nativescript.org/start/ns-setup-os-x.

After running through everything with node 6.2.1  I am getting the following errors  when I run **tns run ios --emulator**.    All I have inserted at this point was a console.log to see how things are connected.

[code]

[2016-06-24 13:38] enchev commented on #1767
Hey @winnemucca,

Are you using the CLI from our master branch or this is the official from NPM?

[2016-06-24 13:39] robertonic commented on #371
The app I'm currently writing takes at least 7 seconds before anything is shown on a Nexus 7.  This is too slow.  This isn't a release build.

I'm using Nativescript 2 + Angular + Typescript.

[2016-06-24 13:52] enchev commented on #1872
Hey @dtopuzov @vchimev @SvetoslavTsenov can you confirm this?

[2016-06-24 14:23] winnemucca commented on #1767
@enchev Using the CLI.

[2016-06-24 14:53] inuwas commented on #1000
The developers of Nativescript need to improve their documentation. TNS emulate deletes files permanently. I had a project almost completed in Xcode and decided to use the command line and without a warning tns emulate deleted all my work. The installation is a nightmare, there are no instructions on how to use to use virtualbox or what that useless genymotion does. Genymotion won't start, only Go

[2016-06-24 17:54] ignaciolarranaga commented on #1417
Guys, seems there is some problem when the nativescript.is is not in the form: org.nativescript.XXX.
When named differently the project name in settings.gradle says __PROJECT_NAME__

[2016-06-24 19:00] sfabriece commented on #1646
Sorry, I haven't with nativescript for a while. I'll let you know when i do.

[2016-06-24 19:55] jwuliger commented on #1417
I have been trying to build an app for hours now lol. Having the same problem. I a new to NativeScript (Coming Crapdova... oh I mean Cordova!).

So all I need to do is change my project name in "/platforms/android/settings.gradle"?

[2016-06-24 20:46] brandon-thimmesch commented on #1872
Okay - It seems that uninstalling the app from the device, then closing and reopening the command line works as well. Restarting the computer isn't necessary, but I'm still having the livesync lose the ability to update the application with current code, even after `Ctrl-C` and re-running the command. I've run `tns doctor`, and everything is installed and running correctly.

Thanks again for the h

[2016-06-25 09:34] kazemihabib commented on #371
I have the same problem
I'm using Nativescript 2 + Angular + Typescript.

[2016-06-25 16:00] yadinesh commented on #363
I am able to launch the emulator on Windows 7 using the command **tns run android --emulator --avd Nexus_5_API_21_x86** but my app is not appearing on the emulator. Please suggest.

[2016-06-25 17:53] papiahs commented on #1623
Hi, I have the same problem, I follow steps for de guide (https://www.npmjs.com/package/nativescript#install-the-nativescript-cli) but I cannot execute tons.

Someone can execute nativescript on OS X Capitan?

[2016-06-27 07:41] enchev commented on #1767
Hey @winnemucca,

That's for sure however is it from the official package in [www.npmjs.org](https://www.npmjs.com/package/nativescript) or our [master branch in GitHub](https://github.com/NativeScript/nativescript-cli/)? :)

[2016-06-27 07:43] blagoev opened #1880 "CLI list plugins command"
Currently there is "no way" to know which plugins are installed. (correct me if I am wrong)

We need tns plugins list command especially since tns plugin remove needs a plugin name

[2016-06-27 07:46] blagoev opened #1881 "Plugin add command should uninstall the plugin first"
Getting this error when trying to install a new version of tns core modules widgets. The problem is that instead of telling me I have this already and suggest to uninstall it the command tries to reinstall the plugin over the other. This I guess causes peerDependencies failure. In general this peerDependencies error is very undescriptive.

c:\Work\nativescript\sample-Groceries>c:\Work\nativescript

[2016-06-27 08:15] rosen-vladimirov commented on #1880
You can use `tns plugin` command which prints the following output:
![nativescriptplugins](https://cloud.githubusercontent.com/assets/8351653/16372975/53e5ecda-3c58-11e6-874a-0f42bad4a738.png)

[2016-06-27 11:36] enchev commented on #1548
Hey @manijak ,

'--device' option is intended to work with already attached devices and cannot start a device using specified sdk. `--emulator` however should do this and I can confirm that `--sdk` flag is not working as expected. We will do our best to fix it immediately!

[2016-06-27 11:59] blagoev commented on #1880
thats not how most CLI work.. ie is not very obvious. still thanks.

[2016-06-27 12:00] blagoev commented on #1880
I still think we should have "tns plugin list" in order to be more on par with all other cli envrionments

[2016-06-27 12:02] blagoev commented on #1880
in my view "tns plugin" should do nothing just list the available options

tns plugin

list - info
add - info
remove - info

[2016-06-27 12:36] pkoleva opened #1882 "Run/debug commands should not try to deploy on connected but not paired devices"
Steps to repro:
1. Connect an android device via USB but do not allow USB debugging
2. Execute tns run/debug command

Expected result: Emulator is started if no other paired device is running
Actual result: A message that deployment is successful appears, but the app is not actually deployed

[2016-06-27 12:38] #1620 closed

[2016-06-27 13:01] manijak commented on #1548
Hmmm... This is an old issue. I am currently using the `--sdk` flag when starting the emulator and it works fine :) After that I just run `tns livesync ios --watch` and all is good

[2016-06-27 13:44] tzraikov opened #1883 "Live sync recompiles the app every time in iOS when run first time"
1. tns create testapp
2. cd testapp
3. tns livesync ios --watch

[2016-06-27 13:49] winnemucca commented on #1767
It is from the master branch on github.

[2016-06-27 13:57] enchev commented on #1548
Hey @manijak,

You are right, my mistake. It seems however that we have regression with our current master branch for `run` and `emulate` commands with `--sdk` switch.

I'm closing the issue, we will handle this internally.

[2016-06-27 13:59] enchev commented on #1767
Hey @rosen-vladimirov can you comment here?

[2016-06-27 14:09] a22munir opened #1885 "Uninstalled Node 6.2.2 but still can't get NativeScript working"
Hi all, I'm trying to get started with NativeScript but I keep on running into errors. I originally had the unsupported version of Node on my computer but I uninstalled it and installed a supported version. This let me install chocolatey, Java, Android SDK and whatever else it installs when you run it.

When I do node -v it gives me back v 4.4.6 and I can't find any reference of the later version

[2016-06-27 14:21] jwuliger commented on #1872
Hello I am having the same issue. I am working on an Android app on Windows 10 with v2.0.1 using TypeScript.

With the Watch flag enabled, it does close and restart the app on the AVD emulator I am using. The changes I make just do not show up.

The process of uninstalling the app from the emulator, closing the cmd and re-running `tns livesync android --emulator --watch` works for a short period o

[2016-06-28 00:27] brendalynharper34 commented on #1623
@papiahs I added this to my $PATH:  `/usr/local/nativescript/bin:`
That points to the tns executable. After you include that in your $PATH, you should be able to execute the tns commands

[2016-06-28 01:55] DocGreenRob commented on #1564
I am having the same issue.  Here is a screenshot of my environment variables. (see below)

![env_vars](https://cloud.githubusercontent.com/assets/7489324/16401330/0e81150e-3ca1-11e6-935f-594b81d40b22.PNG)

The error message is:

Unable to find "android.bat" executable file. Make sure you have set ANDROID_HOME environment variable correctly.
WARNING: The Android SDK is not installed or is not conf

[2016-06-28 03:06] a22munir commented on #1885
Anybody?

[2016-06-28 08:43] NickIliev commented on #1885
Hey @a22munir

From your log error, it seems that your app is still referring to Node.js 6.2.2.
So to ensure you have completly unistalled your Node.js follow this steps:

1.) Uninstall Node.js and restart
2.) Look for this folders and remove them,
 - C:\Program Files (x86)\Nodejs
 - C:\Program Files\Nodejs
 - C:\Users\{User}\AppData\Roaming\npm (or %appdata%\npm)
 - C:\Users\{User}\AppData\Roamin

[2016-06-28 11:09] alisomay commented on #1862
I still cant fix this error in any ways
i reinstalled  cleared npm cache installed, did all these couple of times.
I have node v 4.4.6 installed with nvm and the latest version of npm and native script
I still get the [object Object] is not a future error
I searched a lot in the internet, cant get over this.
Help will be really appriciated.

[2016-06-28 11:10] alisomay commented on #1862
tns livesync ios --emulator --watch

   gives me

Project successfully prepared
[object Object] is not a future
# livesync

[2016-06-28 12:19] ginev opened #1887 "Make 'tns doctor' report incompatible Java versions"
_From @ginev on June 28, 2016 11:35_

If an incompatible Java version is present on the machine the Gradle build fails with the following error:

Exception in thread "main" java.lang.UnsupportedClassVersionError: com/ig/GetInterfaceNames : Unsupported major.minor version 52.0
    at java.lang.ClassLoader.defineClass1(Native Method)
    at java.lang.ClassLoader.defineClass(ClassLoader.java:800)

[2016-06-28 13:16] a22munir commented on #1885
Hello, thanks for your help! So, if the new version will come out in a couple days would it not be easier to just wait for that and then I would just have to install the new version of NativeScript. I am in no particular rush.

[2016-06-28 14:52] rosen-vladimirov commented on #1887
This is already implemented and the validation will check if Java 1.8 is installed. This will be included in 2.1.0 release of NativeScript CLI.

[2016-06-28 14:55] #1887 closed

[2016-06-28 15:11] alisomay commented on #1862
i uninstalled four times in a row and installed four times then it got fixed.
Quite interesting.
No problem anymore, sorry to keep the thread busy.

[2016-06-28 15:38] vchimev commented on #1872
Thanks for the report, @brandon-thimmesch and @jwuliger!

Could you please elaborate more on:
- what devices: model, API level
- what emulators: android SDK emulator, Genymotion, others

do you experience this problem?
Also:

- do you experience problems to sync only `js` files?
- do `xml` and `css` files sync successfully?

After what period of time approximately the `livesync` command stops to s

[2016-06-28 16:07] brandon-thimmesch commented on #1872
@vchimev Absolutely, it seems to occur more often when using an emulator. Here are my details:

Devices:

 Android Version: 5.0.1
 API level: 21

 CPU/ABI: Intel Atom (x86)
 RAM: 768
 VM Heap: 32
 SD Card size: 200M
 API level: 24

Sync only appears to occur when `js` files are saved. No changes are applied for `xml` and `css` files when saved.

The cessation of `livesync` functionality appears to

[2016-06-29 00:17] russellharrower opened #1888 "tns doctor wont run"
I am wondering after following your easy set up guide why, tns doctor will not run on Mac OS X 10.11.5 the error I get is tns: command not found

[2016-06-29 04:41] #1885 closed

[2016-06-29 04:43] enchev commented on #1888
Hey @russellharrower,

Do you get any errors? What's your NativeScript CLI version?

[2016-06-29 09:25] smuellerus commented on #1081
I need to delete the directory, as suggested, but I cannot access /data/local... does the device need to be rooted to do so?

[2016-06-29 12:32] dtopuzov commented on #1835
It might happen when /var/folders is too big. Can you try to clean up all folders inside /var/folder (do not delete /var/folder itself because it might damage your OS) and run "tns doctor" again.

[2016-06-29 13:14] dtopuzov commented on #1835
Issue is valid, we have just reproduced it.

[2016-06-29 15:19] yogeshwar607 commented on #1835
solved the issue by cleaning /var/folders.
Thanks for efforts

[2016-06-29 15:35] russellharrower commented on #1888
I am starting fresh, following the instructions on the readme.md

[2016-06-29 18:51] rosen-vladimirov commented on #1888
Hey @russellharrower ,
You can try following the instructions [here](http://docs.nativescript.org/start/quick-setup). Please note the ruby script will not install Node.js and NativeScript CLI on your machine. So I have a couple of questions that may help us find the problem:
* Did you install Node.js?
* Did you execute `npm install -g nativescript`?

In case you have installed both Node.js and nat

[2016-06-30 06:25] gabouh commented on #1488
Hi @abhisekgithub , like an alternative I try:
tns run android --geny "Custom Phone"livesync --watch
and it worked.

[2016-06-30 08:36] dtopuzov commented on #1835
Another thing that might cause the same problem is cocoa pod installations.
If cleanup /var/folders does not help you can try:
[code]

[2016-06-30 08:36] #1835 closed

[2016-06-30 09:27] NickIliev commented on #1885
@a22munir  NaativeScript 2.1 is now released and the support for Node.js 6.2.2 is here.

[2016-06-30 11:02] #1883 closed

[2016-06-30 11:02] #1810 closed

[2016-06-30 11:02] #1725 closed

[2016-06-30 11:59] enchev commented on #1872
Hey @brandon-thimmesch,

We've just released our 2.1.0 release. Please try it and let us know if you still have problems!

[2016-06-30 12:40] jwuliger commented on #1872
Sorry I missed the notification on this! 2.1.0 is exciting! I will install now to see if that changes anything. Just a quick note here also. When developing on my Apple, livesync had no issues at all. OK going to try this new version out!

[2016-06-30 13:00] VladimirAmiorkov commented on #1816
I noticed that starting the project via the build xcode project is another way to workaround this inconvenience atm.  Do the following:

In the terminal execute `tns prepare ios` then go to `platforms/ios`, open the **.xcodeproj** and run its as normally you would in xcode.

Its a slower way to run but it deploys 100% of the time.

[2016-06-30 13:44] blagoev commented on #1763
After short discussion we decided to close this. The --emulator option will be depreciated soon and visual studio code {N} extension will have "Launch on Android" option only. This will start the app on the SINGLE available emulator or device or will fail if multiple devices are present.  There is always an option to specify the target device using tnsArgs in launch.json file when multiple devices

[2016-06-30 13:44] #1763 closed

[2016-06-30 13:52] enchev commented on #1476
Hey @blagoev,

What if we change the message to `Your application will work only on the device specified by the provided index or identifier.`?

Hey @rosen-vladimirov what do you think?

[2016-06-30 15:19] brandon-thimmesch commented on #1872
Hey @enchev

I have updated to 2.1.0 and appear to still be having the issue with the application not updating.
I am still needing to delete the app from my phone and reinstall to see the changes made to the code.

[2016-06-30 15:24] jwuliger commented on #1872
Hello, I have also updated everything but now I am having trouble getting my app to run/build at all.

[2016-06-30 15:26] rosen-vladimirov commented on #1872
@brandon-thimmesch is there any chance that you have `app.gradle` in your `app/App_Resources/Android` directory and there's your id in it? I had similar issue when I've added my app identifier in the app.gradle and changed it later in my package.json only.

[2016-06-30 15:44] brandon-thimmesch commented on #1872
@rosen-vladimirov  `app.gradle` is in `app/App_Resources/Android`; however, I opened it and this was all it contained:
[code]
I am fairly new to mobile development, so I am not yet experienced with troubleshooting some of the issues which might be common. Would my id be within this file?

Thanks!

[2016-07-01 06:16] joanlopez opened #1893 "BUILD SUCCESSFUL but nothing happens"
[out.txt](https://github.com/NativeScript/nativescript-cli/files/342919/out.txt)
[out2.txt](https://github.com/NativeScript/nativescript-cli/files/342918/out2.txt)

I'm trying to run the hello world app with Typescript but I can't..

I've tried with the hello-world without Typescript and with Groceries and both works.

What are happening? Thanks :)

[2016-07-01 06:22] pep108 opened #1894 "tns run ios --emulator fails with "Class.getClass cannot identify the unidentified class: <Buffer@0x0 > pointer: 0""
This error seems to be undocumented. I've tried uninstalling NativeScript and reinstalling, updating config and still having the same problem. Running the ios emulator was working fine until I upgraded tns-core-modules.

Running:
OSX 10.10.2
xcode v6.3.1
node v5.6.0
nativescript @2.1.0
tns-core-modules @2.1.1
tns-ios @2.1.0

Any help is greatly appreciated. The best I am able to trace this down ri

[2016-07-01 06:26] enchev commented on #1894
Hey @jasssonpet,

Do you know if this is something related to the iOS runtime?

[2016-07-01 06:33] enchev commented on #1893
Hey @joanlopez,

Can you post more info about the NativeScript and TypeScript versions?

[2016-07-01 06:50] joanlopez commented on #1893
Nativescript@latest: 2.0.1
Typescript: 1.8.10

I'm getting started with Nativescript so I think that all version are the most recent.

Thanks!

[2016-07-01 07:14] pep108 commented on #1894
I'm not sure, but it is very possible. The problem surfaced sometime after I came across the ios-runtime package and installed cmake31, automake and libtool because the iOS emulator was booting up, but was failing with livesync.

The ios-runtime requirements do indicate that my OS and Xcode versions are not supported. I'm in the middle a back up before updating to El Capitan and Xcode 7.3.1. Will

[2016-07-01 07:31] blagoev commented on #1476
I am for just removing this message. It even does not show the selected device identifier ((we have the selected device in this._device)). It is not  useful imo.

This message tries to anticipate a user confusion about something which I think is not the case.

It is even too long - nobody will read it.
A better message will be
**Target device: emulator-5554** or something like that.

[2016-07-01 08:00] enchev commented on #1476
Thanks @blagoev, I like that as well! Hey @rosen-vladimirov, what do you think?

[2016-07-01 08:28] Milewski opened #1896 "After Updating to 2.1.0 .... everything got broken..."
# On android

mysteriously i started to get this error when playing videos:

[code]

on calling this simple script

[code]

# on iOS....

Some Layout are broken...

[code]
### before updating
![before](https://cloud.githubusercontent.com/assets/2874967/16516020/06bb3f2a-3fa8-11e6-8b63-d1f2d19658bd.png)

### after
![after](https://cloud.githubusercontent.com/assets/2874967/16515889/43a29128-3fa7-11

[2016-07-01 10:16] Milewski commented on #1896
moved [1896](https://github.com/NativeScript/nativescript-cli/issues/1896)

[2016-07-01 11:48] #1896 closed

[2016-07-01 12:12] dtopuzov commented on #1548
Fails again (even with {N} 2.1.0 official release):

tns livesync ios --emulator --device 'iPhone 6s' --sdk 9.2 --watch --path TestApp
=>
Cannot resolve the specified connected device by the provided index or identifier. To list currently connected devices and verify that the specified index or identifier exists, run 'tns device'.

instruments -s | grep 'iPhone 6s'
=>
iPhone 6s (9.2) [93C3DCED-E23

[2016-07-01 13:33] hshristov opened #1897 "Move verifying CocoaPods step from npm install to tns plugin install"
There is no need to wait for this step if you don't have pods in your project.
Also the check could probably be improved - now it downloads the latest official runtime and try to build it. I think there should be faster check.

[2016-07-01 13:35] dtopuzov commented on #1897
Not sure where you will move it, but after installation we should run doctor and doctor should run Cocoa Pod verification (if OS is OSX).

[2016-07-01 13:46] hshristov commented on #1897
@dtopuzov `tns plugin install` sounds way more appropriate to me. I don't want to wait for checks that are not needed in my project. If `tns doctor` is fast enough - OK if it does the same slow check for `Verifying CocoaPods` I don't want it after `npm install -g nativescript`.

[2016-07-01 14:55] robertonic commented on #371
Is startup time for Android going to be improved in future releases?  Currently I think it's so slow that  NativeScript is close to unusable on Android.

[2016-07-01 18:31] rbreaves commented on #1863
Ah, it may be something on the OS level then. The prompt I am referring too is a prompt given by OSX outside the terminal window. Not sure if there is a way to suppress that completely, but it would probably avoid the confusion. I followed the UI prompt that occurs outside of the terminal window vs what the text said in the terminal.

[2016-07-01 19:51] Alexisvt commented on #1893
Did you initialized your project to use typescript?
This is an example of how you can do it, `projectname` part will be the name of your project
[code]
that will install all the needed packages to run nativescript using typescript
If you did it, please run `tns doctor` to check any missing part. I noticed that you are using an old version of nativescript, try to update it using:
[code]

[2016-07-01 20:03] Alexisvt commented on #1872
@jwuliger try to delete the platform template using the command for example, if you want to delete the Android folder you need to:
[code]
then run:
[code]
those commands will do the job, after that you can run livesync. The new version of nativescript cli will inform if he didn't refresh something or not in those cases you need to build first and then run livesync

[2016-07-01 23:29] heavymery commented on #1816
I had same issue. `tns run ios --emulator` fail with `Service exited due to signal: Killed: 9` error.

But `tns livesync ios --emulator --watch` works for me. Can you guys try this command?

[2016-07-02 01:14] pep108 commented on #1894
UPDATE -
Upgraded to El Capitan, installed Xcode 7.3.1 and everything is back to working, including livesync

[2016-07-02 01:14] #1894 closed

[2016-07-02 01:16] jwuliger commented on #1872
@Alexisvt Hello, thanks for the response! I found that the reason I was not able to build my app was a plugin that needed to be updated. My app now run and builds fine. As far as livesync is concerned, making any changes to an xml file or a css file does not update the changes in the AVD emulator. This is using the command: `tns livesync --emulator --watch` The problem is no different on the actua

[2016-07-02 08:38] Voakie opened #1898 "console.log(); not working when using over USB (Windows 10 | Android)"
Hello,

it seems like when I'm testing an app over USB on my Android device, the log statements won't show up. Plus my computer doesn't support the emulator (yay) so I'm stuck to the USB method.

I looked everywhere but didn't seem to find a solution. Thanks in advance!
(Tried both `tns run android` and `tns livesync android --watch`)

[2016-07-02 18:45] Bohmaster commented on #1810
start.livesync.android "Unable to sync files. Error is: EISDIR: illegal operation on a directory, read"

I'm getting this error EVERY time a file changes.

[2016-07-02 21:52] m-abs commented on #1810
**start.livescript.android** is a task in angular2-seed-advanced that runs "tns livesync android --emulator --watch"

I'm experiencing the same problem as @Bohmaster does, I'm on Linux (Ubuntu and Fedora) but I'm still on tns v2.0.1 (v2.1 breaks something in angular2-seed-advanced for me).

[2016-07-03 02:46] Alexisvt commented on #1872
@jwuliger There are indeed some stuff that can't be update it when you use `livesync` the new version of nativescript cli (v 2.1) add a warning telling you what changes can not be update it. The workaround is to stop livesync then call tns build android/ios then call livesync to see the changes. If you want to read more about it please follow this [link](https://github.com/NativeScript/nativescrip

[2016-07-03 05:13] jwuliger commented on #1872
I agree with you that there are items that cannot be updated. I am speaking about layout xml and CSS files. Using CLI 2.1 on my iMac the very same files that do not change on my PC/Android do change effortlessly and without problem in any iOS Sim and devices. The same file in the same app on the same CLI version behaves differently. Even with the latest hello world starter. One thing I should try

[2016-07-03 06:16] Bohmaster commented on #1872
Could be related to this? https://github.com/NativeScript/nativescript-cli/issues/1810

I've tried on Windows and Ubuntu and have the same result.

[2016-07-03 06:18] Bohmaster commented on #1810
I've tried on Windows and have had the same result.

[2016-07-03 07:43] Bohmaster commented on #1810
I leave here the output of:

[log.txt](https://github.com/NativeScript/nativescript-cli/files/344921/log.txt)

@tsonevn

[2016-07-03 16:11] pess0a commented on #1872
Same problem here. just sync .js files. xml and css logs said that was updated but it doesn't. need to close app and open it again. don't need to build again.

[2016-07-03 18:50] moraskillermo opened #1899 "Invalid APK / NativeScriptActivity does not exist."
`/data/local/tmp/testapp-debug.apk\r\r\nFailure [INSTALL_FAILED_INVALID_APK]\r\r\n',
  stderr: '',
  exitCode: 0 }
Successfully deployed on device with identifier '1514b4ce'.
spawn: C:\Users\Guillermo\ADT\adt-bundle-windows-x86_64-20140702\sdk\platform-tools\adb "-s" "1514b4ce" "shell" "am" "start" "-a" "android.intent.action.MAIN" "-n" "org.nativescript.testapp/com.tns.NativeScriptActivity" "-c"

[2016-07-03 21:06] jwuliger commented on #1872
@Bohmaster that issues looks very similar. In my case I am just using Typescript and not NG2.

[2016-07-03 21:11] Bohmaster commented on #1872
@jwuliger

Here I have the --log trace output. I think here must be the error

[log.txt](https://github.com/NativeScript/nativescript-cli/files/345301/log.txt)

This is an excerpt of what I suspect there is something wrong:

[code]

[2016-07-03 21:15] Bohmaster commented on #1872
I know several people having this issue and is stopping us from developing with smooth and ease applications in nativescript.

Please someone help us! I love nativescript but I cant run "tns livesync" everytime I make a change in some ts/js file.

[2016-07-03 21:37] jwuliger commented on #1872
I am going to have to take a look at my log and post it here. @Bohmaster you are right man. NatvieScript is amazing and has so much potential. The Livesync issue is the main problem that stands out. I just don't know why it works perfectly on the Mac lol. I am coming from developing apps on Cordova/Ionic. The only good thing about working with the WebView was you could see everything as you were d

[2016-07-03 21:42] Bohmaster commented on #1872
@jwuliger Of course! It's a shame... I would love to contribute and develop intensivlly but this is bringing me down. I've tried both on Ubuntu and Windows systems and have had the same exact problem (EISDIR).

I'm using this repo as a seed: https://github.com/NathanWalker/angular2-seed-advanced. It's great and includes some cool libraries (ng/rx) and features.

@m-abs

[2016-07-04 06:40] Bohmaster opened #1900 "livesync EISDIR error when changing ".ts" file."
I've opened this issue because some people have had very similar problems regarding livesync in an android development (the seed repo I'm using brings Angular2 and Typescript to the scene).

The build and emulation process works fine (Tested on Ubuntu 14.04 and Windows 7 with the same result). Whenever I make a change or add a file, all the watchers and tasks are working fine. If I touch an "html"

[2016-07-04 06:59] dtopuzov commented on #1899
@moraskillermo please provide more details.
{N} CLI version
Android platform version
tns-core-modules version
App type -> js, ts, angular
Exact steps to reproduce

[2016-07-04 08:25] moraskillermo commented on #1899
NativeScript version: 2.0.1
Android platform version: 19

Steps to reproduce:
tns create testapp
tns run android

[2016-07-04 10:26] theluk commented on #1899
same here

{N} cli 2.0.1
Android Api 19
tns-core-modules version: 2.1.0

steps.
tns create my-app-name --ng
tns run android --log trace

/data/local/tmp/client-debug.apk\r\n[100%] /data/local/tmp/client-debug.apk\r\nWARNING: linker: libdvm.so has text relocations. This is wasting memory and is a security risk. Please fix.\r\r\n\tpkg: /data/local/tmp/client-debug.apk\r\r\nFailure [INSTALL_FAILED_IN

[2016-07-04 10:44] theluk commented on #1899
an update from {N} cli 2.0.1 to 2.1.0 AND a complete new `tns create ...` fixed the issue for me

[2016-07-04 11:56] thakurarun commented on #1893
i got same issue and notice few things while testing on device
1. after successful build my device go offline.
2. my device has android 5.1 version which is compatible with max. sdk 22.
3. i notice in my AndroidManifest.xml file it is android:targetSdkVersion="23" which may be incompatible.

also all issues comes up after node upgrade to 5.1.0 and nativescript to 2.1.0

[2016-07-04 14:23] robertonic commented on #371
Just rebuilt my app using Nativescript but not using Angular 2. Startup is now much faster and acceptable. (~3 seconds).  The slow factor seems to have been Angular 2.

[2016-07-04 21:04] m-abs commented on #1900
I'm experiencing the same problem with the angular2-seed-advanced, but on Linux.

From my log:
[code]

In the angular2-seed-advanced, the folders nativescript/app/app and nativescript/app/assets are symlinks to src/client/app and src/client/assets. "nativescript" being the base/root-folder for the nativescript part of the project.
I tried to use "mount -o bind src/client/app nativescript/app/app &

[2016-07-05 06:19] dtopuzov commented on #1899
Yes, we have some significant changes that might cause such issues if you use tns-core-modules@2.1.0 with tns-android@2.0.0 and nativescript@2.0.0.
We can confirm it is ok if everything is 2.0.* or everything is 2.1.*

[2016-07-05 06:19] #1899 closed

[2016-07-05 06:22] dtopuzov commented on #1893
@thakurarun can you post package.json of your app. We have some known issues if you combine {N} CLI 2.1.* with tns-android@2.0.* and tns-core-modules@2.0.*

[2016-07-05 08:10] NickIliev commented on #1898
Hi @Voakie is your app deploying on your device!? If you have the sample project that you can share it will help us investigate your issue and give you instructions on how to handle it.
If you app is running on your USB connected device can you try logging a message before any other code is executed (for example in app.js before **_start_**)

As for you emulator issue - Are you trying to use the '

[2016-07-05 09:50] Voakie commented on #1898
Right, my fault. I included the console.log command inside a function taht i didnt even call...

Thanks!

[2016-07-05 09:50] #1898 closed

[2016-07-05 15:52] thakurarun commented on #1893
here is my current json package:
[code]

[2016-07-06 11:27] NickIliev opened #1904 "ERROR Provide a valid path to the desired application bundle.(with Device and Simulator running)"
Steps to reproduce:
attach a real device and start iOS simulator **simultaneously**.
run either
[code]
or
[code]

will throw the following

[code]

[2016-07-06 12:23] slavchev commented on #1802
The issue is with all "zip" file formats as `aapt` will treat these files as a "file system". In short, `aapt` will "attach" such file system and read the resources from there. In common scenarios like a module with `mylib.js` and `mylib.js.gz` which contains the former `aapt` will fail.

Additionally, the problem is somewhat obscure as `tns --log trace` will not help diagnosing it. Running `gradl

[2016-07-06 13:56] harlankoehn commented on #1893
I'm having the same issue. I'm using the standard Android-SDK Emulator on Windows 7 with Android version 5.1.1. This issue just started for me in the last day and I'm not aware that I updated by NativeScript version, but maybe it got updated automatically after cloning a new project?

In looking into the issue, I can see that the .apk file actually gets pushed to my Emulator/Virtual Device. But th

[2016-07-06 16:37] xuezier opened #1905 "can I add a jar package to my android project?"
some times,I need use some third libaries to my android project. like wechat payment need a jar packege provided by them.
how can I add this jar package to my project?

[2016-07-06 21:20] NathanaelA opened #1906 "Enhancement: TNS Doctor Android tools detection"
Apparently TNS Doctor is unaware that you need Build tools v23.0.3 when doing Android projects.  If you upgrade from 2.0 (or earlier) you may not already have the 23.0.3 build tools and so TNS will fail to build application with some really weird errors...

Can we make sure that tns doctor tests to verify all the components for android that are needed are present?

[2016-07-07 01:52] caleb0 opened #1907 "Livesync .xml .css and .js files not reloading"
Hello,

I'm having some trouble getting Livesync to work consistently.
It will only update on the device the first time it is saved/changed, and the following changes are not updated. **Not even if javascript is saved and the app is reloaded, does the xml changes display.**

However, I know that it's actually saving because if I stop livesync and just "_tns run android_", all the changes are there

[2016-07-07 04:06] Daxito commented on #1906
+1

[2016-07-07 09:07] vanka78bg opened #1908 "Debugging on iOS cannot find application"
Steps to reproduce:
[code]
With the last command CLI builds, deploys, starts the app on the device and tries to attach the debugger. The problem is that it cannot find a debuggable app on the device, even though the app is up and running. Here is the error message that occurs in the output:
[code]
However the following commands work:
[code]
It seems that deploying manually and attaching the debugg

[2016-07-07 10:20] NickIliev commented on #1907
Issue confirmed under Android with N 2.1.1
Steps to reproduce
[code]

Then make some changes in **xml** or **css** file.
The app will reload with success message but
will not load changes occasionally.

[code]

sample project here : [https://github.com/NickIliev/NativeScript-issues/tree/master/NativeScript-CLI/issue_1907](https://github.com/NickIliev/NativeScript-issues/tree/master/NativeScript-CL

[2016-07-07 12:50] tsonevn opened #1909 "`tns run android --emulator` deploy to device"
1. **First case**: In case you call `tns run android --emulator` and there is no running emulator the app will be deployed on the device.
2. **Second case**: Another scenario is when you start emulator manually and you have connected device, `tns run android --emulator` will deploy to both: device and emulator. The problem could be reproduced on Mac and Windows.

The problem could be recreated wit

[2016-07-07 13:29] NickIliev commented on #1908
Hi @vanka78bg

I have followed your exact steps but was **not** able to reproduce this behaviour.(tne NativeScript inspector is up and running, the app is up and running, you can debug it)
Can you give us more details on your environment settings. (version of NativeScript)

[2016-07-08 07:11] joanlopez commented on #1893
The `tns doctor` only shows the Nativscript update, nothing else.

I've updated nativescript to the latest version but anything happens.

I've tried creating a project with `tns create projectname --template typescript` and it works.

The project that doesn't work was created with the `tns create projectname --ng` as explained in the docs.

Which is the right command to create an empty project wit

[2016-07-08 07:56] dtopuzov opened #1912 ""tns device run <bundle> --device <device>" noes no work"
tns device run org.nativescript.TNSApp --device YT91194WVS
=> unable to resolve projectConstants

[2016-07-08 08:47] slavchev opened #1913 "Improve diagnostics"
To debug Android builds it is required to set different `gradle` flags. Currently the `tns` command does not support parameter forwarding. We can provide a general `tns` option for that purpose. For example

[code]

[2016-07-08 10:56] dtopuzov commented on #1905
It can be done via packaging jar into plugin.
How to create a plugin: https://docs.nativescript.org/plugins/plugins#create-a-plugin

[2016-07-08 10:56] #1905 closed

[2016-07-08 12:53] dtopuzov opened #1915 "tns run ios freeze on launch screen"
Sometime (at least 2-3 of 10 attempts) tns run ios freeze at launch screen.
This is annoying and block the CI and tests because results are unreliable.

Reproducible only on real devices.

Console log from device:

[code]

[2016-07-08 12:54] dtopuzov commented on #1915
{N} 2.1
Xcode 7.3.1
iOS 9.3.2 (real device)

[2016-07-08 19:19] alexziskind1 opened #1916 "NativeScript debugger encountered Error Domain=NSPOSIXErrorDomain Code=48 "Address already in use"."
I get this error when trying to start debugging using the iOS emulator:

NativeScript debugger encountered Error Domain=NSPOSIXErrorDomain Code=48 "Address already in use".

Versions:
El Capitan 10.11.5
XCode 7.3.1
NativeScript 2.1.1

What else can I get you?
Thanks,
Alex

[2016-07-10 09:42] everflux commented on #521
I assume the reason for this is as follows:
On Ubuntu you install nativescript as root in order to install it globally
```sudo npm install -g nativescript```
During the setup the nativescript installer creates a config file when asking for permission to send usage data to telerik. This file and correspondin directory is created still as super user.
Therefore when creating a new project - as a regu

[2016-07-10 17:47] subhamdas88 opened #1917 ""tns platform add android" command is not working"
$ tns platform add android
Copying template files...
ENOENT: no such file or directory, scandir 'D:\Projects\nativejs\demo1\platforms\android\src\main\res'

[2016-07-10 18:24] everflux commented on #1872
I have the same problem with the basic scaffold application (TAP button demo with JavaScript, not Angular 2). I am using nativescript 2.1.1, android sdk 25.1.7, platform sdk 24, build tools 23.0.3 android api 24
The system is Ubuntu Gnome 16.04
I change the main-page.xml (f.e. change button text) and it is applied immediately (no application restart, which is great) on the first change. All change

[2016-07-10 19:29] Anilinfo2015 commented on #173
I have faced this issue whole week, now i am regret to choose nativescript.

[2016-07-11 06:03] Anilinfo2015 commented on #1740
Facing same problem , from last two week. no solution so far.

NativeScript log manager are very bad doesn't tell you where the problem. only give higher level of errors.

[2016-07-11 06:08] Anilinfo2015 commented on #1917
Can you please try running  $ tns doctor
I faced same or more dangerous issue like this with nativescript and these commands were very slow.
It took me two week to do the same.

Try to delete platforms/ folder from project root and try again if tns doctor said no issue.

[2016-07-11 07:42] enchev commented on #1916
Hey @alexziskind1,

Do you get this error every time when you run the debugger?

Hey @vchimev @dtopuzov @SvetoslavTsenov can you confirm this?

[2016-07-11 07:45] #1908 closed

[2016-07-11 08:26] jasssonpet commented on #489
Further things to research:
* HotReload (https://github.com/webpack/docs/wiki/hot-module-replacement-with-webpack)
* Debugger integration (including TypeScript and source maps)
* Packing and requiring other resources (XML, CSS) from within the bundle
* LiveSync - how will it work with the bundle
* Encryption - verify the plugin works with the bundler
* Android snapshot - how will it work with the

[2016-07-11 08:43] vanka78bg commented on #1908
@NickIliev Glad you have closed this without even contacting me. :smile: Please, test on a real device, not just in the emulator. Tested with iOS 8.1 tablet - reproducible 100% of the time. Here is a short video, demonstrating what happens: https://drive.google.com/file/d/0B1k8WYiUfYQ8V3FJc2FKem0zazg/view?usp=sharing

[2016-07-11 09:48] Anilinfo2015 commented on #288
Same problem me facing.

:config phase:  createDefaultIncludeFiles

:config phase:  copyAarDependencies

:config phase:  addAarDependencies
        +adding dependency: C:\1Projects\NS Web\workstation\ns-mobile\platforms\
android\libs\aar\widgets-release.aar
:deleteMetadata
:deleteFlavors
:clean UP-TO-DATE

BUILD SUCCESSFUL

Total time: 23.072 secs
Error: read ECONNRESET
    at exports._errnoExcept

[2016-07-11 09:55] Anilinfo2015 opened #1919 "project build successfully, but nothing happen"
I am trying to run

$tns run android --emulator

Project build successfully. but nothing happen.

It successfully started emulator also but then i get this message

[code]

[2016-07-11 10:00] enchev commented on #1919
Hey @Anilinfo2015,

Any more info about your environment will be helpful.

[2016-07-11 10:53] NickIliev commented on #1919
Issue resolved after updating npm and NativeScript. (as logged [here](http://stackoverflow.com/questions/38303969/nativescript-project-build-successfully-but-nothing-happen?noredirect=1#comment64026428_38303969))

[2016-07-11 10:53] #1919 closed

[2016-07-11 12:44] alexziskind1 commented on #1916
@enchev - I got this error EVERY time I ran debug and whether I started the app in debugging or attached to it. This also happens on two of my Macs- a MacBookPro and an iMac. After I restarted the machine, the problem went away.

[2016-07-11 14:09] enchev commented on #1916
Hey @alexziskind1,

We believe that this was caused by the fact the both iOS and Android debuggers were using the same port. We resolved this recently here:
https://github.com/NativeScript/nativescript-cli/pull/1902

[2016-07-11 14:22] alexziskind1 commented on #1916
@enchev I hope that fixes it. However, I want to add that when I get this error, I am not running the android emulator, just the iOS simulator alone. Also, I haven't restarted my other machine (iMac) and still getting the error on that one. Let me know if there is some kind of trace or something I can do that can help diagnose.

[2016-07-11 15:24] Anilinfo2015 commented on #1919
Thanks guys.

[2016-07-11 17:39] kumanan12 commented on #1844
I am also getting the same issue.  I am running tns version 2.1.1.  Also updated Geny motion to 2.7.2. Killed the adb process.  Still no luck.  Any ideas.

![nativescript-issue](https://cloud.githubusercontent.com/assets/1306800/16740386/e1daa660-476c-11e6-9908-a7f80701e0a1.JPG)

[2016-07-11 21:05] jmoleiro commented on #1812
I get a simillar error on OSX and the cli version 2.1.1

``
Directories found in /Users/jmoleiro/Library/Android/sdk/build-tools are 21.1.2, 22.0.1
Versions found in /Users/jmoleiro/Library/Android/sdk/build-tools are 21.1.2, 22.0.1
Selected version is:  undefined
Selected targetSdk is: 22
Directories found in /Users/jmoleiro/Library/Android/sdk/extras/android/m2repository/com/android/support/appc

[2016-07-11 21:07] rosen-vladimirov commented on #1812
@jmoleiro the error on your side is:
[code]
You do not have Android SDK Build-tools 23 installed, please update your tools and try again.

[2016-07-11 21:11] jmoleiro commented on #1812
Yes, i read the thread before posting. There's no SDK v23. There's a 23.0.1, 23.0.2, 23.0.3, and i have those installed. But no 23

![screen shot 2016-07-11 at 6 18 38 pm](https://cloud.githubusercontent.com/assets/247449/16746848/b85b819e-4792-11e6-893a-a2356f0cf16f.png)
![screen shot 2016-07-11 at 6 18 22 pm](https://cloud.githubusercontent.com/assets/247449/16746849/b8789b08-4792-11e6-92f7-d3d3

[2016-07-11 21:13] rosen-vladimirov commented on #1812
@jmoleiro from the log you've sent I see:
[code]

Can you verify your ANDROID_HOME environment variable points to the directory from your last screenshot?

[2016-07-12 01:35] Alexisvt commented on #1893
According with [nativescript blog](https://www.nativescript.org/nativescript-is-how-you-build-native-mobile-apps-with-angular) is
[code]

[2016-07-12 05:37] enchev commented on #1916
Can you pull our master branch, use it instead the official CLI and let us know if you still have the same problems?

[2016-07-12 08:08] joanlopez commented on #1893
When I create with this command `tns create my-angular-app --ng`, it doesn't work.

Everything is fine with the other creation commands.

Thanks!

[2016-07-12 08:33] enchev commented on #1872
Hey @everflux @Bohmaster @jwuliger,

As far as I understand the issue is only related to XML files. Is that true? Can you try to change something in the CSS to see if subsequent changes will work?

Do you change something in the main screen of the app or you have navigation and you are changing some of the inner pages?

[2016-07-12 11:09] everflux commented on #1872
I had the same issue with CSS changes, even when the app is relaunched by the nts cli.
JS changes seem to be applied consistently.

[2016-07-12 11:14] jasssonpet commented on #489
Debugging issues:
* https://github.com/NativeScript/nativescript-vscode-extension/issues/55
* https://github.com/NativeScript/nativescript-vscode-extension/issues/56
* https://github.com/NativeScript/ios-runtime/issues/601
* https://github.com/NativeScript/nativescript-vscode-extension/issues/59

[2016-07-12 11:52] enchev commented on #1872
Hey @everflux,

Can you post the exact steps (from project creation) and/or send us your project to try it locally?

[2016-07-12 12:00] #1888 closed

[2016-07-12 12:07] everflux commented on #1872
I used the tns cli to create the app, when zipping it, it was about 70MB so I removed node_modules and platforms.
Creation was done using

[code]

[sample.zip](https://github.com/NativeScript/nativescript-cli/files/359250/sample.zip)

[2016-07-12 12:16] enchev commented on #1872
I've just tried your app however everything worked as expected on my end. All changes are synced and the app is refreshed not matter if this is first or subsequent change. Changes in JavaScript files are synced with app restart and changes in XML/CSS with page reload.

Here is my environment:
Windows 10 Pro 64-bit
Node 4.4.5
Android 6 API 23 x86-64bit

Can you share the full app with platforms and

[2016-07-12 12:57] yadinesh commented on #1488
Hi,
I used the following one simple command to emulate on Geny and it worked smoothly:
tns livesync android --geny "my device name" --watch
Hope it helped :)

[2016-07-12 13:12] yadinesh commented on #1872
Hi,
I am using Windows 7 64-bit, TNS version 2.1.1, Node 4.4.6 (always use Recommended for Most Users), Android 6 API 23x86-64bit and not facing any issue with standard livesync command except the emulation is very very slow.
So, I switched to Genymotion and I used the following one simple command to emulate on Geny and it worked smoothly:
tns livesync android --geny "my device name" --watch

[2016-07-12 13:13] dtopuzov opened #1920 ""tns debug ios" does not work"
tns debug ios:
[code]
The strange thing is that "tns debug ios --log trace" on the same project is ok

[2016-07-12 13:53] enchev commented on #1872
Hey @yadinesh,

You can use hardware accelerated emulators (HAXM) instead Genymotion.

@everflux Can you try `npm cache clean` and try again?

[2016-07-12 13:57] everflux commented on #1872
I am using Linux (Ubuntu), and not latest node, perhaps this makes a difference. I will try the cache clean. (Attaching he sample with platform/node_modules is not possible on github due to file size restriction.)

[2016-07-12 14:20] enchev commented on #1907
Merged with https://github.com/NativeScript/nativescript-cli/issues/1872

[2016-07-12 14:20] #1907 closed

[2016-07-12 14:25] enchev commented on #1872
Can you try Node 4.4.7 (latest recommended) if possible?