[2014-08-07 14:12] valentinstoychev opened #21 "3rd party libraries reference for ObjC"

[2014-08-08 14:34] ligaz opened #24 "`Deploy` command"
Implement deploy command for all platforms. It should deploy the built application on all connected devices or emulators\simulators.

If the `--device` option is specified it should deploy only to the connected devices.

If the `--emulator` option is specific it should deploy only to the target emulator. If there is no running emulator it should be launched and then deployed to.

[2014-08-08 14:58] ligaz opened #25 "Command `hooks`"
Implement before and after hooks for each command. Those should be scripts that will be loaded and executed before and after each command gets executed. We will need to have a set of default hooks and move our platform-specific files logic as such hook. Custom project hooks will live in the hooks folder of the project.

[2014-08-08 15:00] ErjanGavalji opened #26 "Missing platform|remove in platform help"
The `tns platform --help` command only displays the `list` and `add` subcommands. It should display the `remove` subcommand as well.

[2014-08-08 15:04] ligaz opened #27 "`platform update` command"
Implement `platform update` command which will update the given platform to the latest (or specified) version.

[2014-08-11 07:42] ligaz opened #34 "Add anonymous feature tracking"
Integrate Telerik Analytics.

[2014-08-14 11:17] tytodorov opened #38 "Users should not be able to create project without AppName"
executing `$ tns create` should throw error message

[2014-08-14 11:31] tytodorov opened #39 "Auto-completion of commands(create,platrfom,...etc) does not work"
Both on Windows and OSX

[2014-08-14 11:37] tytodorov opened #40 "Executing `$ tns platform` should display the help of 'platform' command"
it should be:
`$ tns platform`
Usage:
    $ tns platform <Command>

<Command> is a related command that extends the platform command. You can run the following related commands:
    list - Lists all available and installed platforms.
    add - Creates a new platform specific project
    **{MIsssing} Remove - Removes the platform specific project**

[2014-08-14 12:07] tytodorov opened #41 "Version should be bumped to 0.2.0-xxx"
Corresponding to the milestone

[2014-08-14 12:57] tytodorov opened #42 "`$ platform list` returns undefined, for available platforms"
Android platform is already added and prepared.
`$ tns platform list`
     Available platforms: undefined
     Installed platforms: android

[2014-08-14 13:00] tytodorov opened #43 "Executing `$ tns prepare` throws exception"
Exception msg: Cannot call method 'toLowerCase' of undefined

[2014-08-14 13:02] tytodorov opened #44 "Executing `$ tns build` or `$ tns run`, throws exception"
Exception msg: Cannot call method 'toLowerCase' of undefined

[2014-08-14 14:45] tytodorov opened #45 "Executing "$ tns platform add ios" throws exception"
Xcode: Version 5.0.2 (5A3005)

TYTODOROVMAC:kolcho tytodorov$ tns platform add ios --log trace
Starting watch on killswitch /Users/tytodorov/.nativescript-cli/KillSwitches/cli
Looking for project in '/Users/tytodorov/nativeclitest/kolcho'
Project directory is '/Users/tytodorov/nativeclitest/kolcho'.
exec: which xcodebuild
exec: xcodebuild -version | head -n 1 | sed -e 's/Xcode //'
**Version string

[2014-08-14 15:00] tytodorov opened #46 "Test"
isse

[2014-08-14 15:00] #46 closed, assigned to nobody

[2014-08-14 15:01] tytodorov opened #47 "iOS"
Test

[2014-08-14 15:02] #47 closed, assigned to nobody

[2014-08-14 17:18] Fatme opened #51 "Improve <app name> restrictions and appid validation"
For AppName we can use Cordova CLI rules.
For appid we should use the rules for the appropriate platforms.

[2014-08-18 07:01] tytodorov opened #53 "Should check if dependent packages are latest version(tns-ios, tns-adnrdoid)"
Now, the build process can fail if the installed platform bridge is older than the current version in the npm registry. We should always update to the latest version

[2014-08-18 13:36] Fatme opened #54 "Info command"
`Info` command should print more detailed information for project:
 * current runtime's version
 * commit sha for runtimes and modules
 * more specified information for each platform (for example `apilevel` for android)
 * debug information about user's machine setup (useful for debugging purposes)

[2014-08-19 12:21] #38 closed, assigned to teobugslayer

[2014-08-19 15:01] tytodorov opened #58 "Creating project does not release to the console in OSX terminal"
Execute: "$ tns create releaseConsole".
The console is release in maybe 10min (I assume that this is the terminal's built-in timeout)

[2014-08-20 11:11] #44 closed, assigned to nobody

[2014-08-20 11:12] #42 closed, assigned to nobody

[2014-08-20 11:12] #43 closed, assigned to nobody

[2014-08-20 11:12] #45 closed, assigned to Fatme

[2014-08-20 11:13] #26 closed, assigned to ErjanGavalji

[2014-08-20 11:51] tytodorov opened #62 "Trying to create project with only numeric symbols, throws inappropriate error message"
1. Execute: '$ tns create 213'
   Outcome: Object 214 has no method 'split'

[2014-08-20 16:29] #51 closed, assigned to teobugslayer

[2014-08-21 09:15] #62 closed, assigned to teobugslayer

[2014-08-21 13:54] tytodorov opened #69 "'$ tns platform list' message is misleading if all available platforms are installed"
Current msg: **No available platforms found**
It should be something else (e.g "All available platforms are installed(added)")

**Case 1: No platforms are added**
Current:
   `$ tns platform list
   Available platforms: android
   No installed platforms found.`
Expected:
  `$ tns platform list
  Available platforms for this OS: android
  No installed platforms found. Use $ tns platform add`

**Cas

[2014-08-26 09:51] tytodorov opened #73 "Autocompletion with [TAB][TAB] on command's arguments, throws exception"
`$ tns platform add [TAB][TAB]`
    - - - - -
    at CommandDispatcher.completeCommand (c:\Users\tytodorov\AppData\Roaming\npm\node_modules\nativescript\lib\common\dispatchers.js:38:59)
    at FiberFuture.Future.wait (c:\Users\tytodorov\AppData\Roaming\npm\node_modules\nativescript\node_modules\fibers\future.js:415:10)
    at FiberFuture.Future.wait (c:\Users\tytodorov\AppData\Roaming\npm\node_mod

[2014-08-26 11:54] #34 closed, assigned to Fatme

[2014-08-26 13:25] tytodorov opened #74 "`emulate` is missing from global help command"

[2014-08-26 13:27] tytodorov opened #75 "Skip printing duplicate file names when using `$ tns prepare <platform>` for second time"

[2014-08-27 11:25] #39 closed, assigned to nobody

[2014-08-28 10:05] #74 closed, assigned to Fatme

[2014-08-28 10:22] #24 closed, assigned to Fatme

[2014-08-28 10:23] #73 closed, assigned to Fatme

[2014-08-29 05:54] #75 closed, assigned to Fatme

[2014-08-29 06:21] #69 closed, assigned to nobody

[2014-08-29 08:40] #40 closed, assigned to nobody

[2014-09-01 07:03] Fatme opened #84 "Integrate default template with semantic versioning"

[2014-09-01 07:04] Fatme opened #85 "Sign .apk files"

[2014-09-01 07:04] Fatme opened #86 "Certificates and provisions for ios build"

[2014-09-01 07:13] Fatme opened #87 "Add unit tests"

[2014-09-01 07:31] #41 closed, assigned to Fatme

[2014-09-01 07:49] Fatme opened #88 "Pimp the help command"
* add NativeScript logo
* add colors

Look at AppGyver Steroids for example.

[2014-09-01 07:52] Fatme opened #89 "Use chocolatey to install required sdks"

[2014-09-02 08:13] Fatme opened #91 "Install runtime from local path"

[2014-09-02 09:22] #84 closed, assigned to Fatme

[2014-09-03 10:25] ErjanGavalji opened #93 "Add platform by file path"
allow syntax like `tns platform add --path ./MyProject/MyProject tns-ios-0.2.0-a-custombuild.tgz`

[2014-09-03 10:27] #93 closed, assigned to nobody

[2014-09-03 14:53] dtopuzov opened #94 "nativescript-cli installation on 64-bit Nodejs require Python and C++ Redistributable"
In order to install nativescript-cli installation on 64-bit Nodejs you need node-gyp, which has following prerequisites: https://github.com/TooTallNate/node-gyp

[2014-09-04 13:03] PanayotCankov opened #95 "Research iOS8"
Research how would we react to the iOS8 release.
We may need to support versioning (e.g. builds for iOS7.0 or iOS8.0)
We may need to support two versions of xcode during the migration from iOS7 to iOS8.
The iOS runtime should support iOS8, do we need two builds of the runtime?

[2014-09-05 09:48] teobugslayer opened #97 "Cannot start the WP8 emulator"

[2014-09-05 12:25] #58 closed, assigned to Fatme

[2014-09-08 07:37] #97 closed, assigned to nobody

[2014-09-09 08:41] Fatme opened #99 "Support for 64-bit nodejs"

[2014-09-29 15:09] RangerMauve opened #110 "Support node.js API"
Hello, I think it would be nice if you supported Node.js apis out of the box so that you could easily share all the modules that exist in the npm ecosystem.

[2014-10-01 09:42] dtopuzov opened #112 "Wrong error messages"
Case 1:
This command:
"tns deploy android --device fakeDevice --path TNS_Javascript"
returns following error:
Cannot resolve the specified connected device by the provided index or identifier. To list currently connected devices and verify that the specified index or identifier exists, run 'appbuilder device'.

'appbuilder device' is wrong, it should be replaced with 'tns list-devices'

Case 2:
Wh

[2014-10-01 13:53] dtopuzov opened #113 "[Linux] No execute permissions on node_modules/nativescript/resources/platform-tools/android/linux/adb"
When install Nativescript CLI on Linux user has no execute permissions on node_modules/nativescript/resources/platform-tools/android/linux/adb
This leads to issues with some of the Nativescript CLI commands.

Workaround:
After Nativescript CLI installation run this command:
chmod u+x node_modules/nativescript/resources/platform-tools/android/linux/adb

[2014-10-01 14:25] dtopuzov opened #114 "'tns run android --emulator' does not work if emulator is not started before that"
Description:
'tns run android --emulator' does not work if emulator is not started before that
Expected:
'tns run android --emulator' should start new emulator if emulator is not running

Steps to reproduce:
tns create TNSApp
tns platform add andorid --path TNSApp
tns prepare android --path TNSApp
tns run android --emulator --path TNSApp

Android emulator is not started, last command does not fini

[2014-10-02 12:00] dtopuzov opened #116 "'tns emulate android --emulator' fails if real device is also attached"
Steps to reproduce:

Start one emulator and connect one real device
So that devices list looks like this:

$ adb devices
List of devices attached
<RealDeviceId> device
emulator-5554   device

tns create TNS_Javascript
tns platform add android --path TNS_Javascript
tns prepare android --path TNS_Javascript
tns emulate android --emulator --path TNS_Javascript

Result:
BUILD SUCCESSFUL
Total time: 1

[2014-10-03 12:40] #113 closed, assigned to teobugslayer

[2014-10-07 08:49] jasssonpet opened #121 "Error when adding ios platform"
[code]

The `.DS_Store` file is created by opening the `TNS_JS/platforms/ios/node_modules/` in Finder.

[2014-10-09 06:45] dtopuzov opened #122 "Prepare ios project fail to copy some resources"
Here is what happens when I try to prepare ios:

$ node_modules/.bin/tns prepare ios --path UnitTestApp
cp: copyFileSync: could not write to dest file (code=ENOENT):/private/var/lib/jenkins/workspace/CLI-stable-tests-osx/UnitTestApp/platforms/ios/UnitTestApp/Resources/icons
Project successfully prepared

[2014-10-09 11:14] valentinstoychev opened #123 "Do we need the prepare command? Why don't we just leave the build command?"

[2014-10-09 12:36] dtopuzov opened #125 "Prepare android project fail to copy some resources"
$ tns platform add android --frameworkPath tns-android-stable-latest.tgz --path CutenessIO
Copying template files...
Installing  tns-android-stable-latest.tgz
tns-android@0.1.0-2014.10.3.8 CutenessIO/platforms/android/node_modules/tns-android
Installed  tns-android-stable-latest.tgz
cp: no such file or directory: /private/var/lib/jenkins/workspace/CutenessIO/platforms/android/node_modules/tns-andr

[2014-10-10 14:14] ErjanGavalji opened #127 "Invalid"
Wrong issue submission

[2014-10-10 14:17] #127 closed, assigned to nobody

[2014-10-12 09:30] dtopuzov opened #128 "Build iOS project fails because of missing icons"
Log:

The following build commands failed:
    CopyPNGFile /private/var/lib/jenkins/workspace/tns-modules-stable-build-unittests-ipa/UnitTestApp/platforms/ios/build/device/UnitTestApp.app/Default-Landscape.png UnitTestApp/Resources/icons/Default-Landscape.png
    CopyPNGFile /private/var/lib/jenkins/workspace/tns-modules-stable-build-unittests-ipa/UnitTestApp/platforms/ios/build/device/UnitTestApp

[2014-10-13 08:17] #27 closed, assigned to Fatme

[2014-10-13 08:17] #91 closed, assigned to Fatme

[2014-10-13 08:19] #122 closed, assigned to nobody

[2014-10-13 08:19] #128 closed, assigned to nobody

[2014-10-13 08:19] #125 closed, assigned to nobody

[2014-10-13 08:19] #87 closed, assigned to Fatme

[2014-10-27 14:50] Fatme opened #136 "Parallel execution of cli commands"

[2014-10-27 16:57] Fatme opened #137 "Symlink framework instead of copying it"

[2014-10-30 07:35] ErjanGavalji opened #139 "Remove old files from the platform-specific dir when prepare called"
The `tns prepare [platform]` command copies the files from the [root]/app directory applying the platform-specific logic under the `platforms/[platform]/` directory.
If files were removed form the `[root]/app` directory though, their counterparts exist in the `platforms/[platform]` directory.

[2014-11-07 10:01] rosen-vladimirov opened #143 "Validate all command parameters"
Currently command parameters are validated when command is executed. We should provide common way of validation, for example if command requires 2 parameters, but only one is passed, it shouldn't be executed at all.

For example "$ tns create"
shouldn't be executed as we have not passed name of the project.

Also if command is executed with more parameters than it expects, we should break the exec

[2014-11-11 15:39] Fatme opened #145 "Expose open-device-log-stream command"

[2014-11-17 08:17] rosen-vladimirov opened #149 "Fix tabtab for -- options"
In case you use bash, we offer autocomplete for the commands. When you write "tns emulate android --a" and press tab twice, we should autocomplete the option to avd (command will be "tns emulate android --avd". Instead an error is shown.

[2014-11-17 09:01] #149 closed, assigned to rosen-vladimirov

[2014-11-17 11:20] rosen-vladimirov opened #151 "Fix autocomplete for -- options"
In case you use bash, we offer autocomplete for the commands. When you write "tns emulate android --a" and press tab twice, we should autocomplete the option to avd (command will be "tns emulate android --avd"). Instead an error is shown.

[2014-11-17 11:27] rosen-vladimirov opened #152 "Change default cache dir"
Change default profile-dir to be:
- %localappdata%.nativescript-cli for Windows
- ~/.local/share/.nativescript-cli for MacOS and Linux

[2014-11-19 09:10] Fatme opened #153 "CLI becomes unresponsive when the analytics is on and the user is not logged in ironport"

[2014-11-20 13:15] Fatme opened #154 "Improve run command"
* If run command is executed and the platform is not added
    - Currently "The platform is not added"  error is thrown
    - We should add the platform and then run it
* If run command is executed and no connected devices found
    - Currently "No connected devices found" error is thrown
    - We should run the platform in simulator

[2014-11-20 13:16] #143 closed, assigned to rosen-vladimirov

[2014-11-20 13:16] #25 closed, assigned to Fatme

[2014-11-20 13:16] #114 closed, assigned to teobugslayer

[2014-11-20 13:16] #116 closed, assigned to nobody

[2014-11-20 13:16] #152 closed, assigned to rosen-vladimirov

[2014-11-20 13:16] #151 closed, assigned to rosen-vladimirov

[2014-11-26 12:21] #153 closed, assigned to rosen-vladimirov

[2014-11-26 12:25] rosen-vladimirov opened #156 "CLI becomes unresponsive when the analytics is on and the user is not logged in ironport"
In case you are not logged in, analytics request timeouts after 10 minutes. Added default timeout to the used libraries, so the timeout will be 20 seconds.

[2014-12-04 09:32] ErjanGavalji opened #160 "Provide a cleaner platform-upgrade-failure message"
When trying to upgrade I get:
[code]
The version of the package I specified in the frameworkPath (0.4.1) is bigger than the one the project currently has (0.4.0), but I still get the error message. It would really help if I can specify a verbose mode, where I will get informed where does the package version get checked.

[2014-12-04 13:39] ErjanGavalji opened #161 "Read NPM registry from NPM package"
Right now the registry is hardcoded. We have an embedded npm package, which should allow something, analogous to `npm config get registry` to be called to retrieve the current systems' npm registry

[2014-12-04 14:05] ErjanGavalji opened #162 "Provide a way to update native project"
Right now, when updating the platform of a project (`tns platform update [platform]`), only the runtime gets updated. It would be useful to provide a way for the user to get the native project updated too (assuming customers will mainly use cross-platform code instead of xCode/Eclipse projects)

[2014-12-23 14:53] tjvantoll opened #167 "Genymotion support"
I think it's important to support Genymotion from the CLI, but I haven't yet been able to get it to work. Specifically, as soon as I have a Genymotion emulator up and running all relevant `tns` commands start returning this error:

[code]

What's weird is `adb devices` shows my Genymotion emulator as a device, but `tns list-devices` just returns that error. I'm not sure what's up because I'm able

[2015-01-06 11:55] dtopuzov opened #169 "[iOS] Xcode project name is wrong"
Steps to reproduce:
1. Create TNS project with CLI
2. Add platform (iOS)
3. Build
4. Go to platform/ios and open <Name>.xcodeproj

Result:
Inside Xcode proejct is named "_PROJECT_NAME_" while I expect to see the name of TNS Project.

[2015-01-07 07:39] dtopuzov commented on #169
Reason:
.xcodeproj contains .xcworkspace
If .xcworkspace is removed from .xcodeproj then project name in Xcode is OK

[2015-01-12 11:10] teobugslayer opened #171 "tns does not work with sudo-installed node (the official distribution)"

[2015-01-12 11:11] teobugslayer opened #172 "create with --appd does not work"
Tried ```tns create pencho --appid com.telerik.test2```.

Got ```The option 'appid' is not supported. To see command's options, use '$ appbuilder create --help'. To see all commands use '$ appbuilder help'.```

[2015-01-12 11:12] teobugslayer opened #173 "tns does not work when only Android SDK 21 is installed"
I verified that I have installed Android SDK 21. When I tries adding a platform, got this error:

```Please install Android target 17 the Android newest SDK). Make sure you have the latest Android tools installed as well. Run "android" from your command-line to install/update any missing SDKs or tools.```

Also, note the spelling mistake ;)

[2015-01-12 14:05] teobugslayer opened #174 "Subsume prepare into platform add"
This will streamline and simplify our UI and will greatly help the clients.

[2015-01-12 14:07] teobugslayer opened #175 "Support Google images for emulate"
Right now, only pure android images are supported

[2015-01-12 15:01] ErjanGavalji commented on #173
In the original message (I verified that I have installed Android SDK 21.), did you ONLY have Android SDK 21, but not SDK Android SDK 17?

[2015-01-13 07:42] #172 closed

[2015-01-19 12:36] rosen-vladimirov opened #187 "Add shorthands for help command"
Add -h, /? and ? which should be used as shortcuts for help command. For example:
$ tns create --help
$ tns create -h
$ tns create  ?
$ tns create /? //will not work on bash

must all print the help of create command.

[2015-01-20 07:04] rosen-vladimirov opened #190 "Using number as command name leads to exception"
Using number as command is causing exception that the number doesn't have method toLowerCase().

D:\Work\nativescript-cli>tns 4
TypeError: Object 4 has no method 'toLowerCase'
    at FiberFuture.Future.wait (D:\Work\nativescript-cli\node_modules\fibers\future.js:488:15)
    at <anonymous> (D:\Work\nativescript-cli\lib\common\dispatchers.ts:100:40)
    - - - - -
    at CommandDispatcher.getCommandN

[2015-01-20 15:55] unlight opened #192 "API Notifications"
Not sure, that is right place for issue.
But I found nothing about notifications [ApiReference][1].
Will it be available in future version of NativeScript?

[1]: https://github.com/NativeScript/docs/tree/master/ApiReference

[2015-01-30 10:09] dtopuzov opened #199 "Genymotion does not work on OSX"
Steps to reproduce:

node_modules/.bin/tns emulate android --geny "Samsung Galaxy S4" --path TestApp

Result:
[code]

[2015-01-30 10:11] dtopuzov commented on #199
After this error following adb processes are running:
[code]

[2015-02-01 09:50] leecrossley commented on #123
The `prepare` command is useful, as you may wish to build independently from the copied files. This matches the "Cordova way".

What I feel is wrong, is the fact that the `build` command does not encompass the `prepare` command. i.e. `tns build ios` does not automatically run `tns prepare ios` first. This has caught me out and does not match the "Cordova way".

I'd like to know someone else's thou

[2015-02-02 11:29] rosen-vladimirov opened #203 "Use adb from PATH"
If there's adb in PATH, we must use it instead of the one that we have in our resources folder. This way we'll prevent issue when new version of adb is released. In many cases using different versions of adb simultaneously leads to:
Command failed: ADB server didn't ACK
* failed to start daemon *
error:

[2015-02-02 12:58] dtopuzov opened #205 "[iOS] CLI builds only armv7 architecture"
Currently iOS runtime support both armv7 and arm64 architectures.
When I create CLI project and add iOS runtime I have correct Xcode project (both architectures are available on Build Settings tab in Xcode), but when I build the project with:

node_modules/.bin/tns build ios --release --device --path TestApp

Result is
[code]

[2015-02-03 12:19] dtopuzov commented on #199
Fixed. Please note that it works only with adb 1.0.32 or newer.

[2015-02-03 14:38] #171 closed

[2015-02-03 14:38] #173 closed

[2015-02-03 14:38] #199 closed

[2015-02-03 14:38] #187 closed

[2015-02-03 14:38] #190 closed

[2015-02-03 14:38] #167 closed

[2015-02-03 14:38] #94 closed

[2015-02-03 14:38] #85 closed

[2015-02-03 14:38] #99 closed

[2015-02-03 14:38] #156 closed

[2015-02-12 07:00] Fatme opened #211 "Implement run and emulate commands as hierarchical"

[2015-02-13 09:57] valentinstoychev opened #219 "Build in release mode for android is throwing an error."
BUILD FAILED
C:\Users\valentin.stoychev\AppData\Local\Android\android-sdk\tools\ant\build.xml:1139: The following error occurred while executing this line:
C:\Users\valentin.stoychev\AppData\Local\Android\android-sdk\tools\ant\build.xml:1151: C:\Users\valentin.stoychev\myAppDemo\platforms\android\u
ndefined (The system cannot find the file specified)

Total time: 9 seconds
Command cmd failed with

[2015-02-13 10:38] #123 closed

[2015-02-13 11:15] #211 closed

[2015-02-13 11:31] #219 closed

[2015-02-16 02:56] dax0 opened #224 "NPM install fails on Windows"
I  get a stream of errors like the following whenever I try to build:

`..\src\ffi.cc(55): error C2039: 'NewSymbol' : is not a member of 'v8::String' [C:\cygwin64\opt\node\node_modules\nativescript\node_modules\ffi\build\ffi_bindings.vcxproj]`

I suspect it has something to do with node-gyp trying to build a native module but I'm not too sure, I've had VS 2012 installed already.

[2015-02-16 03:03] Dharun commented on #224
Downgraded to Node v0.10.32 and it fixed the problem

[2015-02-16 07:48] ErjanGavalji commented on #224
@Dharun, and which version of NodeJS did you have installed?

[2015-02-16 07:51] Dharun commented on #224
v0.12.0 was giving me issues

[2015-02-16 07:52] rosen-vladimirov commented on #224
Hi @Dharun,

Thanks for the information. You are correct - currently we have issues with this node version, as some of our dependencies are not buildable with it. We are working on this issue and hopefully we'll be able to support Node 0.12.0 very soon.

Feel free to contact us in case you have any other problems or concerns.

Regards,
Rosen

[2015-02-16 15:51] #203 closed

[2015-02-17 14:42] #145 closed

[2015-02-18 02:05] joaomello opened #228 "npm install windows 7 error"
Hi! I`m getting this error at my installation, I only have visual studio 2013...

C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V120\Microsoft.Cpp.Platform.targets(64,5): error MSB8020: The bu
ild tools for Visual Studio 2010 (Platform Toolset = 'v100') cannot be found. To build using the v100 build tools,
 please install Visual Studio 2010 build tools.  Alternatively, you may upgrade to the c

[2015-02-18 09:27] rosen-vladimirov commented on #228
Hi @joaomello,
It looks like you are trying to use Nodejs 0.12.0. Currently this version is not supported as some of our dependencies are not buildable with it. We are working on this issue and hopefully we'll be able to support Node 0.12.0 very soon.

You can follow this issue for more information on the progress (I'm closing this issue as it is duplicate of the mention one): https://github.com/N

[2015-02-20 07:35] #205 closed

[2015-02-20 07:37] dtopuzov opened #231 "Wrong name of Xcode project"
CLI creates Xcode projects with name __PROJECT_NAME__

[2015-02-20 07:40] dtopuzov commented on #231
Duplicate of https://github.com/NativeScript/nativescript-cli/issues/169

[2015-02-20 07:40] #231 closed

[2015-02-22 06:56] chehabz opened #233 "android build fails on windows"
[aapt] C:\Users\xxx\Desktop\tns\helloworld\platforms\android\bin\AndroidManifest.xml:14: error: Error: No resource found that matches the given name (at 'icon' with value '@drawable/icon').

i know that the icon is missing so i edited the AndroidManifest.xml file and build it and it then worked fine.

However this is the  pre-packaged sample app and it's the default one and this should not have ha

[2015-02-25 18:15] tchon opened #245 "Cannot find module 'ios-sim-portable'"
When running `tns run ios --emulator` using nativescript 0.4.2 and following hello-world quickstart, the following runtime error is occurring:

Cannot find module 'ios-sim-portable'

[2015-02-26 06:40] alejonext opened #246 "Accelerometer"
I really do not know where to place this issue... Well, the point is that I would like to access the accelerometer sensor. In the docs [android](https://github.com/NativeScript/docs/wiki/Getting-Started-with-NativeScript-for-Android#how-to-inherit-from-class) and [ios](https://github.com/NativeScript/docs/wiki/Getting-started-with-NativeScript-for-iOS#using-the-c-api).  As would be to implement? D

[2015-02-26 15:52] dtopuzov opened #248 "[OSX] Deploy command doesn't quit the console"
tns deploy ios --path TNS_Javascript

Result:
Project successfully built
Using  /private/var/lib/jenkins/workspace/CLI-stable-tests-osx/TNS_Javascript/platforms/ios/build/device/TNS_Javascript.ipa
Status: InspectingPackage PercentComplete: 20
Status: PreflightingApplication PercentComplete: 30
Status: InstallingEmbeddedProfile PercentComplete: 30
Status: VerifyingApplication PercentComplete: 40
St

[2015-02-26 16:56] dtopuzov opened #249 ""nativescript -help" do not work and error message is not appropriate"
Execute:
nativescript -help
Result:
The option 'e' is not supported. To see command's options, use '$ nativescript help -help'. To see all commands use '$ nativescript help'.

"The option 'e' is not supported." is not a good error message in this case.

[2015-02-26 17:32] mikehamil10 commented on #228
Mmmm...I'm not so sure about that. I'm getting the same error and am on Node 0.10.26

I can build node-gyp just fine on its own, but when it gets rebuilt as part of the nativescript installation I get the error above (googling the error landed me here).

I think there's something else wrong here...

[2015-02-26 19:11] stevelacy opened #250 "Building with grunt fails on task ts"
Attempting to run `grunt` produces 508 type warnings:

[code]
An example of the error:
[code]

grunt version:
grunt-cli v0.1.13
grunt v0.4.2

Node: v0.12.0
npm: 2.6.0

I am attempting to build the project to update the dependencies which will fix issues on io.js and node.

[2015-02-26 19:32] dtopuzov opened #251 "[OSX] No validation for command options"
If you have a typo in --frameworkPath CLI defaults to npmjs.org without any error.
If some of the CLI params is wrong I expect error instead of default behavior without error.

[2015-02-26 20:40] rosen-vladimirov commented on #250
Hi @stevelacy, I can suggest you to check if you have initialized the submodule. You should execute the following commands:
git clone git@github.com:NativeScript/nativescript-cli.git
cd nativescript-cli
git submodule init
git submodule update
git checkout release
cd lib/common
git checkout release
cd -
grunt
npm install

Basically this should work for you. Could you give it a try?

[2015-02-26 20:48] rosen-vladimirov commented on #245
Hi @tchon

Are you using tns directly installed from npm or you have cloned the repo and rebuild it on your side? In case you have cloned the repo, did you execute npm install inside the project? The ios-sim-portable is a command-line utility written in Node.js that launches an iOS application bundle (.app) in the Xcode iOS Simulator. It looks like it is missing on your side, so you can try findin

[2015-02-26 21:02] stevelacy commented on #250
Those commands did function though they did seem rather convoluted.

Thanks for clarifying, I probably will open a PR to fix issues on v0.12 which I encountered.

[2015-02-26 21:02] #250 closed

[2015-02-26 21:05] rosen-vladimirov commented on #250
@stevelacy I'm glad the commands helped. Please note that you'll have to use release branch where we've included our node 0.12 fixes. We are ready to help in case you find any problems :)

[2015-02-27 07:13] rosen-vladimirov commented on #228
Hi @mikehamil10,
We've found a problem with one of our dependencies which was preventing the installation from npm. We've already fixed it, so could you try executing
```$ npm install nativescript```
one more time and inform us if it works for you.

[2015-02-27 10:17] ErjanGavalji opened #252 "Fetch-package-versions"
Add a verb that when used in the context of a project will list the versions and the git commits of the runtimes, the modules and any other information applicable for a bug report

How about "EXTRACT BUG REPORT INFO" verb, or even "REPORT BUG" verb that will prepare a package with all the needed information and send it to the team (how?)

[2015-02-27 12:34] Fatme opened #254 "Templates support"
Currently only hello-world-template is supported. But actually we have 4 templates - Blank, Hello World, Master Detail, Tabbed App. It should be nice if we support all of them.

[2015-02-27 12:37] ErjanGavalji opened #255 "Dottify the platforms folder"
The platforms folder should not be editable. Instead, the CLI should provide interfaces for platform-specific stuff.

[2015-02-27 12:53] ErjanGavalji opened #256 "Get rid of the prepare command"
once the platforms folder is declared as do-not-use, prepare command will not make any sense

[2015-02-27 12:55] rosen-vladimirov commented on #251
This should work fine, could you give some more details how to reproduce the problem.

[2015-02-27 14:32] Mitko-Kerezov opened #257 "Arguments with whitespaces don't get passed right"
For example
$tns create "My App" results in
The parameter App is not valid for this command.

[2015-02-27 15:34] dtopuzov commented on #248
Same apply for run and debug commands.
Fixing this issue is very important for CLI automated tests.

[2015-02-27 15:46] diverted247 opened #260 "NativeScript CLI on OSX appends data into .bash_profile and corrupts core unix apps.... open"
After installing NativeScript CLI, the 'open' command stopped functioning and returned "Trace/BPT trap: 5" with many calls. I traced this back to functions injected into .bash_profile that were linked to NativeScript.

Far from ideal.

[2015-02-27 16:14] teobugslayer commented on #260
Hello @diverted247,

This is a know issue which we could not fix for the upcoming release next week. The work around is to open another terminal console or to manually fix the COMP_WORDBREAKS environment variable.

That said, if you can fix this issue, feel free to send us a pull request against https://github.com/Icenium/node-tabtab .

[2015-02-27 16:38] diverted247 commented on #260
This just went from bad to pathetic.
So Telerik is "ok" shipping something "known" to corrupt the terminal environment on OSX/Linux.

Uninstall...

[2015-02-27 17:24] tchon commented on #245
@rosen-vladimirov I did a `npm install nativescript -g` and it looks like it installs the latest tagged release v0.4.2. After I did a `git checkout` on the nativescript-cli project, I can see now that ios-sim-portable is list5ed in the package.json.  So, it seems the ios-sim-portable dependency was made after the v0.4.2 tag.

For now, I just did a `npm install ios-sim-portable -g` and that fixed i

[2015-02-27 20:18] dtopuzov opened #262 "No validation for invalid folder specified in --copy-from"
Execute:
tns create TestApp --copy-from <not existing folder>

Result:
cp: no such file or directory: <current_path>\<not existing folder>\*
Project TestApp was successfully created

app and tns_modules folders are empty and only .tnsproject is created

May be it will better if tns reports and error because TestApp is not created successfully.

[2015-02-28 04:29] stevelacy commented on #113
This issue still persists and is not fixed.

[2015-02-28 04:33] stevelacy opened #263 "Incorrect platform-tools/adb permissions on Linux"
#113 brought up an issue where the `platform-tools/adb` command has the wrong permissions. The commits added to close that issue did Nothing to solve the actual issue.

`nativescript/resources/platform-tools/android/linux/adb` Still has incorrect permissions and should be set to +x

[2015-02-28 19:45] unlight opened #265 "node postinstall.js fails"
Node v0.10.36, Windows
[code]

[code]

[2015-03-01 00:39] rosen-vladimirov commented on #265
Hi @unlight
When you are using archive github option, it does not get the sources from the submodules. In our case nativescript-cli has one submodule - https://github.com/telerik/mobile-cli-lib Your command is not fetching it and that's why the installation fails. I suggest you to clone the repository and call git submodule init; git submodule update and create a pack from there (npm pack should d

[2015-03-01 13:20] unlight commented on #265
No, this did not help.
I still see `nativescript-cli.ts` but not `nativescript-cli.js`

[2015-03-01 18:37] rosen-vladimirov commented on #265
I'm glad this helped. I'm closing this thread now, but feel free to contact us in case you have any other problems or concerns.

[2015-03-01 18:37] #265 closed

[2015-03-04 08:33] emazv72 opened #268 "OSX issue with node 0.12.0"
I'm getting the following error when creating a new app:

Error: "name" and "value" are required for setHeader().
    at ClientRequest.OutgoingMessage.setHeader (_http_outgoing.js:333:11)
    at new ClientRequest (_http_client.js:101:14)
    at Object.exports.request (http.js:49:10)
    at Object.exports.request (https.js:136:15)
    at Request.start (/usr/local/lib/node_modules/nativescript/node_

[2015-03-04 10:38] #257 closed

[2015-03-04 11:34] rosen-vladimirov commented on #268
Hi @emazv72 ,
Thank you for reporting this problem. It is related to old npm version that we are using in our code. I've prepared a fix, but until it's published, you have to use node 0.10.x (0.10.36 for example). Please excuse us for the caused inconvenience.

[2015-03-04 12:09] rosen-vladimirov commented on #263
Hi @stevelacy

I've just tried installing latest nativescript-cli release and "adb" has correct permissions: -rwxrwxr-x
Please note that we've moved it to be under ```nativescript/lib/common/resources/platform-tools/android/linux```
Could you try latest nativescript-cli release and see if it adb has correct permissions on your side?

[2015-03-04 12:17] rosen-vladimirov commented on #260
Hi @diverted247
We've applied a fix in our node-tabtab repository that should fix the problem. Please note that the code in tabtab is forked from npm itself. As you can see here: https://github.com/npm/npm/blob/master/lib/utils/completion.sh#L10
COMP_WORDBREAKS variable is reset by npm itself. Our code just adds the change to .bashrc and .bash_profile in order to allow completion of commands and o

[2015-03-04 12:38] dtopuzov opened #271 "No validation for invalid options in create command"
Steps to reproduce:
tns create TestApp --copyFrom ..\sample-Tasks

Result:
"Project TestApp was successfully created" is dispalyed, but content of TestApp  is the default one (--copy-from is not respected)

Expected:
When some of the create command options is wrong I should see appropriate error message.

[2015-03-04 15:07] rosen-vladimirov commented on #271
this seems related to https://github.com/NativeScript/nativescript-cli/issues/262

[2015-03-04 16:48] stevelacy commented on #263
The latest release does have correct permissions `rwxr-xr-x`.

Thanks

[2015-03-04 16:48] #263 closed

[2015-03-04 22:56] mikehamil10 commented on #228
Hey, it works now! Thanks!

P.S. To be sure the problem was that my node version wasn't TOO old, I also updated to Node 0.10.36 (being sure to keep off the 12.x releases for now).

[2015-03-05 12:56] dtopuzov opened #276 "Autocomplete does not work in bash"
Steps to reproduce:
tns create Tasks --copy-from s<tap to auto complete>

Result: Auto complete does not work and I should type the full path manually
Valid in 0.9.1

[2015-03-05 14:17] dtopuzov opened #277 "Build project without platform does not show user friendly error message"
Build project without platform (expected to fail) does not should user friendly error message.

TestLog:
[code]

[2015-03-05 14:19] dtopuzov commented on #268
Available in 0.9.1

[2015-03-05 14:19] #268 closed

[2015-03-05 22:03] svdoever opened #279 "What is the debugging story?"
Given the open source NativeScript project, what are the debugging options? I understand that it is possible to debug from AppBuilder, a payed option AND a Windows application. What are the free options and OSX/Linux options for debugging?

[2015-03-06 00:40] shrimpywu commented on #254
will be nice to have a typescript project template as well.

[2015-03-06 07:00] rosen-vladimirov commented on #279
Hi @svdoever
I suggest you to check "debug" command in nativescript-cli. Just try ```$ tns debug -h``` and you'll get the required information. Please note that we are working on improvements in this area, so if you find some issues, feel free to share them or even fix them and send us a pull request :)
Here's one example how you can use debug command: start your app on attached device (you can us

[2015-03-06 07:04] rosen-vladimirov opened #280 "Add init command"
As a user I would like to have init command, that initializes the project structure based on current directory (or passed arguments), so current project could be used with nativescript-cli. For example the command could accept parameters for:
1) path to tns_modules dir
2) path to AppResources
3) path to app js files

[2015-03-06 08:29] dtopuzov opened #281 ""tns platform remove" does not report anything on success"
Steps to reproduce:
tns create TNSApp
tns platform add android --path TNSApp
tns platform remove android --path TNSApp

Result:
Androdi platform is removed successfully, but there is no output.
May be it will be better if where is success message.

[2015-03-06 11:08] spacepluk commented on #260
While I'm not as annoyed as @diverted247, I agree that it's not ok to mess with people's dotfiles without at least giving a warning.  I'd prefer enabling autocompletion as a manual step of the installation. Just my 2cents.

Now back to test this, it looks awesome :P

[2015-03-06 13:07] dtopuzov opened #282 ""tns platform add android --path TNSApp --symlink" does not work on Windows"
Run:
node_modules.bin\tns platform add android --path TNS_App --symlink

Result:
EPERM, symlink 'C:\Users\topuzov\AppData\Roaming\npm-cache\tns-android\0.9.0\package\framework\assets\bindings'

Expected:
If tns supports symlink on Windows OS it should work (it works on OSX)
If tns does not support symlink on Windows OS then appropriate error message should be displayed

[2015-03-06 13:08] vakrilov opened #283 ""tns library add android" does not handle references to "appcompat""
When using "library add" for an Eclipse project that has a reference to "appcompat" (for example `android.library.reference.1=../appcompat ` in the project.properties file) - the command succeeds, but build after that fails.

Suggestions:
 - Display a warning or error when a reference cannot be resolved in the "library add" command
 - Try to resolve/remove references to appcompat lib

[2015-03-06 13:49] rosen-vladimirov commented on #260
Hi @spacepluk,
Thank you for the valuable feedback. As I've said - we've removed the part of the code, which was causing this error. However we find your idea to enable auto completion only in case the user accepts it, very interesting and we'll definitely consider improvements in this area.

[2015-03-06 14:00] rosen-vladimirov commented on #245
Hi @tchon,
Have you reproduced the issue with our latest release? In case it is working fine, can we close this issue? Looking forward to hearing from you.

[2015-03-06 14:01] ligaz commented on #192
Hi unlight,

Can you please elaborate what kind of Notification API you are expecting? I guess you are talking about Push Notifications and Local Notifications.

[2015-03-06 15:26] dtopuzov commented on #282
--symlink with --frameworkPath also fails:
[code]

[2015-03-06 15:50] unlight commented on #192
I mean something like this
![example](http://www.vogella.com/tutorials/AndroidNotifications/images/xnotification10.png.pagespeed.ic.fmc6zyoaDS.png)
http://www.vogella.com/tutorials/AndroidNotifications/article.html

[2015-03-06 17:08] Agnostic opened #285 "library not found for -lbundle1.o (Yosemite)"
I'm trying to install nativescript with `npm install -g nativescript` and I'm getting this:

[code]

I have xcode v6.1.1 with command-line-tools installed.

[2015-03-06 17:43] #285 closed

[2015-03-06 17:43] Agnostic commented on #285
It's not a nativescript issue...

[2015-03-06 23:45] tchon commented on #245
@rosen-vladimirov this is working now on npm version of nativescript = 0.9.2.  Closing, thanks!

[2015-03-06 23:45] #245 closed

[2015-03-07 00:06] codechimera opened #286 "Install fails under io.js"
When using io.js 1.5.0, running `npm i -g nativescript` fails due to compile errors on `fibers.js`.

[2015-03-07 02:05] tjwudi commented on #286
+1 for this error

[2015-03-07 15:55] LOUIStheXIVTH commented on #279
Is it possible to debug while your app is running on the emulator?

[2015-03-09 04:07] JesusIslam opened #287 "Install fails on Node.js 0.10.36"
This is the log:

[code]

[2015-03-09 05:01] JesusIslam commented on #287
Running as root solves this

[2015-03-09 05:01] #287 closed

[2015-03-09 05:58] JesusIslam opened #288 "Build successful but nothing happened"
[code]

But then nothing happened on my phone, what should I do?

[2015-03-09 09:25] Fatme commented on #280
In this case we can use --copy-from option.

[2015-03-09 09:25] #280 closed

[2015-03-09 10:23] ch-weiss commented on #254
I  would appreciate TypeScript templates as well.

[2015-03-09 13:12] dtopuzov opened #289 "No validation when emulate in invalid avd and device"
Run:
tns emulate android --avd invalidDevice --path TNSApp

Result:
Starting Android emulator with image invalidDevice

Expected:
Check if "invalidDevice" avd is available and if not then show some appropriate error message.

[2015-03-09 21:58] leebailey88 commented on #45
I'm getting this error today when following the getting started guide after `tns platform add ios`

[2015-03-09 22:03] rosen-vladimirov commented on #286
Hi @codechimera , @tjwudi
Currently nativescript-cli does not support io.js. The problem is that io.js is using version of V8 that is different from the one used on Nodejs 0.10.x and 0.12.x
Several of our dependencies are using native calls to V8 and at the moment most of them do not support io.js. We are notifying the developers of the dependencies for these issues and we are working closely with

[2015-03-09 23:14] codechimera commented on #286
Ok, makes sense. Thanks for the response!
Do you want me to close the issue, since it seems the team was already aware of it?

[2015-03-09 23:15] rosen-vladimirov commented on #286
@codechimera , I prefer to keep it open, so we'll all track it here and write comments in case we have new information. So I'll assign it to myself and I'll keep it updated with the current progress.

[2015-03-09 23:27] leebailey88 opened #290 "Executing `tns platform add ios` throws incorrect exception when XCode is not installed"
[code]

This is from the getting started guide.  This should be the most critical bug as potential users like me are instantly turned off and may not revisit the project if we can't even get the hello world app running.

[2015-03-09 23:34] rosen-vladimirov commented on #290
Hi @leebailey88,
I'm sorry you've received such error. In order to help you, I would like to ask you for more information on this case:
1) What is your version of XCode? Could you provide the output of the following command: xcodebuild -version | head -n 1 | sed -e 's/Xcode //'
2) Can you run ```$ tns platform add ios --log trace``` and send us the output of the command.

It looks like there's som

[2015-03-10 00:07] leebailey88 commented on #290
ah, that's the first issue.  I only have command line tools installed--not Xcode itself.  I didn't see that as a prerequisite in the docs.  Though that may be obvious to seasoned app developers, newbies like me who barely know what Xcode is should probably be explicitly told to DL it before starting here.

[2015-03-10 00:11] rosen-vladimirov commented on #290
@leebailey88 , you can check the system requirements here http://docs.nativescript.org/setup/ns-cli-setup/ns-setup-os-x.html#system-requirements
We'll try to improve the error message, as the current one doesn't help you to understand that you have to install latest XCode. Thank you for the information.
I suggest to rename this issue to "Executing `tns platform add ios` throws incorrect exception

[2015-03-10 00:13] leebailey88 commented on #290
Thanks for the quick responses.  Renamed issue and downloading Xcode now

[2015-03-10 00:17] leebailey88 commented on #290
I see from the link that Xcode is clearly listed as a requirement so this was definitely a case of user error.  A better error message would help greatly though.  I tend to skip straight to the enumerated steps when using getting started guides which is how I missed it here.

[2015-03-10 01:15] codechimera commented on #286
Gotcha. Sounds great!

[2015-03-10 10:57] rosen-vladimirov opened #291 "Show context specific help"
In case you are using nativescript-cli on MacOS, if you execute
$ tns emulate android -h
You'll see output for Windows and Linux system, which has no meaning for you. Show only help for MacOS.

[2015-03-10 11:13] rosen-vladimirov commented on #288
Hi @JesusIslam , may I ask you for more details. Could you send us which command are you executing, which android are you using on your device, etc. Also it will be great if you can send the output of your call with --log trace added. For example in case you execute ```tns run android``` we'll need the output of  ```tns run android --log trace```

[2015-03-10 11:15] rosen-vladimirov commented on #288
Also, have you modified your AndroidManifest? In case you've changed your activity name (default value is com.tns.NativeScriptActivity) the CLI will not be able to run the app.

[2015-03-10 11:40] dtopuzov opened #293 "Deploy and Run commands has the same behavior and different code implementations"
It looks Deploy and Run both do the same:
1. Prepare
2. Build
3. Deploy
4. Run

Both commands have different implementations.
We should make them aliases and go with one single code implementation
Personally,  I think deploy implementation is better (at least it handles invalid input better)

[2015-03-10 15:50] scbenjamin opened #294 "No emulator.log for Genymotion"
As the title states there is no `emulator.log` generated when running the `--geny` flag. I would imagine that for parity with standard `avd` emulators (and the `--emulator` flag) this should be generated and logged to.

**Affected Versions:** all
**System Config**: OSX 10.10, node 0.12

[2015-03-11 09:44] Kyozatch opened #297 "npm install infinite build"
Hi,

I'm trying to install nativescript but each time (whatever the nodejs version) it fails because i never pass this line (even after 20min..). I currently use nodejs 0.10.36.

"
npm WARN deprecated byline@4.1.1: critical bug fixed in v4.2.0
npm WARN excluding symbolic link docs\stylesheets\hightlight.css -> ../../node_m
odules/highlight.js/src/styles/solarized_light.css
npm WARN excluding symbo

[2015-03-11 10:42] dtopuzov commented on #251
Valication for --frameworkPath is ok on Windows, but when run this on OSX:
tns platform add android --framerowkpaht tns-android.tgz --path TNSApp

Result is:
No error message, platform added (the one from npmjs.org)

Expected:
Error message, because "--framerowkpaht" is not a valid option

[2015-03-11 11:12] dtopuzov commented on #251
Same applies also for symlink:
tns platform add android --frameworkPath tns-android.tgz --simlink --path TNS_App

Windows: Error message (expected, because there is a typo in --simlink)
OSX: No validation, command executed and --simlink is just ignored

[2015-03-11 11:35] rosen-vladimirov commented on #297
Hi @Kyozatch ,

This is really strange. I assume you are working on Windows, am I right? Could you try executing
$npm install nativescript --verbose and send the output? Are you using 32-bit or 64-bit node?

[2015-03-11 12:32] dtopuzov commented on #251
Same for:
node_modules/.bin/tns build android --debug --path TNS_App

In Windows environment result is:
The option 'debug' is not supported.

In OSX result is:
[code]

[2015-03-11 12:50] Kyozatch commented on #297
Yes you are right, windows. Node 64-bit.

This is a part of last ouputs :

npm verb tar unpack C:\Users\KNSD1821\AppData\Roaming\npm-cache\debug\2.1.2\pack
age.tgz
npm verb lock tar://C:\Users\KNSD1821\myApp\node_modules\nativescript\node_modul
es\ref-struct\node_modules\debug C:\Users\KNSD1821\AppData\Roaming\npm-cache\2a7
b36c2-es-ref-struct-node-modules-debug.lock
npm verb lock tar://C:\Users\K

[2015-03-11 14:16] rosen-vladimirov commented on #297
Hi @Kyozatch
I've checked this script and tried installing nativescript-cli on my Windows 8 machine and everything worked fine. The only idea I have is to try executing fiber's build script manually and see what's going on. Just go to  C:\Users\KNSD1821\myApp\node_modules\nativescript\node_mo
dules\fibers and execute on your console ```node ./build.js```
If it stays this way for a long time, you c

[2015-03-11 14:36] Kyozatch commented on #297
Bingo.

"
C:\Users\KNSD1821\myApp>node C:\Users\KNSD1821\myApp\node_modules\nativescript\n
ode_modules\fibers\build.js
//---BEGIN---//
//---BEFORE PARSE ARGS---//
//---BEFORE TEST PRE-BUILD---//
`win32-x64-v8-3.14` exists; testing
//---BEFORE BUILD()---//
//---BEFORE AFTER_BUILD()---//
//---END---//
Problem with the binary; manual build incoming "

...and the script freeze.

[2015-03-11 14:53] rosen-vladimirov commented on #251
It turned out the problem is when you have installed nativescript with -g option
$ npm install -g nativescript
After that our validation for -- is not working correctly when you call tns ...
It is working fine in case you are using " $ nativescript ... "

[2015-03-11 15:33] rosen-vladimirov commented on #297
Hm, this is really strange. We've prebuilt node-fibers and the binary win32-x64-v8-3.14 is fine on our side. I have some ideas, that could help.
First of all, can you try removing your npm-cache (it should be under: C:\Users\KNSD1821\AppData\Roaming\npm-cache) and try installing nativescript again.
If this doesn't help, can you try installing only fibers in any folder, just execute:
```npm i https

[2015-03-11 15:59] JesusIslam commented on #288
[code]

That's the last outputs, and no, I simply `tns create testing` and then `tns run android`, nothing else

[2015-03-11 16:06] Kyozatch commented on #297
Cache cleaned doesn't change
but i installed only fibers, and the build.js works :
"
C:\Users\KNSD1821\node_modules\fibers>node build.js
`win32-x64-v8-3.14` exists; testing
Binary is fine; exiting "

Should I replace the folder, then ?

Thanks you (!) for your assistance.

[2015-03-11 16:22] rosen-vladimirov commented on #297
I'm not sure how you would replace it and use it in nativescript-cli installation. You can try the following:
[code]
If the installation fails, you can try replacing fibers folder inside nativescript's node_modules directory. After that, in nativescript's root folder execute ```npm install```. This will take all dependencies from package.json and install them in node_modules. If they are already t

[2015-03-11 16:27] rosen-vladimirov commented on #288
Hi @JesusIslam
It looks like there's some kind of a problem with the adb. Could you try executing ```adb version``` and see the output - it should be something like ```Android Debug Bridge version 1.0.32```.
It looks like you have added "adb" in your path, but from which version of android sdk? We'll have to improve our logging in such cases, as it clearly has some errors in adb, but we show ```Su

[2015-03-11 16:57] Kyozatch commented on #297
It doesn't work. My npm version : 1.4.28

[2015-03-11 17:17] rosen-vladimirov commented on #297
Hi @Kyozatch , I've just found some links related to similar problem with 1.x version of npm. I've also discussed the issue with some of my colleagues and they've mentioned that they've seen such issue (not exactly with fibers installation, but with other node modules). The solution in most of the cases is to update npm. The easiest way here is to try another node version. Could you install nodejs

[2015-03-11 18:31] Fatme commented on #279
Yes, it is possible only for android platform. We are working to add support for ios too.

[2015-03-11 23:11] hy9be opened #299 "Build failure for helloworld project on nativescript.org"
I setup the environment as instructed by the page: http://docs.nativescript.org/setup/ns-cli-setup/ns-setup-os-x.html
And then I try to build the hello world project on nativescript.org: http://docs.nativescript.org/hello-world/hello-world-ns-cli.html. But I was given the error below:

BUILD FAILED
/usr/local/Cellar/android-sdk/24.0.2/tools/ant/build.xml:653: The following error occurred while exe

[2015-03-12 03:21] JesusIslam commented on #288
`Android Debug Bridge version 1.0.31`

This is the result. I've installed it via `apt-get`

So, this is one of the reason then. My Android version is SDK 16 (4.1.2).

Looks like I'll have to stay on the emulator.

[2015-03-12 07:37] Fatme commented on #299
Hi @hy9be,

Could you try executing $tns build android --log trace and send the output?

[2015-03-12 07:53] rosen-vladimirov commented on #288
Hi @JesusIslam, yes, you cannot use nativescript projects on 4.1.2 devices. May we close this issue?

[2015-03-12 07:59] Fatme commented on #299
Could you also send the hardware info of your machine? I experienced such issue on machines with less than 512MB RAM.

[2015-03-12 09:21] Kyozatch commented on #297
Hi @rosen-vladimirov, Sorry i had to go yesterday.

If i downgraded my nodejs version to 0.10.X it's because i thought it was recommanded. The second reason : i have a failure after <b>tns create tnstest</b> :

C:\Users\KNSD1821>tns create tnstest
Failed to retrieve data from npm. Please try again a little bit later.. Error: E
rror: connect ECONNREFUSED

Is it a proxy problem ? I don't think so, i

[2015-03-12 09:32] rosen-vladimirov commented on #297
Hi @Kyozatch
Thanks for sending the log. It indicates that the installation is correct this time. The problem with create command is different, but I believe it is caused by the same reason - it looks like there are some limitations on your machine when connecting to npm and sometimes you are unable to install the packages or they are not fully downloaded. When you create new project, we execute `

[2015-03-12 10:54] Kyozatch commented on #297
That's ok. But then, I tried <b>tns platform add android</b> and got :

<code>
Copying template files...
Failed to retrieve data from npm. Please try again a little bit later.. Error: E
rror: connect ECONNREFUSED
</code>

It seems this problem will always block me somewhere, whatever if i downoald directly the android platform.

[2015-03-12 11:03] JesusIslam commented on #288
Yes, you we could close this issue. Thank you for the assistance.

[2015-03-12 11:03] #288 closed

[2015-03-12 11:20] rosen-vladimirov commented on #297
I've checked our code and before installing the required package from npm, we make http call to http://registry.npmjs.org/ to check the latest version of the package. I assume these calls are failing on your side (as npm install outside of nativescript-cli is working for you). Can you try opening http://registry.npmjs.org/tns-android from your browser and see if you receive result (it should be JS

[2015-03-12 12:41] Kyozatch commented on #297
{"db_name":"registry","doc_count":139733,"doc_del_count":372,"update_seq":832153,"purge_seq":0,"compact_running":false,"disk_size":820629627,"data_size":502696267,"instance_start_time":"1414070394956022","disk_format_version":6,"committed_update_seq":832153}

No problems.

[2015-03-12 13:04] dtopuzov commented on #293
Found a difference in iOS:
Run can run the app in simulator, Deploy can't deploy in simulator.

[2015-03-12 13:10] briangabriel opened #302 "Does not work behind proxy"
I can install NativeScript via npm with no issues, but there is no way to configure the http-client with the proper proxy settings.

E:\LocalDev\nativescript>tns create hello-world --log trace
Starting watch on killswitch C:\Users\gabrielb\AppData\Local\Temp\gabrielb\KillSwitches\cli
Creating a new NativeScript project with name hello-world and id org.nativescript.helloworld at location E:\LocalDe

[2015-03-12 14:26] Kyozatch commented on #297
Is it possible that nativescript or npm would have some difficulties when using a corporate's proxy ?
It's weird...

[2015-03-12 15:57] dtopuzov opened #304 "[iOS] "tns emulate ios -- availableDevices" requires --path"
I think "tns emulate ios -- availableDevices" has no dependencies on created project, so it should be ok to run it if you are not inside NativeScript project folder.

Also the output is a bit strange:
Cleaning up before starting the iOS Simulator
Starting iOS Simulator

I don't want to start simulator, I'm just checking if simulator is available.

[2015-03-12 16:23] rosen-vladimirov commented on #302
Hi @briangabriel
It looks like there's a problem with the http-proxy. Could you try the suggestion from [this blog post](http://wil.boayue.com/blog/2013/06/14/using-npm-behind-a-proxy/):
```npm config set proxy http://proxy.company.com:8080``` for example
Hopefully this will solve the issue.

[2015-03-12 16:25] rosen-vladimirov commented on #297
Hi @Kyozatch, well ```npm``` should be configured in order to work correctly when a corporate proxy is in use. Please take a look at [this blog post](http://wil.boayue.com/blog/2013/06/14/using-npm-behind-a-proxy/) Can you try the commands mentioned there and see if it will work for you?

[2015-03-12 16:47] Kyozatch commented on #297
That's exactly the website i consulted to param npm.. Actually I've no more ideas to solve the problem.

[2015-03-12 17:16] briangabriel commented on #302
I have no problems with npm, the issue is that the `NodePackageManager.getAvailableVersions` method calls the npm registry via a straight up HTTP request:

    var url = NodePackageManager.NPM_REGISTRY_URL + packageName;
    var response = this.$httpClient.httpRequest(url).wait().body;

[2015-03-12 20:22] hy9be commented on #299
Thanks! I will try to collect the log. The machine has 16GB RAM so should be fine in terms of available memory.

[2015-03-13 01:30] hy9be commented on #299
Here you go, the build trace:

TypeError: Cannot read property 'isLessThanOrEqualTo' of undefined
    at FiberFuture.Future.wait (/usr/local/lib/node_modules/nativescript/node_modules/fibers/future.js:488:15)
    at /usr/local/lib/node_modules/nativescript/lib/nativescript-cli.js:15:45
    - - - - -
    at FiberFuture.Future.wait (/usr/local/lib/node_modules/nativescript/node_modules/fibers/future

[2015-03-13 07:14] SiddharthaRRamesh commented on #299
Even I have the same problem

[2015-03-13 07:26] dtopuzov opened #305 ""tns platform update" should have option to specify version"
If ios or android runtime release unofficial version like  "0.9.2-beta" CLI is not able to create project with this version or update to this version.
It will be nice if I can run "tns platform update ios@0.9.2-beta" or something similar.

[2015-03-13 07:26] SiddharthaRRamesh opened #306 "Cant find material theme"
[aapt] Generating resource IDs...
     [aapt] /home/siddhartha/MyApp/platforms/android/res/values-v21/styles.xml:3: error: Error retrieving parent for item: No resource found that matches the given name 'android:Theme.Material.Light'.

BUILD FAILED
/home/siddhartha/Downloads/android-sdk-linux/tools/ant/build.xml:653: The following error occurred while executing this line:
/home/siddhartha/Download

[2015-03-13 07:30] dtopuzov commented on #248
This issue is also very important for debugging experience in NativeScript, because before debug first project is build and deployed.

[2015-03-13 08:19] slavchev commented on #299
Hi all,

This is a known bug in our build logic. Please see the following link http://www.telerik.com/forums/nativescript-cli-build-failed-no-resource-found-that-matches-the-given-name-%27android-theme-material-light%27 for workarounds.

[2015-03-13 08:23] SiddharthaRRamesh commented on #299
I just deleted my sdk folder and trying with the latest sdk. This might take a while!

[2015-03-13 09:07] teobugslayer opened #308 "turn on trace logging in a file by default"

[2015-03-13 09:09] Fatme commented on #306
https://github.com/NativeScript/nativescript-cli/issues/299

[2015-03-13 09:09] #306 closed

[2015-03-13 10:08] rosen-vladimirov commented on #297
Hi @Kyozatch
May I ask you one last thing (once again, thank you very much for your cooperation). Can you try installing [this custom package](https://www.dropbox.com/s/wrn77fgmmdvxg6c/nativescript-0.9.1.tgz?dl=0) of nativescript-cli. Just download the file and execute:
```$ npm i nativescript-0.9.1.tgz -g```
After the installation finishes, find the place where nativescript is installed and open

[2015-03-13 10:10] rosen-vladimirov commented on #302
Hi @briangabriel ,

You are absolutely correct. We are working on adding support for proxy, but meanwhile, can you try one more thing:
Can you try installing [this custom package](https://www.dropbox.com/s/wrn77fgmmdvxg6c/nativescript-0.9.1.tgz?dl=0) of nativescript-cli. Just download the file and execute:
```$ npm i nativescript-0.9.1.tgz -g```
After the installation finishes, find the place wher

[2015-03-13 10:37] Kyozatch commented on #297
Ok I understand now. When i just try do download <a href="https://www.dropbox.com/s/wrn77fgmmdvxg6c/nativescript-0.9.1.tgz">this custom package</a>, i have a ERR_CONNECTION_REFUSED.
If you use dropbox as backend, i can't make any download because my corporate block this website. So the problem comes from here ! :)

[2015-03-13 10:39] rosen-vladimirov commented on #297
Hi @Kyozatch
No, we do not use dropbox for backend. I've used it just to upload this package in my own dropbox. I'll try to upload it on another place, so you can take the package and try it on your side.

[2015-03-13 10:44] rosen-vladimirov commented on #297
Can you try [this link](https://github.com/rosen-vladimirov/nativescript-cli/releases/download/v0.9.1-proxy-test/nativescript-0.9.1.tgz) - it is from github repo, so it should work this time.

[2015-03-13 10:45] rosen-vladimirov commented on #302
Hi @briangabriel
In case you have problems with above link (its from dropbox), you can try [this one](https://github.com/rosen-vladimirov/nativescript-cli/releases/download/v0.9.1-proxy-test/nativescript-0.9.1.tgz) - this time I've uploaded the package directly in github.

[2015-03-13 11:29] dtopuzov opened #309 ""tns device log" does not work for both Android and iOS"
tns device log does not work for both Android and iOS

workaround:
For iOS use this tool: https://github.com/rpetrich/deviceconsole/
For Android use: adb logcat

[2015-03-13 12:51] Kyozatch commented on #297
ECONNREFUSED.
Perhaps should I try something like : FIDDLER_HOSTNAME: 'my_proxy<b>:port</b>' ?

[2015-03-13 12:54] Kyozatch commented on #297
Something like that ? :

PROXY_TO_FIDDLER: true,
FIDDLER_HOSTNAME: 'my_proxy',
PROXY_PORT: 80

It didn't work for me.

[2015-03-13 12:54] hy9be commented on #299
Thanks! I tried to "replaced on the file "res/values/styles.xml" Theme.Material.Light to Theme.Light". It did work.

[2015-03-13 13:14] rosen-vladimirov commented on #297
@Kyozatch, the project I've sent you doesn't respect PROXY_PORT option. I've prepared another pacakge, you can download it from [here](https://github.com/rosen-vladimirov/nativescript-cli/releases/download/v0.9.1-proxy-test/new-nativescript-0.9.1.tgz)
After you install it, go to installation folder and find config file. In it you will find config.json file - fill in your details (PROXY_PORT, PROXY

[2015-03-13 13:39] Kyozatch commented on #297
Very great job, it works !!
I can create my project without any problem.

But now I meet a new kind of error when i want to add an android platform to my new project.

C:\Users\KNSD1821\projects\nstest>tns platform add android
Copying template files...
spawn cmd ENOENT

I'm still with nodejs 0.12.0. Should i downgrade to a 0.10.X ?

[2015-03-13 13:40] rosen-vladimirov commented on #297
Can you run your command once again by using --log trace:
```$ tns platform add android --log trace```
and send the output?

[2015-03-13 13:41] rosen-vladimirov commented on #297
And nativescript-cli should work fine with nodejs 0.12, so there's no need to downgrade your version :)

[2015-03-13 13:47] Kyozatch commented on #297
Here i am :

"C:\Users\KNSD1821\projects\nstest>tns platform add android --log trace
Starting watch on killswitch C:\Users\KNSD1821\AppData\Local\Temp\KNSD1821\KillS
witches\cli
AnalyticsInstallationID: de485939-95cf-448c-81d2-552c8d7a12a7
monitor not started
monitor not started
monitor has started, connecting to http://5752dabccfc54c4ab82aea9626b7338e.monit
or-eqatec.com/json.ashx
Looking for pro

[2015-03-13 13:59] rosen-vladimirov commented on #297
Can you try executing android command on your console, just write ```$ android```
I suspect you do not have ```platform-tools``` and ```tools``` directories from Android SDK added to your PATH. Please note that this is one of our [system requirement](http://docs.nativescript.org/setup/ns-cli-setup/ns-setup-win.html) - check step 5. Installing Android SDK for correct setup.

[2015-03-13 14:07] Kyozatch commented on #297
You're $ android doesn't work, but my path looks correct.

<b>PATH :</b>
C:\Users\KNSD1821\AppData\Roaming\npm;%JAVA_HOME%\bin;C:\ProgramData\Oracle\Java\javapath;%ANDROID_HOME%\platform-tools;%ANDROID_HOME%\tools;%ANT_HOME%\bin;C:\Program Files\nodejs\

<b>ANDROID_HOME :</b>
C:\Users\KNSD1821\AppData\Local\Android\sdk

[2015-03-13 14:13] PanayotCankov opened #312 "tns create App1 --appid com.company.App2 fails to propagate to bundle id in iOS"
Executing:

`tns create App1 --appid com.company.App2`
creates an app with properly set id in the .tnsproject.

However the command:
`tns platform add ios`

Will create an Xcode project with bundle identifier:
`org.nativescript.App`

As a result it gets very tricky to deploy on device, when using some of the more restrictive permissions: that require exact app id; and does not allow wildcards;

[2015-03-13 14:32] rosen-vladimirov commented on #297
Hi @Kyozatch

We've checked this error - in android.bat file inside ANDROID_HOME\tools\, there's a call to xcopy. It looks like for some reason you do not have xcopy. As this tool is part of Windows installation, I'm not sure how we can help you in this case. On my machine the xcopy is under C:\Windows\System32 directory. Also you can try executing ```$ echo %PATH%``` on your console and you'll se

[2015-03-13 15:11] Kyozatch commented on #297
I don't know why, but my path to System32 has been delete. So now everything works good !
Thanks you so much for your assistance @rosen-vladimirov !!! You're a prince.
I look forward to start to code :)

[2015-03-13 16:29] rosen-vladimirov commented on #297
Hi @Kyozatch,
I'm glad we've finally succeeded. We wouldn't make it without your help. Hope you'll like NativeScript :)

[2015-03-13 16:47] eutobias opened #317 "Debug Port being ignored..."
Hello, sorry my bad english :)..

I'm testing NativeScript since yesterday and i fight a lot against debug parameters and found something that could be a problem. (i'm not sure if the problem is really a bug or me fault), let me explain.

My hardware:
MacBook Pro - Mavericks, Asus a501 - Android 4.4.2

I'm trying to debug on my android device and running the default project create when you add a p

[2015-03-13 17:57] Klors commented on #302
I've tried the version and it doesn't work for me, probably because the port is hard-coded to 8888 (the xxx.xxx.xxx.xxx is really the right IP address, just blanked). I've tried it with just the host IP address and with the IP address and port, the result for both is the same.

    httpRequest: { method: 'GET',
     host: 'xxx.xxx.xxx.xxx',
     port: 8888,
     path: 'http://registry.npmjs.org/tn

[2015-03-13 22:07] rosen-vladimirov commented on #302
Hi @Klors
You are correct, in the package I've prepared, the port is hardcoded. We've prepared a fix for this and it will be included in our next release. You can try it now by downloading [this package](https://github.com/rosen-vladimirov/nativescript-cli/releases/download/v0.9.1-proxy-test/new-nativescript-0.9.1.tgz) and modifying ```<installation dir>\config\config.json``` file - just set USE_P

[2015-03-14 12:54] Klors commented on #302
That's great, I'll try it on Monday thanks.

[2015-03-14 14:47] calebeaires opened #319 "Cant install nativescript cli"
[code]

[2015-03-14 15:34] deepure opened #320 "How to specify the emulator hardware device?"
when run the command : tns run ios --emulator , always run a simulator for iphone4s

can I change it?

[2015-03-15 09:13] rosen-vladimirov commented on #320
Hi @deepure ,
You can use --device option of emulate command. Use ```$ tns emulate ios -h``` to see more details how to use the option. For a full list of available devices, just run ```$ tns emulate ios --availableDevices```

[2015-03-15 09:17] rosen-vladimirov commented on #319
Hi @calebeaires ,
Can you send some more details:
 - Which OS are you using
 - Which node version are you using (output of ```node -v```)
 - Which npm version are you using (output of ```npm -v```)
 - In case you are running on MacOS or Linux, do you have gcc installed?
 - Can you send us the full log of the installation. For example ```npm i -g nativescript > output.txt``` and share the output.tx

[2015-03-15 09:58] rosen-vladimirov commented on #233
Hi @chehabz
I assume the problem happened with version 0.4.2 of nativescript-cli. May I ask you to try our latest release and see if the problem is still reproducible on your side?

[2015-03-15 13:53] calebeaires commented on #319
Mac OSx
Node: v0.10.33
npm: 1.4.28

[code]

[2015-03-16 07:27] rosen-vladimirov commented on #294
Hi @scbenjamin
nativescript-cli does not generate any logs for the emulators. They are created by the emulators themselves. As far as I know, in Genymotion you can extract the required logs, by opening settings menu, go to MISC. tab and use the "Save all logs" files. You can check [Genymotion's user guide](https://www.genymotion.com/#!/developers/user-guide) for more information (just search for l

[2015-03-16 09:24] #320 closed

[2015-03-16 09:48] rosen-vladimirov commented on #319
@calebeaires

Thank you for this information. Unfortunately the short log that you've provided, does not give us more information. May I ask you to execute:
```npm i -g --verbose nativescript > output.txt``` and share the output.txt file?
Also can you check if you have gcc installed on your machine?

[2015-03-16 10:00] #251 closed

[2015-03-16 10:36] dtopuzov opened #322 "CLI should have logic for official and experimental Runtime releases"
Sometimes NativeScript will upload experimental versions of Android and iOS runtimes (e.g. "tns-ios-0.9.1-iOS8.2").
When platform add or update is performed CLI should add/update to latest stable version.

[2015-03-16 11:11] #297 closed

[2015-03-16 11:31] Fatme opened #324 "Run ios shows "Unable to find adb in PATH. Default one from %s resources will be used." warning then android SDK is not in path"

[2015-03-16 11:40] Fatme commented on #324
1. Remove android sdk from PATH
2. Execute run ios

[2015-03-16 11:45] webryan opened #325 "How to connect to genymotion emulator?"
I got the name of emulator by 'genyshell -c "device list"'.
[code]

Then I try to connect the emulator by 'tns emulate android --geny "galaxys4"'. But I got a error message. Anything wrong ?

[code]

[2015-03-16 11:53] webryan commented on #325
I try to restart and kill the adb server by 'adb restart-server'/'adb kill-server', but it's not effect

[2015-03-16 11:53] rosen-vladimirov commented on #325
Hi @webryan
Can you try ```$ adb kill-server``` and after that execute ```$ tns emulate android --geny galaxys4```
Also, have you added tools and platform-tools from Android SDK in your PATH? If yes, may I ask you to give us the output of ```adb version```

[2015-03-16 11:58] webryan commented on #325
@rosen-vladimirov
still not work.
[code]

[2015-03-16 12:07] rosen-vladimirov commented on #325
Hi @webryan ,
Can you try updating your adb to your latest version (it is 1.0.32) and try one more time?

[2015-03-16 12:14] dowinning opened #328 "Error occurs when i run command "tns run android --emulator" in Ubuntu"
Main error info was here:
-----------------------------------------------------------------

BUILD FAILED
/usr/local/android/android-sdk-linux/tools/ant/build.xml:653: The following error occurred while executing this line:
/usr/local/android/android-sdk-linux/tools/ant/build.xml:698: null returned: 1

Total time: 1 second
Command ant failed with exit code 1

--------------------------------------

[2015-03-16 12:22] rosen-vladimirov commented on #328
Hi @dowinning ,
This is a known issue, that had been discussed here: https://github.com/NativeScript/nativescript-cli/issues/299 The problem is with values-v21 directory when you are targeting android sdk below 21. We've already prepared a fix for this issue and it will be included in our next release. Meanwhile you can use the workaround that's been discussed in https://github.com/NativeScript/na

[2015-03-16 12:22] rosen-vladimirov commented on #328
I'm closing this thread now, you can write your comments regarding this problem in https://github.com/NativeScript/nativescript-cli/issues/299 or in case you think this one is another issue, you can reopen it.

[2015-03-16 12:22] #328 closed

[2015-03-16 14:33] rosen-vladimirov opened #333 "Migrating between android runtimes does not update res directory"
In case you use $ tns platform update android@0.9.0 (when you are using 0.4.2 for example), platforms/android/res directory will not be updated accordingly and in some cases could make your project unbuildable.

[2015-03-16 14:36] calebeaires commented on #319
I have did it. Output still the same

[2015-03-16 16:21] jasssonpet opened #334 "Updating applications with third party libraries"
When updating a platform, the currently added third party libraries will be removed. They should be readded automatically somehow after the update.

[2015-03-16 17:09] calebeaires commented on #319
Install got this:  https://www.dropbox.com/s/1p6q5q4juf5mjh3/output.txt?dl=0

[2015-03-16 17:18] Fatme opened #335 "Respect Android and iOS folders from App_Resources"
Example:
We should be able to respect App_Resources/Android folder and on prepare step we should copy its content into platforms/android/res

[2015-03-16 22:11] rosen-vladimirov commented on #319
@calebeaires , thank you for providing the log. The important messages I've found in it are:
[code]
This indicates that the script is started with a user, that cannot access node-gyp (or at least it looks like this). Maybe you have installed node-gyp with sudo? You can try reinstalling node-gyp (npm i -g node-gyp) or installing nativescript-cli with sudo.
The log you've provided suggests to reinst

[2015-03-17 03:43] webryan commented on #325
@rosen-vladimirov
It's work after updating the adb to 1.0.32. thank u very much.

[2015-03-17 03:44] #325 closed

[2015-03-17 06:42] blocka commented on #317
Likewise on my ubuntu machine, chrome does not open with the debugger as advertised. I need to grab the random port as shown above.

[2015-03-17 07:10] rosen-vladimirov commented on #335
Same is valid for AndroidManifest.xml inside App_Resources/Android

[2015-03-17 11:11] Klors commented on #302
That worked perfectly thanks

[2015-03-17 11:13] rosen-vladimirov commented on #302
Thank you for testing it. As I've said - the same fix will be included in our next release. I'm closing this thread now, but feel free to contact us in case you have any other problems with the configuration.

[2015-03-17 11:13] #302 closed

[2015-03-17 12:57] dtopuzov opened #340 "Deploy/Run/Emulate without build"
Provide a way to Deploy/Run/Emulate without building again.

[2015-03-17 12:59] rosen-vladimirov commented on #233
Hi @chehabz

I'm closing this thread now, but feel free to contact us in case you still have problems.

[2015-03-17 12:59] #233 closed

[2015-03-17 13:14] calebeaires commented on #319
Did it. Thanks!

[2015-03-17 13:49] rosen-vladimirov commented on #319
I'm glad it helped. I'm closing this issue now, but feel free to contact us in case you have any problems or concerns.

[2015-03-17 13:49] #319 closed

[2015-03-17 22:42] alex-rokabilis commented on #317
thanks for noticing this I was struggling for the same thing, I am new to nativescript too. Also how can you see the console.log messages?

[2015-03-17 23:02] alex-rokabilis commented on #294
i had the same problem with genymotion and i found that all the logs are been kept here:
`/home/{{USERNAME}}/.Genymobile/Genymotion/deployed/{{DEVICE_NAME}}/logcat.txt`

if you want something like a live log in the terminal you can use in ubuntu:
`watch tail -n 50 /home/{{USERNAME}}/.Genymobile/Genymotion/deployed/{{DEVICE_NAME}}/logcat.txt`

[2015-03-18 01:37] eutobias commented on #317
Well everyone is new to nativescript =p...
Open your browser with the url i've said replacing the port

[2015-03-18 01:42] webryan opened #342 "Does nativescript support third-party libraries? And how to use it?"

[2015-03-18 06:51] #299 closed

[2015-03-18 06:51] #305 closed

[2015-03-18 06:51] #322 closed

[2015-03-18 08:59] Fatme commented on #342
Hi @webryan,

Yes, NativeScript CLI supports third-party libraries. You can used ` $tns library add <Platform> <Path-to-library>` command to add your library into project.

[2015-03-18 09:32] webryan commented on #342
@Fatme how to invoke the method of third-party libraries? There is no module files for JavaScript. I need to require some file first, right?

[2015-03-18 10:34] #224 closed

[2015-03-18 10:34] #228 closed

[2015-03-18 13:57] rosen-vladimirov opened #348 "tns platform add ios downloads experimental version"
When I create project and execute ```tns platform add ios``` instead of using version 0.9.1 (which is currently latest stable), it downloads the latest experimental.

[2015-03-18 14:40] Fatme commented on #335
Yes, everything in Android folder should be respected. The description above is just a example with `res` folder.

[2015-03-18 14:43] Fatme commented on #53
User can use any runtime version published in npm. So this bug is irrelevant and I am going to close it.

[2015-03-18 14:44] #53 closed

[2015-03-18 14:56] Fatme commented on #86
We've already supported this. The build uses the certificate and provision that are setuped on the machine. Also the user can edit xcconfig file to use any provision/certificate.

[2015-03-18 14:56] #86 closed

[2015-03-18 14:57] Fatme commented on #95
We've have implemented this.

[2015-03-18 14:57] #95 closed

[2015-03-18 15:11] rosen-vladimirov commented on #294
As this issue is not related to nativescript-cli, but to Genymotion, I'm closing this thread.

[2015-03-18 15:11] #294 closed

[2015-03-18 15:55] teobugslayer opened #350 "ask users to turn on command line auto completion explicitly"

[2015-03-18 16:24] #348 closed

[2015-03-18 16:30] #137 closed

[2015-03-19 07:52] rosen-vladimirov commented on #260
Hi @spacepluk, @diverted247,
I just want to update you on this case. Base on your feedback we've decided to ask the user for confirmation before writing to .bash_profile and .bashrc files. This behavior is already part of the master branch, so you can give it a try immediately.
I'm closing this thread now, the related one for the feature implementation is [here](https://github.com/NativeScript/nat

[2015-03-19 07:52] #260 closed

[2015-03-19 09:08] dtopuzov opened #352 "Emulate command do not reuse emulators"
Even if android emulator is running emulate command start new emulator.
It will be nice if emulate command is able to reuse currently running emulator, it will save a lot of time.
Note that second emulator can not use haxm acceleration and it is much slower.

[2015-03-19 14:07] calebeaires opened #354 "Will nativescript have plugins?"
Will nativescript cli have plugins: admob and sqlite?

[2015-03-19 20:32] brianchirls opened #355 "UnsupportedClassVersionError when attempting to run on Android"
I am unable to run anything on Android. I am getting an `UnsupportedClassVersionError` when attempting to run the basic "Hello World" example, on either the emulator or the actual device. I believe I have all my paths set up and the latest versions of JDK, Ant and Android SDK. (This is on OSX.)

The following is the end of the console output when I run `tns run android`
[code]

[2015-03-19 20:39] rosen-vladimirov commented on #355
Hi @brianchirls ,
It looks like the problem is with your java version. May I ask you to update your JDK to at least version 7 or even better - 8 and above. After that can you try run command again?

[2015-03-20 09:42] PanayotCankov opened #358 "tns ios debug"
## Integrate the ios debugging with the CLI.
All the commands must be executed within the tns project folder, or with path to a project. They require the bundle id to setup the communication.

### Debug --debug-brk on Device
`tns debug ios --debug-brk`
Prepare, build, deploy, run the app. Start the inspector in Safari. Attach the inspector before any JavaScript is executed on iOS device. If you ha

[2015-03-20 09:45] PanayotCankov commented on #358
For testing purposes you may provide `--no-client` to suppress the Safari. Then the app will open 8080 for emulator or the CLI will forward the traffic from the device to the localhost on 8080.

Then you can connect to localhost 8080 using WebSocket client and simulate Inspector if you manage to reverse engineer the debugging protocol.

[2015-03-20 11:22] #291 closed

[2015-03-20 11:32] #350 closed

[2015-03-20 12:25] #169 closed

[2015-03-20 12:25] #312 closed

[2015-03-20 13:30] iamkarlson opened #359 "Debug port -1 when run on android emulator"
Hello, I can't run debugger on android emulator because script stuck here
[code]

After wait dbgPort geting -1

[2015-03-20 14:28] iamkarlson commented on #359
I continued my investigation and I've found cause of port -1.
File envDebug.out not exist in files directory. What am I doing wrong?

[2015-03-20 15:19] jibay commented on #342
@webryan +1

[2015-03-20 20:41] brianchirls commented on #355
Thanks for the extremely quick reply, @rosen-vladimirov. I had updated to version 7 and then 8, but neither was working. Turns out that my `JAVA_HOME` environment variable was still pointing to the old version that came with OSX. If I point it to 7, it works fine. But 8 does not work for some reason.

Now I have a new problem, which is this error message: "Could not find an emulator image to run y

[2015-03-20 20:42] brianchirls commented on #355
For the record, here's the error I get when running with JDK 8 (1.8.0_40):

[code]

[2015-03-21 15:36] ligaz opened #362 "Enable NPM as package manager for NativeScript projects"
A common use case for NativeScript developers is the ability to install pure JavaScript modules from NPM. Currently this process is cumbersome and it is not straightforward how to `require` modules that have dependencies due to the nesting of `node_modules` folders. The end goal is that `npm install ...` should work out of the box.

### Relying on 'standards'
In order to support this a couple of t

[2015-03-21 15:53] ErjanGavalji commented on #362
Kudos!

Regarding the nativescript-specific properties, a separate key looks like the cleanest solution.

As per having nativescript "engine" prerequisite, though cumbersome in the beginning, it is the cleanest approach when having to avoid unsupported nodejs modules. Shim creation could get easy by using the original NodeJS module as a git submodule of the shim repo.

[2015-03-21 15:58] ErjanGavalji commented on #362
Additionally, the root node_modules folder might hold preprocessing-related packages (i.e. grunt, gulp, plugins for them, etc.) that should not get copied to the NativeScript application folder...

[2015-03-21 16:04] ligaz commented on #362
:point_up: Good point about `devDependencies` I will update the issue.

[2015-03-21 18:07] EduardoAzul opened #363 "Could not find an emulator image to run your project"
Hey there,

i'm getting this error when i try to run with emulator tns run android --emulator, i'm using ionic and it runs all my apps in the emulator, it should work for nativescript either, anyone had this error before?

Thanks.

![capturar](https://cloud.githubusercontent.com/assets/5863131/6766214/ea356dfe-cfdb-11e4-9a50-1ffaa380efa9.JPG)

[2015-03-21 22:36] tjvantoll commented on #362
First of all, this look spectacular. I'm a big fan of this setup.

I'm also a fan of the single “nativescript” key.

This will be a nuisance for maintenance but I still think it's a good idea. We might want to make it a warning rather than a hard requirement. I believe that's what Cordova does for their `<engines>`.

Out of curiosity is the plan to have the cross-platform modules follow these same

[2015-03-22 11:53] flowforever opened #364 "List View issue when trying to swipe from left and back with animation effect, on the ios"
I put a ListView on the page, then I add a itemTap event to open a detail page.
the pages like these:
ListPage:
![2015-03-22 7 28 41](https://cloud.githubusercontent.com/assets/1191872/6769139/0f07caca-d0ca-11e4-93ac-32f71a848a5d.png)

Detail Page:
![2015-03-22 7 35 23](https://cloud.githubusercontent.com/assets/1191872/6769193/a5d672d4-d0cb-11e4-91c4-e5b072b8281f.png)

Then I got this:

![2015-03

[2015-03-22 14:25] flowforever commented on #363
I have met this issue, After I install the Android SDK everything goes well.

[2015-03-23 07:13] rosen-vladimirov commented on #363
Hi @EduardoAzul
Have you added platform-tools and tools directories from your Android SDK to your PATH environment variable? Also you can try starting your AVD Manager and see if there's an image which targets at least Android 4.2.2 (the minimum supported API Level is 17).
If all of these requirements are met, can you try
[code]
and send us the output. It will be great if you can send the output o

[2015-03-23 07:22] rosen-vladimirov commented on #355
Hi @brianchirls,
Thank you for sharing this information. As per the new error for missing emulator image, may I ask you to check this issue for suggestions how to fix it:
https://github.com/NativeScript/nativescript-cli/issues/363
As per the JDK 8 problem, this is really strange, can you share the id of your app (in the root directory of the project, there's a hidden file called ".tnsproject". Ope

[2015-03-23 08:21] teobugslayer opened #365 "after build fails, livesync over cable should not try to deploy on device"

[2015-03-23 09:31] teobugslayer commented on #364
Hello @flowforever , please open an issue in https://github.com/NativeScript/cross-platform-modules - this repo is for the CLI tool.

[2015-03-23 09:31] #364 closed

[2015-03-23 09:32] teobugslayer commented on #363
Hello @EduardoAzul, are you using Google API images? For the beta release, we support only pure android images. Of course, we accept pull requests :)

[2015-03-23 10:51] teobugslayer commented on #342
@webryan please check the [docs](http://docs.nativescript.org/runtimes/android/external-libs/jars). I think that in javascript after importing org.example.Example, you should be able to simply write ```var e = new org.example.Example(); e.exampleMethod()```.

[2015-03-23 10:59] Fatme commented on #365
This issue is not relevant for NativeScript CLI.

[2015-03-23 10:59] #365 closed

[2015-03-23 14:51] brianchirls commented on #363
I'm having the same problem. The android tools and platform-tools directories are both in my PATH. (The android sdk folder is under ~/Library/Android) I've got images for API 21, 19 and 17.

The output of `adb version` is:
[code]

The output of `tns run android --emulator --log trace` is here:
https://gist.github.com/brianchirls/2b497a0561763030e774

[2015-03-23 14:52] brianchirls commented on #355
@rosen-vladimirov, I updated #363 with my own output log.

The id of the app is `org.nativescript.tnshelloworld`

[2015-03-23 15:42] teobugslayer commented on #335
Additionally, we must change current templates, and move drawable-* dirs into res/

The "prepare" command should change to accomodate

[2015-03-23 15:43] teobugslayer commented on #333
This potentially will be fixed when implementing https://github.com/NativeScript/nativescript-cli/issues/335

[2015-03-23 18:18] EduardoAzul commented on #363
Hey guys, thanks for the support :)

@rosen-vladimirov I have the platform-tools and tools directories in path variable, and all API Levels after 17

The output of *adb version* is:

*Android Debug Bridge version 1.0.32*

And here is the output of the *tns run android --emulator --log trace*

https://gist.github.com/EduardoAzul/c480c5cb33cd10fa38fd

@teobugslayer

I dont't really know if i'm using

[2015-03-23 22:47] rosen-vladimirov commented on #363
Hi @EduardoAzul , @brianchirls
Thanks for the information you've both shared. As @teobugslayer pointed, currently nativescript-cli can handle only native android images, when you do not select image on your own. Can you try
```tns run android --emulator --avd <image name>```
and replace ```<image name>``` with the name of one of your images listed when you start AVD Manager. Can you check if this

[2015-03-24 01:24] EduardoAzul commented on #363
@rosen-vladimirov Hell damn right!

**tns run android --emulator --avd Nexus_5_API_21_x86**

Thanks Guys! ^_^

![capturar](https://cloud.githubusercontent.com/assets/5863131/6794003/5f2b8550-d1ab-11e4-9f90-ab365badce9c.JPG)

[2015-03-24 14:06] brianchirls commented on #363
It worked for me too. And after running it once specifying image, it works just fine without it and just defaults to that image. Strange.

Also, when I accidentally mis-type the image name, it does not seem to notice that the image name I gave it doesn't exist and hangs indefinitely.

[2015-03-24 14:19] brianchirls opened #371 "Startup is extremely slow on Android"
The Hello World application often takes a very, very long time to show any interface and run the `loaded` callback. The last time I ran it on the emulator (X86 emulator with HAX installed), it took 37 seconds from the time the app showed up with a blank white screen and menu bar. I've seen it take long enough to get a "not responding" warning. It's also slow running on my actual device (Nexus 4).

[2015-03-24 14:27] rosen-vladimirov commented on #363
Hey guys, I'm happy the emulator is finally started.

@brianchirls
It is really strange that is started working without passing avd. Our code is checking some of the images configuration files and maybe after the first start, they were successfully created and the next time we are able to read the required information.
As per the incorrect image name, we have it in our backlog https://github.com/N

[2015-03-24 14:32] brianchirls commented on #246
Sensor access (accel, gyro, position, etc.) would definitely be useful.

I believe Android does it through event listeners, and that's probably the best way to do it. There are various settings that describe how often events get triggered, balancing needs of the application with energy consumption. It might make for an easier API to allow querying of sensor values on every frame, but I worry that

[2015-03-24 14:34] brianchirls commented on #363
Thanks, @rosen-vladimirov. My only concern is that this step should probably be added to the documentation if it can't be fixed, before the issue is closed.

[2015-03-24 14:39] rosen-vladimirov commented on #359
Hi @iamkarlson
Please excuse us for the late reply. Can you try running the command with ```--log trace```, for example
```tns debug android --start --log trace```
If you can send us the output, we'll investigate it on our side. Also what is the android version of your device/emulator image?

[2015-03-24 14:44] rosen-vladimirov commented on #371
Hi @brianchirls
Thank you for your feedback. In fact speeding up android apps is our top priority for version 1.0. Currently the apps are starting slow on Android 5.*
One more thing - the speed up of emulator with HAX is possible when only a single emulator is running. In case you have running emulator and you start a second one, the performance will be as the default ARM images.

[2015-03-24 14:49] rosen-vladimirov commented on #355
@brianchirls
I'm closing this thread, lets continue the discussion in https://github.com/NativeScript/nativescript-cli/issues/363

[2015-03-24 14:49] #355 closed

[2015-03-24 15:11] rosen-vladimirov commented on #317
Hi @eutobias
Please excuse us for the late reply. You are correct ```--debug-port``` option is ignored when ti is combine with ```--debug-brk```. You have found the easiest workaround - to execute debug command with log trace and check the port from there.

[2015-03-24 15:26] eutobias commented on #317
How could i debug without --debug-brk parameter? Is it possible?

[2015-03-24 15:29] Fatme opened #372 "Download hello-world template from github url"
CLI should be able to download hello world template from github url. Currently it works only with local path.

[2015-03-24 15:38] rosen-vladimirov commented on #317
Hi @eutobias
You can start your app on the device/emulator and try
[code]

[2015-03-24 15:40] blocka commented on #317
The problem with this is that you have to put in `debugger;` statements in
your code, because they're no way to set breakpoints in the debugger. Why
does `--debug-brk` ignore `--debug-port`?

On Tue, Mar 24, 2015 at 11:38 AM, Rosen Vladimirov <notifications@github.com

[2015-03-24 15:46] rosen-vladimirov commented on #112
First issue is resolved. The second one is part of html help changes.

[2015-03-24 15:46] #112 closed

[2015-03-24 17:20] slavchev opened #373 "Support path to *.jar file when adding a library."
On Android side `library add` command should support path to `*.jar` file.

[2015-03-24 19:11] iamkarlson commented on #359
Yes, sure. You can find it here http://pastebin.com/tDf836qd

[2015-03-25 09:46] ErjanGavalji opened #374 ""Choose-template" functionality"
Easing the learning of NativeScript can be done by providing various start-templates. Once there are a number of predefined templates available at npmjs.org, the CLI can list these to the user and ask them for a selection upon a `tns create` call.

An additional parameter to the `tns create` call can be added, e.g. `--template`. If that provided, no question will get asked.

A new verb, listing th

[2015-03-25 11:47] slavchev opened #375 "Add timeout option to debug command"
Currently, the CLI has hard-coded timeout set to 60 seconds to establish connection with the device/emulator. Make it an option, for example `tns debug android --debug-brk --timeout 120`

[2015-03-25 11:55] slavchev commented on #359
It seems that the CLI cannot establish connection with your device/emulator. Currently, the CLI has hard-coded timeout set to 30 seconds which sometimes is not enough. I logged an issue here https://github.com/NativeScript/nativescript-cli/issues/375.

If you feel adventurous, you can change the timeout to, say, 60 seconds. From your logs I assume that you are running on Windows box, so you can ed

[2015-03-25 13:43] vakrilov commented on #374
Great! IMO the parameter should be  `--template-name` or just `--template`.

[2015-03-25 13:44] rosen-vladimirov commented on #374
Really good idea.
Appbuilder-cli is using ```--template```, so I vote for this suggestion.

[2015-03-25 14:30] teobugslayer commented on #374
besides, --template is shorter to write (for us poor souls without command line auto completion)

[2015-03-25 15:04] iamkarlson commented on #359
Oh, no. My emulator doesn't have attached sdcard, but my phone does. And on my phone debugger  are working fine. Could please find out way to debug apps without mounted sdcard?

[2015-03-25 16:54] slavchev commented on #359
We are already researching other options. I'll close our internal issue and make a public one so everybody can monitor its status.

[2015-03-25 22:30] neurotech opened #376 "Could not start simulator session <Buffer@0x0 >"
After going through the installation process on OSX Yosemite and going through the quick start process:

[code]

I get the following error and the end of the build process:

[code]

Does anyone know how to fix this?

[2015-03-25 22:38] rosen-vladimirov commented on #376
Hi @neurotech
Can you try executing the command with --log trace option and send us the output:
[code]
Also which version of XCode are you using?
You can try increasing the timeout by specifying --timeout 300 for example

[2015-03-25 22:39] rosen-vladimirov commented on #110
Hi @RangerMauve
Thanks for the suggestion. We've logged our idea how to implement this, so I'll close this issue. You can write your ideas in the other thread - https://github.com/NativeScript/nativescript-cli/issues/362

[2015-03-25 22:39] #110 closed

[2015-03-25 22:48] RangerMauve commented on #362
I +1 the idea of having a property called `nativescript` in the package.json. The alternative looks a lot more messy.

Also, publishing modules to npm will definately increase the speed at which people adopt Nativescript since it'd be trivial to publish re-usable packages that use native code.

[2015-03-25 22:50] neurotech commented on #376
I have XCode 6.1 (6A1046a). 6.2 is out but the App Store doesn't think XCode needs to be updated. I am going to reinstall just to be sure.

Regardless here's the trace output: https://gist.github.com/neurotech/efe0674dd9b820c903db

[2015-03-25 23:35] neurotech commented on #376
I am still getting the error after removing XCode 6.1 and installing 6.2. Here's the trace:

https://gist.github.com/neurotech/57f09cafce6bf64537c8

[2015-03-26 00:03] JpCapdevila commented on #362
I think that supporting NPM is a must. People is already writing cross-platform modules (I am), and publishing to NPM will accelerate the usage of Nativescript.

@tjvantoll idea of having a "nativescript-core" module that is upgradeable via NPM sounds like heaven.

[2015-03-26 11:40] ErjanGavalji opened #378 "ProjectTypes"
It would be nice if a project type can be specified - TypeScript, CoffeeScript or JavaScript.

Thus, having a TypeScript/CoffeeScript project, CLI would transpile them to JavaScript as a first step.

[2015-03-26 11:42] ErjanGavalji opened #379 "Generate TypeScript definitions upon library add"
Once #378 gets done, to provide better autocompletion in editors, automatic generation of TypeScript definitions to the third-party library would be great for starting working with the library

[2015-03-26 11:43] enchev commented on #378
:+1:

[2015-03-26 11:43] enchev commented on #379
:+1:

[2015-03-26 13:27] rosen-vladimirov commented on #317
Hi @blocka ,
This is a bug, that we'll fix for one of our next releases. If the issue is urgent, you can fork the repo on your side and fix the problem. After that you can send us a Pull Request with the fix. More information can be found [here](https://github.com/NativeScript/nativescript-cli/blob/master/CONTRIBUTING.md#contribute-to-the-code-base)

[2015-03-26 13:38] teobugslayer commented on #378
May I suggest alternate approach? We have hooks which are executed pre- & post- actions. The users are free to hook the tools they like. This way we are not limited to a particular compiler we support. The users can use traceur, coffeecript, typescript, linters, and everything else they need.

[2015-03-26 13:41] Fatme commented on #376
Hi @neurotech,

Does starting simulator standalone from XCode work?

[2015-03-26 14:59] milannankov opened #380 "Faster builds"
Being able to quickly test changes on an app is crucial which means that builds should be as fast as possible. At the moment building a bare-bones app for android is done in about 20 seconds. That might be okay for the initial build but consecutive builds with minor changes should take considerably less time.  Having no designer at the moment makes this issue much more important since the only way

[2015-03-26 15:15] teobugslayer commented on #380
Hello @milannankov , we are aware of the issue and already working on a fix. You can follow https://github.com/NativeScript/android-runtime/issues/47 for details. Closing this one as a duplicate.

[2015-03-26 15:15] #380 closed

[2015-03-26 15:41] teobugslayer opened #382 "new check-config command"
I think it will be nice to have a new command that the users can call to check their system configuration, for exampe ```$ tns check-config``` This will output the same as post-install does with the current implementation. If you do not have such option, you can install CLI, you'll see some warnings, for example that your adb is not configured correctly, and of course you decide to fix them. After

[2015-03-26 15:43] PanayotCankov opened #383 "3rd party libraries without simulator architecture fail on run in sumulator"
Shared frameworks without simulator slice can be added, but when run in simulator the project builds and runs without problems, however the symbols they export result in 'undefined' at runtime.

This is quite tricky for development. We should consider adding warnings on `tns library add ios` when some slices are missing.

We should also try to warn for missing architectures in the libraries when w

[2015-03-26 19:06] brianchirls opened #385 "TextField data binding ignores last edit operation on ios"
If you simply type some text, the last letter will be ignored. If you edit the text in the field, whatever the last operation is - whether adding a character or removing it - the result will always be one operation behind.

Seems fine in Android.

(version 0.9.4)

[2015-03-26 20:25] brianchirls commented on #385
This might be the same as this other issue:
https://github.com/NativeScript/cross-platform-modules/issues/122

[2015-03-26 20:39] brianchirls opened #386 "Unable to debug at all on Android"
When I run `tns debug android --debug-brk --log trace`, the build process runs and the app is launched on the device (or emulator if no device is plugged in), and then it immediately crashes (presumably because of a bug in my code somewhere). Chrome is not launched, and there is nothing listening on port 8080.

Output is here: https://gist.github.com/brianchirls/60b4fc05e225ace40f38

Possibly rela

[2015-03-26 21:03] neurotech commented on #376
Hi @Fatme,

Yes it works when launched from within XCode - I can browse the web with Safari, etc.

[2015-03-26 21:48] fedmich commented on #299
Changing from android:Theme.Material.Light to **android:Theme.Light** worked for me too. Thanks

[2015-03-27 06:03] demsking commented on #324
I have the same issue when I'm trying to run 'tns platform add android'.
How to resolve that please?

[2015-03-27 07:17] rosen-vladimirov commented on #324
@demsking
It looks like you have not configured your system. The message is just a warning, not an error. In case you do not want to see it, you have to add the following directories from android-sdk in your PATH: `platform-tools` and `tools`. You can check [this link](http://docs.nativescript.org/setup/quick-setup#the-nativescript-cli) for more information how to setup your system.

[2015-03-27 09:57] teobugslayer opened #387 "Warn users for issues in their system configuration"
At install time, we should check the users' machine for most often encountered missing components and warn the user that there might be problems and how to fix them.

This should be a warning and must not block the successful installation.

We should check rhat java, ant, xcode, adb and iTunes are available.

Once the framework is in place, we can add other checks.

[2015-03-27 09:58] teobugslayer opened #388 "Add system information in the tracing logs"
Add extensive system information in logs generated when the cli is started with --log trace.

We log: name and version of the CLI client; name and version of the host operating system; versions of the used node.js, ant, java, xcode, node-gyp, adb, .net framework, whether iTunes is installed or not.

If we need, we can add additional information in following PRs

[2015-03-27 14:14] ErjanGavalji opened #390 "Support tns_modules from npm"
A NativeScript application package must not contain the `tns_modules` it uses. These should be available through [npmjs.org](http://www.npmjs.org). Utilizing the dependencies in the package.json file (see #362), the CLI would retrieve the modules the application depends on.

[2015-03-27 15:26] teobugslayer commented on #386
Hi @brianchirls,
Indeed, looking at the supplied log it seems that the 30-second timeout is insufficient. Could you follow the advice from https://github.com/NativeScript/nativescript-cli/issues/359#issuecomment-85998150

[2015-03-27 15:30] dtopuzov opened #391 "[Android] splashscreen.9.png malformed"
Android build is successful, but logs contains following error message:

[code]

[2015-03-27 15:32] teobugslayer commented on #385
Hi @brianchirls, this repository is dedicated to the nativescript cli tooling. Please follow https://github.com/NativeScript/cross-platform-modules/issues/122 for the resolution of the issue. I am closing this one.

[2015-03-27 15:32] #385 closed

[2015-03-27 19:37] brianchirls commented on #386
Thanks @teobugslayer. That kind of works a little. It doesn't launch Chrome, but it does pause the application and set up the debugger But once the app stops (usually because it crashes), there doesn't seem to be any way to debug it again, unless I find the node process that's listening on 8080 and kill that first. It makes for a very slow debugging process.

The bigger problem is that if there is

[2015-03-29 19:11] ligaz commented on #354
Right on spot. [Here](https://github.com/NativeScript/NativeScript/issues/25) is our current thinking about this. Please comment there.

[2015-03-29 19:11] #354 closed

[2015-03-30 09:31] rosen-vladimirov opened #393 "Unable to build when app contains .gz file"
In case the app contains .gz file, build for android fails on package-resources step:
-package-resources:
     [aapt] Creating full resource package...
     [aapt]       Unable to add 'd:\Work\scratch\app1\platforms\android\assets\app\app\app.js.gz': file already in archive (try '-u'?)
     [aapt] ERROR: unable to process assets while packaging 'd:\Work\scratch\app1\platforms\android\bin\app1.ap_'

[2015-03-30 09:32] rosen-vladimirov commented on #393
Note, the issue has high impact, when your app contains node_modules, some of them, like semver, contain .gz files

[2015-03-30 10:26] rosen-vladimirov opened #394 "Unable to build on Linux/Mac when app contains symlink"
In case you have symlink in your app, you can build it only the first time. Each consecutive try leads to
[code]

### Steps to reproduce:
* Create project: `tns create app1`
* `cd app1`
* `tns platform add android`
* `cd app/app/`
* `ln -s main-page.xml symlinkToMainPage.xml`
* `tns build android` // this one will pass
* `tns build android` // this one will fail

This is very important when you ar

[2015-03-30 10:32] ErjanGavalji commented on #374
thanks, updating the main post...

[2015-03-31 02:17] jsgandalf commented on #358
This is some really great documentation! I don't mean to be a noob, but I'm running into an issue:

I run: tns ios debug --start

Unknown command 'ios'. Use 'NativeScript help' for help.

Any ideas? :/

tns version: 0.9.4

[2015-03-31 12:26] #248 closed

[2015-03-31 12:29] #387 closed

[2015-03-31 12:33] #388 closed

[2015-03-31 14:18] brianchirls opened #402 "Inconsistent application of CSS styles depending on element order"
I've been playing around with the CSS of the "Tap the button" example and have seen inconsistent and puzzling results. It seems that the styles I'm writing are not applied to certain elements, depending on the order of the elements in the view.

Here is my modified CSS:

[code]

And here's the original view XML:
[code]

In this view, the `.message` Label element does not have any of the styles app

[2015-03-31 14:20] brianchirls commented on #402
This issue only seems to apply to styles set in the css file. Inline styles work just fine, including on the button.

[2015-03-31 15:37] teobugslayer commented on #358
Hi @jsgandalf ,
I think you have made a typo. The correct command should be **tns debug ios **
Also, for 0.9.4 we could not make it work in the emulator. The relevant code is already merged in the master branch and will be released in our next public build.

[2015-04-01 14:28] burkeholland commented on #362
+1 to being able to take a dependency on the `cross-platform-modules`.  Makes for an easy upgrade path.

[2015-04-01 15:04] atanasovg opened #406 "Add option for setting the current platform"
Currently, most of the commands require the platform-specific parameter, e.g.

[code]
What I suggest is to enable some way of setting the current platform and then to call all the commands without this additional parameter. Something like:

[code]

[2015-04-01 15:30] teobugslayer commented on #279
iOS support landed in master and will be available in our next public release.

[2015-04-01 15:30] #279 closed

[2015-04-01 15:42] teobugslayer commented on #386
Hello @brianchirls ,

Thank you for feedback.
We will significantly improve the debugging experience for the upcoming 1.0 release. We aim to resolve the underlying issue and allow debugging of startup crashes.

[2015-04-01 16:03] jasssonpet commented on #309
tns device log, should work for android now

[2015-04-01 20:05] ligaz commented on #402
This issue was moved to NativeScript/cross-platform-modules#242

[2015-04-01 20:05] #402 closed

[2015-04-01 20:19] ligaz commented on #406
What about just adding the capability to execute the commands without platform and it will execute the command for all added platforms.
[code]
will run (prepare, build, deploy) for Android.
[code]
will run for both platforms.

[2015-04-01 20:35] Fatme commented on #376
Hi @neurotech,

This is very strange.. Can you try to execute `node <path to tns>\node_modules\ios-sim-portable\lib\ios-sim.js launch <path to your .app>`

`<path to your .app> should be <your project root>/platforms/ios/build/emulator`

[2015-04-04 19:31] ligaz commented on #192
This issue was moved to NativeScript/cross-platform-modules#260

[2015-04-04 19:31] #192 closed

[2015-04-04 22:45] robert52 commented on #175
is there any workaround for this? or when will the Google images be supported?
Thanks.

[2015-04-05 21:04] ritcoder commented on #342
I was able to successfully load a 3rd party library (azureMobileServices) by following the docs. It works to the part where I'm getting the table but I get an error on insert. I'm thinking it is because I'm not implementing it well. What is wrong with the code below:

[code]

The java sample I'm trying to emulate is as below
[code]

The error is as below
[code]

What is wrong with the code transla

[2015-04-06 10:10] teobugslayer opened #410 "Cleanup `tns run ios --emulator` output"
_From @vjeux on April 5, 2015 15:39_

Since the entire project is written in JS, there isn't a big need for displaying all the xctools build logs. It is super spammy and doesn't add any value for the end user. Would be nice removing it.

Example: https://gist.github.com/vjeux/3a87e04b90f62f43501b (846 lines)

_Copied from original issue: NativeScript/NativeScript#31_

[2015-04-06 10:18] teobugslayer commented on #175
Hi @robert52,
The bug title is wrong - I meant "Support google images for running in the emulator". I fixed the title.
There's no workaround for now - there's some code to be written. We can try fixing this for the 1.0 release but it may be postponed. Of course, pull requests are welcome :)

[2015-04-06 13:46] teobugslayer commented on #175
Implemented in https://github.com/telerik/mobile-cli-lib/pull/268

[2015-04-06 13:46] #175 closed

[2015-04-06 21:51] brianchirls opened #413 "Project id does not match directory name if it contains a dash"
See https://github.com/NativeScript/ios-runtime/issues/77

To reproduce, run `tns create hello-world`.

The project is created in a folder called `hello-world`, but the project id inside .tnsproject is `org.nativescript.helloworld`. Project ids inside other files (e.g. AndroidManifest.xml, build.xml) are inconsistent - some have the dash, and some don't.

[2015-04-06 22:30] robert52 commented on #175
Hi @teobugslayer nice job :+1: that was fast!. I was digging around in the source code, but it would have taken me a while. But anyways I find this project very useful so keep it up. I'll try and contribute with something.

[2015-04-07 08:58] teobugslayer commented on #175
Hi @robert52, please share with us if you have any problems getting up with the project - we would like to make it every easy to start hacking on it!

[2015-04-07 12:21] PanayotCankov opened #415 "NativeScript CLI Use Modules from Node Dev Dependencies"
NativeScript CLI Use Modules from Node Dev Dependencies
==============================================

## Why is this Needed
Currently using custom versions of the nativescript-cli modules is tedious. It requires, for example, referencing the "tns-ios" or "tns-android" packages through "--frameworkPath". The option requires different libraries based on the context it is used. Furthermore working

[2015-04-07 13:20] rosen-vladimirov commented on #415
Great idea, @PanayotCankov . However I see one problem - in case I'm working on MacOS and my app's package.json is something like:
[code]
It will be useless on Windows as tns-ios package cannot be `npm installed` on Windows. So if I try sending it to somebody else, who is using Windows, he will not be be able to even try the app.

[2015-04-07 13:57] teobugslayer commented on #415
@rosen-vladimirov - perhaps using optionalDependencies?

@PanayotCankov - we discussed removing the .tnsproject file and subsuming it into package.json - see https://github.com/NativeScript/nativescript-cli/issues/362

[2015-04-07 17:15] teobugslayer opened #416 "Warn about missing java"
We depend on it indirectly and should warn the users when it is missing

[2015-04-08 06:55] teobugslayer commented on #413
Hello @brianchirls ,
we generate ids so that they are valid in all supported platforms (including windows, which we plan to support). Can you pinpoint where we generate incorrect ids?

[2015-04-08 07:45] #88 closed

[2015-04-08 12:30] brianchirls commented on #413
Hi @teobugslayer. I don't know where in the code the name gets replaced, but I'm pretty sure it happens at project creation, not any time later. It appears it's validated [here](https://github.com/telerik/mobile-cli-lib/blob/1d3c5068f336b0555bc47814bd31c27f426a8d7d/validators/project-name-validator.ts#L7).

If some platforms can't handle a dash in the name, then names containing one should be reje

[2015-04-09 07:02] PanayotCankov commented on #415
By the look of it we also have the versions in the _.tnsproject_ file.
[code]
And there allready plans to remove it, moving the settings in the _package.json_.

So after some iterations on the problem we narrowed it down to two things.

### Do not Copy Binaries From The .NPM Cache
We do not want to copy binaries from the _tns-ios_ locally in the _platforms/ios_ folder. Instead we want the Xcode to

[2015-04-09 12:22] ErjanGavalji commented on #378
That's freaking cool!

We'd need to provide an example then :)

[2015-04-09 16:15] rhg1968 opened #421 "Typescript"
This is a question about using typescript with Nativescript. I created the hello world example and it worked correctly, but I wanted to see how it would work with typescript. I decided to change the main-page.js to main-page.ts. This broke the application and the taps that were being counted on the screen now show with just the binding expression {{message}}. I even tried changing the the new ts f

[2015-04-09 16:56] george-jones commented on #421
I had the exact same experience.  Did you find a resolution to this?

[2015-04-09 17:01] rhg1968 commented on #421
I didn't find a solution unfortunately. I closed this because I posted it instead on the Native script forums.
https://groups.google.com/forum/#!topic/nativescript/r2jwG4fIXt4

[2015-04-11 07:41] teobugslayer commented on #421
Hello @rhg1968,

You are right that at the moment we do not auto-compile ts files. I am preparing a fix for it.

We have already started preparing for releasing version 0.10 of the CLI and my fix probably won't be in it. You'll need to wait a little longer or work against master ;)

[2015-04-15 13:27] atanasovg commented on #415
This seems a great idea to me and may not currently think of some downsides of this approach.

[2015-04-15 15:21] kaurag007ph opened #425 "Error when running 'tns' (Ubuntu 14.04 x84)"
Hi Guys,
I have a problem running nativescript with my fresh installed ubuntu 14.04 x84.
This is the log when I try to exec 'tns' or nativescript on my terminal.

Error: /usr/local/lib/node_modules/nativescript/node_modules/fibers/bin/linux-ia32-v8-4.1/fibers.node: undefined symbol: _ZN2v86String9NewSymbolEPKci
    at Error (native)-------
    at Module.load (module.js:335:32)
    at Function.Modu

[2015-04-15 16:43] kaurag007ph commented on #425
TNS is not working with iojs. It works after I install nodejs-legacy.

[2015-04-15 16:43] #425 closed

[2015-04-20 05:20] Nathanaela commented on #325
Just to echo this for any future users -- I had the exact same issue; 1.0.31 fails; 1.0.32 works.   Make sure of the version.

[2015-04-20 07:21] teobugslayer commented on #325
Hi @Nathanaela,

The mismatch in adb version happens because Genymotion comes with their embedded adb and adb versions are incompatible. The fix is to install the latest Android SDK and use its adb first. I am sorry for the inconvenience caused!

[2015-04-20 10:28] teobugslayer commented on #324
I've changed the code so that this check is done only when installing the CLI.

[2015-04-23 14:11] MiroValchev opened #435 "Internal error: TypeError: Cannot convert a Symbol value to a string"
When I try to debug app on a connected Android device using CLI: tns debug android --debug-brk
I keep getting "Internal error: TypeError: Cannot convert a Symbol value to a string" when trying to navigate to a page for instance. If I use tns run android the app is running just fine. I can't figure out what's the problem but it's impossible to debug. Any ideas what might be the cause?

[2015-04-27 08:08] rosen-vladimirov commented on #276
Also fixed issue when tab is used to complete commands

[2015-04-27 08:09] rosen-vladimirov opened #441 "Add autocompletion of "-" options"
NativeScript CLI supports some shorthand options (like `-h`). When I write `tns create -` and press tab, I would like to see list of all supported `-` options.

[2015-04-27 08:11] rosen-vladimirov opened #442 "Some markdown links are not shown correctly in terminal"
In case I write `tns` in the terminal, I see list of all commands. In front of help command an unexpected symbol is shown `[`. It looks like it is related to markdown links.

[2015-04-27 08:12] rosen-vladimirov opened #443 "ENOENT error when enabling autocompletion"
In case I try enabling autocompletion during installation, ENOENT error is received when I do not have .bash_profile or .bashrc or .zshrc file on my system.

[2015-04-27 08:14] rosen-vladimirov opened #444 "Error when installing nativescript with sudo"
On my machine I have npm and node installed with sudo. When I try `sudo npm i nativescript` I see some errors in the log. The installation completes, but I see some error messages that KillSwitches\cli is not accessible.

[2015-04-27 08:15] rosen-vladimirov opened #445 "Some commands open html help instead of console help"
If I write `tns build` html help is opened, but it must show me the console help.

[2015-04-27 08:17] rosen-vladimirov opened #446 "Disabling autocompletion does not clear .profile"
If I try disabling autocompletion `tns autocomplete disable`, it is still working as my `.profile` still has autocompletion logic in it.

[2015-04-27 08:21] Fatme opened #447 "Print application output by default for run ios, run android and emulate android"
Use --justlaunch option in case you don't want to see the application output on the console.

[2015-04-27 14:07] Fatme commented on #413
Hello @brianchirls,

Sorry for the late response.

You're right that the project id is inconsistent. As @teobugslayer said we generate cross platform identifier and sanitize the given or default (the default id is `org.nativescript.<app name>`) app identifier. But we doesn't sanitize the `app name`. And actually here we get the inconsistent.
 In your case we're creating a folder named `hello-world

[2015-04-29 08:06] bundyo opened #452 "Build should report malformed XML"
XML errors are easy to miss and without an easy way to spot the error can be a big problem (losing development time). A preprocessing XML parser during/before the build step can be a big help here.

[2015-04-29 13:00] RangerMauve commented on #452
Knowing which XML files are going to be used as views is probably non-trivial. Have you considered running your code through something like [xmllint](http://linux.die.net/man/1/xmllint) yourself?

[2015-04-29 13:15] bundyo commented on #452
Linting will help, but not all users will have this in mind when starting app building with NativeScript.

[2015-04-29 14:01] RangerMauve commented on #452
I guess it'd be useful if someone added information on using linters in the docs somewhere?

[2015-04-29 18:02] benchik commented on #435
Happens to me as well

[2015-04-30 07:59] bundyo commented on #452
It will, but it should be somewhere very visible.

[2015-05-04 10:36] teobugslayer commented on #435
Hello @MiroValchev , @benchik ,

It looks like this was [fixed in the Android runtime](https://github.com/NativeScript/android-runtime/commit/f93c8b6296848d2fcc39ecaa43b29f0ddec5cab7) in time for the [1.0 release](https://github.com/NativeScript/android-runtime/commits/release). Can you update to 1.0 and verify that debugging works?

[2015-05-04 10:38] benchik commented on #435
Works! Thanks!

[2015-05-04 11:29] teobugslayer opened #458 "Debugging is not working with iOS Emulator and XCode 6.2 or earlier"

[2015-05-04 11:34] gngeorgiev commented on #362
:

[2015-05-04 11:35] teobugslayer opened #459 ""library add ios" with spaces in path does not work"

[2015-05-04 21:55] dbbk opened #461 ""tns build ios" fails with spaces in the path"
Apps cannot be built from the CLI if any directory in the path has a space. Build process gets stuck at:

`Generating metadata for i386:
./metadata-generation-build-step.sh: line 4: $BUILT_PRODUCTS_DIR/metadata-generation-stderr-$1.txt: ambiguous redirect`

Removing any spaces from your directories fixes the issue.

[2015-05-05 07:26] jasssonpet commented on #461
Thank you for reporting this. We have logged the issue in the iOS runtime repo: https://github.com/NativeScript/ios-runtime/issues/106

[2015-05-05 07:46] teobugslayer commented on #461
This is related to https://github.com/NativeScript/nativescript-cli/issues/459

[2015-05-05 13:22] #459 closed

[2015-05-05 14:34] rosen-vladimirov opened #463 "Provide an easy way to disable logcat printing"
In case you run `$ tns run android` we print the logcat in the terminal and it is not released. You can turn it off for this command by executing `$ tns run android --juslaunch`. We should provide an easy way to set this as default behavior, so in case you do not need the logcat output, you will not have to write `--justlaunch` every single time.

[2015-05-05 20:08] Agnostic commented on #128
I have the same problem, I'm using `nativescript` v1.0.0.

I did this:
[code]
But then, when I try to run the app I got this:

[code]

Any idea?

[2015-05-06 06:08] ifyio commented on #45
I'm also getting this error today.

[2015-05-06 07:15] ifyio opened #464 "IOS simulator launched but hello-world app not in it"
`tns run ios --emulator` launches the hello-world app but the hello-world app is not launched within it, and there is no `hello-world` app in the simulator itself.

[2015-05-06 15:03] RangerMauve commented on #362
Has there been any progress on this?

[2015-05-06 15:09] RangerMauve commented on #415
I would argue against using the npm cache rather than a local copy of the binaries. The cache might change over time and is more or less global as I understand it, this might lead to issues if you're working on multiple projects, some of which are outdated.

[2015-05-07 18:04] Lukosenka opened #470 "Command failed due to space in file path"
The error occurs with most of the commands.
[code]

[2015-05-07 18:32] RangerMauve commented on #470
It's happening because you have a space in your name username. Not sure how it'd be fixed though :open_mouth:

[2015-05-08 06:42] ligaz commented on #362
@RangerMauve Yes we are currently working on this. You can check the tasks we have defined in the issue description.

[2015-05-08 08:34] teobugslayer commented on #45
Hello @leebailey88,

Please give us more details about your configuration - what are the versions of NativeScript, Xcode, Mac OS you are using?

It would be very helpful to us, if you try the following command:

[code]

and send us the contents of log.txt. Note, it may contain sensitive information, so check it before posting it publicly or open a support ticket with Telerik support mentioning thi

[2015-05-08 08:44] teobugslayer commented on #470
Hi @Lukosenka,

we have reproduced the issue on our side and will fix it in one of our next public releases.

[2015-05-08 12:29] philvbprogrammer opened #472 "node-inspector terminated unexpectedly"
In AppBuilder for VS2013 clicking debug without a breakpoint set the process attaches, as soon as a break point is set this error appears in the AppBuilder output windows and debugging is stopped.

[2015-05-08 13:26:07.052] Log (Exception,High): node-inspector terminated unexpectedly:
C:\Users\PAdams\AppData\Local\Telerik\BlackDragon\Cache\Node-Inspector-2015.2.429.1\lib\convert.js:41
  var path =

[2015-05-08 12:43] jasssonpet commented on #358
`debug ios --start --emulator` - not working on Xcode 6.2+
`debug ios --debug-brk` - not working every time on device

[2015-05-08 13:20] teobugslayer commented on #464
Hello @ifyio,

We have just released version 1.0.1 of {N} CLI. Please update to it and give it a try. If the issue persists, please gather and give us more details. Run
[code]
and send us the generated log.txt. Please check and anonymize all security-conscious data in it (like your user name, paths, etc), or better - open a Telerik [support ticket](http://www.telerik.com/account/support-tickets.as

[2015-05-09 08:11] Lukosenka commented on #470
Thank you very much, can't wait to start app developing. :+1:

[2015-05-09 10:06] guillaume-roy opened #473 "tns create hello-world fail"
Hello,

Using your install process i tried to install NS.

When i execute "tns create hello-world", i got this error :
"EACCES, open '/home/XXX/.local/share/.nativescript-cli/.lock'"

For your information, I've just resolved it by using "sudo chown -R vagrant /home/XXX/.local/share/.nativescript-cli/"

[2015-05-11 09:03] rosen-vladimirov commented on #470
Hi @Lukosenka,
As a workaround you may install Android SDK and add it to your PATH environment variable. This way we'll not call adb from nativescript-cli resources and everything should work fine.
I'm reopening this issue and I'll take care to close it once we have permanent fix for it in our code.
Hope this helps.

[2015-05-11 09:11] Fatme commented on #128
Hi @Agnostic,

It seems that these images are missing from 'MyApp/app/App_Resources/iOS' folder.
Can you send us the application for further investigation?

Thanks in advance.

[2015-05-11 09:52] Fatme commented on #473
Hi @guillaume-roy,

It seems that your user doesn't have access to `/home/XXX/.local/share/.nativescript-cli/` directory. I suggest you to use `sudo npm install nativescript -g --unsafe-perm` command  when installing NativeScript CLI.

[2015-05-11 10:05] Fatme commented on #461
The fix has already been released. You can update NativeScript CLI to version 1.0.1

[2015-05-11 10:13] Fatme commented on #463
We can use config file.

[2015-05-11 10:13] #473 closed

[2015-05-11 10:13] guillaume-roy commented on #473
Thanks

[2015-05-11 13:19] teobugslayer commented on #472
Hello @philvbprogrammer, AppBuilder extension for Visual Studio is a paid product. To benefit from Telerik's support, please open a support ticket at [Telerik Support](http://www.telerik.com/support)

[2015-05-11 13:19] #472 closed

[2015-05-11 13:47] teobugslayer commented on #376
Hi @neurotech , can you please try with the latest release of the CLI -1.0.1?

[2015-05-12 06:25] Fatme commented on #128
I suggest that you're using `https://github.com/NativeScript/sample-TelerikNEXT`. If this is the case notice that `https://github.com/NativeScript/sample-TelerikNEXT` is already an application created with NativeScript CLI. In this situation I can suggest you to do the followings:
1. tns create <appName> --copy-from **`<path-to-sample-app>/app`**
2. tns platform add ios
3. Notice that this is Type

[2015-05-12 09:09] teobugslayer opened #475 "Unify and simplify workflows of build-related commands"
Problem: Currently, the commands which include build - related steps differ slightly in their semantics, parameters and work flows.

Solution: Unify as much as possible but only where make sense.

Remark: All commands should work without specifying a platform if it is already added to the project. If more than one platform is added we should execute the command on all of them. If a user wants to r

[2015-05-13 07:25] PanayotCankov commented on #358
@jsgandalf Fixed the 'ios debug' to 'debug ios' in the docs.

[2015-05-13 10:11] haikyuu opened #477 "Not able to add platform android in Ubuntu 14.04"
Here is the output of  `npm install -g nativescript` :

-

Trying to kill adb server. Some running Android related operations may fail.
npm WARN deprecated byline@4.1.1: critical bug fixed in v4.2.0
npm WARN excluding symbolic link docs/stylesheets/hightlight.css -> ../../node_modules/highlight.js/src/styles/solarized_light.css
npm WARN excluding symbolic link docs/stylesheets/hightlight.css -> ..

[2015-05-13 10:17] rosen-vladimirov commented on #477
Hi @haikyuu
During the installation process, you are using Nodejs 0.12.2. After that when you execute `tns platform add android` it looks like the process is started with Node 0.10.x This is causing the issue - nativescript cli is installed with one version of node and after that you are trying to use it with another one.
You can verify Node's version when using nativescript by running `tns platfo

[2015-05-13 10:32] haikyuu commented on #477
Thanks for the quick reply.
Here is the output of `tns platform add android --log trace`

Exec uname -a
 stdout: Linux hp 3.14.3-031403-generic #201405061153 SMP Tue May 6 15:54:50 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

 stderr:
Exec npm -v
 stdout: 2.1.9

 stderr:
spawn: java -version
Exec ant -version
 stdout: Apache Ant(TM) version 1.9.3 compiled on April 8 2014

 stderr:
Exec node-gyp -v
 st

[2015-05-13 10:33] haikyuu commented on #477
For `stderr: /bin/sh: 1: android: not found`, i had to add android location to $PATH in .zshrc

[2015-05-13 10:36] #477 closed

[2015-05-13 10:37] rosen-vladimirov commented on #477
Thank you for the output. I've noticed the following line in it:
`nodeVer: 'v0.10.29',`
So the fresh installation of the nativescript cli helped.

For the other question regarding android warning - yes, you have to add the path to your `Android SDK/tools` and `Andorid SDK/platform-tools` directories to your PATH environment variable. The process is explained [here](http://docs.nativescript.org/set

[2015-05-13 10:39] haikyuu commented on #477
A lot, thanks

[2015-05-13 13:12] tjvantoll opened #478 "Have the CLI manage project properties"
This came up from a discussion in https://github.com/NativeScript/NativeScript/issues/145.

Basically it would be nice to be able to configure properties about your app in either your `app/package.json` or your `.tnsproject` file, and have those changes propagate to the appropriate places in the platform-specific config files. All of these are things AppBuilder does with its `.abproject` file, and

[2015-05-13 15:34] jsgandalf commented on #358
Awesome!! Thanks!

On Wed, May 13, 2015 at 1:25 AM, Panayot Cankov <notifications@github.com>
wrote:

[2015-05-13 23:41] ctartamella commented on #421
His this available in 1.0.1?  I am not seeing any of my .ts files being compiled.

[2015-05-14 03:46] Fatme commented on #478
Hi @tjvantoll,

You're completely right. Currently the user is not able to configure project properties without changing iOS/Android config files manually.
I've just added this as feature request.

[2015-05-14 07:32] #458 closed

[2015-05-14 07:32] #416 closed

[2015-05-14 07:32] #461 closed

[2015-05-14 07:32] #371 closed

[2015-05-14 07:49] #391 closed

[2015-05-14 07:50] #358 closed

[2015-05-14 08:41] #442 closed

[2015-05-14 08:41] #394 closed

[2015-05-14 10:36] #413 closed

[2015-05-14 10:37] #445 closed

[2015-05-14 11:40] #443 closed

[2015-05-14 12:03] #276 closed

[2015-05-14 12:03] #441 closed

[2015-05-14 12:04] #446 closed

[2015-05-14 12:10] #444 closed

[2015-05-15 04:36] teobugslayer opened #480 "A new CLI command to check system configuration"
It is beneficial to have a dedicated command in the CLI which checks current system configuration of user's machine and prints warnings about missing or mis-configured dependencies.

1. We are already doing this during installation but configuration can change
1. This should be implemented for both CLIs
1. Add additional checks: ANDROID_HOME, JAVA_HOME, ANT_HOME. See [here](https://issues.apache.o

[2015-05-15 05:20] #382 closed

[2015-05-15 06:36] teobugslayer commented on #421
Hello @ctartamella,

No, this is not available in {N} 1.0.1

We decided that the proposed implementation is not good enough and I closed my PRs. We will implement it in a better way, with ability to customize TypeScript compilation per-project in one of the future releases of {N} CLI.

In the mean time, you can use one of the node.js automation tools, like [grunt](http://gruntjs.com/) or [gulp](ht

[2015-05-15 06:57] dtopuzov opened #481 "Autocomplete enable does not work in local installations"
$ node_modules/.bin/tns autocomplete enable
Failed to update /var/lib/jenkins/.tnsrc. Auto-completion may not work.

$ node_modules/.bin/tns autocomplete enable --log trace
.....

BeforeHookName for command autocomplete|enable is before-autocomplete
AfterHookName for command autocomplete|enable is after-autocomplete
Exec tns completion >> /var/lib/jenkins/.tnsrc
 stdout:
 stderr: /bin/sh: 1: tns:

[2015-05-15 15:26] teobugslayer commented on #435
@benchik, we should be able to silently update every released version of {N}. Please open an issue describing the exact problem and steps to reproduce. If possible, give us a small sample project reproducing the case. I am closing this issue for now.

[2015-05-15 15:26] #435 closed

[2015-05-18 08:50] jasssonpet opened #485 "Platform specific prepare breaks source map paths"
Create file `test.ios.coffee`:

[code]

Compile with `--map` and `tns prepare ios`:

File `platforms/ios/TestApp/app/test.js`:
[code]

File `platforms/ios/TestApp/app/test.js.map`:
[code]

The source mapping is broken.

This should be also happening with Babel, TypeScript and others.

Are there any inline source maps, that can be used only in debugging?

[2015-05-19 10:09] valentinstoychev commented on #308
If we hav ethis by default, can we have a command that will send the report to us directly? Something like "tns sendLog". Or what is the scenario here?

[2015-05-19 13:30] jasssonpet opened #489 "Combine JavaScript files in a single file in release builds"
On iPhone 5 about 50ms of 980ms of the startup time of the Cuteness sample (and similar on Android) is spent for requiring JavaScript modules.

This could be reduced if we combine (and optionally minify) all used JavaScript modules in release build.

[2015-05-19 16:06] tjvantoll opened #490 "Feature request: Directly integrate Babel"
I talked with @ligaz a bit about this in Boston, but I couldn't find an open issue so I thought I'd create one so this is documented.

I would like to see Babel directly integrated into the NativeScript CLI, much like TypeScript currently is. That is, if I opt into Babel (somehow), I would like NativeScript to automatically transpile my ES6 code during `prepare`.

You can implement this workflow t

[2015-05-19 16:26] kivS opened #491 "Error executing nativescript/tns on Linux ubuntu 14.04.2 LTS 64-bit"
Hello, I get the following error when trying to use  tns/navtivescript:

Error: EPERM, chmod '/tmp/dongato/KillSwitches'
    at Object.Future.wait (/usr/local/lib/node_modules/nativescript/node_modules/fibers/future.js:488:15)
    at new CancellationService (/usr/local/lib/node_modules/nativescript/lib/common/services/cancellation.js:14:67)
    at Yok.resolveConstructor (/usr/local/lib/node_module

[2015-05-19 17:09] emiloberg commented on #490
Calling it a module is a much, it's a simple gulpscript ;)

Anyways. As for the config goes, it's an important part (as some people want to use Stage 0/ES7 stuff where others are quite happy with Stage 4/ES6 things). But Babel is using a `.babelrc` which {N} should adhere to. Shouldn't be to much of a problem.

[2015-05-19 17:34] Fatme commented on #490
It seems that we can use `https://www.npmjs.com/package/broccoli-babel-transpiler`. It supports babel options - http://babeljs.io/docs/usage/options/ so the user will be able to configure them.

[2015-05-19 20:08] rosen-vladimirov commented on #491
Hi @kivS ,
May I ask you to check who is owner of /tmp/dongato and /tmp/dongato/KillSwitches directories. If your user is not the owner, you can try changing the ownership of these directories, so you user should be able to access them.
In case this does not help and you are using node with sudo, can you try reinstalling nativescript-cli with ```$ sudo npm i -g nativescript --unsafe-perm```

If yo

[2015-05-19 22:54] kivS commented on #491
Hey @rosen-vladimirov,
I tried and re-installed.The owner is user dongato. It's working when using sudo, without it the trace log ouput is:
Exec uname -a
 stdout: Linux dongato 3.19.0-16-generic #16-Ubuntu SMP Thu Apr 30 16:09:58 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

 stderr:
Exec npm -v
 stdout: 2.9.1

 stderr:
spawn: java -version
Exec ant -version
 stdout: Apache Ant(TM) version 1.9.4 compil

[2015-05-20 06:17] rosen-vladimirov commented on #491
Hi @kivS
Thank you for sharing the log. The error here is ENOSPC, which means there's no free space on the places where we are trying to create our "watch" file. Can you check the available space for your /tmp directory, it looks like it is full.

[2015-05-20 11:17] kivS commented on #491
Hello @rosen-vladimirov,
thank you for the feedback, increasing the maximum amount of system watches solved the issue.

[2015-05-20 11:17] #491 closed

[2015-05-20 11:30] valentinstoychev commented on #362
This issue is related to [Node.js API support feature](https://github.com/NativeScript/NativeScript/issues/195).

[2015-05-21 15:24] ligaz opened #493 "Enable transpilers support in NativeScript projects"
A common request we have received in the last couple of months is the ability to enable (or start with) JavaScript transpilers for a given NativeScript project. The usual suspects are TypeScript and Babel which recently became quite popular with the approaching ratification of ES6.

### Guiding principles
There a couple of guiding principles we want to follow when we enable this functionality.

##

[2015-05-21 15:26] ligaz commented on #490
We have written down our current thinking in this issue: https://github.com/NativeScript/nativescript-cli/issues/493. I'm going to close this down and let's continue the discussion there.

[2015-05-21 15:26] #490 closed

[2015-05-21 15:30] ligaz commented on #421
We have written down our current thinking in this issue: https://github.com/NativeScript/nativescript-cli/issues/493. I'm going to close this down and let's continue the discussion there.

[2015-05-21 15:30] #421 closed

[2015-05-21 15:54] tjvantoll commented on #493
Hey @ligaz,

I like what you have here. I agree that each transpiler should be opt in and as generic as possible. I have two questions:

* 1) Where would `tns enable xyz` store your preference? `package.json` presumably? I ask because if that's the case, I'm wondering if the `tns enable` command is needed at all. Couldn't you just add something to your package.json to enable the transpiler during

[2015-05-21 16:02] ligaz commented on #493
Straight to the points:
1. We need a dedicated command because we want to add the actual code that will do the transpilation as project level hook. This means that the files will reside in the `/hooks` folder of your project. This cannot (easily and in a maintainable way) happen with pure `npm install` invocation.
2. This is transpiler specific. For example TypeScript have `tsconfig.json` file. Ba

[2015-05-21 16:08] emiloberg commented on #493
Babel does indeed, it has the [babelrc](https://babeljs.io/docs/usage/babelrc/).

[2015-05-23 12:01] lighta971 opened #495 "Android warning messages when updating cli"
### Cli output

sudo npm install nativescript -g

For Android-related operations, the NativeScript CLI will use a built-in version of adb.
To avoid possible issues with the native Android emulator, Genymotion or connected
Android devices, verify that you have installed the latest Android SDK and
its dependencies as described in http://developer.android.com/sdk/index.html#Requirements

You will not

[2015-05-23 12:23] lighta971 opened #496 "No resource found that matches the given name (at 'icon' with value '@drawable/icon') because App_resources is missing"
`tns create app_test` is not creating `app/App_resources` and it cause `tns build android` to fail.

[mergemanifest] No changes in the AndroidManifest files.
     [echo] Handling aidl files...
     [aidl] No AIDL files to compile.
     [echo] ----------
     [echo] Handling RenderScript files...
     [echo] ----------
     [echo] Handling Resources...
     [aapt] Generating resource IDs...
     [a

[2015-05-24 04:39] ligaz commented on #489
This could be somehow related to the transpilers support #493

[2015-05-24 04:44] ligaz commented on #21
Closing this in favor of https://github.com/NativeScript/NativeScript/issues/25 and the `tns library add` command.

[2015-05-24 04:44] #21 closed

[2015-05-24 04:47] ligaz commented on #154
This is now generalized in this issue #475

[2015-05-24 04:47] #154 closed

[2015-05-24 04:49] ligaz commented on #246
This issue was moved to NativeScript/NativeScript#209

[2015-05-24 04:49] #246 closed

[2015-05-24 05:33] alejonext commented on #246
ok!

[2015-05-24 06:44] teobugslayer commented on #489
Maybe we can work with @mishoo and use the excellent Uglify.js lib?

[2015-05-24 13:51] atanasovg commented on #493
I really love the generic approach - this is the architectural way to go. Having specific implementations for specific transpilers was my major concern when we discussed this internally.

[2015-05-25 04:09] lighta971 commented on #496
Problem solved by re installing nativescript. App_resources are now generated and no error happen on build.
These problems appeared after an update, 0.9 to 1.0

[2015-05-25 05:28] Fatme commented on #496
Hi @lighta971,

We've introduced breaking change in `0.10` version related to project structure. You can find more information here - https://github.com/NativeScript/nativescript-cli/blob/master/README.md#create-project.
In older versions than `0.10` version `App_Resoucerces` folder ``is not included`` into `app` folder.
It seems that you're creating you project with older than `0.10` version of `

[2015-05-25 11:38] lighta971 commented on #496
I knwew that, `App_Resources` just was not created even with last version. tns maybe broke when I updated it.
But like I said, it's fine know, after removing and installing the cli again.
You can close this issue I guess.

[2015-05-25 11:38] #496 closed

[2015-05-25 12:07] cime commented on #371
I tried it today with the latest version of NativeScript on Nexus 4 (Android 5.1) and startup time is still slow (about 5-6 seconds untils TAP button is shown)

[2015-05-26 06:54] enchev opened #498 "Error at running cli after install"
_From @elidiazgt on May 23, 2015 16:31_

$ nativescript --help
TypeError: Arguments to path.join must be strings
    at path.js:360:15
    at Array.filter (native)
    at Object.exports.join (path.js:358:36)
    at Function.Object.defineProperty.get [as killSwitchDir] (/usr/lib/node_modules/nativescript/lib/com
mon/services/cancellation.js:55:25)
    at new CancellationService (/usr/lib/node_modul

[2015-05-26 06:54] enchev commented on #498
_From @Nathanaela on May 23, 2015 17:25_

Looking at the source it is looking for one of these environmental variables:
**process.env.SUDO_USER**  or  **process.env.USER**   or  **process.env.USERNAME**

What unix variant are you running that one of those isn't defined?    Can you run a output your exports and see what variable actually has your user name in it?

[2015-05-26 06:54] enchev commented on #498
_From @teobugslayer on May 25, 2015 9:53_

Hi @elidiazgt,

can you run ```nativescript --help --log trace > log.txt``` and post the contents of log.txt?

[2015-05-26 06:54] enchev commented on #498
_From @elidiazgt on May 26, 2015 1:11_

Hello @teobugslayer
This is the log.txt content

TypeError: Arguments to path.join must be strings
    at path.js:360:15
    at Array.filter (native)
    at Object.exports.join (path.js:358:36)
    at Function.Object.defineProperty.get '[as killSwitchDir]' (/usr/lib/node_modules/nativescript/lib/com
mon/services/cancellation.js:55:25)
    at new Cancellation

[2015-05-26 06:54] enchev commented on #498
_From @elidiazgt on May 26, 2015 1:12_

hello @Nathanaela  am using a docker container, if i run this commands
echo $USER
echo $SUDO_USER
echo $USERNAME
the result is empty, i need to set those variables? can i mantain my virgen docker?

[2015-05-26 06:54] enchev commented on #498
_From @Nathanaela on May 26, 2015 3:20_

@teobugslayer -- the issue is a missing environmental variable -- their are a couple places in the TNS/NativeScript cli & several gruntfiles where Telerik is assuming a environmental variable is set and it will crash if they are not.   This is one of those cases...

@elidiazgt - you can either before you run TNS/NativeScript, do a **export USER="\<user\>"**

[2015-05-26 06:54] enchev commented on #498
_From @Nathanaela on May 26, 2015 5:14_

@teobugslayer -- since you actually appear to be one of the Telerik devs on CLI; the issue is the "cancellation.ts" file inside the mobile-cli-lib project.   https://github.com/telerik/mobile-cli-lib/blob/master/services/cancellation.ts#L61 -- I'll did a pull request https://github.com/telerik/mobile-cli-lib/pull/345 to fix this.

[2015-05-26 06:56] teobugslayer commented on #498
Hello @Nathanaela,

indeed, CancellationService is a code which is needed on Windows to ensure that files are cleanly overwritten on update and uninstall. We decided to stop using it on Linux & Mac. The relevant commits are in the master branch: https://github.com/telerik/mobile-cli-lib/commit/d1230fadf8f3dbabde8593662100cf3912e07e95 and https://github.com/telerik/mobile-cli-lib/commit/61b2d77af29

[2015-05-27 08:37] teobugslayer commented on #498
@elidiazgt, @Nathanaela,

We have released {N} CLI 1.0.2 which addresses this issue. Give it a try and check if it works for you. Thank you for your help!

[2015-05-27 08:37] #498 closed

[2015-05-28 16:14] alejonext commented on #493
I think it's not such a good idea, to have a compiler, or a command such @ligaz says. I think it's best to use the hooks of NPM, which are

* pre-<acction>
* <acction>
* post-<acction>

This way you can make use of any javascript compiler, since only one command is required. And Hooks are being used, which serve to make many more features, such use Jade-Lang to build XML

[2015-05-28 16:58] terion-name opened #503 "ios build fails"
I try to build demo app and get the following:

** BUILD FAILED **
The following build commands failed:
        GenerateDSYMFile build/emulator/app.app.dSYM build/emulator/app.app/app
(1 failure)
Command xcodebuild failed with exit code 65

I have latest version of xcode, xcode clt and nativescript. Some time earlier (a month ago maybe) app was built successfully.

[2015-05-28 17:38] Alphapage opened #504 "Debugging typescript doesn't seems to work"
Hello,

I'm trying to debug a typescript project, but Chrome isn't able to point to my .ts file with the js.map files generated. (.ts and js.map are in the apk)
The app is working, but I can't debug: all I see is .js files only.

Any idea to help me to solve the problem.

Thanks in advance for your help.

[2015-05-28 20:02] Alphapage opened #505 "Unable to compile Typescript to a single file"
Hello,

I'm trying to compile my .ts files to a single .js file using --out command from tsc.
It generates a blank .js file without any error???
I use tsc 1.5.0.

Thanks in advance for your answer.

[2015-05-28 22:09] Fatme commented on #503
Hi @terion-name,

Does building project from Xcode work? (You can open .xcodeproj file that is located at `platforms/ios/<your project name.xcodeproj`).

[2015-05-28 22:14] Fatme commented on #505
Hi @Alphapage,

Can you send us the exact command that you try to execute?

[2015-05-29 08:44] Alphapage commented on #505
Hello @Fatme,

dir *.ts /b /s > ts-files.txt
tsc --module commonjs --target ES5 @ts-files.txt --out appSingle.js

It was giving me errors in android17.d.ts and ios.d.ts : invalid use of arguments, but replacing all "arguments" by "args" did the trick. I was able to run the app without using the --out parameter.

Maybe I'm doing something wrong to generate a single .js file.

[2015-05-29 08:59] teobugslayer opened #507 "Android MNC support"

[2015-05-29 09:08] Alphapage opened #508 "Configure entry point"
Hello,

It seems the only entry point file available is app.js.
Is it possible to point to another one such as /folder1/newEntry.js for example?

Thanks in advance for your answer.

[2015-05-29 10:41] Fatme commented on #508
Hi @Alphapage,

You can add `package.json` file in your app with the following section:
[code]

[2015-05-29 12:54] terion-name commented on #503
Hi @Fatme. Also fails

[2015-05-29 12:55] terion-name commented on #503
Xcode build:

enerateDSYMFile /Users/terion/Library/Developer/Xcode/DerivedData/app-cobjmbinqkvxgbextjraqvefarvh/Build/Products/Debug-iphonesimulator/app.app.dSYM /Users/terion/Library/Developer/Xcode/DerivedData/app-cobjmbinqkvxgbextjraqvefarvh/Build/Products/Debug-iphonesimulator/app.app/app
    cd /Volumes/HDD/work/botan/app/platforms/ios
    export PATH="/Applications/Xcode.app/Contents/Develo

[2015-05-29 14:48] Alphapage commented on #508
You learn me something today thank you. :+1:
But I'm unable to make databinding working, I want this kind of folder structure:
scripts
styles
views

I tried to tweak:
 application.mainModule = "./views/main-page";
without success, each time I tap, no message is displayed.

[2015-05-30 12:36] fourpixels commented on #173
Unfortunately this keeps happening, despite "Android SDK 19 or later" info in system requirements. Just just fresh install following step by step instructions (from http://docs.nativescript.org/setup/ns-cli-setup/ns-setup-win.html), and ended up here:

[code]

Had to play around (in)installing different SDKs from Android SDK Manager, and hit the spot at Android 4.4.2 (API 19).

Win 7, fresh instal

[2015-05-31 03:46] Nathanaela commented on #508
Well, I can tell you why it isn't working; the **issue** is with your structure.

When the runtime loads the "**./views/**main-page.js" it will then look for "**./views/**main-page.xml" and "**./views/**main-page.css" in the exact same **/views/** folder.    Basically on any load of any page; it will look for all three files in the exact same folder.

However, with that said -- with a short amount

[2015-05-31 03:48] Nathanaela commented on #508
I should mention the api you should hook into is file-name-resolver.resolveUpdatePath, with it you can control where the module piece is loaded from.

[2015-05-31 05:30] ligaz opened #510 "NativeScript Plugins support"
This issue outlines the work breakdown for supporting [NativeScript Plugins in the CLI](https://github.com/NativeScript/NativeScript/issues/25)

## v1.1

### Plugin commands
- [x] `add` - will support everything `npm install` supports. Will save the installed plugin in `package.json`. The plugin itself will be installed in `node_modules`.
- [x] `remove` - will remove the plugin. Basically `npm uni

[2015-05-31 09:23] Alphapage commented on #508
OK I understand now.
So I can't concat my js files to a single .js file because of this behaviour.
It would be great to be able to specify the path to the .xml file something like:
frames.topmost().navigate({
        moduleName: "details-page",
        context: appViewModel.redditItems.getItem(args.index),
        path: "./views/details/details-page.xml"
    });
I don't know how it would be possib

[2015-05-31 18:27] Alber70g commented on #173
@fourpixels I can confirm this.

[2015-06-01 08:33] teobugslayer commented on #495
Hello @lighta971,

Please, run

[code]

and send us the trace.txt file.

[2015-06-01 10:59] atanasovg opened #511 "Consider *.AAR files as Android Plugins"
_From @valentinstoychev_

This is the [Android Studio specific library format](http://tools.android.com/tech-docs/new-build-system/aar-format).

_Copied from original issue: https://github.com/NativeScript/android-runtime/issues/84_

[2015-06-01 12:22] teobugslayer opened #512 "Support for incremental ANT builds for Android"
# Issue

Android build are unnecessary long: 12s or more.

tns build works by always overwriting files in the app directory and then spawning ant to do the actual building. This way ant always sees new files and cannot trigger an incremental build.

# Improvement strategies

We can improve the situation in two ways:

 * tns prepare become "smarter" and only copies files newer than existing apk. Th

[2015-06-01 14:33] teobugslayer commented on #173
Hi @fourpixels , @Alber70g,

We have a list of verified SDKs which we should be able to use to build {N} projects. The list is [here](https://github.com/NativeScript/nativescript-cli/blob/release/lib/services/android-project-service.ts#L15). Can you verify that you have fully installed one of the supported SDKs?
I have just tried building with MNC SDK and it worked (this code will land in master l

[2015-06-01 18:42] Fatme commented on #503
I suggest you to delete the content of `DerivedData folder - /Users/terion/Library/Developer/Xcode/DerivedData/`  and try again.

[2015-06-01 20:47] fourpixels commented on #173
Hm, I have tried installing BOTH MNC and standard API22 (Android 5.1.1) - with those two together I wasn't able to make it work. I'm not sure if this is kind of my fault, but I finally did it with API 19 (4.4.2).

The bad thing is that the error says 'Use Android 17', which is from 2013, and it seems like different from the docs - 19 (requirements)..

[2015-06-01 23:46] Nathanaela commented on #340
See: http://www.github.com/nathanaela/nativescript-updater   ;-)

[2015-06-02 05:43] Fatme opened #514 "Prepare command renames non-project files"
1. Create project with name `my-ios-app`.
2. Add `iOS` platform
3. Run `tns prepare ios`

**Actually**:
The `-Info.plist` and `-Prefix.pch` are processes as platform specific files and are renamed to `myapp-Info.plist` and `myapp-Prefix.pch`.

**Expected**:
 Only the files in `app` folder should be treated as platform specific.

[2015-06-02 08:45] #121 closed

[2015-06-02 09:12] Fatme opened #516 "Library add android always sets silently android-17 api level"
1. Execute library add android.
2. Open `project.properties` file. You can see that android-17 target is set.

Some libraries may target for example `android-21` api level and we should figure out a better way to update project.properties.

We've discussed this with @slavchev and consider the following suggestions:
*  Adds a target option that  will be used when adding a library. If such option is

[2015-06-02 10:24] zalun opened #517 "Implement support for Firefox OS"
I've started to dig inside native-cli. Mostly a dummy approach to add platform firefoxos. It throws an error where it is looking for manifest.webapp, which is expected. Please let me know if I'm on the right path.

https://github.com/NativeScript/nativescript-cli/compare/master...zalun:firefoxos-support

[2015-06-02 13:23] blagoev opened #518 "Cryptic message when no platform added"
If you don't add a platform first you get cryptic messages instead of one explaining you forgot to add any platforms.

tns create MyApp
tns run MyApp

result:

shell.js: internal error
xxxxx

[2015-06-02 14:14] terion-name commented on #503
@Fatme didn't help (

[2015-06-03 06:45] valentinstoychev commented on #478
This issue is related here: https://github.com/NativeScript/NativeScript/issues/252#issuecomment-108007127

[2015-06-03 12:58] fealebenpae commented on #517
Hi @zalun, this looks good so far.

[2015-06-03 15:32] vakrilov opened #520 "Enable image resources from App_Resources in iOS"
Image resources added in the `App_Resources` should be available in the application.

Currently, all files from App_Resources are copied in the `Resources/icons` folder inside the xCode project, but they are not included in the xCode project itself, so they are not accessible in the application.

**Workaround**
1. Run `tns prepare ios` after the images are added in the `App_Resources` folder. The

[2015-06-04 09:09] valentinstoychev commented on #517
@zalun - great, please keep us posted on the progress.

What is the plan for the UI creating? Do you plan to translate the {N} UI declaration to Firefox UI?

[2015-06-04 11:03] rosen-vladimirov opened #521 "EPERM error with .local/share directory after installing CLI"
### Problem

In case on Mac and Linux I do not have ~/.local directory, after installing CLI with sudo `sudo npm i -g nativescript`, I cannot access ~/.local and ~/.local/share directories. Some other applications are trying to use them after that and they are failing as the directories are created with root owner instead of my own user.
### Implementation details

The reason is that we are creati

[2015-06-04 15:25] ralphmason opened #522 "Install type script source, with 'tns create'"
Sorry if this has been asked before.

It would be really nice to install the typescript source along side the compiles javascript when an application is created.

The compiled javascript is much harder to read & change than the typescript.

[2015-06-04 16:12] teobugslayer opened #523 "LiveSync support"
We will be enabling LiveSync support for NativeScript application and we plan to roll this out in a couple of stages.

## v1.2

### LiveSync commands
- [x] `livesync` - This command will update all your `app` files and will restart the app on the device.
- [x] `livesync --watch` - This command will watch for file system changes, sync only the changed files on the device and finally restart the app

[2015-06-05 06:20] #324 closed

[2015-06-05 06:21] #481 closed

[2015-06-05 08:10] ErjanGavalji opened #525 "...`darwin-x64-v8-3.28/binding.node` is missing. Try reinstalling `prebuilt`?"
_From @diego-vieira on June 4, 2015 16:24_

After installing and now getting this when trying to add the platform.

[code]

_Copied from original issue: NativeScript/NativeScript#278_

[2015-06-05 08:10] ErjanGavalji commented on #525
_From @Fatme on June 4, 2015 17:47_

Hi @diego-vieira,
It seems that you have installed NativeScrtipt CLI with node 0.12.x but now you are using node 0.10.x. I can suggest you to change your node version or reinstall the CLI.

[2015-06-05 08:10] ErjanGavalji commented on #525
_From @diego-vieira on June 5, 2015 0:11_

Hi @Fatme thanks for the suggestion.
I'm running node 0.12.2 and npm 2.7.4

This is what I got when I tried to uninstall
[code]

Reinstalling didn't solve either.
Thanks

[2015-06-05 08:10] ErjanGavalji commented on #525
_From @Nathanaela on June 5, 2015 2:6_

It might be related to #208 -- this is fixed in a later version of TNS; but install/deinstall can still be affected by it.

[2015-06-05 08:10] ErjanGavalji commented on #525
_From @teobugslayer on June 5, 2015 8:6_

I have verified that this is a genuine bug in the CLI, the issue is at https://github.com/telerik/mobile-cli-lib/blob/f11ecb9071bee846bd0964da3cdf59ba41c214b1/services/cancellation.ts#L83 - we are registering one name but requiring another one at https://github.com/telerik/mobile-cli-lib/blob/f11ecb9071bee846bd0964da3cdf59ba41c214b1/commands/preuninstall.t

[2015-06-05 09:00] zalun commented on #517
Whatever the default way is. I want to minimize the differences between FxOS and other platforms. Fortunately all of our UI is opensource, it's not complicated to copy that.

[2015-06-05 09:04] teobugslayer commented on #525
Hello @diego-vieira,

The issue has been fixed already in master. The fix will be included in our next public release - 1.1.

In the mean time, please ignore the message - it does not affect the uninstallation process, because npm [ignores failures](https://docs.npmjs.com/misc/scripts#best-practices) in preuninstall scripts.

[2015-06-05 09:50] Alphapage commented on #489
The problem seems to come from how page.xml code behind is managed.
From my test, it seems page.xml needs page.js (ie page.css) to find methods...

So the limitation is how to tell page.xml where to get navigatedTo for example.
Something like this:
<Page codeFile="path/to/the/bundlefile.js" codeClass="Mynamespace.Myclass" navigatedTo="pageNavigatedTo"/>
or:
<Page codeFile="path/to/the/bundlefile.j

[2015-06-05 11:31] diego-vieira commented on #525
@teobugslayer awesome, thanks for that! :+1:

[2015-06-05 14:19] rosen-vladimirov opened #526 "Update plugin command"
## Scenario
Plugin `A` is installed with version 1.0.0. After some time, a new version is released. We need an easy way to install the new version of the plugin. Using `tns plugin add A` is telling me that the plugin is already installed.

## Possible solutions
* `tns plugin add A` should update the version of the plugin to its latest one.
* `tns plugin update A` should update the plugin A to its

[2015-06-05 14:20] rosen-vladimirov opened #527 "Use build configurations for plugins"
## Scenario
During project development every developer use some plugins to simplify the debugging of the application. However most of them cannot be used in release configuration and when the app is uploaded to AppStore. Currently all plugins are added as dependencies in project's package.json. The only way to remove them from release build is to remove the plugin: `tns plugin remove <plugin name>

[2015-06-05 14:31] ErjanGavalji commented on #527
I like the possible improvement (had just asked that as a question before reading the entire text :smile: )

How about having a "dev-dependencies" node inside the "nativescript" node? (this is applicable if there are `debug` and `release` configurations only...)

[2015-06-05 14:36] RangerMauve commented on #527
I normally use git for these purposes. Just have a separate branch for releases which doesn't have dev dependencies added in. Then merge code from debug to release.

[2015-06-05 14:43] ligaz commented on #527
Can't we use the regular `package.json`'s `devDependencies` element?

[2015-06-05 15:30] teobugslayer commented on #527
@ligaz, what about possible release-only plugins, like a counterpart to the existing AppManager LiveSync one?

[2015-06-05 15:32] teobugslayer commented on #527
I also believe that we can extend this proposal to include config variables. This will be useful for plugins which need API keys or API endpoints which differ between the two configurations.

[2015-06-08 07:17] ligaz commented on #527
What is the preferred way to do this currently with NPM?

[2015-06-08 10:16] zalun commented on #517
At the moment I struggle with the system itself. How the code flows etc. I don't want to implement any work arounds and most of the time I need to play with backward engineering. It would be great to avoid that.

[2015-06-08 10:31] blagoev opened #535 "The Copy URL option is not working for Android apps"
The "Copy URL" feature that gives you the URL to the app, seems to return the wrong URL for the Android platform, so you can't use it in the companion app there. Even if the URL seems to be the correct one and you enter it in Chrome/Firefox (Nexus6), it still does redirect you to the Companion app.

moved from here - https://github.com/NativeScript/android-runtime/issues/73

[2015-06-08 12:20] rosen-vladimirov commented on #475
Based on the description above, I've prepared the exepected behavior of the commands.
I've found some cases, that are confusing and I'm not sure what is the expected behavior (check the table at the end).

## platform add
Usage:
* `platform add <platform1>` - add specified platform
* `platform add <platform1> <platform2>` - add all specified platforms

## prepare
Usage:
* `tns prepare` - prepares

[2015-06-08 16:06] karaahmed opened #538 "File names wrongly cut on deploy"
1.Create a hello world {N} app with iOS platform
2.Create a module file pair in form  <somename>ios.ts / <somename>ios.xml  (or just rename the main-page.js/xml to main-pageios.js/xml , note the missing . before iOS)
e.g.: abadabaios.js/abadabaios.xml
3. Execute: tns prepare ios
4. check the deployed files in prepared solution
Result: the example file are deployed with name:
abadab.js/abadab.xml
T

[2015-06-08 20:23] blagoev opened #539 "Running --log with no args with results in undefined exception instead of good help description"
tns debug android --debug-brk --device x.y.z --log

TypeError: Cannot call method 'toString' of undefined
    at FiberFuture.Future.wait (c:\Users\X\Documents\Temp\testCLI1.1\node_
modules\nativescript\node_modules\fibers\future.js:488:15)
    at c:\Users\X\Documents\Temp\testCLI1.1\node_modules\nativescript\lib\
nativescript-cli.js:17:45
    - - - - -
    at Logger.getLevel (c:\Users\X\Documents\

[2015-06-09 06:37] Fatme commented on #475
I'm voting for the following workflow:
* tns build ios - builds only for ios. If the user has not added ios platform, CLI should add the platform.
* tns build android - builds only for android. If the user has not added android platform, CLI should add the platform.
* tns build ios android - builds for ios and android. If the user has not added the platforms, CLI should add the platforms.
* tns bu

[2015-06-09 06:41] Mitko-Kerezov commented on #475
Neatly organized table - well done!
IMO when a user runs such a command without specifying a platform tns CLI should **execute the command for all platforms**, meaning - even if you don't have a device or an emulator running for a particular platform, the CLI should start an emulator up for you.
My view of this derives from the fact that if one would want to build/run/deploy only for a specific pl

[2015-06-09 08:01] teobugslayer commented on #538
Is this related to https://github.com/NativeScript/nativescript-cli/pull/515 and https://github.com/NativeScript/nativescript-cli/pull/514 ?

[2015-06-09 12:07] zalun commented on #517
add platform firefoxos is working (at least it doesn't throw)
build is not doing a thing (except of printng an info that it's happening) as there is nothing more in the buildProject for now.
The idea is to compile to JavaScript and zip the directory with manifest file.
I've created a http://github.com/zalun/firefox-runtime which is currently a framework directory with the manifest file.

[2015-06-09 12:08] zalun commented on #517
As of the UI translation - there is nothing like FirefoxOS UI, everything except of dialog boxes needs to be (re)created in {N} FirefoxOS support

[2015-06-09 12:54] ikoevska commented on #475
My vote goes for the following.

**When no platform is specified but there is at least one physical device/emulator connected/running** - build, deploy or run for the attached device/process only.
In such cases, I would consider not specifying a platform a shortcut for executing the command on all my connected/running devices/emulators whatever they are. Also, I wouldn't want emulators popping up

[2015-06-09 17:39] teobugslayer commented on #475
I second @ikoevska. In my experience, although I have many attached device, my attention is always at a particular task at hand and I ignore devices of the "wrong" kind.

Also, building for android, ios device and ios emulator is a very slow operation. That's why I prefer an approach, when in doubt, ask the user. I.e. when there are 2 platforms added and 2 kind of devices, just ask the user which

[2015-06-10 13:19] zalun commented on #517
@fealebenpae @valentinstoychev - I'm looking for bit's about exporting the XML to HTML - has this been in work already? Should I start to play with plugins already?

[2015-06-10 14:40] teobugslayer commented on #406
Related to https://github.com/NativeScript/nativescript-cli/issues/475

[2015-06-10 15:31] NovaPikmin opened #548 "iOS on Windows?"
Why can't I create iOS apps on Windows?

[2015-06-10 15:45] adampresley opened #549 "iOS emulator closes app after navigation"
I have started a small project which is exhibiting odd behavior. There are two views, each with ListViews on them, and the second view has a back button. I am running the application in the iOS emulator and experience what appears to be a crash.

* Open the application in iOS emulator
* Tap on *Manage Inventory*. New view will open
* Tap on *Back* button. This will take you back to the first view

[2015-06-10 16:37] Alber70g opened #550 "Getting started missing icon.png and icon@2x.png"
I'm following this guide: http://docs.nativescript.org/hello-world/hello-world-ns-cli.html#3-you-can-quickly-check-how-your-blank-project-looks-like-in-the-emulator-or-on-device.

When running `tns run ios --emulator` there is a two times build failure:

[code]
The same is for `icon@2x.png`.

After copying and renaming `icon-40.png` and `icon-40@2x.png` it works.

[2015-06-10 16:53] RangerMauve commented on #548
Apple only let you compile iOS apps with XCode which is only available on Apple-made operating systems.

[2015-06-10 22:00] toddanglin commented on #173
Just experienced this, too, with NS 1.1.0 running on Mac. Is this a regression?

[2015-06-10 22:40] toddanglin commented on #503
Problem happened for me, too, with latest NS v1.1.0.

Looking at the logs, it seems folders in the path to the project directory with spaces in the name caused the build to fail. Removing the spaces in the folder names/path fixed the build. Here was the error:

*PhaseScriptExecution Generate\ Metadata build/NSTest.build/Debug-iphonesimulator/NSTest.build/Script-C97FD7AC1ADE5369004DB2A4.sh
    cd "

[2015-06-11 04:06] ligaz commented on #549
This issue was moved to NativeScript/NativeScript#308

[2015-06-11 04:06] #549 closed

[2015-06-11 05:16] rosen-vladimirov opened #551 "Add support for Android 5.1.1 (API Level 22)"
CLI has list of supported and verified android API Levels. In the moment Android 5.1.1 is not part of this list, which is causing failure when you have only this API Level installed from Android SDK. The error message is:
`Please install Android target 17. Make sure you have the latest Android tools installed as well. Run "android" from your command-line to install/update any missing SDKs or tools

[2015-06-11 06:00] rosen-vladimirov opened #552 "Add option to specify Android Target SDK"
When using `$ tns platform add android` I would like to be able to specify target SDK. For example
`$ tns platform add android --sdk MNC` should create a project, targeting MNC API Level,
`$ tns platform add android --sdk 19` should create a project, targeting API Level 19.

[2015-06-11 07:46] #548 closed

[2015-06-11 07:47] Fatme commented on #548
Hi @NovaPikmin,

NativeScript CLI is able to create iOS apps only on OSX operating system. If you want to target `iOS` on Windows you can use AppBuilder - http://docs.telerik.com/platform/appbuilder/.

[2015-06-11 07:55] Fatme opened #555 "Xml merge doesn't work correctly"
Steps to reproduce:
1. Create  a plugin that contains for example  `AndroidManifest.xml` and adds some permissions
2. Add the plugin
3. Add android platform.
4. Ensure that the produced AndroidManifest in platforms/android is correct and contains the added permissions from step 1.

[2015-06-11 08:00] rosen-vladimirov commented on #173
Hi @toddanglin,
I believe the problem on your side is because you have only API Level 22 installed, am I right? Currently this version is not added to "supported versions" in CLI. I'm working on adding support for API Level 22, you can check this issue https://github.com/NativeScript/nativescript-cli/issues/551

[2015-06-11 08:06] fourpixels commented on #173
The error received is wrong - `Please install Android target 17`. And I get no clue how to solve it. More important is that **requirements are wrong**, as they state `Android SDK 19 or later`. If the platform does **not** support  API 22, then you should clearly state it. As far as I can see in the code, lvl 20 is not supported either?

My point here is that as a new customer of your product, I wo

[2015-06-11 09:04] teobugslayer commented on #518
Related to https://github.com/NativeScript/nativescript-cli/issues/475

[2015-06-11 09:24] rosen-vladimirov commented on #173
Hi @fourpixels ,
You are correct, that the message is not clear. I've already replaced it in my [PR here] (https://github.com/NativeScript/nativescript-cli/pull/554/files#diff-b64860922c31aeed973aef6663b2a536R366), so it should give you more information which are the supported versions.
Also we'll make sure to sync our code and the system requirements. Thanks for spotting this and please excuse us

[2015-06-11 13:58] zalun commented on #517
This is what I've found out from code so far

add platform
-----------------
* firefox-runtime project
  * contents of the  ``framework`` directory is copied to the  ``platform//firefoxos/``

* lib/services/platform-service.ts :: addPlatform / addPlatformCore
* lib/services/firefox-project-service.ts :: interpolateData
  * manifest is updated with data stored in [app]/app/package.json

build
-----

[2015-06-11 15:06] NovaPikmin commented on #548
Then why was iOS on Windows hyped up on the original homepage?

[2015-06-12 07:06] ligaz opened #558 "Support build.xcconfig in /app/App_Resource/iOS folder"
It would be good if we pick up custom `build.xcconfig` file from the `/app/App_Resource/iOS`. This will allow developers to keep this file under source control without the need to modify it in the `/platforms/ios`.

[2015-06-12 09:03] terion-name commented on #503
@toddanglin great suggest, but I have no spaces in paths =(

[2015-06-12 10:51] Fatme commented on #503
@terion-name Can you try to create a new project and build it?
@toddanglin It seems that this is a bug with latest runtime. I've logged the issue - https://github.com/NativeScript/ios-runtime/issues/192

[2015-06-12 12:36] KristinaKoeva opened #561 "tns debug ios command should download and open WebKit nightly"
The update of JavaScriptCore requires new updated Web Inspector frontend which uses UI features that are not yet supported in the official Safari release, so we should open WebKit nightly instead

[2015-06-13 03:36] ligaz commented on #561
Can you share more details about the features that are not yet supported?

[2015-06-13 03:44] ligaz commented on #548
The original homepage was here: [http://www.telerik.com/nativescript](http://www.telerik.com/nativescript ) In the context of Telerik AppBuilder you can build iOS applications on Windows using browser and desktop based environments or our Visual Studio extension or AppBuilder CLI.

Please give AppBuilder a try and share your feedback with us.

[2015-06-13 04:20] shinsenter commented on #319
Solve the problem after reinstall node-gyp

[2015-06-13 19:06] saadeez commented on #470
This issue is still exist. As I'm learning the Nativescript's Hello World but in 2nd step I stucked in "tns platform add android" it gives me the same error even I have set environmental variable for Android SDk but still getting this error dont know why?

[2015-06-14 06:50] Fatme commented on #262
`tns create myApp --copy-from` reports the following message `The option 'copy-from' requires a value.`

[2015-06-14 07:27] Fatme commented on #174
We've already subsumed `prepare` into build so I'm closing this issue.

[2015-06-14 07:27] #174 closed

[2015-06-14 07:47] Fatme commented on #161
The hardcoded npm registry url was replaced with `npm view command` which internally respects `npm config registry` - https://github.com/npm/npm/blob/master/lib/view.js#L26

[2015-06-14 07:47] #161 closed

[2015-06-14 07:50] Fatme commented on #256
Related to this one https://github.com/NativeScript/nativescript-cli/issues/255

[2015-06-14 13:28] AlexandreRoba commented on #522
+1 tns create should support an option parameter to include the typescript source

[2015-06-14 19:21] EddyVerbruggen commented on #555
Hi,

Ran into this as well, @Fatme did the generated xml file simply get replaced by the one provided in the plugin?

I'm curious: is there a way to make the merge work with 1.1.0 on Android at all?

[2015-06-15 08:12] #552 closed

[2015-06-15 08:12] #551 closed

[2015-06-15 08:45] #514 closed

[2015-06-15 08:46] #277 closed

[2015-06-15 08:47] #309 closed

[2015-06-15 13:36] Fatme opened #567 "Npm support doesn't work"
1. Execute npm i lodash --save into project root
2. Add and prepare android platform

Expected:
lodash should be in `platforms/android/assets/app/tns_modules`

[2015-06-16 08:14] rosen-vladimirov opened #569 "Installation is showing errors on some Windows systems"
On some Windows systems, the command `npm i -g nativescript` is showing errors, when trying to install `ws` module. It looks like it is trying to find Python and Visual Studio 2010 in order to build some of `ws` dependencies, but these tools are not installed on all machines.

[2015-06-17 06:49] #567 closed

[2015-06-17 09:49] #569 closed

[2015-06-17 09:53] #555 closed

[2015-06-19 07:51] teobugslayer commented on #561
We talked to @KristinaKoeva in person and she informed me that they are implementing a different approach. Once they are ready, she'll close this PR and open a different one.

[2015-06-19 08:04] #525 closed

[2015-06-19 08:25] Fatme commented on #550
Hi @Alber70g,

Can you update your CLI to latest version - `npm update nativescript -g` and upgrade you project - here is the article that you can follow - https://github.com/NativeScript/NativeScript/issues/316 and try to execute `tns run ios --emulator` again?

[2015-06-19 09:05] karaahmed opened #574 ""tns prepare ios" doesn't preserve the character case of the file name"
1. Prepare iOS & Android specific xml files for pages with names in mixed case as follows:
ChartView.android.xml
ChartView.ios.xml
2. set "ChartView" as a main module of the app
3. execute "tns prepare ios" command
4. Check the prepared file in solution folder "platforms/ios/devenv/app"
 Result: the outputted file is with name: "chartview.xml" and cannot be loaded by runtime since MacOS is case se

[2015-06-19 09:44] EddyVerbruggen commented on #555
Confimed it works fine with 1.1.1 :+1:

Merging an `<activity>` doesn't however :(

[2015-06-19 09:49] Fatme commented on #555
Hi @EddyVerbruggen,

Can you send us the Manifest that you trying to merge?

[2015-06-19 09:55] EddyVerbruggen commented on #555
Yep, I've tried:

[code]

and

[code]

In both cases this block is added outside the main `<application>` tag.

[2015-06-19 11:24] dtopuzov opened #575 "Plugin remove does not work with --path option"
Steps to reproduce:

tns create TNS_App
tns platform add android --path TNS_App
tns plugin add tns-plugin --path TNS_App
tns plugin remove tns-plugin --path TNS_App

[2015-06-19 12:31] LeoLR opened #576 "Can't run the Hello World App"
Hi guys!

I start to use nativescript today and i've some problems...
When i try to run my project on my device that doesn't work...
When i try "tns run android":

![prtscr capture](https://cloud.githubusercontent.com/assets/10087588/8253388/88dc99d8-168f-11e5-952d-6d0055e14aa0.jpg)
![administrateur cwindowssystem32cmd exe_2](https://cloud.githubusercontent.com/assets/10087588/8253371/6030ba8c-168

[2015-06-19 12:34] Alber70g commented on #550
@Fatme after updating it's still missing:

[code]

[2015-06-19 12:36] Fatme commented on #576
Hi @LeoLR,

You can check this thread - http://stackoverflow.com/questions/6676107/unable-to-locate-tools-jar

[2015-06-19 12:37] rosen-vladimirov commented on #576
Hi @LeoLR ,
As @Fatme pointed, you have to install JDK, not JRE (you can check our [system requirements](https://github.com/NativeScript/nativescript-cli#windows) for more information. Please make sure to use at least JDK 8 and inform us if this works for you :)

[2015-06-19 12:45] Fatme commented on #550
@Alber70g I wasn't able to reproduce the issue. Can you send us the project for further investigation?

[2015-06-19 12:54] LeoLR commented on #576
Yeah my bad, i've write the wrong path for JAVA_HOME... Now i've this:

![administrateur cwindowssystem32cmd exe](https://cloud.githubusercontent.com/assets/10087588/8253757/fe8ae114-1692-11e5-9f08-9c3a9929fdfe.jpg)
![administrateur cwindowssystem32cmd exe](https://cloud.githubusercontent.com/assets/10087588/8253763/0babd060-1693-11e5-8394-1101a41ff01d.jpg)

Thank's for your help! :)

[2015-06-19 12:57] rosen-vladimirov commented on #576
Hi @LeoLR ,
It looks like there's a known issue in the latest Android SDK Build tools. You can find a workaround for it in [this SO thread](http://stackoverflow.com/questions/30812770/ant-jar-error-execute-failed-java-io-ioexception-cannot-run-program-aapt) It was also discussed [here](https://github.com/NativeScript/NativeScript/issues/328)

Could you try this approach and see if it works for you

[2015-06-19 13:01] Alber70g commented on #550
Everything is here https://github.com/Alber70g/tns-helloworld-error

[2015-06-19 13:09] LeoLR commented on #576
God! Would you marry me @rosen-vladimirov ?! :ring: :smile:
The first thread was the good! :+1:

Thank you so much!

[2015-06-19 13:14] rosen-vladimirov commented on #576
I'm glad we were able to resolve the issue.

P.S. Sorry that I'll have to disappoint you, but my heart is whispering "NativeScript", "NativeScript", "NativeScript".

[2015-06-19 13:14] #576 closed

[2015-06-19 13:16] LeoLR commented on #576
Maybe one day...!

[2015-06-19 13:39] Fatme commented on #550
@Alber70g It seems that `hello world` template is not correctly downloaded.

Can you try to execute the following:
1. `npm config get cache`
2. Open npm cache directory and delete `tns-template-hello-world` folder.
3. Create  new project and try run your application.

[2015-06-19 13:52] Alber70g commented on #550
Great! It's working now. That is a bit strange that the directory is nog correct. But it's working. Thank you so much.

Another question:
I've noticed that I cannot move or rename the directory of the project. Is there something I need to change inside the project?

[2015-06-19 14:30] #574 closed

[2015-06-19 14:32] #262 closed

[2015-06-19 14:35] #271 closed

[2015-06-19 15:02] Fatme commented on #550
I'm glad that your issue was solved.

If you want to rename your project directory you need to change the name in your package.json file. Also you need to remove and add again the installed platforms.

[2015-06-19 17:05] tjvantoll opened #577 "Remove the requirement for a second package.json in the app folder"
As of NativeScript 1.1.1 I can now keep my npm modules in the root folder of my NativeScript project, which is awesome. After I got that working I wanted to remove the `package.json` within my project's `app` folder, as that file didn't seem to have any purpose anymore. But when I do that I get an error, as the CLI seems to be using the `app/package.json` file's `"main"`. So I had to keep around a

[2015-06-19 18:02] tjvantoll opened #578 "Rename plugin modules for iOS and Android"
Hey all,

I've started to play with plugins and ran into one problem. Let's say I want to write a plugin with a single module that has different behavior for iOS and Android. So I use three files: `index.ios.js`, `index.android.js`, and `common.js`.

Here's the problem: in my `package.json` I say that my `"main"` is `"index.js"`, but, when the module gets copied into the appropriate `platform/ios`

[2015-06-19 18:19] RangerMauve commented on #577
Personally, I'm mostly peeved that I have to shove stuff into an `app` folder at all. It'd be nice if the root of the project was used for the source. In that case, the package.json at the root could be the main package.json, and the tns_modules and node_modules could just be in the root as well.

[2015-06-20 07:34] ligaz commented on #577
Hey @tjvantoll,

The problem with this is that the runtimes fail to resolve which is your main. The current workflow is like this:
[code]
We have been discussing that we can provide a fallback for `app.js` as well. Alternatively we can just prepare the root `package.json` into the correct place. I will circle this around and will update you here what we can do to improve this.

[2015-06-22 13:18] bfattori commented on #371
Just tried this in 1.1.1 and my "app" (a XML page, no code beyond the basic app.js) takes _13 seconds_ to start. This is really pretty unacceptable. No one waits for a web page beyond 3 seconds, and they sure as hell don't want to wait 13 seconds for a "native" app to start. This needs to be improved.

[2015-06-22 13:58] dtopuzov opened #584 "TNS Plugins added as symlink in native Xcode/Eclipse project"
TNS Plugins added as symlink in native Xcode/Eclipse project
This makes app and apk unusable on other machines (because symlink points to not existing location).

[2015-06-22 16:57] #550 closed

[2015-06-22 17:50] Fatme opened #586 "Implement plugin init command"
# Implement plugin init command
## Background

Developing of NativeScript plugins may be a daunting task, especially for newcomers.
On the other hand, advanced users want to boost their productivity.
To satisty their needs, we need to provide an easy to use, interactive way to create NativeScript plugins.
To grasp the plugins infrastructure, read the [plugins docs](http://docs.nativescript.org/plu

[2015-06-22 17:51] Fatme opened #587 "Implement tns install command"
This command will install all platforms and prepare all plugins into current project directory

[2015-06-23 09:25] teobugslayer commented on #371
Hello @bfattori,

indeed, 13 seconds are abnormally high. Can you tell us what device are you using for your test and which OS version it runs?

[2015-06-23 15:25] bfattori commented on #371
I'm sorry, I jumped the gun. That was on the emulator. On device it is a
very acceptable 3-4 seconds.

You can reclose the issue.
On Jun 23, 2015 5:25 AM, "Todor Totev" <notifications@github.com> wrote:

[2015-06-25 10:27] valentinstoychev opened #591 "Enable plugin user input for plugin configurations"
I'm creating a plugin which uses the Google APIs and I need to specify my API_KEY which should be used from the application.

I'm not sure where is the best place to specify this, but at the end it should be part of the ApplicationManifest.xml file for the Android runtime.

I see two options for this - to enable the tooling to "ask" for user input (in my case to ask for the proper API_KEY in the c

[2015-06-25 10:29] valentinstoychev commented on #591
I guess we can create an experience similar to how "npm init" works - e.g. asking predefined questions and then validating them and applying the values as configuration.

[2015-06-25 10:37] valentinstoychev opened #592 "Enhance the merge of the native configuration files"
There are two things we can do better with the merge of the plugin config for the native projects
- [ ] Check if there are duplicate entries of the resulting merged configuration file and leave only one.
- [ ] Merge not only on the root level, but also scan the sections and apply the changes in the configuration sections.

For example when you have this config snippet in the plugin AndroidManifest

[2015-06-25 10:38] valentinstoychev commented on #510
related:
https://github.com/NativeScript/nativescript-cli/issues/592
https://github.com/NativeScript/nativescript-cli/issues/591

[2015-06-25 12:33] PanayotCankov commented on #592
I think we should allow the API key to be added to source control. node_modules are usually ignored from source control so the module files won't be suitable.

[2015-06-26 07:17] #539 closed

[2015-06-26 07:45] valentinstoychev opened #594 "Implement a hard dependency on the node.js version and exit if not satisfied"
We are currently logging a WARN when we run in an older version of Node.JS, but I think we need to stop the execution of the command if there is an older version of Node.js installed, otherwise some of the commands simply do not work. I hit an issues with the platform add command under Windows which prevented adding the Android platform at all. @rosen-vladimirov  is aware of this.

[2015-06-26 07:53] valentinstoychev opened #595 "Documentation: Add and article that explains how to create a plugin with UI declaration"
We need an article that explains the steps of creating a plugin which contains UI components and how to use it in XML, how to add documentation for the plugin API, how to define multiple UI components, how to create TS definitions, how to write cross-platform and platform-specific code, etc.

[2015-06-26 13:41] tjvantoll opened #599 "`tmp` folder not created in root"
Hey all,

@jlooper and I discovered some strange behavior when working with the v1.1 CLI. `tns run` now creates a `tmp` folder in the folder you execute the command from.

The problem with this is: if you execute `run` from multiple folders, which I do with my [Sublime Text workflow](http://developer.telerik.com/featured/a-nativescript-development-workflow-for-sublime-text/), you end up with multi

[2015-06-26 14:51] Fatme commented on #599
Hi @tjvantoll,

Here is the PR that fixes this issue - https://github.com/NativeScript/nativescript-cli/pull/593.
We've improved our logic when preparing `node_modules` and don't need `tmp` directory anymore.
The fix will be included in our 1.1.2 release which is planned for the next week.

[2015-06-28 15:50] impinball commented on #362
Mind adding [Node.js/io.js API support](https://github.com/NativeScript/NativeScript/issues/195) to the checklist? With same-named modules having different APIs, and the same module system being used, this will inevitably trip up a lot of people in a hurry.

[2015-06-29 10:31] Fatme opened #600 "tns init command"
Creates a new NativeScript project in current directory or from specified package.json file

[2015-06-29 15:28] tjvantoll opened #601 "dependencies of devDependencies are not treated as devDependencies"
In the [Groceries app](https://github.com/tjvantoll/groceries) @jlooper and I are working on we get the following error when running on Android (`tns run android`):

[code]

According to @ligaz the issue here is we a [`devDependency` on `"gulp"`](https://github.com/tjvantoll/groceries/blob/f0409a3a6f64f6055ee26cce1bfc44a4dfe6376a/package.json#L19) which then has a `dependency` on `"semver"`, and `

[2015-06-30 14:27] ageorgieva opened #606 "Add more appropriate message when build for iOS on Windows machine"
Steps to reproduce:
1. Create project
2. Run $ tns build ios

Actual result:
"ENOENT, no such file or directory 'D:\NS projects\app5\platforms\ios\app5.xcodep
roj\project.pbxproj'" message.

Note: Run $ tns plugin add tns-plugin after this step will show "Cannot read property 'version' of undefined" message.

[2015-07-01 06:42] valentinstoychev opened #607 ""library add" command doesn't print Success in the console"
When trying to add a folder with jar files I only see:
"Warning: File \Android\android-sdk\extras\android\support\design\libs\android-support-design.jar\project.properties do not exists"

and nothing else. Nothing "tells" me what has happened and it is not clear if the command is success or not.

It will be useful if there is some progress and report of which libraries has been added and in the pe

[2015-07-01 10:31] ErjanGavalji commented on #522
Yep, these are already in the works, commented in the [Choose template functionality](https://github.com/NativeScript/nativescript-cli/issues/374) and [Enable transpilers support in NativeScript projects](https://github.com/NativeScript/nativescript-cli/issues/493) issues.

Once both the features available, we will publish the templates in TypeScript as well.

For the time being, you can view the

[2015-07-01 10:32] ErjanGavalji commented on #522
Closing the issue now, for it gets a duplicate of the two, listed above.

[2015-07-01 10:32] #522 closed

[2015-07-01 13:44] blagoev commented on #489
This can probably negativly reflect on how you debug and/or/when get error reports from production apps

[2015-07-01 14:20] PanayotCankov commented on #489
[Source Maps, Source Maps everywhere... We need to support these for obfuscators, transpilers etc.](http://www.html5rocks.com/en/tutorials/developertools/sourcemaps/)
[Meanwhile we've spent some time profiling the app and improved our caching.](https://github.com/NativeScript/ios-runtime/pull/191)

XML code-behind will be interesting, source maps won't handle that easily. They map the location in

[2015-07-02 08:44] #606 closed

[2015-07-02 08:49] #599 closed

[2015-07-02 08:50] #578 closed

[2015-07-02 09:48] #584 closed

[2015-07-02 09:48] #601 closed

[2015-07-02 09:48] #520 closed

[2015-07-02 09:48] #587 closed

[2015-07-02 09:48] #600 closed

[2015-07-02 14:04] dtopuzov opened #615 "[Windows, Linux] "tns doctor" reports iTunes is not installed"
On Windows and Linux system "tns doctor" reports iTunes is not installed.
I think we do not use iTunes at all on those OSs because iOS related commands works only on OSX.
Can we remove this check on Windows and Linux?

node_modules\.bin\tns doctor
WARNING: iTunes is not installed.You will not be able to work with iOS devices via cable connection.
To be able to work with connected iOS devices,
down

[2015-07-02 14:52] #447 closed

[2015-07-06 09:18] rosen-vladimirov opened #620 "Rename feature-usage-tracking to usage-reporting"
`feature-usage-tracking` command is way too long for writing and also it does not follow the convention of sending "usage reports". Rename it to usage-reporting will simplify the usage and understanding of this command.

[2015-07-06 09:22] rosen-vladimirov opened #621 "Add error-reporting command"
When uncaught exception is thrown in CLI, a statistic is sent for it. We should have an easy way to disable/enable this reporting. The usage is:
- by default the error-reporting is turned on.
- `$ tns error-reporting` - gives you information for the current status of error-reporting.
- `$ tns error-reporting status` - gives you information for the current status of error-reporting.
- `$ tns error-

[2015-07-06 13:37] Fatme opened #623 "Persist android sdk version in package.json file"
Install command should respect android sdk version from package.json file.

[2015-07-06 19:37] #495 closed

[2015-07-06 19:41] teobugslayer opened #625 "A script to set up Mac machine for developing with NativeScript"
Create a script which sets up a novice user's machine to be ready to work with NativeScript.

This should install all dependencies of Android SDK and node.js, asks the user to install Xcode, and finally, install the latest release of NativeScript CLI.

This feature targets only Macs with Yosemite or newer OS version.

[2015-07-06 20:11] getsetbro commented on #386
+1
`tns debug android --debug-brk`
results in:
"Page.getResourceTree failed. ReferenceError: process is not defined"

[2015-07-06 23:14] unlight opened #627 "Unable to run emulate --geny <GenyName>"
GenyMotion was installed by chocolatey.

`genyshell.exe -c "devices list"`
[code]
`tns emulate android --geny CustomPhone`
Error: spawn emulator ENOENT

Environment:
[code]

[2015-07-07 13:14] teobugslayer commented on #627
Hello @unlight,

please run ```tns emulate android --geny CustomPhone --log trace > log.txt``` and send us the log.txt file. You may create a gist, for example.

[2015-07-07 19:59] unlight commented on #627
Here it is.
https://gist.github.com/unlight/4f569b128846b3ea2d87

[2015-07-08 08:35] dtopuzov opened #629 "Prepare does not work correctly if you have npm module and tns plugin in same project"
Steps to reproduce:
tns create TestApp
cd TestApp
tns platform add android
tns plugin add nativescript-social-share
tns prepare -> everything is fine at this point
npm install nativescript-appversion --save
tns prepare -> In platforms/android/assets/app/tns_modules/nativescript-social-share all js files are missing.