[2017-09-28 11:51] sainsley123 commented on #2265
@Spatlani and @mnovak20 that did it. I used jdk-8u144 and reset the JAVA_HOME variable. Thanks all!

[2017-09-28 17:07] ItStillDoesNotWork opened #3139 "Android SDK is not installed or is not configured properly, environment looks ok"
See #1813.  This problem STILL EXISTS - despite that issue being closed for some reason - on Linux, and on Mac.

@Rombersoft
@bboydflo

[2017-09-28 19:07] Pip3r4o commented on #3139
@ItStillDoesNotWork please follow the issue template when filing an issue.

Make sure you have all the required Android SDK packages installed too, these include SDK Platform 25, Android SDK Build-Tools 25.0.2 or later, Android Support Repository, Google Repository and any other SDKs that you may need.

[code]

As per http://docs.nativescript.org/start/ns-setup-linux#advanced-setup-steps

[2017-09-28 21:31] speigg commented on #1398
I've been encountering this problem on nativescript v3.2.1:
[code]

[2017-09-29 02:31] NathanaelA commented on #3118
For those who need logging back; here is the way I'm doing it now...
fluentreports.com/blog/?p=545

[2017-09-29 02:59] glen-stephens commented on #3118
@etabakov If it helps, console.log does work to the terminal when running on an actual device, just not from the simulator.

[2017-09-29 04:55] jogboms commented on #3125
@NickIliev I still do on 3.2.1

[2017-09-29 07:23] terreb opened #3141 "No console.log output Xcode 9 iOS 11"
## Please, provide the details below:

### Did you verify this is a real problem by searching [Stack Overflow]
I took time to search, but haven't found anything mentioning this issue.

### Tell us about the problem
After upgrade to Xcode 9 and using iOS 11 simulator I'm not seeing console.log output after "tns run ios" any more.

### Which platform(s) does your issue occur on?
iOS

### Please prov

[2017-09-29 08:12] KristianDD commented on #3141
Thank you for the report. I can confirm that this is indeed an issue and we are currently working on a resolution.

As a temporary workaround open the Console app on Mac and from the Devices list select the connected device. Now in the right pane you can see all messages coming from the selected device. In the Search field type `proc:YourAppName` to see only the log coming from yours app process.

[2017-09-29 08:17] KristianDD commented on #3118
Here is a separate issue for iOS11 Simulator and Xcode9: https://github.com/NativeScript/nativescript-cli/issues/3141. Lets continue the discussion there.

[2017-09-29 09:50] terreb commented on #3141
@KristianDD, ok, thank you for the tip!

[2017-09-29 10:36] NickIliev commented on #3125
@jogboms if possible please provide sample project so I could investigate the issue locally.

[2017-09-30 20:58] wp-src opened #3142 "Gradle is not able to build the tutorial project"
### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)?
yes

### Tell us about the problem
From logs sounds like gradle is unable to build the project

### Which platform(s) does your issue occur on?
Android

### Please provide the f

[2017-09-30 21:23] justindujardin commented on #3141
Another workaround is to use the `tns debug ios` and the console output will be shown in the inspector.

[2017-10-01 10:09] jogboms commented on #3125
@NickIliev I just confirmed its one of the plugins causing this. Haven't figured out which but the push-plugin is being suspected. You could close this for now until further investigations.

[2017-10-01 12:51] Pip3r4o commented on #3142
Hey @wp-src , please refer to https://github.com/NativeScript/android-runtime/issues/758 for an explanation of the problem, and how you could potentially solve it.

[2017-10-01 13:25] #3142 closed

[2017-10-01 13:30] wp-src commented on #3142
Thank you, i changed jvmargs to 256M and it worked, because my os is 64 bit but the jdk is 32 bit.
Also for others who come to this issue i must mention that setting _JAVA_OPTIONS to anything in system environment varibales not works and it must being changed directly in the project gradle properties.

[2017-10-01 20:56] AdamDenoon commented on #3016
I was having the same problem (tns_modules appearing and the build not working) with {N} 3.2.1, only when I ran on the iOS 11 Simulators. The following commands fixed my issue:

`tns platform remove ios`
`tns platform add ios`

[2017-10-02 06:17] terreb commented on #3141
@justindujardin, yeah, I know that, but "tns debug" became so slow and hangs too often after update to Xcode 9 / iOS 11 that I would use "run" instead if I could.

[2017-10-02 08:25] briosheje commented on #3141
@terreb If you use the watch you shouldn't have huge issues with `tns debug`. I've had to use it aswell since Xcode 9, it's just a bit slow when you run the instance, but as long as you use what you should be able to work with it, it shouldn't take a significant time to load everything (about 5 to 10 seconds in my case).

[2017-10-02 08:41] #3125 closed

[2017-10-02 09:05] NathanaelA commented on #3126
Try downgrading to 5.04 of NPM  (5.3.2 _might_ fix it too).    But NPM 5 > 5.04 is a bit buggy.

[2017-10-02 09:09] NathanaelA commented on #2182
I would disagree; I think it should at a minimum report an error.  Someone who is just starting NativeScript and installed XCode, and NativeScript and doesn't open up xcode is going to wonder why everything says it is fine but nothing works.   This will cause people to leave nativescript because they can't get it working...

[2017-10-02 15:52] rhanb commented on #3139
Hi,

Got the same issue when updating NativeScript to 3.2.1, I think it comes from the script installation which does everything for you and change your bash_profile.. A lots of MacOsX users use Zsh it may comes from this.
(javac works in the terminal)

[code]

get an error while executing:
[code]
error:
[code]

.bash_profile:

[code]

.zshrc:
[code]
when updating I also got this errors:

[code]

[2017-10-02 17:51] Pip3r4o commented on #3139
Hey @rhanb which JDK distribution do you have? Please make sure it's Oracle's 1.8 (Java 8) JDK.

[2017-10-02 18:11] justindujardin commented on #3141
@terreb Agreed that the inspector is not a great workaround. I ended up downgrading because I didn't need XCode 9, it was installed as part of the automatic update process.

The console being gone really hindered my development, and as you point out the inspector makes for really slow iterations, so it made sense to downgrade XCode until a fix is published. Now my console is back, and I only have

[2017-10-03 06:16] NathanaelA commented on #3141
Please note; I document how to fix logging on my blog for both the missing ios logging (other reported bugs) and this new issue with no logging for iOS 11 emulators on my blog:  http://fluentreports.com/blog/?p=545  -- It is a very simple command line and you will again have logging from all your iOS 11 emulators.  😀

[2017-10-03 07:07] RunCMD159 opened #3144 "Tns run android fails in company network"
Platform: Android
Java version: 1.8.0_144"
tns version: 3.2.1
tns-core-modules.d.ts: version: 3.1.1
tns-android: version: 3.2.0

Hey, i created a demo project and tried to run it against a genymotion android emulator in my company network.
When i run tns run android i get this error:
[code]

Could not find a solution on stackOverflow

[2017-10-03 07:23] terreb commented on #3141
@justindujardin, I can see logs for simulators with iOS <11, so no need to downgrade Xcode for that:)

@NathanaelA, wow, thank you a lot! This is an easy and really cool workaround that works perfectly fine for me.

[2017-10-03 09:38] rhanb commented on #3139
Hey @Pip3r4o ,

Thanks for your answer, I used the latest JDK which was downloaded from the NativeScript script which run when I updated it. Using Java 8 SDK fixed the issue 👍

[2017-10-03 13:50] NickIliev commented on #3124
The issue is reproducible on some Windows environment.
Reported via templates team
Steps to reproduce:
[code]

[2017-10-03 16:38] pako8x commented on #3124
@NickIliev It seems to me that this is not my issue.
Here my result: http://www.screencast.com/t/rz8YewaQk8

[2017-10-04 04:20] FriOne commented on #1514
@rosen-vladimirov Hi! Is there some documentation for this or an example?

[2017-10-04 09:33] fuyacho-takatsuji commented on #3141
@NathanaelA :: it does not work :: ERROR Could not start service com.apple.syslog_relay

[2017-10-04 10:00] dhananjaykumar880 commented on #2092
I have similar issue as well. App is lunch first time and I closed app and want to start again then it shows error like

**'WARNING: The Application identifier is different from the one inside 'package.js
on' file.
NativeScript CLI might not work properly.
Update the application identifier in package.json and app.gradle so that they ma
tch.
Project successfully built.
Installing...
Unable to apply

[2017-10-04 11:58] NickIliev commented on #3124
@pako8x the hard part is that neither your case or the case above (reported by another user) is reproducible on our side - we are currently investigating and trying to find a stable way to reproduce the problem.

[2017-10-04 12:58] pako8x commented on #3124
@NickIliev Sure... Thanks for your support!!

[2017-10-04 17:41] NathanaelA commented on #3141
@fuyacho-takatsuji - You need to use the version of both usbmux and idevicesyslog on **head**.   The stock versions in brew doesn't support the newer ios 11.

[2017-10-04 20:28] jschwartz73 opened #3146 "tns run ios shows "no reachable hosts" after running unit tests"
After running unit tests via
- tns test ios

a call to

- tns run ios

displays an app with a big image of "N" and a label that says "no reachable hosts"

My expectation is that the app would run (not the unit tests)

tns info
nativescript     │ 3.2.1           │ 3.2.1          │ Up to date    │
tns-core-modules │ 3.2.0           │ 3.2.0          │ Up to date    │
tns-android      │

[2017-10-04 22:54] jschwartz73 commented on #3146
<img width="376" alt="screen shot 2017-10-04 at 6 53 36 pm" src="https://user-images.githubusercontent.com/935550/31203507-6b3735ba-a935-11e7-9c92-4d475e5b756d.png">

[2017-10-04 23:30] jschwartz73 commented on #3146
I have now reproduced this on two computers.

[2017-10-05 11:15] Mitko-Kerezov commented on #3105
Hi, @NathanaelA

Thank you for the detailed description of the issue, however I was unable to reproduce it.
I tried adding `new NSArray().objectAtIndex(5)` to the application, which causes an `NSException` but it is correctly displayed every time during `tns run ios`. If you could provide a sample application, which illustrates the issue, that would be extremely helpful.

As a workaround in such c

[2017-10-05 12:00] Mitko-Kerezov commented on #3106
Hi, @NathanaelA

Thank you for the detailed description of the issue. Unfortunately, I was unable to reproduce it on my side.
I've tried adding a `setInterval` in which I call `console.log` 1000 times with a `for` loop. The whole thing with different intervals ranging from 500 ms to 1500 ms. Apart from that I've tried adding logging to different button clicks and various actions but cannot seem to

[2017-10-05 13:17] etabakov commented on #3139
Hi @rhanb, the setup script was updated to require explicitly Java 8 and the documentation was updated accordingly.

[2017-10-05 13:21] #3139 closed

[2017-10-05 13:23] jschwartz73 commented on #3146
I tried the workaround and it does **not** solve the issue.

[2017-10-05 15:39] shahar080 opened #3147 "Tns run/build android shows "Execution failed for task ':mergeF0F1DebugResources'.""
Hi,
I've been trying {N} for the past few days but finally got a time to work on it, after working for a few constant hours and everything was working perfectly, I decided to change the logos from the default {N} logos to some of mine with the same name, type and resolution.
Afterwards I tried to run tns run/build android and I keep getting the following error :

### Which platform(s) does your is

[2017-10-05 16:25] #3147 closed

[2017-10-05 18:38] agra1992 commented on #1798
+1

[2017-10-06 16:45] NathanaelA commented on #3106
This is from a real device iPhone 7,

I'm not sure a better way to duplicate this issue; the missing logging I copied is from a real screen output.   The missing logging is very easily seen on any app that does a lot of logging and I suspect part of the issue is when the OS doing a lot of logging in the background.       I am running a application that causes a lot of system related logging (that

[2017-10-06 17:58] NathanaelA commented on #3105
Here you go; I just created a use case where this crashes the real device with no output beyond the first  console.log('Hi!')

[code]

The above code is totally invalid and if you use idevicesyslog you will see:

[code]

TNS only shows:
[code]

[2017-10-06 20:14] wfwheele commented on #3146
@jschwartz73 I was experiencing the same thing, it looks like running the tests might have changed `app/package.json` which I believe is how `tns run ios` figures out how to start the application.  For me I could see via `git status` that it was modified and just did a `git checkout -- app/package.json`

Basically you need to make that file looks something like this

[code]

In your case I bet mai

[2017-10-08 12:17] intellild opened #3148 "why java version is got from stderr?"
cli 3.2.1

I found this line of code

while stderr is empty and stdout is "Java 9\r\n", I tried changing "stderr" to "stdout" and it works with correct java version. Then in function 'validateJavacVersion', the 'installedJavaVersion' is receives a correct number  '9'.

But this line of code return nothing

and endup with

[2017-10-09 11:34] Mitko-Kerezov commented on #3105
@NathanaelA
Thank you for the provided repro.
I can confirm that the exception log is missing in the output of `tns run ios` command (and related commands, which should print the console logs, like `tns debug ios`). The problem is in the filtering, which we apply in order to show only logs from current application.
We'll try to address the issue, but meanwhile you can use `tns device log` in a sep

[2017-10-09 13:42] paqadvault commented on #2163
**The ANDROID_HOME environment variable is not set or it points to a non-existent directory. You will not be able to perform any build-related operations for Android.**
please can you help me with.... cant figure it out now

[2017-10-09 13:44] Pip3r4o commented on #2163
@paqadvault
Make sure you have all the required Android SDK packages installed too, these include SDK Platform 25, Android SDK Build-Tools 25.0.2 or later, Android Support Repository, Google Repository and any other SDKs that you may need.

[code]

As per http://docs.nativescript.org/start/ns-setup-linux#advanced-setup-steps

[2017-10-09 16:08] AresDev commented on #1798
+1

[2017-10-09 17:47] jonnysamps opened #3150 "tns test ios -> tns run ios runs the test app"
### Did you verify this is a real problem by searching [Stack Overflow]
Couldn't find a related question

### Tell us about the problem
When doing unit testing I use `tns test ios`. When I'm done with a testing phase and want to go do some manual testing I kill that process and run `tns run ios`. Instead of running my actual application it boots up the testing app.

### Which platform(s) does your

[2017-10-09 19:28] Meyer-dev opened #3151 "Re install fails if user setting file is not valid json"
On reinstalling nativescript; error in CLI:
[code]
Is there something I'm not doing correctly on reinstallation? any help would be greatly appreciated.Thanks :)

[2017-10-09 20:07] NathanaelA commented on #3105
@Mitko-Kerezov - Well that is interesting to know that `tns device log` would have allowed me to see the missing exceptions.  ;-)     But since I also frequently run into #3106 also, using another tool `idevicesyslog` eliminates having tns mess up and strip out many of my "console.log" statements.    So, I personally would recommend people use `idevicesyslog` over tns for logging from a real devic

[2017-10-09 20:37] rosen-vladimirov commented on #3105
Hey @NathanaelA ,
It looks like the problem in #3106 is again the filtering and most probably the many logs your application has. In fact, I believe the problem is that we receive only part of the message (`CONSOLE ERROR file:///app/tns_modules`), it matches our regex, we print it and the second part of the error (`nativescript-angular/zone-js/dist/zone-nativescript.js:571:22: Error: Uncaught (in

[2017-10-09 20:43] rosen-vladimirov commented on #3151
Hey @Meyer-dev ,
Can you check the content of your `C:\Users\Renier weitz\AppData\Roaming\.nativescript-cli\user-settings.json` file and see if it is valid JSON? I've seen such errors in the past that were raised when the file has incorrect content. If this is the case, can you please delete the file and run any CLI command again.
Also, if this is the case, may I ask if you have used `yarn` to ins

[2017-10-09 21:52] NathanaelA commented on #3105
@rosen-vladimirov - Awesome, it is good to know that once `tns` fixes the ios 11 logging issues; that `tns device log` would work as a generic logging system so that people don't have to install anything else.  :+1:

[2017-10-09 22:10] rosen-vladimirov commented on #3150
Hey @jonnysamps ,
Thank you for this report. In fact this issue is already reported, so I'm closing this one in favor of https://github.com/NativeScript/nativescript-cli/issues/3146 Lets continue the discussion there.

[2017-10-09 22:10] #3150 closed

[2017-10-09 22:53] rosen-vladimirov commented on #3146
Hey all,
`tns test <platform>` command *must* update the package.json inside `<platforms>` dir only - that's how the tests are run. However, it looks like there is some issue with this and it updates the entry point in your `app/package.json`. This is definitely not intended. Can all of you, who hit the issue, share the following information:
* npm version (output of `npm -v`):
* Node.js version (

[2017-10-10 00:30] izackhub commented on #1447
Hi to yo all NativeScript community.
I am having similar issue, but the output is different. Do I express the issue here or do I open a new Issue. Not sure if this is the right place to be posting.

But in short, my log trace output is as follow:
<code>
Exec "/Library/Java/Home/bin/javac" -version
 stdout: javac 9

 stderr:
Command "/Library/Java/Home/bin/javac --version" failed: TypeError: Cannot

[2017-10-10 00:37] izackhub opened #3152 "javac returns TypeError: Cannot read property '1' of null."
Hi developers.
I am having an issue running the android command.
running `tns run android` outputs:
[code]

This is a snippet from my `tns docter --log trace` command:
[code]
I am using:
[code]
I get an output when I run `javac` without an absolute path.

I have also run through with `tns doctor` and installed everything, but no change in error msg.

[2017-10-10 06:42] Meyer-dev commented on #3151
Hi, thanks for the help. Deleted that file and re ran the install command.
Everything seems to be working again. I will investigate yarn:)

On 09 Oct 2017 10:43 PM, "Rosen Vladimirov" <notifications@github.com>
wrote:

[2017-10-10 08:06] ZMW9 commented on #3127
Thank you Sir @NickIliev . After update npm , I can run nativescript tns.

[2017-10-10 08:06] #3127 closed

[2017-10-10 10:42] rosen-vladimirov commented on #3016
Hey all,
I've finally reproduced the issue and found what's causing it. It's pretty tricky, but I'll try to explain it with full details.
The issue can be reproduced only when using iOS Simulator. For communication with simulators, CLI uses a library called `ios-sim-portable`. We have extracted the code for communication with the simulator in this library for easier maintenance. The `ios-sim-porta

[2017-10-10 11:26] NickIliev commented on #3152
Hey @izackhub the reason for your issue is because you have Java 9 installed where you should use Java 8 (requirements [here](https://docs.nativescript.org/start/ns-setup-os-x#system-requirements)).  Try installing and setting Java SE Runtime Environment 8u144 from [here ](http://www.oracle.com/technetwork/java/javase/downloads/jre8-downloads-2133155.html)

The support for Java 9 is under developm

[2017-10-10 15:28] PeterStaev opened #3155 "Android release build does not build plugin's gradle dependency"
This is reproducible with the `demo-ng` project in the [GridView plugin repo](https://github.com/PeterStaev/NativeScript-Grid-View/tree/master/demo-ng). If you build and run the project with `tns run android` it all works fine. But if you do `tns run android --release` and specify all the keystore options you will get the following error:
[code]
Which happens on this line:
https://github.com/Peter

[2017-10-10 15:42] tbsf opened #3156 "Request: Support environments other than release and debug"
Currently, there are two supported environments, release and debug. The default is debug and "--release" can be used to build a release version of the app. It would be useful to have other environments, so I was wondering if it would be possible to add an "--environment" flag be allowed to specify these.

For example, "tns run android --environment=test" would use the file app.component.test.ts.

[2017-10-11 09:19] rosen-vladimirov commented on #3133
Hey @briosheje ,
Thank you for reporting this. `tns_modules` dir should not be created in your `app` dir and causes such issues. The issue you've already described is already logged here (I believe it is the same issue): https://github.com/NativeScript/nativescript-cli/issues/3016 We've prepared a fix and it will be merged soon. I'm closing this thread, in favor of the other one. Thanks again for

[2017-10-11 09:19] #3133 closed

[2017-10-11 13:08] jschwartz73 commented on #3146
npm -v: 5.4.2
node -v: v6.11.3
xcodebuild -version: Xcode 9.0, Build version 9A235

I can reproduce the problem every time using these steps:

1. tns create test-app
2. cd test-app/
3. tns run ios
4. tns test init # Choose Jasmine
5. tns test ios
6. tns run ios

I'll film a short screencast to demonstrate

[2017-10-11 13:23] jschwartz73 commented on #3146
[https://s3.amazonaws.com/schwartech/nativescript-cli-3146.mov.zip](https://s3.amazonaws.com/schwartech/nativescript-cli-3146.mov.zip)

[2017-10-11 23:44] izackhub commented on #3152
Hi @NickIliev thanks for the quick reply. It did indeed solve the problem.
But i have not been able to actually proceed with development due to problems starting any virtual device, so I'm gonna take some time off until I get the time to figure out what is wrong or hopefully gets fix by some update.

That's not a `NativeScript` issue, but if you have any input on how to find out why a virtual devi

[2017-10-12 06:11] NickIliev commented on #3152
@izackhub you can give some more input on what is happening when trying to start an AVD. I have created [this article](https://docs.nativescript.org/tooling/android-virtual-devices) which demonstrates how to create and use AVD via Android Studio but do let me know if you have some specific issue in your environment.

Closing this issue as the original problem is solved but I will keep track on it

[2017-10-12 06:11] #3152 closed

[2017-10-12 07:43] Plamen5kov commented on #3144
@FlorianSchmuck please provide exact steps to reproduce your problem, along with versions of components you're using, by using the command `tns info` inside your project folder.

[2017-10-12 08:01] FlorianSchmuck commented on #3144
1. created a demo project with tns create demo --ng
2. tns platform add android
3. Start a genymotion emulator
4. tns run android

tns info:
All NativeScript components versions information
 Component        │ Current version │ Latest version │ Information   │
nativescript     │ 3.2.1           │ 3.2.1          │ Up to date    │
tns-core-modules │ 3.2.0           │ 3.2.0          │ Up to date    │

[2017-10-12 08:58] Thenilko opened #3157 "Can`t run projects: Execution failed for task ':mergeF0F1DebugResources'"
My tns version is : 3.2.1
Windows 10 Enterprise.

I am trying with this project -> https://github.com/shripalsoni04/nativescript-webview-interface-demo

I am always getting this error:

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':mergeF0F1DebugResources'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to g

[2017-10-12 11:56] NickIliev commented on #3157
@Thenilko this error might occur on Windows if your folder is deep in the file system and because Windows have a limitation of maximum file path of 254 symbols the build process might not be able to create longer paths.
As a workaround try moving your project in the root directory of your Windows partition and rebuild again. In your case try moving the project to `D:`  (instead of `D:\Work\NativeS

[2017-10-12 12:17] swapnalishinde commented on #1915
I am getting this error on iOS 9.3 with Xcode 8.3.3

[2017-10-12 12:28] Thenilko commented on #3157
Hey @NickIliev , thanks for the quick response.

Now I get this error in console and emulator as well:

System.err: java.lang.RuntimeException: Unable to start activity ComponentInfo{org.nativescript.webviewinterfacedemo/com.tns.NativeScriptActivity}: com.tns.NativeScriptException:
System.err: Calling js method onCreate failed
System.err: Error: Building UI from XML. @file:///app/main-page.xml:5:1

[2017-10-12 12:30] Pip3r4o commented on #3157
@Thenilko `ERROR_UNSAFE_RESOURCE` is only available on API 26, so trying to access it on API's under that will cause the crash that you've experienced. Consider adding a check in your code if your device is of the proper version before accessing the constant.

[2017-10-12 12:45] Thenilko commented on #3157
After execution of this command  tns run/build android --compileSdk 25, I have the same error.

[2017-10-12 12:51] etabakov commented on #2822
I'm closing the issue, due to inactivity. Feel free to drop us a line if the problem still occurs.

[2017-10-12 12:51] #2822 closed

[2017-10-12 12:55] etabakov commented on #2974
I'm closing the issue, due to inactivity. Feel free to drop a line, if the problem still persists.

[2017-10-12 12:55] #2974 closed

[2017-10-12 12:56] izackhub commented on #3152
Hi @NickIliev

One of the problem is I don't get any output or error. Everything Installs fine. I followed that exact article to install the AVDs. I tried installing more stuff that I needed. Removed and reinstalled all the ADK and AVD and any additional stuff, incl. Android studio itself. Nothing seems to work.

When I select an AVD and click play, for a moment the OSX dock seems to be expanding

[2017-10-12 12:59] Pip3r4o commented on #3157
@Thenilko I think executing `tns run` without any changes to the `app/App_Resources` directory will not trigger a build where the lower android sdk will be used, so you should instead try `tns build android --compileSdk 25` which will force a build, with most build artifacts cached. Follow that by `tns run android --compileSdk 25`.

Thanks!

[2017-10-12 12:59] etabakov commented on #3034
@Gamadril This is a known issue and it will be fixed in the next minor version of {N}, which is coming very soon. You can track the progress in this issue: [https://github.com/NativeScript/nativescript-cli/issues/3141](https://github.com/NativeScript/nativescript-cli/issues/3141)

[2017-10-12 13:39] NickIliev commented on #3152
@izackhub it is hard to say what causes your case. However, there are few thing you can check out.
- see [this post](https://stackoverflow.com/questions/34503769/trouble-starting-a-avd-android-virtual-device-in-android-studio-on-mac/34512338) and verify that you do not have conflicting virtual machines (e.g. Docker)
- use HAXM and verify that your Mac has enough free resources to start an AVD (see

[2017-10-12 13:59] etabakov commented on #3148
Hey @hzjzx. Regarding your first comment about using `stdout` instead of `stderr` - looks like a valid observation to me. Feel free to submit a PR and the team will review it.

Regarding the second problem - I will check and let you know, what might be the reason.

[2017-10-12 14:00] Thenilko commented on #3157
Yes man, that`s it. Thanks. I have the same issue with all my projects. So i am gonna test them now.

[2017-10-12 14:02] Pip3r4o commented on #3157
@Thenilko thanks for reporting back. I'll look into the original issue, and let you know when we've addressed it.

[2017-10-12 14:14] Pip3r4o commented on #3157
@Thenilko well, I was wondering why the problem appeared familiar, and I thought we had fixed it previously, only for it to pop up again. I peeked at the package.json, and it appears that the android runtime is a rather old version, almost a year old now.

If you remove the platform, and add the latest available (3.2), you should not have to manually pass `--compileSdk`, as the underlying problem

[2017-10-12 14:14] #3157 closed

[2017-10-12 14:35] Thenilko commented on #3157
Could you please help me with this project: https://github.com/cfjedimaster/NativeScriptDemos/tree/master/rssTest2

When i try it to run it I`m getting this error:

`D:\rssTest2>tns run android
Searching for devices...
Preparing project...
Successfully prepared plugin tns-core-modules for android.
Successfully prepared plugin tns-core-modules-widgets for android.
Gradle build...

 :config phase:

[2017-10-12 14:40] Pip3r4o commented on #3157
@Thenilko The project appears to be outdated, but the problem seems to stem from the fact that your files have not been parsed properly. Your best bet is to create your own project using the tns cli:

`tns create rssFeed`

And copy-pasting the relevant pieces in the demo application. Mind you, some APIs might have changed, considering how outdated the project, and the plugin it uses are.

Please u

[2017-10-12 15:29] sean-perkins commented on #3114
I'm also noticing some odd behaviors that correlate to the same issues Dave is facing. The livesync operation seems to get hung up on the active iOS instance of the application.

The terminal log produces this:
[code]

Note: At this point the application hasn't re-deployed to the simulator. Also notice all the "No such file or directory" logs in both my log and Dave's above.

Now the interesting t

[2017-10-13 01:32] danielmarkland commented on #3001
I'm experiencing the same thing. Any more ideas?

[2017-10-13 06:08] NickIliev opened #3158 "NativeScript+angular stack traces/errors not displaying context (module name, line number, etc)"
_From @nikmartin on October 12, 2017 17:6_

### Did you verify this is a real problem by searching [Stack Overflow]

YES: https://stackoverflow.com/questions/46475025/nativescript-error-context-is-not-fully-stringified/46475640#46475640

### Tell us about the problem
When debugging app with `tns debug android`, and attaching the Chrome debugger to the app, error contexts or even simple console.log

[2017-10-13 06:15] Plamen5kov commented on #3158
Hi @nikmartin,

We've never meant for `console.log` to be used for debugging, and we've strived to keep console.log/dir/trace behavior the same as node.

Try printing this line with console.dir instead of console.log to see the actual object.

Let me say again that console.log isn't ment to be used for debugging. Here's more info on [how to debug your application](https://docs.nativescript.org/too

[2017-10-13 13:38] nikmartin commented on #3158
12:03:21.687 ERROR CONTEXT [object Object]

I don't know where this error originates. That's the problem. I'm not the one doing the console.log, it's being thrown by some other component, maybe a plugin, or a core module.

[2017-10-13 13:54] Plamen5kov commented on #3158
@nikmartin because you mentioned these logs in your post, I originally thought these were your console.logs, that's why I suggested this solution.
If you want to see exactly where these errors occur, you can use the `tns debug <platform>` command to figure out any issue you might have and possibly, help other users with using console.dir instead of console.log in case they want to print an object

[2017-10-13 14:34] nikmartin commented on #3158
all of the examples I gave were while debugging my app using `tns debug android`. I'm still not getting any context when some (possible handled) error occurs

[2017-10-13 14:37] Pip3r4o commented on #3158
@nikmartin you could try pausing on caught exceptions as shown in the short video - https://developers.google.com/web/updates/2015/05/automatically-pause-on-any-exception

[2017-10-13 16:01] dopry commented on #851
@enchev I would like to have this working. With Windows 10 it is a very useful feature, especially if you use docker heavily.  Think it could be re-opened but low priority?

[2017-10-13 22:10] izackhub commented on #3152
Hi again @NickIliev I managed to fix the error without a lot of hustle. It turns out my $ANDROID_HOME was different from the SDK path that was set in Android Studio.

I replaced the SDK path in Android Studio, reinstalled all the SDK and AVD, re-cached and restarted and it worked after that. I'm not sure why I had 2 different paths, but it worked.

PS: Before changing the path and reinstalling eve

[2017-10-16 07:17] NickIliev opened #3159 "Still getting Nativescript splash screen instead of mine"
_From @mutazmq on October 14, 2017 18:33_

I'm developing an iOS app but I'm still getting the Nativescript splash screen even though I did the following:

1. Changed all images in `Assets.xcassets` folder
2. Removed iOS platform using`tns platform remove ios` and added it again (Just in case there was some caching)
3. Deleted the app from my iPhone several times

But still I'm getting the same de

[2017-10-16 07:25] NickIliev commented on #3159
@mutazmq confirming this as a bug.
Tested with iOS11 real device.

Steps to reproduce (no sample application as the issue is reproducible only when changing the images of already installed application)
- create new application `tns create issue3159 --ng`
- deploy it on your iOS 11 device `tns run ios --provision <provision-key>`
- the default NativeScript launch screen will load as expected at thi

[2017-10-16 15:02] tsonevn opened #3160 "Issue with installing NativeScript while using npm 4.0.2"
_From @Eddie541 on October 13, 2017 15:10_

When performing npm i nativescript –g on Windows I get the following errors:

Cannot read property 'assert-plus' of undefined
And
Cannot read property 'minimist' of undefined

My npm-debug.log file is here:
https://gist.github.com/Eddie541/8a54f37e044578032fb76b90c34a4c8e

My environment:

Windows 7 SP1
Node v6.11.2
npm 4.0.2
java SDK version "1.8.0_144"

[2017-10-16 15:02] tsonevn commented on #3160
Hi @Eddie541,
Thank you for contacting us,
Could you try clearing npm cache with `npm cache clear` and then install NativeScript again with `npm install nativescript --g`?
If this those not resolve the issue, please downgrade to npm version 3.10.10 and check if the problem still persists.

Let me know, whether some of the above-given suggestions help.

[2017-10-16 15:02] tsonevn commented on #3160
_From @Eddie541 on October 16, 2017 12:25_

Thanks Nikolay,
I had tried cache clear without success but downgrading to 3.10.10 has allowed a successful install.
All good
Thanks again.
E

[2017-10-16 16:35] vchimev opened #3161 "The test command fails to find a running iOS simulator"
NativeScript CLI Version: 3.2.1

The following command fails to find a running iOS simulator:
[code]

iOS Simulator:
[code]

Output:
[code]

[2017-10-17 05:54] hshristov opened #3162 "console.log sometimes dispay date, username, app & processId at the beginning"
[code]

[2017-10-18 03:49] ksnyde commented on #3106
I'm using tns version 3.2.1 and all of my console messages are being eaten. I have a very-little-modified version of the TS example template in the in the `main-page.ts` I have:

[code]

and _starting_ is never output to the console. I'm very new to Nativescript but I'd say this is a pretty clear example.

[2017-10-18 04:09] NathanaelA commented on #3106
@ksnyde -- If this is iOS; there is another issue that they are working on that occurred with the new iOS 11 devices, eating all logging from these items.    That issue will be fixed in the next version I would expect.

However, in the mean time my blog -- http://fluentreports.com/blog/?p=545 discusses how to get logging back until TNS adds the same fix I came up with to their process.

Unfortunat

[2017-10-18 05:14] ksnyde commented on #3106
Thanks @NathanaelA . I just came back to here to post that I had moved my simulation back to a IOS 10 device and now things are working. Your explanation helps me understand why.

[2017-10-18 09:39] dbenninger opened #3164 "build-*-bundle gets stuck at nativescript-unit-test-runner hook in NS 3.2"
### Tell us about the problem
The commands `npm run build-android-bundle` and `npm run build-ios-bundle` get stuck at the nativescript-unit-test-runner hook and never fail or complete in NS 3.2:

[code]

a normal `tns run ...` seems to work fine.

### Which platform(s) does your issue occur on?
with iOS and Android

### Please provide the following version numbers that your issue occurs with:
- CL

[2017-10-18 10:11] TecladistaProd opened #3165 "javac doesn't work"
i have a problem, i installed nativescript, jdk and android sdk, set java_home and android_home: _ANDROID_HOME = C:\Android\sdk, JAVA_HOME = C:\Program Files\Java\jdk1.8.0_144, and in PATH = C:\Program Files\Java\jdk1.8.0_144\bin; C:\Android\sdk\tools; C:\Android\sdk\platform-tools;_
But when i use the command **tns run build** and appear

[2017-10-18 13:12] surdu commented on #3100
@rosen-vladimirov I have the same issue. In my case I've checked and the id's match.

It works if I use your second command to manually start the debugging.

I would also like to add some other symptom: on iOs, I get the following warning error: `Unable to apply changes on device: xxxxxxxxxxxx
. Error is: Error while waiting for response from NativeScript runtime.`. Also, the application takes a l

[2017-10-19 06:32] NickIliev commented on #3165
@TecladistaProd  are you by chance using Java 9!? Keep in mind that at this very moment the support for Java is under development and [the required version is JDK 8](https://docs.nativescript.org/start/ns-setup-win#system-requirements)

[2017-10-19 08:46] NickIliev commented on #3164
@dbenninger thank you for reporting this issue - confirming this as a bug.
Steps to reproduce: use the ones described in the thread above!

[2017-10-19 09:52] TecladistaProd commented on #3165
yes, it's correct, but not worked javac. but I uninstalled and installed again, different of the first time, i this time i used choco and not the installer, and now it's working.

[2017-10-19 09:52] #3165 closed

[2017-10-19 12:48] tjvantoll opened #3171 "Make --chrome the default for tns debug ios"
Because the Chrome Dev Tools are now our recommended way to debug in {N}, we should make Chrome the default behavior of `tns debug ios`.

Currently it’s a bit confusing to have to explain to users with the `--chrome` flag exists. Every article and tutorial we write about the Chrome Dev Tools has to take some time to explain why `--chrome` is necessary for iOS but not Android.

I would like to see

[2017-10-20 14:39] jpgilchrist commented on #1118
I have noticed that this functionality is incorporated into sidekick. You can update a single version and it updates both ios/android. However, I would like this functionality to be available by a script to incorporate into various CI/CD cycles.

[2017-10-21 15:32] anaszgh opened #3172 "Many errors related to android when doing "tns run ios""
Platform: MACOS Sierra
TNS Version 3.2.1

Package.json

{
	"description": "NativeScript Application",
	"license": "SEE LICENSE IN <your-license-filename>",
	"readme": "NativeScript Application",
	"repository": "<fill-your-repository-here>",
	"nativescript": {
		"id": "org.nativescript.Sa7bah",
		"tns-ios": {
			"version": "3.2.0"
		},
		"tns-android": {
			"version": "3.2.0"
		}
	},
	"dependencies

[2017-10-22 01:40] Guttz commented on #2272
Almost a year later and..

Same problem, same solution descbrided by @gbhojraj

[2017-10-22 09:03] anuragd7 opened #3173 "IOS tns run IOS failing on real device"
Dear friend, we, the rest of the NativeScript community really
appreciate your feedback! While we are doing all we can to take care of every
issue, sometimes we get overwhelmed. Because of that, we will consider issues
that are not constructive or problems that cannot be reproduced "dead".
Additionally, we will treat feature requests or bug reports with unanswered
questions regarding the behavior/

[2017-10-22 09:57] jon301 commented on #2265
Hi
Same here, it does not seem to work with the latest version of the JDK (`jdk-9.0.1`)

[2017-10-22 10:26] philipfeldmann opened #3174 "TNS doctor doesn't recognize Xcode (High Sierra)"
### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)?
None of the provided solutions worked

### Tell us about the problem
When running `tns doctor` I get the following warning, even though Xcode is installed:
[code]
When trying to

[2017-10-22 17:20] dtopuzov commented on #3174
HI @philipfeldmann

Can yhou please run `xcodebuild -version` and paste the output?

May be Xcode is installed, but build tools are not.
If that is the case you can set them via `xcode-select` command or via UI of Xcode (Preferences -> Locations -> Command Line Tools).

[2017-10-22 17:33] dtopuzov commented on #3173
Hi @anuragd7

In order to run or device application should be signed and this is what fails.
There are two options to configure it:

1. Automatic signing

Set TEAM_ID in [build.xcconfig](https://github.com/NativeScript/template-hello-world-ng/blob/master/App_Resources/iOS/build.xcconfig#L5) file or pass it as argument: `tns run ios --team-id <TEAM_ID>`

2. Manual signing

It can not be specified i

[2017-10-22 17:56] locohost commented on #2583
Seems this just goes on forever. Same issue on 10/22/17, NS version 3.2.1

[2017-10-22 20:10] philipfeldmann commented on #3174
That solved my issue, thanks for your fast answer, the support you guys offer is great.
Maybe it'd be a good idea to add this to the docs or the troubleshooting.
Anyway thank you, much love.

[2017-10-23 03:25] anuragd7 commented on #3173
Hi @dtopuzov
Thanks for your response. I tried your suggestions and ran into the following issues.
1. Automatic Signing
When I run `tns run ios --team-id <TEAM_ID>` I get the following error
`The input is not valid sub-command for 'run' command`

2. Manual Signing
When I use ` tns run ios --provisioning <PROVISIONING PROFILE>` I get an error
`The option 'provisioning' is not supported. To see comm

[2017-10-23 04:54] Joey33 opened #3175 "Webpack - where to register modules (in ng version)?"
Hi, I’m a NS newbie moving from Ionic.

So far I’ve been doing well with transferring my Angular2 logic into NS ecosystem.
However now I’m stuck with Webpack. I’ve installed webpack and all dependencies and the next step in the docs is to register pages as dynamic modules with webpack eg:

But it doesn’t say **where** to add these registrations.

Latar the docs say that for **non-ng** versions you

[2017-10-23 10:04] Pip3r4o commented on #2583
@locohost Please be more specific, as we won't be able to help you otherwise. Thank you!

[2017-10-23 10:23] mbektchiev opened #3177 "App hangs on unhandled exception when launched with `tns run`"
## Please, provide the details below:
When you run a {N} application on a device using `tns run` and an unhandled ObjectiveC exception is raised, then the UI on the device freezes and the application doesn't terminate.

### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://git

[2017-10-23 10:36] NickIliev commented on #3175
@Joey33 you do not need to register the HTML files in an Angular based project - the bundle-config file is needed for a non-Angular project to register the "combos" of XML and code-behind files. which is handled by design when using WebPack with an Angular project.

[2017-10-23 10:36] #3175 closed

[2017-10-23 11:53] dtopuzov commented on #3174
I'm glad to hear problem is solved.

Re documentation:
We will try to improve it, but if you notice something wrong you easily contribute.
At the end of [articles](https://docs.nativescript.org/start/troubleshooting) there is `Improve this article` button which will open the source of the article which you can modify and send pull request.

[2017-10-23 11:54] #3174 closed

[2017-10-23 13:18] locohost commented on #2583
Ok. I'm on Win 8 developer laptop Dell Precision M2800 with 16GB of RAM and nearly half of the 500GB HD empty. I use this laptop for node dev nearly every day.

I'm using the latest NS version 3.2.1. I've fully updated my Android SDK. SDK manager shows no more updates to install. I've run the NS setup process. I've pasted the powershell script line from documentation and run that. What more do I h

[2017-10-23 13:57] Joey33 commented on #3175
thx Nick, I'll give it a try;
ps. probably the docs could improve on clarity at this point since it talks about registering before the non-ng section. That's why I inferred you must register modules in ng apps too but in a different way. Thx again!

[2017-10-23 18:56] Guatom commented on #2548
This would be a very nice feature.

[2017-10-24 09:18] surdu commented on #3100
In my case the problem went away as soon as I uninstalled NativeScript Sidekick (at least on Android, I don't have an iOS device to test at the moment)

[2017-10-24 09:42] dan-lennox commented on #2265
Had this same issue, but was related to an issue with homebrew. Running `brew update` fixed the issue for me.

https://github.com/caskroom/homebrew-cask/pull/4564/files

[2017-10-24 13:19] Pip3r4o commented on #2583
@locohost I noticed several messages that could hint at something you could have missed during the setup.

`ANDROID_HOME` errors - make sure you have installed the `extras` packages using the `sdkmanager` android sdk tools executable ("extras;android;m2repository" "extras;google;m2repository"); Also verify that `ANDROID_HOME/tools` and `ANDROID_HOME/platform-tools` are set in your PATH environment

[2017-10-24 14:13] #3108 closed

[2017-10-24 17:11] dbay920 opened #3178 "Exit code 243 when trying to run/install/update/add"
### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)?

**Yes, can't find any info on exit code 243**

### Tell us about the problem
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Wh

[2017-10-25 07:46] dbenninger commented on #3164
@NickIliev this blocks us from upgrading. Any news on this?

[2017-10-25 11:09] NickIliev commented on #3178
@dbay920 the exact error code was reproduced [here](https://github.com/NativeScript/nativescript-sdk-examples-ng/issues/166#issuecomment-318972331) - perhaps you can verify that your NativeScript is installed globally with a `-g` flag.
[code]

[2017-10-25 11:17] NickIliev commented on #3164
@dbenninger we are currently looking into it but meanwhile as the plugin nativescript-unit-test-runner is used mainly in development, perhaps you can remove the plugin (and the hooks) before bundling with WebPack (temporary solution)

[2017-10-25 12:10] NickIliev commented on #3172
@anaszgh your issue might be related to [this](https://github.com/NativeScript/nativescript-cli/issues/3016). Please check if in your 'app' folder there is a folder 'tns_modules' and delete it, then rebuild the application.

[2017-10-25 12:39] #2816 closed

[2017-10-25 12:45] #2967 closed

[2017-10-25 12:56] #3076 closed

[2017-10-25 12:58] dtopuzov commented on #3141
@fuyacho-takatsuji @terreb @justindujardin @briosheje
The issue is fixed in `nativescript@next` and will be officially released soon with 3.3.0.

[2017-10-25 12:59] #3141 closed

[2017-10-25 14:01] NickIliev opened #3179 "Nativescript post install script fails on Android SDK."
_From @snapnurse-joshuamatthews on October 25, 2017 13:45_

## Please, provide the details below:

### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)?

Don't see anyone else reporting this specific error

### Tell us about the pr

[2017-10-25 15:53] dbay920 commented on #3178
Yes, npm was installed globally. My current workaround was to clone my app's github repo into a new folder, everything seems to be working now. FYI, this 243 error coincided with me installing and running Appium, not sure if it had anything to do with the npm/nativescript cli issues or just a coincidence.

[2017-10-25 22:10] SantiValdez opened #3180 "Nativescript postinstall hangs indefinitely, as does the tns doctor command."
---

[2017-10-25 22:25] #3180 closed

[2017-10-26 08:13] #3178 closed

[2017-10-26 13:57] NickIliev opened #3181 "tns 3.2.0 ios publish error on Xcode"
_From @harriscreativity on October 26, 2017 12:48_

(null): Linker command failed with exit code 1 (use -v to see invocation)

_Copied from original issue: NativeScript/NativeScript#4989_

[2017-10-26 13:57] NickIliev commented on #3181
_From @harriscreativity on October 26, 2017 12:49_

Ld /Users/dotcomholding/Library/Developer/Xcode/DerivedData/yellowcoza-dnqugmvlycvbrqgixmbmwstwpgpy/Build/Intermediates/ArchiveIntermediates/yellowcoza/IntermediateBuildFilesPath/yellowcoza.build/Release-iphoneos/yellowcoza.build/Objects-normal/arm64/yellowcoza normal arm64
    cd "/Users/dotcomholding/Desktop/Mobile Apps/NATIVESCRIPT/YELLOW.CO.Z

[2017-10-26 22:33] MarkTechson opened #3182 "Unable to start Analytics Broker process. (NativeScript CLI)"
### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)?
* Yes

### Tell us about the problem
Please, ensure your title is less than 63 characters long and starts with a capital
letter.
When running tns create or tns doctor I get the

[2017-10-27 11:09] recon472 opened #3183 "tns debug ios --chrome keeps changing port on every livesync update"
Hi,

### Tell us about the problem
When I run "tns debug ios --chrome" or run the debug via sidekick, everytime livesync updates the app when the code is changed, the chrome devtools port changes. So you have to copy the url again after every change. When debugging android, the port is always the same.

### Which platform(s) does your issue occur on?
iOS

### Please provide the following version n

[2017-10-27 11:39] Pip3r4o commented on #3183
Hey @recon472 there is already a feature request open at https://github.com/NativeScript/nativescript-cli/issues/3171. Please join the discussion at #3171

[2017-10-27 11:42] Pip3r4o commented on #3183
@recon472 I can confirm that this indeed the current behavior when debugging with Chrome on iOS.

Unfortunately currently there isn't a workaround, but we'll let you know when we've addressed it!

[2017-10-27 17:14] MarkTechson commented on #3182
Just to be sure this is an issue, I uninstalled node and did a fresh install of Node / NPM.

```node: v7.2.1```
```npm: 4.0.5```
```Windows v10```
```tns 3.3.0```

[2017-10-28 12:57] kesienajoel opened #3184 "problem with tns run android after update to 3.3.0"
After updating to Nativescript 3.3, tns run android fails with the following error:

Searching for devices...
Skipping prepare.
Building project...
Gradle build...
         + add include.gradle from /Users/gaisiaoprojects/JUZFLASH/node_modules/nativescript-background-http/platforms/android/include.gradle
         + creating include.gradle for plugin /Users/gaisiaoprojects/JUZFLASH/node_modules/nat

[2017-10-29 02:13] MarkPieszak commented on #2265
A couple of tips for people running into this (at least for MAC some of these worked).
Make sure your using `JDK 8`, -  9 doesn't work (the docs have been updated recently to reflect that).

Next, if you're getting the JAVA_HOME issues (even though you exported them at some other time), update your bash_profile

[code]

Hope that helps others, got me able to get through tns doctor.

[2017-10-29 20:51] behi1ty opened #3185 "dismiss keyboard ios"
Hello
How can I get a keyboard and closure in the text field?
No keyboard buttons like Done and so on

[2017-10-30 06:27] anuragd7 commented on #3173
I deleted all old profiles from the developer portal and recreated them. I then added them to the keychain. Now I am able to run the project from the command line.

[2017-10-30 06:27] #3173 closed

[2017-10-30 07:34] NickIliev commented on #3185
@behi1ty this repository is for logging issues, bugs and feature requests related to NativeScript CLI.
For a how-to related question about the usage of NativeScript modules please use one of the community channels like [discourse.nativescript.org](https://discourse.nativescript.org/) or [SO](https://stackoverflow.com/questions/tagged/nativescript).

[2017-10-30 07:34] #3185 closed

[2017-10-30 07:41] NickIliev opened #3186 "console.dir works the same as log"
_From @Andy-ZYA on October 28, 2017 8:48_

I am following the [official tutorial](https://docs.nativescript.org/angular/tutorial/ng-chapter-1) and after I change console.log to console.dir, the terminal shows the same thing.

`CONSOLE LOG file:///app/app.component.js:6:20: [object Object]
CONSOLE LOG file:///app/tns_modules/@angular/core/./bundles/core.umd.js:2957:20: Angu`

How should I fix this

[2017-10-30 07:49] NickIliev commented on #3186
Hey @Andy-ZYA thank you for reporting this issue - confirming this one as a bug.

Steps to reproduce - use [this test app](https://github.com/NickIliev/NS-Issues/tree/master/nativescript-cli/issue_3186) and see how console.dir works[ at this line](https://github.com/NickIliev/NS-Issues/blob/master/nativescript-cli/issue_3186/app/item/items.component.ts#L21)

[2017-10-30 08:06] pjbonestroo commented on #493
For writing complex Javascript applications, where code readability is important, I use Python as main language, compiling to Javascript using Transcrypt ([https://www.transcrypt.org/](https://www.transcrypt.org/)). Generally this means development of single page applications.

It would be great if NativeScript can use such generated Javascript (single file), so that one can develop native apps us

[2017-10-30 08:25] blueberrynotblue commented on #3186
@NickIliev btw,is tns 3.3.0 not available now?

[2017-10-30 09:04] NickIliev commented on #3186
@blueberrynotblue it is available on NPM.
[code]

[2017-10-30 09:22] NickIliev opened #3187 "Android tns debug, crashing when there is a response from server"
_From @shiv19 on October 27, 2017 17:6_

[code]

This part of the app works totally fine when not running in debug mode.
This could be an issue with the debugger

_Copied from original issue: NativeScript/NativeScript#4996_

[2017-10-30 09:25] Pip3r4o commented on #3187
Hey @shiv19, what are the reproduction steps?

[2017-10-30 09:35] NickIliev commented on #3187
issue reproducible with [this demo app](https://github.com/NickIliev/nativescript-ng-cosmos).
Steps to reproduce:
- clone and build the application.
- execute a debug command (via VSCode or with 'tns debug android')
- navigate to any page that makes HTTP request (no breakpoints needed0

[2017-10-30 09:58] NickIliev commented on #3184
@kesienajoel can you post the content of your `package.json` file (dependencies and devDependencies0

[2017-10-30 11:01] shiv19 commented on #3187
@NickIliev @Pip3r4o
Steps to recreate.
create a search bar that calls this method
[code]

this is the google place picker

now, handle the onActivityResult something like this

[code]

use `tns debug android`

while the debugging console is open and socket connection is made,
click on search bar, type some address and select it.

which execution context reaches the onActivityResult, it will crash

[2017-10-30 11:13] #3016 closed

[2017-10-30 13:16] kesienajoel commented on #3184
@NIckiLiev thanks for the response.The contents of my package.json are below
 "dependencies": {
    "lodash": "^4.17.4",
    "nativescript-background-http": "^3.0.0",
    "nativescript-barcodescanner": "^2.6.0",
    "nativescript-cache": "^1.0.0",
    "nativescript-camera": "^3.0.0",
    "nativescript-carousel": "^3.1.0",
    "nativescript-directions": "^1.0.4",
    "nativescript-dom": "^2.0.0",

[2017-10-30 13:51] Pip3r4o commented on #3187
I can confirm that there is indeed a problem originating from the network inspector implementation for Android.

The issue is reproducible with a hello world app and a simple network request.

I'll let you know when a fix is available either in the tns-core-modules or the android runtime.

[2017-10-30 13:55] NickIliev commented on #3184
@kesienajoel  with NativeScript 3.x.x a number of breaking changes were introduced which required the community plugins to be migrated so that they can be compatible with the new NativeScript version.
I have noticed that you are using **"nativescript-timedatepicker"** and **"nativescript-facebook-login"** and both plugins are directly importing the native libraries ([here](https://github.com/Anton

[2017-10-30 13:58] kesienajoel commented on #3184
@NickIliev Thank you very much. I will test this now

[2017-10-30 14:33] NickIliev commented on #3187
+1 reported via [https://github.com/NativeScript/NativeScript/issues/5009](https://github.com/NativeScript/NativeScript/issues/5009)

[2017-10-31 07:31] tsonevn opened #3188 "Bug: After running tests building project or running it will use the embedded unit test runner version"
_From @souly1 on October 26, 2017 8:13_

Hi,
There is an issue when working with native script test framework:
after running tests with 'tns test android' running 'tns build/run android' will use the apk with the embedded test runner and not update to be without it.

This is an issue with CI normal flow as you would expect it to first run tests and then build apk.

Thanks

_Copied from original is

[2017-10-31 08:57] tsonevn commented on #3188
Hi @souly1,
Thank you for reporting this issue,
Indeed this is a valid problem and it is logged [here ](https://github.com/NativeScript/nativescript-cli/issues/887) in the more general case. In the issue is described a new feature, which will allow ignoring files from the build. Please keep track on the other issue for further info, where you could also leave your comment.

[2017-10-31 08:57] #3188 closed

[2017-10-31 12:43] Pip3r4o commented on #3187
We found the problem, and prepared a fix which should become available in @next of the Android runtime later today.

https://github.com/NativeScript/android-runtime/pull/873

[2017-10-31 13:12] Pip3r4o commented on #3187
Closing this as resolved, as per https://github.com/NativeScript/nativescript-cli/issues/3187#issuecomment-340750599

To get the latest android runtime changes run `tns platform add android@next` in your nativescript project.

cc @TheOnlyMatt, @tbsf, @chernov-stas, @yclau

[2017-10-31 17:46] shiv19 commented on #3187
Awesome! :)

[2017-10-31 21:36] MarkTechson commented on #3182
Update - since I didn't see this happening with anyone else, I figured it must be some local configuration. I was using nodist (installed by choco on Windows). I've now switched to a pure  node install from the website and things seem to be working.

Thanks for looking into this and perhaps someone else may run into it and see how I was able to work around it.

[2017-10-31 21:36] #3182 closed

[2017-11-01 06:34] tsonevn opened #3189 "NativeScript cli error when tns run ios or any command related to IOS platform"
_From @fawzywassel on October 31, 2017 18:6_

cli error =>
NativeScript can only run in Xcode version 6.0 or greater

_Copied from original issue: NativeScript/NativeScript#5015_

[2017-11-01 06:34] tsonevn commented on #3189
_From @NathanaelA on October 31, 2017 19:17_

@fawzywassel -- Do you have XCode 8 or 9 installed?
See: https://docs.nativescript.org/start/quick-setup

[2017-11-01 06:34] tsonevn commented on #3189
_From @fawzywassel on October 31, 2017 19:33_

yes i have XCode 9 , and i follow this steps and all is installed perfect

[2017-11-01 06:34] tsonevn commented on #3189
_From @fawzywassel on October 31, 2017 19:35_

![screen shot 2017-10-31 at 9 34 42 pm](https://user-images.githubusercontent.com/8037526/32245112-647676e2-be83-11e7-954b-f0bbd834bc3a.png)

[2017-11-01 06:34] tsonevn commented on #3189
_From @fawzywassel on October 31, 2017 19:37_

![screen shot 2017-10-31 at 9 36 47 pm](https://user-images.githubusercontent.com/8037526/32245189-a4544834-be83-11e7-979f-245a32027173.png)
this is my xcode version

[2017-11-01 06:34] tsonevn commented on #3189
_From @NathanaelA on October 31, 2017 20:11_

A couple things you can try:
1. what does `xcodebuild -version` say?
2. what does `c++ --version` say?
3. What does `tns doctor` say?

[2017-11-01 06:34] tsonevn commented on #3189
_From @fawzywassel on October 31, 2017 20:15_

`xcodebuild -version`
Xcode 9.0
Build version 9A235
`c++ --version`
Apple LLVM version 9.0.0 (clang-900.0.37)
Target: x86_64-apple-darwin17.0.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin
`tns doctor`
Your components are up-to-date:
nativescript,tns-core-modules,tns-android,t

[2017-11-01 06:34] tsonevn commented on #3189
_From @NathanaelA on October 31, 2017 20:49_

@fawzywassel - Everything looks correct based on that.   So when you do a
- `tns create name`
- `cd name`
- `tns platform add ios`
- `tns build ios`

You get that error, correct? , this is from a brand new project correct?

[2017-11-01 06:34] tsonevn commented on #3189
_From @fawzywassel on October 31, 2017 20:51_

yes

[2017-11-01 06:34] tsonevn commented on #3189
_From @NathanaelA on October 31, 2017 20:54_

Can you do a `tns info`?

[2017-11-01 06:34] tsonevn commented on #3189
_From @fawzywassel on October 31, 2017 20:55_

![screen shot 2017-10-31 at 10 55 20 pm](https://user-images.githubusercontent.com/8037526/32248528-a00e46fc-be8e-11e7-994e-abd0344d5607.png)

[2017-11-01 06:34] tsonevn commented on #3189
_From @fawzywassel on October 31, 2017 21:2_

this issue happen when i trying to add/remove/build/prepare ios

[2017-11-01 06:34] tsonevn commented on #3189
_From @NathanaelA on October 31, 2017 21:28_

@tsonevn - Any ideas?    This also probably needs to be moved to the CLI repo...

[2017-11-01 06:56] tsonevn commented on #3189
Hi @fawzywassel
Could you try to open a Xcode, create a new native project and build it on iOS Simulator? This will help to verify, whether everything is properly configured. If everything works correctly, please try again to create a project and to build it, while following the above-given [instructions](https://github.com/NativeScript/nativescript-cli/issues/3189#issuecomment-341002607).

Also,

[2017-11-01 09:05] PanayotCankov opened #3191 "iOS console.info and console.warn is ignored"
With `tns run ios` the logging:
[code]

Will output only log and error messages.
[We probably have to update the filter here](https://github.com/NativeScript/nativescript-cli/blob/0f861bb36ae2ecafe198b15c892c5fe082163732/lib/services/ios-log-filter.ts#L7).

We need to log a very small amount of logs in release builds, for now that would be only startup time, and will handle this in tns-core-module

[2017-11-01 09:18] fawzywassel commented on #3189
`xcode-select -v`
xcode-select version 2349.

[2017-11-01 09:24] fawzywassel commented on #3189
xcode new gererate native apps work normaly with no errors

[2017-11-01 10:02] tsonevn commented on #3189
@fawzywassel

We are still unable to recreate this behavior on our side, which makes the research on the problem hard. Something that you could check on your side is if the correct path is set up for the Xcode while running `xcode-select -p`. The command should return a string similar to the below attached one:
[code]
Also, you could verify, the returned Xcode version in the terminal via `xcodebui

[2017-11-01 10:10] fawzywassel commented on #3189
`xcode-select -p` Yes, it returned the same you suggest
`xcodebuild -version`
Xcode 9.0
Build version 9A235

[2017-11-01 10:14] fawzywassel commented on #3189
@tsonevn can you send me your mail to send to you teamViewer credentials  or any private connection and you will can watch my pc from teamViewer, when you solve it we will post the solution

[2017-11-02 09:33] lambourn commented on #2770
I'm experiencing the same thing...

@etabakov do you have any insight in the new testing story? Is the current one broken?

[2017-11-02 11:45] tsonevn commented on #3189
Hi @fawzywassel,
Thank you for your suggestion, however, at this point, a remote session is not applicable. After the research we made with our developers on our side this issue seems to be related to your local environment setting and in our further investigation we found that the issue should be related to the info parsing after executing ` xcodebuild -version | head -n 1 | sed -e 's/Xcode //'`.

[2017-11-02 12:26] KristianDD commented on #3162
@hshristov Thanks you for the report. Could you please verify if its still reproducible with CLI version 3.3.0. I think it might been fixed with the Xcode9 simulator logs issue.

[2017-11-02 17:00] nmandyam opened #3195 "tns publish fails on new Mac - code-signing issue?"
## Please, provide the details below:
I just moved from one Mac to another. This one runs Sierra and I just set up all the NativeScript components on it. I copied the code (app directory and everything related, NOT the Xcode files) from my old machine to this one, ran it - all OK in the simulator. Now, I try to publish a build and the process fails, as follows:

`
=== BUILD TARGET myappname OF PRO

[2017-11-02 21:51] rosen-vladimirov commented on #3182
Hey @MarkTechson ,
Thanks for sharing the information - I'm sure it will be helpful in the future.

[2017-11-03 07:53] sjordan1975 commented on #2583
I'm having similar issues as @locohost

I just tried running the NS install script on my Mac:

[code]

This seems to have failed to install Android. Running sdkmanager gives me error:
[code]

I have Homebrew installed which I believe is used as part of the NS install script to attempt to install android-sdk, internally using the following command (or similar):

[code]
However, this fails as I beli

[2017-11-03 09:48] dtopuzov commented on #3195
Hi @nmandyam

What version of Xcode you use and what is the exact command you run?

Can you please try to `tns build ios --release --for-device --provision`, it will list all available provisioning profiles on your machines, then you can select one and rerun command specifying the provision you want.

[2017-11-03 22:24] fawzywassel commented on #3189
![screen shot 2017-11-04 at 12 23 02 am](https://user-images.githubusercontent.com/8037526/32398199-713d9e6c-c0f6-11e7-98ab-58e9b6a61f46.png)

[2017-11-03 22:47] sjordan1975 commented on #2583
@Plamen5kov Hi,Thank you for your reply; can you provide a little more instruction.

As mentioned, I don't have java 8; I have java 9.

Inside my NS project, I ran the following command:
[code]

and got error:
[code]

[2017-11-03 23:16] Pip3r4o commented on #2583
@sjordan1975 currently Oracle Java 9 is not supported for NativeScript Android development. Refer to the following comment https://github.com/NativeScript/nativescript-cli/issues/2265#issuecomment-340232515.

As for your Android SDK setup - make sure your ANDROID_HOME, ANDROID_HOME/tools and ANDROID_HOME/platform_tools are present in your PATH environment.

[2017-11-03 23:26] sjordan1975 commented on #2583
@Pip3r4o Thank you. I've fixed the Java 9 issue.

Here are the relevant variables:
[code]

This is the default install of the embedded SDK Manager inside of Android Studio. Latest install of SDK by Studio is SDK 27

[2017-11-04 12:49] nmandyam commented on #3195
@dtopuzov, thank you for that pointer - I tried that unsuccessfully, but finally did the following, to make it all work:

1. Ran `tns build ios --release --for-device --provision`, got the provision IDs (there were two), identified the one I wanted to use
2. Then: `tns platform remove ios`
3. Then: `tns platform add ios`
4. Then: `tns run ios --provision <my provision uuid>`
5. Opened the workspac

[2017-11-05 20:58] khoroshulia commented on #3146
@rosen-vladimirov Hi. I got the same issue reproduced on Android. Steps are the same as for iOS

npm -v: 5.3.0
node -v: v8.6.0
xcodebuild -version: Xcode 9.1, Build version 9B55

[2017-11-06 12:11] NickIliev commented on #3184
@kesienajoel were you able to resolve the issue?

[2017-11-06 16:47] madsongr opened #3199 "Cannot run android on genymotion linux xubuntu"
I configured genymotion to get android sdk from **Use custom Android SDK tools** in ADB tab and it says the path is correct.
So I try to run android in terminal but I get an error:
[code]
Running tns device android --available-devices it finds Nexus 5 that was created by android studio.

[code]
Is there a fix to run in genymotion?

[2017-11-06 21:40] fawzywassel commented on #3189
@tsonevn please help me .....

[2017-11-07 07:44] NickIliev commented on #3199
@madsongr  Try starting your GenyMotion in advance before executing the `tns` command.
Once the geny is started see if it is recognized by ABDB with
[code]

and if it is listed as connected device you should be able to execute `tns run android`

[2017-11-07 08:52] jonasao commented on #3187
This issue seems to have been fixed.

[2017-11-07 08:56] tsonevn commented on #3189
Hi @fawzywassel,
After reviewing the log from the error from the console, I found that the problem could be related to the overwriting the head command in the machine. The current command does not have `-n` option, which is needed to run the build.

To confirm that this is the case you could run the following commands and verify if the log on your side will be the same.
`which head` ->result `/usr

[2017-11-07 09:16] fawzywassel commented on #3189
after run all command only one is not the same
`which head` result is  `/Applications/XAMPP/xamppfiles/bin/head`
and still the same after run `export PATH=/usr/bin/head:$PATH`

[2017-11-07 10:03] renestalder commented on #3164
Anyone can post the concrete "workaround" here, maybe with code examples?

[2017-11-07 10:14] dbenninger commented on #3164
@renestalder Our workaround is to remove the unit test plugin before running the bundle build:

tns plugin remove nativescript-unit-test-runner

[2017-11-07 10:55] renestalder commented on #3164
Thank you. :)

I'm not that used to the whole tns cli possibilities yet.

[2017-11-07 11:15] tsonevn commented on #3189
Hi @fawzywassel,
Could you execute one more time the following command `export PATH=/usr/bin/head`? This time close the terminal and open it again. Then run `echo $PATH` and validate that the same path(`/usr/bin/head`) is printed.

If the path is correct, run `xcodebuild -version | head -n 1 | sed -e 's/Xcode //'` command, to verify if the correct version of the Xcode will be printed.

After that

[2017-11-07 14:09] jevenson commented on #3164
@renestalder I've just been deleting the file at `hooks/after-prepare/nativescript-unit-test-runner.js` and then reverting the changes with git once I'm done using bundling.

[2017-11-07 14:56] madsongr commented on #3199
I've done that already. It's not being recognized.

[2017-11-07 15:00] dtopuzov opened #3202 "`tns update <version>` does not work"
Help says:
[code]

`tns update 3.3.0` results in:
[code]

[2017-11-07 15:24] NickIliev commented on #3199
There are multiple threads about GenyMotion not being recognized with ubunto - [see this query](https://www.google.bg/search?rlz=1C1CHBF_enBG741BG742&biw=1920&bih=1053&ei=rs8BWqiPMYeBaenIvYgP&q=genymotion+not+being+found+on+XUbuntu&oq=genymotion+not+being+found+on+XUbuntu&gs_l=psy-ab.3...2114.2114.0.2417.1.1.0.0.0.0.114.114.0j1.1.0....0...1.1.64.psy-ab..0.0.0....0.97GLRS4MGYM).

I would recommend

[2017-11-07 15:46] #3187 closed

[2017-11-07 20:01] madsongr commented on #3199
I added the Genymotion installation directory to the PATH environment variable las explained here: [http://docs.telerik.com/platform/appbuilder/nativescript/running-your-app/run-app-native-emulator](url)
 with `export PATH=$PATH:/home/user/.Genymobile/Genymotion/` so it worked.
Thanks for your response.

[2017-11-07 20:01] #3199 closed

[2017-11-08 08:44] rosen-vladimirov commented on #3182
Btw we've introduced a fix in latest master - when analytics operations fail, CLI will no longer fail and it will continue working. Its introduced in this PR: https://github.com/NativeScript/nativescript-cli/pull/3197

[2017-11-08 09:47] fawzywassel commented on #3189
@tsonevn
Thanks for your support
its working now

[2017-11-08 10:43] TheOnlyMatt commented on #3187
Currently getting an error running tns platform add android@next :
cp: no such file or directory: node_modules/tns-android/framework/libs

There is indeed no libs folder in the framework directory

[2017-11-08 11:03] Pip3r4o commented on #3187
@TheOnlyMatt The `@next` uploaded today depends on changes in the `nativescript@next` package, therefore you have two options

1. Update the CLI to the `@next`

or

2. (Recommended) Download the previous `@next`-tagged package - `tns platform add android@3.4.0-2017-10-31-1`

[2017-11-08 11:10] #3189 closed

[2017-11-08 11:11] TheOnlyMatt commented on #3187
Ok thank you, it works again !
I followed the second option

[2017-11-08 12:34] dtopuzov commented on #3160
It looks like issue with early versions of npm4.
No issues with latest npm4 and npm5 releases.

[2017-11-08 12:34] #3160 closed

[2017-11-08 12:43] dtopuzov commented on #3131
Duplicate of https://github.com/NativeScript/nativescript-cli/issues/3151

[2017-11-08 12:43] #3131 closed

[2017-11-08 12:45] dtopuzov commented on #3126
@vchimev Can you reproduce the issue with latest releases of npm5?

[2017-11-08 12:54] dtopuzov commented on #3123
This looks as duplicate of https://github.com/NativeScript/nativescript-cli/issues/3028
@NathanaelA can you please confirm you hit the issue only with npm5?

[2017-11-08 12:57] dtopuzov commented on #3063
Close due to inactivity.

[2017-11-08 12:57] #3063 closed

[2017-11-08 13:01] dtopuzov commented on #3097
Close due to inactivity.

[2017-11-08 13:01] #3097 closed

[2017-11-08 13:05] dtopuzov commented on #2945
Hi @macin40 can you confirm bumping version helps for Android?

[2017-11-08 13:28] dtopuzov commented on #2997
Hi @wpfeiffe do you still experience the issue with latest releases of {N}?

[2017-11-08 13:30] dtopuzov commented on #2891
Close due to inactivity.

[2017-11-08 13:30] #2891 closed

[2017-11-08 14:26] simonox commented on #2739
After the test runner ist restarted, it only says "No known hosts" and does not re-run the unit tests.

[2017-11-08 16:07] dtopuzov opened #3204 "`tns help` is broken in nativescript@next"
Actual result:
[code]

[2017-11-08 19:13] mfradcourt commented on #3132
@dotnetdreamer Were you able to find a solution to this problem? I'm facing exactly the same issue after an update of xcode to version 9.

[2017-11-08 19:32] NathanaelA commented on #3123
No this occurs on NPM 3 also, in fact I don't know that I've seen this error since I moved to NPM 5.    I believe this is a different error than #3028 -- because this is specific to not having a real version in the package.json file.   And it is very inconsistent when it wants to crop up and fail.  I have not figured out when/why it occurs; as it is random, but when it does it will always fail unt

[2017-11-08 19:46] anorthwolf commented on #1798
+1

[2017-11-08 23:18] PurpleEdge2214 opened #3206 "Can Nativescript get rid of moduleId?"
`moduleId: module.id`

...has be deprecated in Angular 4.

https://angular.io/guide/change-log

...can Nativescript be updated accordingly as it seems to be causing problems...

https://discourse.nativescript.org/t/relative-vs-absolute-template-paths-when-using-webpack-build/1516

[2017-11-08 23:20] PurpleEdge2214 commented on #3206
Sorry, I've posted in the wrong area, should be in nativescript-angular

[2017-11-08 23:22] #3206 closed

[2017-11-08 23:57] wpfeiffe commented on #2997
Not yet but I will update and retry...

On Wed, Nov 8, 2017 at 8:28 AM, dtopuzov <notifications@github.com> wrote:

[2017-11-09 04:04] packytagliaferro opened #3207 "Wont Install Node V9"
Currently I cannot get this to install.

Command: `sudo npm install -g nativescript`

Error:
[code]

NPM : `5.5.1`

Node:` V 9`

[2017-11-09 05:12] dotnetdreamer commented on #3132
@mfradcourt  i didn't succeed. I had another mac machine with xcode 8, i am still using that...

[2017-11-09 09:43] vchimev opened #3208 "CLI to respect android and ios platforms as npm packages"
Currently, the NativeScript CLI adds the Android and iOS platforms under the `nativescript` key of the **package.json** file.

[code]

Ideally, the NativeScript CLI could install Android and iOS platforms as a project *dependency/devDependency*.

[2017-11-09 11:29] rosen-vladimirov commented on #3207
Hey @packytagliaferro ,
This is an issue in npm 5, sometimes it fails to delete some metafiles, that it had already deleted in a previous step.
Can you try the following:
[code]
NOTE: based on your setup, the commands may require `sudo` privileges.

[2017-11-09 16:06] solracph commented on #3124
I'm in the same situation
OS is windows 10
tns --version 3.3.0

target device (1+1) android version  6.0.1
and emulator with android version 8

[2017-11-09 16:07] packytagliaferro commented on #3207
@rosen-vladimirov That worked sort of after running `sudo npm install -g nativescript`. I still get some errors and a message about Node V9

[code]

[2017-11-09 17:48] MarkTechson commented on #3182
@rosen-vladimirov thanks for taking this issue seriously! I appreciate that. This team is phenomenal!

[2017-11-09 21:12] rosen-vladimirov commented on #3207
Hey @packytagliaferro ,
Some of the errors are caused by the way `npm` executes postinstall scripts when `sudo` is used. You can find more infomation in [this thread](https://github.com/NativeScript/nativescript-cli/issues/2885) and [this one](https://github.com/NativeScript/nativescript-cli/issues/1425)
Based on your logs I think everything should be working fine, can you confirm you can use Nati

[2017-11-10 08:33] #2968 closed

[2017-11-10 09:14] NickIliev opened #3209 "brew cask install android-sdk got error"
_From @tolerious on November 10, 2017 5:6_

[code]

after I run `brew cask install android-sdk`  I got this error, my java version is 8.

does that mean,  I can not reach the `https://dl.google.com/android/repository/sdk-tools-darwin-3859397.zip` address?  but I used a proxy and I can directly download the  `sdk-tools-darwin-3859397.zip` package.

run `brew config`  :
[code]
run `brew cask doctor`

[2017-11-10 09:14] NickIliev commented on #3209
_From @tsonevn on November 10, 2017 7:1_

Hi @tolerious,
First of all,  thank you for your interest in NativeScript.
I reviewed your case and regarding the error
[code]
it seems that there might be a network error while executing the command for downloading android-sdk.

I tested the setup [script ](https://docs.nativescript.org/start/quick-setup#macos) and also `brew cask install android-sdk` com

[2017-11-10 14:39] tolerious opened #3210 "I have installed all the dependency but got so many warnings."
I followed [this tutorial](https://docs.nativescript.org/start/ns-setup-os-x), installed `xcodeproj` and  `cocoapods` and ..., but I still got   so many warnings . as follows,

[code]

[2017-11-10 15:51] frudman opened #3211 "broken documentation"
The documentation of this page is poorly written and reporting a problem on it is broken:

Page url: **https://docs.nativescript.org/runtimes/android/metadata/accessing-packages**

Problem 1) poor documentation: there is NO WAY to know HOW to use/declare **java.lang** or **java.views** (for example) from reading this documentation. A very simple setup instruction is critical as it's very hard to f

[2017-11-10 16:50] etabakov commented on #3211
Hey @frudman. I will try to address your problems one by one:

 - Regarding the not working "Improve This Article" button - A fix was just deployed on live and the button should work as expected now. Thanks for letting us know about this problem!
 - About the poor quality of the article you stumbled upon - This will be discussed with the team and we will try to provide all the required context for

[2017-11-10 22:16] xlcrr commented on #2754
I've got the same error. New to nativescript-vue just getting started. Posting response from `tns run ios --log trace`

[code]

[2017-11-11 03:04] MrGoodBye commented on #3160
@dtopuzov I use `node8` with the `npm5` to install successfully, thanks!

[2017-11-11 08:56] tolerious commented on #1064
@thowerton   your   answer is really help me,  thank you.

[2017-11-11 12:19] yclau commented on #3187
Happen again ， after I reinstall platform using 3.3.1 .

[2017-11-11 12:26] tolerious commented on #1835
@dtopuzov  how to clean up the folders , just run `sudo rm -f * ` ? but I got operation not permitted.

[2017-11-12 04:09] tolerious commented on #1425
not work for me, there  are . still many warnings.
<img width="1438" alt="2017-11-12 12 09 09" src="https://user-images.githubusercontent.com/2922120/32695827-52f5ad02-c7a2-11e7-84d6-f5691131b662.png">

[2017-11-12 04:28] tolerious commented on #1064
but the  `WARNING: CocoaPods is not installed or is not configured properly.` . warning still there.

[2017-11-12 04:29] tolerious commented on #1310
@dtopuzov   but I still got the warning  `WARNING: CocoaPods is not installed or is not configured properly.`

[2017-11-13 01:09] dneuer opened #3214 "Can't run simple template-based app on Android on linux"
On Fedora Linux 24, can't run an unmodified app created from a template on Android via emulator: emulator screen is blank. The node process also doesn't respond to ctrl+C, have to send it sigkill from another terminal. Ctrl + \ does work to kill node, but the emulator needs to be killed from the terminal.

### Which platform(s) does your issue occur on?
Android (Android Studio 1.7.1 linux)

### Pl

[2017-11-13 08:34] NickIliev opened #3215 "Run tns doctor waiting too long"
_From @tolerious on November 11, 2017 12:21_

After I  run `tns doctor`  I got this,
<img width="1420" alt="2017-11-11 8 19 10" src="https://user-images.githubusercontent.com/2922120/32689345-c5a5529c-c71d-11e7-84a4-1f47cd17dc03.png">
and I have waited for a long time.

_Copied from original issue: NativeScript/NativeScript#5062_

[2017-11-13 11:11] rosen-vladimirov commented on #3164
Hey all, a fix is available in CLI's next version (`npm i -g nativescript@next`), can you please give it a try and see if it resolves the issue on your side?
Also we plan to release the fix in a 3.3.1 version of NativeScript CLI.

[2017-11-13 11:33] NickIliev commented on #3211
@frudman Thank you for pointing out the need to update the article about accessing Android packages.
Keep in mind that when using plain JavaScript you do not need to explicitly install `tns-platform-declarations`.  This is needed only when using Angular or TypeScript and is described in [this article section](https://docs.nativescript.org/core-concepts/accessing-native-apis-with-javascript#intelli

[2017-11-13 11:34] NickIliev commented on #3186
This issue was moved to NativeScript/NativeScript#5064

[2017-11-13 11:34] #3186 closed

[2017-11-13 11:38] rosen-vladimirov commented on #3210
Hey @tolerious ,
Do you have Xcode installed? Have you installed the Xcode command-line tools (when you open Xcode, it usually prompts you to install additional software and the command-line tools are included there)?
Can you run `xcodebuild -version` on your terminal and send us the output?

[2017-11-13 18:03] Buuhuu opened #3217 "node-package-manager assumes that platform package is always the first in the list of updated ones"
In [node-package-manager.ts#L158](
https://github.com/NativeScript/nativescript-cli/blob/d4817bc24be8b2f08e1101d22a53b65e6d3e9d8c/lib/node-package-manager.ts#L158) the assumption is made that the installed platform package is always the first entry in the list of returned updated dependencies. In my setup I install a couple of `file:...` dependencies which are listed in the same place:

[code]

An

[2017-11-13 18:08] rosen-vladimirov commented on #3217
Hey @Buuhuu ,
Can you send us the output of the following commands:
[code]

[2017-11-13 18:23] rosen-vladimirov commented on #3217
Also which command fails on your side? Is it `tns build android` or something else?

[2017-11-13 18:31] rosen-vladimirov commented on #3215
Hey @tolerious,
Does the `tns doctor` command finish at some point? Its execution is slow, because it verifies different components on your machine and also tries to prepare a sample project with Cocoapods. The last step installs some packages from npm and tries the `pod install` command in the newly created Xcode workspace. This operation will trigger Cocoapods to update their repository (in some

[2017-11-13 18:43] Buuhuu commented on #3217
node 8.9.1, npm 5.5.1 and its `tns prepare android` and any other like that - working on a PR right now.

[2017-11-14 01:44] tolerious commented on #3210
@rosen-vladimirov
[code]

[2017-11-14 02:17] tolerious commented on #3215
@rosen-vladimirov

now I got this

![2017-11-14 10 13 53](https://user-images.githubusercontent.com/2922120/32759545-edd2a37e-c924-11e7-8497-8dd0cc7fa33a.png)

does that mean I have configured the nativescript correctly?

[2017-11-14 07:57] rosen-vladimirov commented on #3215
Hey @tolerious ,
Yes, the message at the end says "No issues were detected", so you should be able to use NativeScript to create, build, run project for both iOS and Android.
Can we mark this issue as resolved?

[2017-11-14 08:39] SteynMarnus opened #3219 "TNS Cannot Connect To Android Emulator"
So after following the "get started" walk through, I have my NativeScript development environment setup. I ensured that I have some Emulator Devices setup in the AVD and created a project using the provided template - then it was time to run the app using the `tns run android` command. The emulator startered but the tns service just kept searching for a running device/emulator and eventually faile

[2017-11-14 10:32] NickIliev commented on #3219
@SteynMarnus

Try resetting your ADB server and restarting the Android emulator
[code]
The command 'adb devices' should also list the connected devices (after the emulator is started)

[2017-11-14 10:56] pap5508 commented on #3132
@dotnetdreamer @mfradcourt : Are you able to find a solution to this problem ? I am facing the exactly same issue after updating to xcode version 9.

[https://github.com/NativeScript/NativeScript/issues/5059](url)

[2017-11-14 11:13] mfradcourt commented on #3132
@pap5508 I chose the lazy solution and did reinstall xcode 8, you can download it from https://developer.apple.com/download/more/

[2017-11-14 12:31] dotnetdreamer commented on #3132
@pap5508 no. For me debugging works but when i try to do build as release it doesn't. So i use xcode 8...

[2017-11-14 13:03] surdu commented on #3100
Unfortunately, that was just a coincidence. It worked for 3 - 4 more times, and now I have again the problem.

[2017-11-14 14:23] jzgoda commented on #3132
Thank you @dotnetdreamer & @mfradcourt!!!
I was going crazy assuming something had gone wrong with my certs...but once downgrading to Xcode 8, it worked PERFECTLY!

[2017-11-14 14:53] tolerious commented on #3215
@rosen-vladimirov  sure, please close this issue, thank you very much.  ^.^

[2017-11-14 14:53] #3215 closed

[2017-11-14 19:29] henriqueadonai commented on #3146
NPM -V = 5.5.1
Node -v = v8.9.1
Using Windows/Visual studio code
ANDROID

[2017-11-14 19:32] donlawndale commented on #2754
I'm having the exact same issue as xlcrr

[2017-11-14 20:07] jschwartz73 commented on #3146
I'm now running:
npm -v: 5.4.2
node -v: v6.11.3
xcodebuild -version: Xcode 9.1, Build version 9B55
iOS only for the time being

[2017-11-15 07:20] narayananl23 commented on #3189
I had the same issue and this solved mine

`sudo xcode-select -s /Applications/Xcode.app/Contents/Developer`

reference [https://github.com/nodejs/node-gyp/issues/569](url)

[2017-11-15 08:59] denislearni commented on #3144
i have a similar issue. any solution for it? thanks

[2017-11-15 09:02] Pip3r4o commented on #3144
@denislearni, what is the *exact* error log that you are seeing?

[2017-11-15 11:49] Bardolos commented on #2265
You shouldn't need to remove and reinstall JDK versions.

Run `javac -version` to see which version is being exported. For instance, this will return:
[code]

Use this command to check currently installed versions:
`$ /usr/libexec/java_home -V`

It will show you something like:
[code]

If you have multiple versions you can select the desired `$JAVA_HOME` export like so:
[code]
(if you have multipl

[2017-11-15 18:39] kumaran-dena commented on #2985
@dtopuzov,
This solved my issue.

**tns build ios --log trace** ..

[2017-11-16 06:25] dotnetdreamer commented on #3132
i just tested on xcode 9, it seems that `tns run ios --provision "My Provisioning Profile"` works.

[2017-11-16 09:17] pap5508 commented on #3132
@dotnetdreamer : I am getting following error while running
 **tns run ios --provision "My Provisioning Profile"**

[code]

[2017-11-16 10:37] PeterStaev opened #3222 "Export fails when using provisioning in build.xconfig and XCode9.1"
This is the same problem as #3046 but when using the `build.xconfig` file to supply provisioning instead of the CLI options. I'm using CLI 3.3 and have the following setup in the `build.xconfig`
[code]

The received error is:
[code]

[2017-11-17 15:17] #3204 closed

[2017-11-18 00:55] StevenLJackson1 commented on #2313
I'm running into this issue, as well, with {N} 3.3.0.  I tried to run unit tests and couldn't until I did `tns proxy clear`.

Would it be possible to have `localhost` URLs bypass the proxy as a short-term fix?

[2017-11-18 12:12] chauhan-saurabh opened #3223 "getting spawn EACCES."
Getting:
Unable to apply changes on device: emulator-5554. Error is: spawn EACCES.
 on making android build

[2017-11-18 21:26] dneuer commented on #3214
So, the workstation I'm using has an AMD Phenom II, which lacks SSSE3, SSE4.1, SSE4.2, etc.

So, this was actually caused by the emulator's refusal to run images w/ API higher than 22 without SSSE3 mentioned here:
https://issuetracker.google.com/issues/37076174

Closing this.

[2017-11-18 21:26] #3214 closed

[2017-11-19 01:30] bigradish commented on #3118
Why this issue has not received any process till now?

[2017-11-19 09:48] dtopuzov commented on #3223
Hi @chauhan-saurabh,
Can you please provide more details for this error:
- Does it happen on HelloWorld project?
- What is your OS?
- Versions of npm and nodejs?

[2017-11-19 16:48] cpvbruno commented on #3172
@NickIliev Thank you very much

[2017-11-20 04:39] chauhan-saurabh commented on #3223
@dtopuzov issue resolved by recreating android, ios, node-modules and hooks folder and updating versions as well

[2017-11-20 07:37] #3223 closed

[2017-11-20 08:14] pap5508 commented on #3222
@dtopuzov : I am getting same error..!! https://github.com/NativeScript/NativeScript/issues/5059(url)

[2017-11-20 09:26] #3172 closed

[2017-11-20 12:13] NickIliev commented on #3219
@SteynMarnus have you managed to resolve the issue? Let me know if you need further assistance on that matter I will reopen the issue

[2017-11-20 12:13] #3219 closed

[2017-11-20 15:43] KristianDD opened #3224 "Build fails if `tns-android` version in package.json is `next`."
## Please, provide the details below:

### Tell us about the problem
Build fails if `tns-android` version in package.json is `next`.

### Which platform(s) does your issue occur on?
Android

### Please provide the following version numbers that your issue occurs with:
- CLI: next
- Cross-platform modules: next
- Runtime(s): next
- Plugin(s): none

### Please tell us how to recreate the issue in as

[2017-11-21 02:26] mesterum commented on #3019
`npm i -g npm` just helped me upgrade my npm.

[2017-11-21 09:50] NickIliev opened #3225 "Adding plugin from local file is failing with wrong framework path"
When we add a plugin with a local path in the project's `package.json` the build is failing with the following error:
[code]

The path is using the plugin's name instead of `in-ios` because of the zero index check at[ this line](https://github.com/NativeScript/nativescript-cli/blob/66c21c2a0658268312da7589599939be62d9c041/lib/node-package-manager.ts#L163)

[node-package.manager.ts](https://github.

[2017-11-21 14:53] #3217 closed

[2017-11-21 14:53] #3164 closed

[2017-11-21 19:37] Sebadst opened #3226 "Build failure on tutorial app for android : no parameters passed at GetInterfaceNames"
### Tell us about the problem
As per title, I am trying to build and deploy the tutorial app on android emulator. However, I am getting following issue:
[code]
### Which platform(s) does your issue occur on?
Android . iOS not tested

### Please provide the following version numbers that your issue occurs with:
nativescript : 3.3.0
tns-core-modules: 3.1.1
tns-android: 3.3.1
node: 8.9.1

### Please

[2017-11-22 13:32] murphy85 opened #3228 "nativescript-cli install on mac fails"
I tried to execute the macOs setup script, but there are some ressources missing

[code]

The missing resource is:
https://raw.githubusercontent.com/NativeScript/nativescript-cli/production/setup/native-script.rb

There is no branch "production" in github.

A workaround is to start the ruby process with sudo:

[code]

Please update the documentation!

[2017-11-23 06:21] tsonevn commented on #3228
This issue was moved to NativeScript/docs#967

[2017-11-23 06:49] seohangyu commented on #2265
delete all java version and install java 8. I solved.

[2017-11-23 09:52] etabakov commented on #3228
The script is updated to not use the missing branch. Should be working on your side now.
Thanks for letting us know about this problem!

[2017-11-26 22:20] cadupont23 opened #3231 "Issue with: tns run iOS --device <device ID>"
Hello,

I have built a simple app with NativeScript and am trying to run it on my connected iPhone. However, I am very new at this and not sure what I am doing wrong.

I am able to run the app on an emulator, but every time I enter:

tns run ios --device <DeviceID>

I get the output:

Searching for devices...
Your application will be deployed only on the device specified by the provided index or i

[2017-11-26 22:33] cadupont23 commented on #3195
I am having a similar issue. But when I run `tns build ios --release --for-device --provision` I get:

ENOENT: no such file or directory, scandir '/Users/charlesdupont/Library/MobileDevice/Provisioning Profiles/'

[2017-11-27 07:35] NickIliev commented on #3231
@cadupont23

IThere are few things, that needs to be considered.
If you want to run your project on the specific connected device, you need to provide the ID. Get the id by listing all connected devices
[code]
and then using the ID of the device you want to deploy on run the following command
[code]

However, keep in mind that to deploy and run on a real iOS device, [the provision profiles and dev

[2017-11-27 07:35] #3231 closed

[2017-11-27 07:40] govi2010 commented on #2997
@dtopuzov  I am facing same issue.

![image](https://user-images.githubusercontent.com/8776031/33255560-4496c5ba-d374-11e7-84f0-9ba7d01ff48a.png)

When i past url into chrome. It doesn't show anything in source tab

[2017-11-27 22:23] cadupont23 commented on #3231
<img width="774" alt="screen shot 2017-11-27 at 14 22 17" src="https://user-images.githubusercontent.com/27322037/33292533-7079c344-d37e-11e7-8007-26d5feee5f53.png">

This is what I get when I enter: `tns run ios --device <device-id-here>`

I'm not sure I fully understand how to set the provision profiles and development certificates.. Where do I find the <profivions> ?

[2017-11-27 22:32] cadupont23 commented on #3231
Is there no way to run the app on my phone, without having to set up an App ID and registering and all of that?

[2017-11-28 13:15] chauhan-saurabh opened #3234 "tns run ios not working properly"
[code]

[2017-11-28 14:27] dtopuzov commented on #3234
Hi @chauhan-saurabh

Can you please elaborate more on "tns run ios not working properly"?
Please also provide:
- Steps to reproduce the issue
- Version of nativescript, xcode, npm, nodejs
- package.json of your project

[2017-11-28 21:27] Sebadst commented on #3226
this issue is a duplicate of #3144

[2017-11-28 21:57] vcooley opened #3235 "Livesync hangs, especially bad on iOS"
I'm having multiple issues with livesync, expecially on iOS. I am unsure if they are related, but I will outline what is happening below.

### Which platform(s) does your issue occur on?
Both

### Please provide the following version numbers that your issue occurs with:
- CLI: `3.3.1`
- Cross-platform modules: `3.3.0`
- Runtime(s): `tns-android: 3.3.1` `tns-ios: 3.3.0`
- Plugin(s):
[code]

### Ple

[2017-11-29 04:10] chauhan-saurabh commented on #3235
same issue

[2017-11-29 08:50] NickIliev commented on #3235
Hey, @vcooley  @chauhan-saurabh can you guys test the `run` command (livesync) with iOS 10 (instead of iOS 11) - we are currently investigating this issue and on our side, it seems related to the latest iOS version.

Please do let me know if you are experiencing the same trouble when using iOS 10 emulators

[2017-11-29 08:51] dtopuzov commented on #3234
Closing as duplicate of https://github.com/NativeScript/nativescript-cli/issues/3235

[2017-11-29 08:51] #3234 closed

[2017-11-29 12:06] bbetter commented on #3159
are there any updates on this one?

[2017-11-29 14:49] Plamen5kov commented on #3226
I'll close this issue in favor of #3144, please comment there. FYI I couldn't reproduce the issue.

[2017-11-29 14:49] #3226 closed

[2017-11-29 14:50] Plamen5kov commented on #3144
@FlorianSchmuck, @denislearni please provide us with steps to reproduce so we can help you out with your issue.

[2017-11-29 16:15] vcooley commented on #3235
I'm still getting the same problem, though so far I have not had multiple incremental compilation messages when I have made no changes.

What I am experiencing is the livesync working after multiple changes and multiple saves. So far it has required me to make two changes for the app to refresh. Here's an example of the output where I saved a change, waited ~30 seconds and saved another change.

[

[2017-11-30 07:45] dtopuzov commented on #3235
I was able to reproduce similar issue only on iOS11 simulator with following steps:
- Create brand new JS project and open it with VSCode
- Create new folder and text file inside
- Copy the folder
=> Livesync process to not exit, but not changes are applied on the simulator.

[2017-11-30 08:32] erkanarslan commented on #3202
I cannot upgrade to version 3.3.0. I hope this is fixed soon.

[2017-11-30 13:07] chauhan-saurabh commented on #3235
Hey @NickIliev yes tns run ios (livesync) work fines on iOS 10

[2017-11-30 14:27] erkanarslan commented on #3202
Is this fixed or not?

[2017-11-30 15:39] KristianDD commented on #3202
Hi @erkanarslan,
The fix for the issue is merged in master branch and is being verified by our QA team. The fix should be included in the next official release.

[2017-11-30 21:56] rakeshgirase opened #3236 "Unable to apply changes on device: emulator. Too many open files"
### Tell us about the problem
When tried to run the application got following error:
Unable to apply changes on device: emulator-5554. Error is: EMFILE: too many open files, open 'C:\Users\rakeshgirase\IdeaProjects\Angular\SasQuiz\platforms\android\src\main\assets\app\tns_modules\rxjs\operators\
expand.js.map'.
The project file undefined is corrupted.
Consider restoring an earlier version from you

[2017-11-30 22:41] tbsf commented on #2785
I had this same issue. The problem was the build/emulator folder in

/Users/<user>/Library/Developer/Xcode/DerivedData/<App>-bitimkehdpflqafsyvbzfhgkwnsg/Build/Products/Debug-iphoneos/<App>.app/Frameworks/build/emulator

I just closed xcode, removed /Users/<user>/Library/Developer/Xcode/DerivedData/<App>-bitimkehdpflqafsyvbzfhgkwnsg and restarted. I was finally able to build. My guess is that this

[2017-12-01 07:49] dtopuzov commented on #3235
Hack for iOS11 issue:
After clicking on the home button of the simulator (to mimimize the app) changes are synced.

[2017-12-01 07:52] dtopuzov commented on #3236
Hi @rakeshgirase

Can you reproduce the issue with hello-world application?
If it happens only to specific app, please post content of package.json (all the dependencies).

[2017-12-01 12:12] pap5508 commented on #3222
@PeterStaev , @dtopuzov  : does this issue is resolved  ?

[2017-12-01 13:38] nethergrim commented on #3132
Getting the same error as @pap5508  after
`tns run ios --provision <prov id>`

[2017-12-01 15:52] #3202 closed

[2017-12-02 09:26] rakeshgirase commented on #3236
Hi @dtopuzov  This sometimes run fine on my old laptop but gives me this error on new one. I wouldnt have raised it here but since the error message is not helpful and i thought of asking it here. Following is my package.json file.
-----------------------------
{
  "description": "NativeScript Application",
  "license": "SEE LICENSE IN <your-license-filename>",
  "readme": "NativeScript Applicatio

[2017-12-02 17:26] jsfgreen commented on #3127
@NickIliev in my case, node/npm was broken.  I had to remove `rm -rf /usr/local/lib/node_modules` and uninstall/re-install node and then re-install all of my global npm packages including nativescript.

[2017-12-02 18:08] bismert opened #3239 "Problem creating project from cli"
I am currently experiencing problem creating new project through the cli after upgrading to nativescript@3.3.1 returning the following error
![err1](https://user-images.githubusercontent.com/4661926/33518367-1fea6f04-d794-11e7-9103-d0c59296f531.png)

All NativeScript components versions information
┌──────────────────┬─────────────────┬────────────────┬───────────────┐
│ Component        │ Current

[2017-12-02 18:47] rakeshgirase commented on #3236
I created another Sample Project using Nativescript Sidekick and it worked simply fine. Both the projects have same package.json file so I doubt if this is something to do with the package.json.

[2017-12-02 19:47] #3239 closed

[2017-12-02 19:48] bismert commented on #3239
I solved it using
npm cache clean

[2017-12-03 01:29] tomcatmwi commented on #371
How do you guys get a refresh in 5-6 seconds? It's 5-6 minutes for me, but a fresh build sometimes takes 20-25 minutes with a blank new app. It doesn't matter if it's Angular or not.

[2017-12-03 06:34] VimalKumarS commented on #2542
I am also facing the same issue, any pointers
tns verion 3.3
tns-android version 3.3.1

previously with tns version 3.1.3 it wad working.

[2017-12-03 13:52] shoudaos opened #3240 "tns debug ios: nativescript inspector doesn't open on High Sierra and Xcode 9.2"
### Tell us about the problem
When run `tns debug ios` it tries to open Nativescript Inspector and immediately closes it and throws an error.

### Which platform(s) does your issue occur on?
iOS

### Please provide the following version numbers that your issue occurs with:
- CLI: 3.3.1
- Cross-platform modules: 3.1.1
- Runtime(s): tns-ios: 3.3.0

### Please tell us how to recreate the issue in as

[2017-12-04 06:43] NickIliev opened #3241 "`npm ls -g --depth=0` shows error related to nativescript"
_From @ph55 on December 1, 2017 23:2_

### Issue description
As claimed in https://github.com/NativeScript/nativescript-cli/pull/2979
Node 8 is now officially supported.

But when running `npm list -g --depth=0` following error is thrown:

[code]

### Reproduce
macOS High Sierra. Version 10.13.1
node installed via brew (v.8.9.1)
Install typescript globally `npm install -g nativescript`
Run `npm li

[2017-12-04 08:13] Pip3r4o commented on #2542
@VimalKumarS how and when does the issue occur? In order for us to try and help you, we need a bit more than what you've provided.

What browser are you using? chrome://version/
What are your installed extensions?
What device is the app being ran on?
Is it a hello-world tns app?
What is the console log?
What's in the adb logcat at the time of the application crash? adb logcat

[2017-12-04 09:18] #3224 closed

[2017-12-04 10:48] dtopuzov commented on #3240
Hi @shoudaos

To be honest I have no idea what can cause the problem, but as temporary workaround I can suggest you using `tns debug ios --chrome`.

We will update the issue once we have idea what can be wrong.

btw, Can you reproduce the same issue with hello-world project?
Can you also try `npm cache clean` before debug?

[2017-12-04 11:52] dnadoba commented on #3240
I have exactly the same issue. The inspector crashes because of the missing symbol `_CTFontCreateForCSS`
https://gist.github.com/dnadoba/b41a86b7b8e7d1caf34234746102d502#file-nativescript-inspector-log

 I can reproduce the issue with the hello-world project.
`npm cache clean --force` does not solve the problem.

`tns debug ios --chrome` does work but always creates a new URL.
I have to copy & pas

[2017-12-04 12:13] Natalia-Hristova commented on #3240
@dnadoba
changing the URL when run `tns debug ios --chrome` is [known](https://github.com/NativeScript/nativescript-cli/issues/3183) and this is how it works right now.

[2017-12-04 12:35] anthonyball commented on #3240
Same issue here - missing symbol _CTFontCreateForCSS

Occurred after updating to the latest Xcode.

[2017-12-04 16:10] zbranzov opened #3243 "'Scss' file changes trigger app refresh instead reloading the view and apply generated 'css'"
### Did you verify this is a real problem by searching [Stack Overflow]
Yes

### Tell us about the problem
When a 'scss' file is changed the whole app is refreshed instead of applying the changes from the newly generated 'css' file by reloading the view as it normally does with 'css'.

### Which platform(s) does your issue occur on?
Both

### Please provide the following version numbers that your

[2017-12-04 20:17] shoudaos commented on #3240
@anthonyball Do you mean 9.1 version? What version of XCode did you have with working inspector?

[2017-12-04 20:27] anthonyball commented on #3240
It was 9.0 I think. The update of Xcode happened at the same time as upgrading from Sierra to High Sierra so it could have been that or a combination of the two.

[2017-12-04 21:13] shoudaos commented on #3240
@anthonyball, I updated xcode to 9.2, nothing changed, so will try to downgrade to 9.0

[2017-12-04 21:25] anthonyball commented on #3240
Same here, let me know if the downgrade does the trick please

[2017-12-04 21:39] LHLK opened #3244 "Android unreachable emulator after fresh install"
I followed your document in this URL: https://docs.nativescript.org/angular/tutorial/ng-chapter-1#11-install-nativescript-and-configure-your-environment
(1) The installation procedures was outdated and not working.  This script:
@powershell -NoProfile -ExecutionPolicy Bypass -Command "iex ((new-object net.webclient).DownloadString('https://www.nativescript.org/setup/win'))"  from your document was

[2017-12-05 01:12] shoudaos commented on #3240
@anthonyball what can I say. Downloaded xcode 9.0 xip archive, then installed it, and when run `tns run ios` it can't find any ios simulator. i tried `tns run ios` even with --device simulatorID, nothing works.
When returned to 9.2 version all began to work again. But the issue with Inspector was remained.
It makes me crazy. I don't know what to do

[2017-12-05 07:04] NickIliev commented on #3244
@LHLK `tns devices` will list the devices but still, they have to be connected and working via ADB in order to deploy and run any Android applications (no matter native Android or NativeScript ones).
You can run the respective Android command to test the connectivity to your emulator with
[code]

and it should list similar output if the emulator is connected and working
[code]

For some emulators,

[2017-12-05 08:29] LHLK commented on #3244
Thanks for your prompt reply.  Here is what I did to find out the problem:
(1) I removed the nativeScript package using the command "npm uninstall -g nativeScript" entirely.
(2) I followed exactly the same steps with your URL: https://docs.nativescript.org/angular/start/quick-setup
(3) I executed the provide script "@powershell -NoProfile -ExecutionPolicy Bypass -Command "iex ((new-object net.webc

[2017-12-05 08:52] NickIliev commented on #3244
@ligaz are you by chance trying to deploy on Xiaomi Readmi device? Your issue might be related to [this one](https://github.com/NativeScript/android-runtime/issues/404)  (some Xiaomi and other devices are using their own custom implementation of Android SDK and are not compatible with the official SDK used by NativeScript). However, deploying on emulator should not be an issue - have you tried the

[2017-12-05 08:59] LHLK commented on #3244
Yes sir. I'm using the Xiaomi so it's confirmed that this type of phone won't work with NativeScript? I'll try to work on the emulator problem.  Thanks.

[2017-12-05 11:21] NickIliev commented on #3244
Yes, it is confirmed that some Xiaomi devices (and rooted phones) are incompatible with NativeScript due to the fact that they are not using the official Android SDK but their own overwritten SDK.

Do let me know if you need further assistance with enabling the emulator on your side,

[2017-12-05 12:49] etabakov commented on #3211
I'm closing the issue due to inactivity. If you still have problems with the described scenario - feel free to write back.

[2017-12-05 12:49] #3211 closed

[2017-12-05 12:51] etabakov commented on #3207
I'm closing the issue due to inactivity. If you still have problems with the described scenario - feel free to write back.

[2017-12-05 12:51] #3207 closed

[2017-12-05 13:08] LHLK commented on #3244
Got it. I'll work on the emulator and update back you.  Ah, just couple of my point of views and for your information, this Xiaomi Android phones worked fine during my training course on the Android Studio Development about two years ago.  And I did just tested with the Hello World apps with Ionic 3 without any error.  Thanks again for your prompt response.   Very good indeed.

[2017-12-05 15:45] shoudaos commented on #3240
@anthonyball can you try to downgrade yourself? maybe i made mistake somewhere

[2017-12-05 19:33] btulsi-ygrene commented on #3240
facing same exact issue

[2017-12-05 20:41] bluelovers opened #3248 "About JDK_HOME & JAVA_HOME"
## Please, provide the details below:

some ppl use JRE and JDK at same time

and some JRE didn't have javac

i think maybe should use process.env.JDK_HOME > process.env.JAVA_HOME

https://github.com/telerik/mobile-cli-lib/pull/1031/files

[2017-12-05 20:50] anthonyball commented on #3240
Going to take a look at this tomorrow and see if downgrading to Xcode 9 will work or not. I’ll let you know.

[2017-12-06 08:58] dtopuzov commented on #3179
Hi @snapnurse-joshuamatthews

I think it is cased by ruby installed on your system.
What is your macOS version, ruby version and is it the default one or something custom (installed via rvm)?

[2017-12-06 10:48] LHLK commented on #3244
The emulator issue had been solved. Thank you NickIliev.  I created another VM for testing this time and all of your scripts in your tutorial works; however, I will suggest to add the followings:
(1) If the user didn't install the Android Studio, after following the current tutorial doc the user (like me) will have a hard time to install the virtual devices.  So it's suggested to inform the user,

[2017-12-06 10:48] #3244 closed

[2017-12-06 14:09] silentzone commented on #2092
Thanks

[2017-12-06 15:49] anthonyball commented on #3240
Couldn't get an emulator loaded in Xcode 9 either when I downgraded. Nor could I get it to fire when loading the app straight onto a physical device. Currently going back to 9.2 and I expect the _CTFontCreateForCSS issue to remain.

[2017-12-06 15:52] shoudaos commented on #3240
@dtopuzov help us, pleeeease :)

[2017-12-06 16:09] d3mac123 opened #3249 "Execution failed for task ':transformClassesWithDexForF0F1F2F3F4F5F6F7F8F9Debug'."
I am getting this error while trying to compile for Android:

[code]
I am using nativescript 3.3.1, tns-core-modules 3.3.0 and tns-android 3.3.1.

Also, I have the latest Android Studio with all libraries/SDK/API Levels updated from 19 to 27.

Any ideas what is wrong?

[2017-12-07 14:11] Ablankzin commented on #3132
Same problem here, with xcode 9.2. My friend build with xcode 9.1, same project

[2017-12-09 09:28] lfabreges opened #3251 "Livesync fails when using a plugin that modifies App_Resources"
### Tell us about the problem
When using nativescript-localize with "tns run ios", it tries to sync Localizable.strings without rebuilding the app.

### Which platform(s) does your issue occur on?
iOS, haven't tried on Android

### Please provide the following version numbers that your issue occurs with:
- CLI: 3.3.1
- Cross-platform modules: 3.3.0
- Runtime(s): 3.3.0
- Plugin(s): nativescript-loc

[2017-12-09 15:48] dogabudak opened #3252 "Can't run on android"
## Please, provide the details below:

### Did you verify this is a real problem by searching [Stack Overflow]
I couldn't find any answers anywhere.

### Tell us about the problem
### Which platform(s) does your issue occur on?
Android
### Please provide the following version numbers that your issue occurs with:
- CLI:3.3.1
- Runtime(s): {
  "description": "NativeScript Application",
  "license":

[2017-12-10 06:03] mkarthik415 commented on #2997
I have deleted below folder and restarted the debug, then I got it to work
platform
hook

[2017-12-11 07:19] NickIliev opened #3254 "Getting error for TNS RUN ANDROID"
_From @shaileshkadam25 on December 8, 2017 2:40_

Error Message - Unable to apply changes on device: XXXX. Error is: TypeScript compiler failed with exit code 3221225477.

Please find attached file for more into

![image](https://user-images.githubusercontent.com/34359368/33748539-25c667f0-db97-11e7-9e3f-211197db0325.png)

_Copied from original issue: NativeScript/nativescript-angular#1117_

[2017-12-11 07:19] NickIliev commented on #3254
@shaileshkadam25 can you provide the `package.json` content of your application.
Try using this versi0ons of TypeScript and nativescript-dev-ttypescript and then rebuilding your project with reset node_modules and platforms folders.
[code]

[2017-12-11 07:28] NickIliev commented on #3249
@d3mac123 try enabling multidex support as done [here](https://stackoverflow.com/a/26196397/4936697). More about it in [the official Android article](https://developer.android.com/studio/build/multidex.html)

**_app/App_resources/Android/app/gradle_**
[code]

[2017-12-11 07:49] NickIliev commented on #3252
Hey, @dogabudak I have cloned your application and build it successfully on my side.
Perhaps, you can try to reset the platforms, node_modules and hooks folder and then rebuild your project. Also, delete the installed application before deploying your newly build one.

[code]

Here is the result on my side after building and deploying the produced APK via the `build` command.

![screen shot 2017-1

[2017-12-11 11:19] dogabudak commented on #3252
Thanks a lot. I tried what you said and yes it worked !

[2017-12-11 11:48] sis0k0 opened #3257 "Make {N} project structure configurable"
Currently, a {N} project has to follow a few conventions in order to be built with {N} CLI. For example, the source code should be in a folder named `app`, the application resources should be in `app/App_Resources` and so on.
The project structure should be configurable per project. For example, a project can have a `.tns-cli.json` file inside the project where the following can be specified:
- ap

[2017-12-11 12:07] NickIliev opened #3258 "Release build key path accepts only absolute paths on Windows (can be relative on MAC)"
On Windows, building in release for Android is accepting only absolute path for the keygen.
e.g.

Windows
[code]
On Windows only absolute paths are accepted - in this case the key is sotre d in `D:`

MAC
[code]
On MAC the path cna be relative to the root project e.g in this case the key is store in `<project-folder>/my-release-key.jks`

Using next versions of CLI, modules, nativescript-angular and

[2017-12-11 15:20] dtopuzov opened #3261 "`tns debug ios` do not play nicely with livesync"
`tns debug ios` now by default starts chrome debugging.

Issues with `tns debug ios` in nativescript@3.4.0:

1. Debug URL is not automatically opened in browser (not so critical)
2. Debug URL changes on each file change (critical)

[2017-12-11 22:53] mudlabs-monster commented on #3132
Just had this issue trying to get the NativeScript Hello World (spinning apple) project up and running on my device.

I fixed it by changing the `id` value in `package.json`. _(for me was on line 7)_

Change from `"id": "org.nativescript.HelloWorld"` to `"id": "your.domain.HelloWorld"`

[2017-12-12 11:30] KayUOM opened #3264 "Failed to uninstall nativescript"
I am not able to uninstall nativescript. If i run npm uninstall i am still able to use tns commands.

- CLI:   ```tns --version``` 3.2.1
- OS: Ubuntu 16.04
- Node: v8.9.3 NVM

```tns info```

kay@localhost:~$ tns info
All NativeScript components versions information
┌──────────────────┬─────────────────┬────────────────┬──────────────────┐
│ Component        │ Current version │ Latest version │ In

[2017-12-12 12:25] mhmo91 commented on #3066
I ran into this issue with the same cli version, how i fixed it is basically by resetting the developers options from phone, revoke USB debugging authorizations.

[2017-12-12 22:16] JILeXanDR opened #3268 "tns run android - EMFILE: too many open files"
`tns --version` **3.3.1**

Command's `tns run android` output is:
[code]

[2017-12-13 08:23] sis0k0 commented on #3268
@JILeXanDR can you share your package.json?

[2017-12-13 18:20] JILeXanDR commented on #3268
@sis0k0
[code]

[2017-12-15 03:04] shaileshkadam25 opened #3272 "Typescript Copiler Failed Error"
Error Message - Unable to apply changes on device: XXXX. Error is: TypeScript compiler failed with exit code 3221225477.

i have upgraded to latest version on NPM but still getting same error. please find below screenshot and attachd package.json, package-lock.json and tsconfig.json files

![33865914-e42188c4-dec1-11e7-8ac9-d05cd3773e5a](https://user-images.githubusercontent.com/34359368/34024871-

[2017-12-15 07:26] dtopuzov commented on #3240
Fix merged: https://github.com/NativeScript/ios-runtime/pull/838

It will be available in {N} 3.4.0, which will be released next week.

[2017-12-15 08:05] anthonyball commented on #3240
Fantastic news! Thanks!

[2017-12-15 08:44] shoudaos commented on #3240
Yeah baby! Thanks!

[2017-12-15 09:16] NickIliev commented on #3272
@shaileshkadam25 try building with TypeScript 2.4.2 (remove `node_modules` folder before executng `npm i`)

[2017-12-15 10:05] hosikiti commented on #1398
I've also been encountering this problem since the beginning of December while deploying module through XCode9.2 works.

Error message on `tns run ios`
[code]

[2017-12-15 11:47] zakaria-chahboun commented on #2143
Hi! ❤️

This is my detailed answers on Stack Overflow 👍

https://stackoverflow.com/questions/46774657/nativescript-project-running-with-visual-studio-emulator/47830796#47830796

[2017-12-15 13:51] darkyelox commented on #3158
I Have the same issue, Angular seem to throw some exception and the console and the chrome devtools don't show the trace, is like NativeScript always treats errors with console.log and this difficult the development too much

[2017-12-15 14:29] hosikiti commented on #1398
My problem solved. It seems "Enterprise Distribution" is a cause of this issue. Enterprise app needed to be "trusted" from control panel before use. However, `tns run` command deletes an installed old app every time before installing new one, and "trusted" information is always reset. Because of that `tns run` cannot launch newly installed app.

What I did to fix (just for anyone who is facing sam

[2017-12-15 14:45] Pip3r4o commented on #3158
@darkyelox could you provide a simple reproducible case for us? We've worked on improving the debugging experience, and have made some improvements to the `console` which will probably make it in the next release (February).

You can follow the progress at https://github.com/NativeScript/android-runtime/pull/894

[2017-12-15 20:05] Skintillion opened #3273 "app.minWH#.css file not working"
### Tell us about the problem
App wide minWH app.minWH###.css does not work.

### Which platform(s) does your issue occur on?
Both iOS/Android

### Please provide the following version numbers that your issue occurs with:
- CLI: 3.3.1
- Cross-platform modules: 3.3.0
- Runtime(s):iOS 3.3.0 - Android 3.3.1
- Plugin(s):
"nativescript-theme-core": "1.0.4",
"tns-core-modules": "3.3.0"

### Please tell

[2017-12-15 20:42] erkanarslan opened #3274 "iOS build process is too slow"
### Did you verify this is a real problem by searching [Stack Overflow]
Yes

### Tell us about the problem
`tns run android`build process finishes in approximately 30 seconds in my machine. However, `tns run iOS`build process takes 2-3 minutes to finish. Once project is built and installed rest is fast but if I change any file in app resources I have to wait too much too see the results. Mainly Xc

[2017-12-17 08:29] shinriyo commented on #2858
Thank you. I got same error and my log is there.

[code]

[2017-12-18 08:47] #3171 closed

[2017-12-18 09:52] NickIliev commented on #3273
This issue was moved to NativeScript/NativeScript#5182

[2017-12-18 09:52] #3273 closed

[2017-12-18 11:10] sagar1911 commented on #2858
I came across with this problem.
I removed the nativescript@3.2.0 and installed nativescript@3.1.2, problem solved.

[2017-12-18 11:36] NickIliev commented on #3274
@erkanarslan are you using some third-party iOS library in your project?
Please post the content of your `package.json` file and the version  of iOS device/simulator you are deploying on.

Related to the warning messages you are receiving - try resetting your `DerivedData` folder located in `/Users/nsbuilduser/Library/Developer/Xcode/DerivedData/ModuleCache/`  (`nsbuilduser will be the username fr

[2017-12-18 14:07] erkanarslan commented on #3274
@NickIliev Yes, I use `nativescript-fancy-calendar` and it uses FSCalendar component. That component creates lots of warnings:

[code]

There is no user named `nsbuilduser`. I couldn't remove the directory you mentioned. However, I removed the module cache under my user account and it didn't solve the problem.

In the build logs I posted above, there is a line saying `note: Linking a static librar

[2017-12-18 15:44] Plamen5kov commented on #3264
Hi @KayUOM try `npm uninstall -g nativescript --ignore-scripts`

[2017-12-18 17:43] jaxondu opened #3276 "Support brew version of Cocoapods"
I'm using the brew version of Cocoapods on macOS instead of Ruby gem version. The brew version also has xcodeproj binary installed in the path. tns CLI however is expecting the gem version of xcodeproj when you run "tns doctor" and "tns run ios". Please support brew version of cocoapods by checking xcodeproj in the path instead of in the gem list.

[2017-12-19 13:22] ahmadmarafa commented on #2265
i sloved this problem by fixing my .bash_rc JAVA_HOME
i used this line
export JAVA_HOME=`ls -d /usr/lib/jvm/java-*-openjdk-*/ | head -n 1`

[2017-12-20 15:35] #3268 closed

[2017-12-21 10:26] vhristov5555 opened #3279 "If you have invalid xml and run tns run ios or android the app will crash and an error will be shown"
1. Create project
2. Change the xml to be invalid (e.g. "<aaa>")
3. Run "tns run ios" or "tns run android"
Actual: The app will crash and an error will be shown in console " 1   0x109ad6d4b NativeScript::FFICallback<NativeScript::ObjCMethodCallback>::ffiClosureCallback(ffi_cif*, void*, void**, void*)
2   0x10a17a28e ffi_closure_unix64_inner
3   0x10a17abd2 ffi_closure_unix64
4   0x10aea03c3 -[UIVi

[2017-12-21 14:08] sis0k0 opened #3280 "App_Resources are duplicated on consecutive builds with --bundle"
### Tell us about the problem
If you run a {N} build with webpack, the App_Resources of the project will be copied to platforms/.../app and then will be moved to their right locations in the native project. This is the expected behaviour. However, on each consecutive build, the App_Resources will be copied again to platforms/.../app and won't be removed.

### Which platform(s) does your issue occu

[2017-12-22 13:20] kmuthukrishnan opened #3282 "Android Error - Unable to run project after upgrade to NS@3.4.0"
## Please, provide the details below:

### Did you verify this is a real problem by searching [Stack Overflow]
YES

### Tell us about the problem
Iam unable to run the nativescript angular project after upgrade to 3.4.0

### Which platform(s) does your issue occur on?
Android

### Please provide the following version numbers that your issue occurs with:
- CLI: 3.4.0
- Cross-platform modules: tns-c

[2017-12-22 13:44] NickIliev commented on #3282
@kmuthukrishnan some of your dependencies and devDependencies are not updated to the proper version (e.g. nativescript-dev-typescript and no need of nativescript-dev-android-snapshot). Use [this blog post](https://www.nativescript.org/blog/nativescript-webpack-0.9.0-what-changed-and-how-to-upgrade) as reference on how to migrate your project to v3.4.0.
The blog post will guide you step=-by-step in

[2017-12-23 10:21] bozhidarc commented on #3100
I have a similar problem but with iOS. I think I tried everything, removing platform, node_modules, hooks, updating xCode to 9.2.
I'm out of options. Is there any solution to the problem?

[code]

[code]

[2017-12-23 18:45] shoudaos commented on #3240
@dtopuzov, There is still this issue remained. Run `tns debug ios --inspector` and it trows the same error

[2017-12-24 08:28] #3081 closed

[2017-12-24 12:12] kmuthukrishnan opened #3283 "Nativescript Firebase - “cannot read property of null” after upgrade to NS 3.4.0 on Android"
## Please, provide the details below:

### Did you verify this is a real problem by searching [Stack Overflow]
YES

### Tell us about the problem
My angular - Nativescript project uses the Nativescript-Firebase-Plugin. It works perfectly well in Nativescript 3.3.0 I upgraded my project to Nativescript 3.4.0. After upgrading the project, I am facing a major issue with all firebase queries on Androi

[2017-12-24 12:13] kmuthukrishnan commented on #3282
Thanks @NickIliev . I managed to solve this and getting the app running on Ns 3.4.0. But now Iam having an issue with all firebase queries as outlined in this issue [here](https://github.com/NativeScript/nativescript-cli/issues/3283)

Please help!

[2017-12-24 22:25] rraallvv opened #3284 "Can't install nativescript-cli on macOS"
I'm having troubles installing nativescript-cli. First I uninstalled the version I already had of node.js then installed it again [via the package manager](https://nodejs.org/en/download/package-manager/#macos) like so:

[code]

Then tried `npm install nativescript -g` but it gave some permission error:

[code]

Also tried:

[code]

These are the version I currently have installed:

[code]

[2017-12-25 14:47] rraallvv commented on #3284
After uninstalling everything related to node, npm and nvm, I tried installing official nvm:

[code]

Then installing node 6:
[code]

Also installed `xcodeproj` and `cocoapods`as suggested [here](https://docs.nativescript.org/start/ns-setup-os-x#system-requirements), then tried once again `npm i -g nativescript` and this is what I got:

[code]

With sudo:
[code]

[2017-12-25 16:24] rraallvv commented on #3284
[code]

[2017-12-25 18:28] rraallvv commented on #3284
Installed **mono** and **gradle** via **bomebrew**, fixed `JAVA_HOME` in ~/.bash_profile but still getting EACCES error:

[code]

[2017-12-25 19:41] rraallvv commented on #3284
Uninstalled nvm, node with all traces of those packages and tried [the advanced setup](https://docs.nativescript.org/start/ns-setup-os-x), still getting some warnings, but I think those are for skipping optional packages:
[code]

[2017-12-26 00:26] matyapiro31 opened #3285 "`npm install nativescript` failed with "Cannot read property '1' of null""
OS: Ubuntu 16.04 LTS
node: v9.3.0
npm v3.9.0
javac 1.8.0_101/Oracle Java 8
ANDROID_HOME & JAVA_HOME are set correctly.

command : `npm install nativescript`with `--unsafe-perm` or `-g` also tried.
I read installation tutorial and tried os restart.
npm-debug.log:

[code]

[2017-12-26 07:01] usernameisMan commented on #3028
yes , I  delete node_module ,npm version 5 => 4 。  then  npm install 。  build success

[2017-12-26 07:15] #3282 closed

[2017-12-26 08:09] souly1 commented on #3282
Hi @kmuthukrishnan , could you perhaps elaborate as to what is missing?
Thanks

[2017-12-26 10:02] NickIliev commented on #3283
Closing as duplicate to [https://github.com/EddyVerbruggen/nativescript-plugin-firebase/issues/585](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/issues/585)

[2017-12-26 10:02] #3283 closed

[2017-12-26 12:31] NickIliev commented on #3285
@matyapiro31 if you have Android Studio installed the SDK path might be different (in the case where there are two separate SDK installed) - if so see this thread [for possible solution](https://github.com/NativeScript/nativescript-cli/issues/3152#issuecomment-336579548)

[2017-12-26 14:36] #3284 closed

[2017-12-26 14:48] rraallvv opened #3286 "Can't run on Android device from macOS"
Steps to reproduce are in the [Chapter 1—Learning the NativeScript Basics](https://docs.nativescript.org/tutorial/chapter-1#11-install-nativescript-and-configure-your-environment) for the HelloWorld app.

I also tried removing the folders `node_modules/` and `platforms/`, cleaning npm's cache and reinstalling the modules and platforms again but still getting the same error, which is in the log spl

[2017-12-26 14:50] rraallvv commented on #3286
[code]

[code]

[2017-12-26 14:51] rraallvv commented on #3286
[code]

[2017-12-26 14:52] rraallvv commented on #3286
[code]

[2017-12-26 14:52] rraallvv commented on #3286
[code]

[2017-12-26 18:52] shiv19 commented on #3286
Please send log traces in a zip file next time 😅

[2017-12-26 23:31] alshdavid opened #3287 "[Feature Request] Playground-like, live-reloading app previews from QR code."
First of all, I love what you're doing with NativeScript. Glad that we are beginning to have an alternative to React Native, and it's compatible with more than just Angular.

I tried out NativeScript on the playground and loved how it worked. Just like React Native - iOS, Android - I just have to scan a QR code and I am away with live reloading.

So I installed the sidekick. I quickly realised tha

[2017-12-27 04:49] TimHawkHodg opened #3288 "iOS Build failed for all the embedded binaries"
### Did you verify this is a real problem by searching [Stack Overflow]
Yes

### Tell us about the problem
I am getting a build fail for all the embedded binaries in my project native scripts project.

This image shows the error in the terminal:

https://s3.amazonaws.com/stretchflex-templates/Screen+Shot+2017-12-26+at+10.09.06+PM.png

and this shows all the embedded libraries and linked frameworks

[2017-12-27 11:20] tsonevn commented on #3288
Hi @TimHawkHodg,
If I understand you correctly you are unable to deploy the project on a device, while using `tns run ios` command.
If this is the case make sure that you have a valid (non–expired) development provisioning profile. Also, ensure that the device on which you are trying to deploy the app is added to the provisioning profile. If it's not - you can check [here](http://stackoverflow.com

[2017-12-27 12:46] vahidvdn opened #3289 "Unable to install android platform"
I'm using [this](https://github.com/NativeScript/template-drawer-navigation-ng) template starter for my nativescript project by running this command:

[code]
Then, when I want to install android platform by: `tns platform add android`, I get the following errors:

[code]

### Platform
Android

### Project version numbers
- CLI: 3.1.3
- Cross-platform modules: 3.4.0
- Runtime(s): 3.4.0

[2017-12-27 14:09] vahidvdn commented on #3289
The same issue with nativescript default template.

[2017-12-27 14:32] masrc opened #3290 "Unable to create application com.tns.NativeScriptApplication"
### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)?
yes, I really try to find out how to fix that, but no luck

### Tell us about the problem
when I run `tns run android`, I got the following error:
[code]

This error is not happ

[2017-12-28 03:20] rraallvv commented on #3286
Installing the platform android@next solved the problem:
[code]

Although I'm not entirely sure since I've tried a few different things, including installing java 8 and android-sdk via homebrew instead of using Android Studio.

I'm posting the steps for the installation here if someone has a similar problem:
[code]

@shiv19 thanks for looking into the problem.

[2017-12-28 03:20] #3286 closed

[2017-12-28 08:41] rosen-vladimirov commented on #3248
Hey @bluelovers ,
Thanks for your efforts. I've marked this change as breaking, as it may cause unexpected behavior on some machines where JDK_HOME is already set. Current CLI version may work as expected, but the JDK_HOME may point to a JAVA version that is not supported, so after implementing this feature, Android builds may fail.

[2017-12-28 09:42] shiv19 opened #3291 "How to add external jar files to plugin in {N} 3.4.0"
After the 3.4.0 update,
{N} is no longer automatically including the jar files placed inside
platforms/android folder in the my plugin `src` directory.
In previous version on {N} it was working as expected.

[2017-12-28 12:23] NickIliev commented on #3290
@masrc apart from the update instructions can you please try the workflow suggested [here](https://github.com/NativeScript/NativeScript/issues/3791#issuecomment-286655101) (including removing the previously installed application from the test device/emulator)

[2017-12-28 12:28] NickIliev commented on #3289
@vahidvdn update your CLI to versions 3.4.0 and let me knopw if you are still experiencing this issue.
TO update NativeScript CLI:
[code]

[2017-12-28 12:56] vahidvdn commented on #3289
@NickIliev Thanks. Now it works fine.

[2017-12-28 12:56] #3289 closed

[2017-12-28 13:04] NickIliev commented on #3291
@shiv19  the external library should be added as expected - I have tested with this POC plugin by updating to NS 3.4.0 and the library is added after `npm install` in `node_moudles/<plugin-name>/platforms/android` folder

[2017-12-28 14:18] shiv19 commented on #3291
[nativescript-paytm-1.0.0.tgz.zip](https://github.com/NativeScript/nativescript-cli/files/1591356/nativescript-paytm-1.0.0.tgz.zip)
This is the plugin in which it is not working. It was working when using {N} 3.3.x

The jar file is placed inside `node_moudles/<plugin-name>/platforms/android`

[2017-12-28 14:43] TimHawkHodg commented on #3288
see my edits above

[2017-12-28 15:42] PeterStaev opened #3292 "[Android] CLI 3.4.0 fails to bundle app with older runtimes/core modules"
### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)?
Yes

### Tell us about the problem
Till now it was ok to use newer CLI version with old runtime/core modules so you can build/bundle an app. But with 3.4.0 especially for androi

[2017-12-28 16:29] rraallvv commented on #3286
I also tried the latest node version in **nvm**, with nvm installed via homebrew. It works as long as the android platform is **android@next**. This is what I did:

    $ brew install nvm

Changed `~/.bash_profile` as pointed out in the output in the console after installing nvm, then installed node via nvm:

    $ nvm install node

Everything from here is the same:

    $ npm install nativescript

[2017-12-28 16:35] victorevox opened #3293 "Gradle compiling errros after updating to {N} 3.4.0"
### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)?
Yes

### Tell us about the problem
Nativescript 3.4.0 Errror

After upgrading my application to tns 3.4.0, I'm not able to compile my android application, I have the following e

[2017-12-29 09:39] NickIliev commented on #3291
Hey, @shiv19 I have created [this demo application](https://github.com/NickIliev/NS-Issues/tree/master/nativescript-cli/testPlugin) and used your plugin and on my side, the `*.jar` archive is successfully delivered in `platforms/android` folder. The plugin is [imported as expected](https://github.com/NickIliev/NS-Issues/blob/master/nativescript-cli/testPlugin/app/main-page.ts#L8).

[2017-12-29 09:43] NickIliev opened #3295 "Critical: Cannot Update Android App"
_From @vbresults on December 28, 2017 7:26_

### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)?

Yes

### Tell us about the problem
I cannot sync my Android app.  It seems to be loading the js not from the apk but from somewhere

[2017-12-29 09:43] NickIliev commented on #3295
@vbresults uninstall the application from the device/emulator you are testing on and also remove `platforms` folder before rebuilding and redeploying the application with `tns run android`.

I would suggest migrating to the latest NativeScript 3.4.x (if using WebPack migration guide [here](https://www.nativescript.org/blog/nativescript-webpack-0.9.0-what-changed-and-how-to-upgrade))

[2017-12-29 09:43] NickIliev commented on #3295
_From @vbresults on December 28, 2017 11:8_

Found them... the caches are here:

`/data/local/tmp/com.example.mypackagename/fullsync/main.js`
`/data/user/<uid>/com.example.mypackagename/`

This appears to be some sort of bug with livesync that 1. leaves that directory behind after a reinstall and 2. causes it to be unaffected by tns build/run --clean.

[2017-12-29 13:37] lfabreges commented on #3251
Hi,

I have the same problem using NS 3.4. As I understand it, files under the App_Resources shouldn't be transferred when the application is not rebuilt, otherwise it crashs under iOS (at least when using the emulator) when refreshing the application.

Regards.

[2017-12-29 13:57] NickIliev commented on #3293
Hello @victorevox and thank you for reporting this issue! I can confirm that this is a bug that can be reproduced when adding nativescript-push-notifications plugin. Keep an eye on this issue for possible solutions and updates about an ap[plicable fix.

Steps to reproduce:
- create new project `tns create testApp --tsc`
- add `nativescript-push-notifications` plugin
- build the application (the fi

[2017-12-29 13:59] NickIliev commented on #3293
This issue was moved to NativeScript/android-runtime#908

[2017-12-29 13:59] #3293 closed

[2017-12-29 20:08] TimHawkHodg commented on #3173
I have the same exact error. Unfortunately deleting the certs and re-adding them did not work

[2017-12-30 14:19] lfabreges commented on #3251
I manage to fix my plugin by unwatching localization files:

[code]

But that's a HACK, I'm not using the public API.

Regards.

[2017-12-31 01:46] shiv19 commented on #3291
@NickIliev In that case, this must have been some mistake on my end. Closing the issue.
Sorry for the trouble Nick

[2017-12-31 01:46] #3291 closed

[2017-12-31 22:51] dlcole commented on #3174
This solved the same problem for me, too.

[2018-01-02 07:51] NickIliev commented on #3292
Hi @PeterStaev

This behavior is due to the breaking changes introduced with [this feature](https://github.com/NativeScript/android-runtime/issues/876) in android-runtime and this related PR in [nativescript-dev-webpack](https://github.com/NativeScript/nativescript-dev-webpack/pull/310)

[2018-01-02 08:33] tsonevn commented on #3288
Hi @TimHawkHodg,
I reviewed the steps, which you followed and notice that this issue could be related to the fact that you have installed `nativescript-pro-ui` and `nativescript-telerik-ui`. The `nativescript-pro-ui` contains all components provided by UI for NativeScript and the installation of the other plugin is unnecessary.
To resolve this behavior try removing `nativescript-telerik-ui` from t

[2018-01-02 08:37] Pip3r4o commented on #3295
@vbresults we recognize that this is a problem with certain devices (Samsungs, mostly), and is even more pronounced on devices of API 23+ where file permissions have become more strict.

The mechanism used is such that the changed files are sent to the device cache (the tmp dir), and at startup, the Android Runtime reads and copies the cached files in place of its own current files, then proceeds

[2018-01-02 12:07] NickIliev commented on #3285
Closing due to inactivity - @matyapiro31 please do let me know if you still need to resolve this issue

[2018-01-02 12:07] #3285 closed

[2018-01-02 12:14] NickIliev commented on #3274
@erkanarslan the authors of the plugin is stating the following:
[code]

[2018-01-02 12:14] #3272 closed

[2018-01-02 12:14] #2756 closed

[2018-01-02 12:16] NickIliev commented on #2945
Closing due to inactivity.

[2018-01-02 12:16] #2945 closed

[2018-01-02 12:16] NickIliev commented on #2960
Closing due to inactivity

[2018-01-02 12:16] #2960 closed

[2018-01-02 12:19] #3209 closed

[2018-01-02 12:19] #3254 closed

[2018-01-02 12:22] NickIliev commented on #3210
@tolerious  have you managed to resolve the issue?
For the Android-related warnings: If you are using Android Studio check if the path for Android SDK is the same in Android Studio and for ANDROID_HOME environment variable. Closing the issue due to inactivity but please do let me know if you need further assistance.

[2018-01-02 12:22] #3210 closed

[2018-01-02 13:11] erkanarslan commented on #3274
I removed that library. No significant change. This build operation takes longer only if I change anything in the App Resources folder which is not too frequent. I think this is not an important problem. We can close this issue.

[2018-01-02 13:30] #3274 closed

[2018-01-02 14:12] #3158 closed

[2018-01-02 14:28] PeterStaev commented on #3292
Ok, but nonetheless CLI should maintain compatibility between versions no matter the changes. Otherwise it makes the verified plugin CI Cron jobs a bit w/o much sense if I have to upgrade the demo apps for every new CLI version that comes out. Not to mention that this is is minor version increase, hence full 3.0+ compatibility must be maintained.

Not to mention that if I have production apps runn

[2018-01-02 16:11] cesarbmolina commented on #2047
ANDROID_HOME=C:\Users\macespedes\AppData\Local\Android\sdk
JAVA_HOME=C:\Program Files\Java\jdk1.8.0_151
(node:6180) UnhandledPromiseRejectionWarning: Unhandled promise rejection (rejection id: 1): Error: cmd: Command failed with exit code 1 Error output:
"adb" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.
(node:6180) [DEP0018] DeprecationWarning: Unhand

[2018-01-03 06:06] tsonevn commented on #2047
Hi @cesarbmolina.
Please provide some more info about the case and your environment(CLI node npm modules versions).
Also, it would help if you send us project, which could be debugged locally.

[2018-01-03 09:26] kamlekar commented on #1417
Though the above solution might work, it doesn't actually fix this issue. I request the author to reopen this issue. Thanks.

[2018-01-03 10:38] masrc commented on #3290
I figured out, actually I got this error from rxjs because I was importing only from rxjs, importing from rxjs/Observable, the error is gone. Thank you for all!

[2018-01-03 10:38] #3290 closed

[2018-01-03 17:32] KristiyanFxy commented on #3019
This screens says you have npm@3.10.8, which is the problematic one.
We should check the installer and if it install npm@3.10.8 on brand new machines we should fix it.

Workaround:
Please upgrade to npm@3.10.10 or newer.

Related to #2980

Thanks, `npm install npm@latest -g` solved the problem 👍

[2018-01-03 18:37] speigg commented on #3173
Seeing the same problem here. Please reopen this issue

[2018-01-03 20:50] KristiyanFxy commented on #2486
Hello,

I am new to NativeScript and have been trying to go through the setup information on the website here: https://docs.nativescript.org/angular/tutorial/ng-chapter-1 I am experiencing the exact same problem as described above. Is there any solution to this? - It seems the problem comes from the nativescript-sdk-examples-ng kit

npm - 5.6.0
node - v6.9.5
nts - 3.4.0

Cheers,

[2018-01-03 20:53] Plamen5kov commented on #2486
Hi @KristiyanFxy,
can you explain in detail what exactly is the behavior you encounter? Try running `tns run android --log trace` and post the result here, after your explanation on the issue.

[2018-01-03 21:23] KristiyanFxy commented on #2486
Hi @Plamen5kov,

Thanks for the prompt reply. My issue is when I try to run `tns run android --timeout 300` or `tns run android --avd [different available emulator]` the console freezes i.e. CTRL + C does not stop the process and eventually writes out the following:

That is pretty odd because I have 9GB ram left available and nor my CPU or RAM spike. I tried the suggestions from #2210 & #2092 wit

[2018-01-04 07:08] Plamen5kov commented on #2486
@KristiyanFxy while I try to reproduce your issue, can you run `tns doctor` so we make sure that your development environment is set up correctly. As you say there might be a problem with the setup script, so I want to get that out of the way before we move forward.
Which version of CLI are you using: `tns --version`?
Can you try to start an emulator manually, and then run the command: `tns run an

[2018-01-04 07:17] thejonroberts commented on #3240
The --inspector debug is crashing (immediately, with same error about _CTFontCreateForCSS) for me as well, after the 3.4.0 update (core, ios, & android).  tns doctor check is all good.

High Sierra 10.13.2, Xcode 9.2.
Using nvm with node v8.9.3 and rbenv with ruby 2.3.3p222.

[2018-01-04 12:25] govi2010 opened #3298 "Suddenly TNS stopped working "You need to have Android SDK 22 or later and the latest Android Support Repository installed on your system.""
Hello Team,

My TNS android stopped working suddenly. Here is tns doctor --log trace.

`

`

[2018-01-04 12:29] govi2010 commented on #3298
I just install latest support library and now its working

[2018-01-04 12:29] #3298 closed

[2018-01-04 14:01] matyapiro31 commented on #3285
Maybe I found what is the cause.

[2018-01-04 14:45] KristiyanFxy commented on #2486
Hi @Plamen5kov,

First, thank you for your help and I have found the solution to multiple problems people are experiencing when trying to set up their environment.

p.s.
writing explanation now.

Cheers,

[2018-01-04 19:08] 5te1n commented on #2847
Unfortunately, as it is written in the [documetation](https://github.com/NativeScript/nativescript-cli/blob/master/docs/man_pages/general/autocomplete-enable.md), autocomplete is only supported for bash and zsh shells. It is a little disappointing for a windows user like me, who is using Visual Studio Code with the integrated PowerShell console. Are there future plans to support autocompletion for

[2018-01-04 21:23] Plamen5kov commented on #2486
@KristiyanFxy, let me just say waw! Great explanation. I commend you for taking the time to explain all the steps to fix issues users might have. I'll link this answer to the FAQs.

[2018-01-04 21:23] #2486 closed

[2018-01-04 22:45] yuzhang666 commented on #3284
I have the same error when installing 3.4.0 with node 9.x, 8.x and 6.x.

? Do you want to run the setup script? Yes
spawn EACCES
Failed to display command help { Error: Unknown command 'post-install-cli'. Try '$ tns help' for a full list of supported commands.
    at Errors.fail (/usr/local/lib/node_modules/nativescript/lib/common/errors.js:125:28)
    at Errors.failWithoutHelp (/usr/local/lib/nod

[2018-01-05 08:00] teobugslayer commented on #3287
Hello @alshdavid,

Our current thinking is that such app is not feasible for actual app development, as opposed to the carefully curated experience in the Playground. Why is that?

The Playground is for learning NativeScript core concepts and quickly trying out code. That's why its Companion app needs to carry only the core framework bits and selected few plugins to ensure that goal.

However, whe

[2018-01-05 16:23] JuergenSimon opened #3303 "tns test fails with error "ReferenceError: Can't find variable: Zone""
### Tell us about the problem
Please, ensure your title is less than 63 characters long and starts with a capital
letter.

### Which platform(s) does your issue occur on?
iOS, Android

### Please provide the following version numbers that your issue occurs with:
- CLI: (run `tns --version` to fetch it)
3.4.0

- Cross-platform modules: (check the 'version' attribute in the
`node_modules/tns-core-mo

[2018-01-06 07:30] snehanyk05 commented on #3290
I have the same issue a well. And I've followed the update instructions. Any idea what could be the reason?

[2018-01-07 00:53] Nqsty opened #3304 "Can't find android devices after moving Android directories"
### Tell us about the problem
I moved the `Android` (containing `android-sdk` and `AndroidStudio` directories) and `.android` directories to another hard drive because of space issues.
I changed all environment variables that were linked to the previous location. (`ANDROID_HOME`, `ANDROID_SDK_HOME` and 2 others in the PATH)
When I run `tns run android`, I have the following error `Cannot find conn

[2018-01-08 07:35] NickIliev commented on #3304
@Nqsty update the Android SDK location in Android Studio

open **Android Studio** and go to

**Tools >> Android >> SDK Manager >> Android SDK**

set the path to **Android SDK Location** to be the same as for your `ANDROID_HOME`

[2018-01-08 09:47] lincanli opened #3306 "tns run ios recursively install tns-ios"
## Please, provide the details below:

After executing tns run ios, console promoted infinity recursive log of:
[code]
After exit by Ctrl+C:
[code]
### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)?
Yes

### Which platform(s) do

[2018-01-08 12:39] Nqsty commented on #3304
@NickIliev it was already the same.

Here's my env variables:
* `ANDROID_HOME`: `E:\Android\android-sdk`
* `ANDROID_SDK_HOME`: `E:\`
* In path:
    * `E:\Android\android-sdk\tools`
    * `E:\Android\android-sdk\platform-tools`

[2018-01-08 16:04] #3261 closed

[2018-01-08 16:07] #3183 closed

[2018-01-08 16:13] #3288 closed

[2018-01-08 16:25] TimHawkHodg opened #3308 "How to delete web view cache"
## Please, provide the details below:

Changes in my web views are not being reflected inside my app. Still loads the old web view because it being is cached but [this documentation](https://docs.nativescript.org/angular/code-samples/ui/web-view) does not provide any way of clearing the cache before loading.

### Did you verify this is a real problem by searching [Stack Overflow]
YES

### Which pl

[2018-01-09 04:23] karthiksbhat opened #3309 "App fails to install in debug mode on android"
### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)?

Yes.

### Tell us about the problem
My app fails to install on my device on `tns run android`. iOS debugging works perfectly.

### Which platform(s) does your issue occur on?
A

[2018-01-09 13:02] dtopuzov commented on #3306
Hi @lincanli can you please specify versions of `npm` and `node` on you system?

Can you also try this (create without any params):
`tns create TestApp`
From logs I see something happens with hooks of `nativescript-dev-typescript`, if that is the case it should be ok for JS apps. If it happens on JS then it is something else.

[2018-01-09 13:25] dtopuzov commented on #2825
This issue is valid in 3.4.0

[2018-01-09 14:28] NickIliev commented on #3308
This issue was moved to NativeScript/NativeScript#5249

[2018-01-09 14:28] #3308 closed

[2018-01-09 14:47] NickIliev commented on #3304
Regarding `Cannot find connected devices.` - have you created an Android Virtual Device (downloaded system images and installed in your AVD Manager)

[2018-01-09 14:53] NickIliev commented on #3195
@cadupont23 have you downloaded your provisioning profiles? ([here](https://github.com/NativeScript/nativescript-cli/issues/2436#issuecomment-278255758))

Closing this one as the reported issue is resolved.

[2018-01-09 14:53] #3195 closed

[2018-01-09 14:55] NickIliev commented on #3181
@harriscreativity  have you managed to resolve the issue while using the latest NativeScript?

Closing due to inactivity but please do let me know if you are still experiencing troubles with this one.

[2018-01-09 14:55] #3181 closed

[2018-01-09 14:56] Nqsty commented on #3304
Yes, [see screenshot](https://i.imgur.com/tZAwHzL.png). :(

[2018-01-09 15:05] NickIliev commented on #3135
@rich-j have you managed to resolve this issue?

Closing this one due to inactivity but please  notice that you are hitting issue related to building the library using [the right architecture](https://github.com/NativeScript/ios-runtime/issues/704) or similar [ios-runtime related](https://github.com/NativeScript/ios-runtime/issues/543) issue

[2018-01-09 15:05] #3135 closed

[2018-01-09 15:16] NickIliev commented on #3304
@Nqsty have you tried to completely uninstall and install NativeScript
[code]

[2018-01-09 15:40] Nqsty commented on #3304
@NickIliev I did the uninstall and reinstall then:
`tns doctor`
[code]
`tns run android`
[code]
`tns run android --emulator`
[code]
With the emulator running: `tns device`
[code]

I deleted and recreated the same AVD and got the same outcome for the last 3 commands.

[2018-01-09 15:44] masrc commented on #3290
@snehanyk05 Are you using rxjs?

[2018-01-09 18:16] jeffswitzer commented on #2730
I've just experienced the same issue as @rajasekarsp where running `tns run android` followed by `tns build android` and then installing the built apk on the device doesn't overwrite previous files from the debug session. I can also confirm that @rosen-vladimirov's suggestion of building with the `--release` flag seems to mitigate the issue. Using tns 3.4.

[2018-01-09 18:40] jeremypele commented on #2997
Got the same issue since a long time as well. Running on node 6.0.0

[2018-01-10 07:12] NickIliev commented on #3304
Hey @Nqsty can you check if your device is reachable and authorized via the ADB command (the native Android command tool).
[Here ](https://stackoverflow.com/a/25546300/4936697)you can find instruction s on how to run the ADB commands and how to kill/restart your ADB server.

[2018-01-10 09:46] kamlekar commented on #2210
@Plamen5kov This issue occurs to me even for `tns run android` and `tns debug android`. I am using `3.4.0` nativescript version.

[2018-01-10 09:48] Plamen5kov commented on #2210
Hi @kamlekar, could you open a new issue, following the issue template so we can help you resolve your issue faster.

[2018-01-10 09:51] kamlekar commented on #2210
Ok will do. Thanks for quick reply.

[2018-01-10 10:38] kamlekar opened #3314 "Emulator device showing unreachable"
Similar to this [issue](https://github.com/NativeScript/nativescript-cli/issues/2486).

### Tell us about the problem
Device showing as unreachable

![image](https://user-images.githubusercontent.com/2201186/34766558-db589604-f61a-11e7-8cff-3905d6125635.png)

![image](https://user-images.githubusercontent.com/2201186/34768244-5e6820c8-f620-11e7-9c7c-84356a430816.png)

### Which platform(s) does yo

[2018-01-10 14:23] Plamen5kov commented on #3314
Hi @kamlekar, can you answer a couple of questions so we can help you figure out your problem:
* Are you, by any chance, trying to connect to your device through wi-fi instead of a usb cable?
* Are you on a virtual machine? (possible network problem)
* Are you running geny motion emulator or a regular image coming from the android tooling? (adb.exe sometimes fights with other android sdk installed

[2018-01-10 14:37] kamlekar commented on #3314
- Are you, by any chance, trying to connect to your device through wi-fi instead of a usb cable?

- Are you on a virtual machine? (possible network problem)

- Are you running geny motion emulator or a regular image coming from the android tooling? (adb.exe sometimes fights with other android sdk installed on your machine)

- Do you have Android Studio installed? Where does your ANDROID_HOME varia

[2018-01-10 14:41] Plamen5kov commented on #3314
Can you enter `{user}/AppData/Local/Android/Sdk/platform-tools`, open a terminal there, run `adb devices` command and post the result here?

[2018-01-10 14:45] kamlekar commented on #3314
Here is the screenshot:

![image](https://user-images.githubusercontent.com/2201186/34778247-c8f920be-f642-11e7-9029-16606f158f17.png)

Also, I forgot to tell you that in Android studio, I am unable to find `Android` menu inside `Tools`, which was visible before.

[2018-01-10 14:53] Plamen5kov commented on #3314
This is often caused by a plugin that's not working could you post a screenshot with `File/Settings -> Plugins`. You can also try [this](https://stackoverflow.com/questions/44293791/tools-android-menu-doesnt-exist-in-android-studio) where people have the same issue as you do.

[2018-01-10 14:56] Plamen5kov commented on #3279
Hi @vhristov5555,
`Change the xml to be invalid (e.g. "")`
In the default project templates, there are no XML files only HTML ones. Can you be more specific?

[2018-01-10 15:03] kamlekar commented on #3314
@Plamen5kov  Here are the screenshots:

![image](https://user-images.githubusercontent.com/2201186/34779208-7f4873a4-f645-11e7-92ce-dc5531eeb3bb.png)

![image](https://user-images.githubusercontent.com/2201186/34779226-8bad3062-f645-11e7-883c-7756cb5b7cde.png)

[2018-01-10 15:05] vhristov5555 commented on #3279
In JS and TS project you have xml files. Every invalid XML is triggering this problem.
Example for invalid xml:
`<Page loaded="pageLoaded" class="page" xmlns="http://www.nativescript.org/tns.xsd">

	<ActionBar title="Home" class="action-bar">
	</ActionBar>
	<ScrollView>
		<StackLayout class="home-panel">

			<Label textWrap="true" text="Play with NativeScript!" class="h2 description-label" />

	</

[2018-01-10 15:08] Plamen5kov commented on #3314
try doing file/invalidate caches and restart and check if tools/android is
there

On Wed, 10 Jan 2018 at 17:04, Mr_Green <notifications@github.com> wrote:

[2018-01-10 15:10] kamlekar commented on #3314
@Plamen5kov nope. Still not there.

[2018-01-10 15:23] kamlekar commented on #3314
@Plamen5kov I switched the project to the first project which was created when Android studio was installed. And now after sometime, I was able to see `Tools => Android` :/

_I changed the default project once, thinking I can work this nativescript project through Android Studio instead of VS Code._

And then when I checked `adb devices` as you mentioned above, I was able the see offline devices.

[2018-01-10 17:08] Nqsty commented on #3304
@NickIliev It appears that the combination of Nexus 5X and the API 27 was the problem. I changed for a Nexus 6 and it's working. I can't find why the combination doesn't work anymore though.
Thank you a lot for your help through this issue! :)

[2018-01-10 17:08] #3304 closed

[2018-01-11 08:33] NickIliev commented on #3304
@Nqsty FYI: sometimes the newly created emulators are popping up a dialog that requires user interaction to grant authorization (just like the first time authorization for USB Debbuging on a real device), so maybe that was the case. I had similar cases where the prompt on the emulator has blocked the execution of any `tns` (or `adb`) commands so I had to explicitly grant access (by tapping the opt

[2018-01-11 09:25] Plamen5kov commented on #3314
@kamlekar one thing you can do is restart the adb server by running `adb kill-server && adb start-server` and try running the emulators and making sure they are online by doing as you have `adb devices`.

In the latest release 3.4.0 of the `tns-android` platform you actually can open your project in Android Studio. Just open this folder `<app_name>/platforms/android` with android studio once you h

[2018-01-11 09:36] Plamen5kov commented on #3309
@karthiksbhat I', sorry to hear you have a problem running your application.
I was unable to reproduce your problem. The commands I ran were:
* `tns create myapp && cd myapp`
* `tns platform add android@3.4.0`
* `tns run android`

The run command usually uses the debug keystore to sign your app. Did you use your own certificate?

[2018-01-11 10:50] devyaz commented on #2730
in a debug app , i know that you have to remove the platform and build it for the apk to be updated

[2018-01-11 14:01] rosen-vladimirov opened #3317 "Support livesync with webpack"
## Please, provide the details below:
We need to support LiveSync functionality with webpack builds. The idea is to use the webpack's watcher and rebuild the .js files when a change occur.

### Which platform(s) does your issue occur on?
Both

[2018-01-11 14:06] surdu commented on #2367
Wouldn't be an acceptable solution to at least document that you also have to modify the gradle file [in the docs here](https://docs.nativescript.org/publishing/publishing-android-apps#application-id-and-package-name) ?

[2018-01-11 14:25] rosen-vladimirov commented on #2744
Closing this issue as it can be resolved via .aar file.

[2018-01-11 14:25] #2744 closed

[2018-01-11 14:41] rosen-vladimirov commented on #1584
Closing as we have already removed isim-portable. We are using ios-sim-portable package, which depends on xcrun simctl.

[2018-01-11 14:41] #1584 closed

[2018-01-11 15:08] ddfreiling commented on #3292
Just ran into this when trying to bundle a new version of our app with latest CLI. We haven't made the upgrade to tns-core-modules 3.4 and newest webpack yet, so it would have been nice with a warning about this breaking change of the CLI in the 3.4 Changelog.

[2018-01-11 16:16] Plamen5kov commented on #2367
Originally the idea was to consider all native configurations and handle them in a "native configuration file". We've since discussed the topic and we've provided all the native configuration options in the `App_Resource` folder. Keeping that in mind, we're planing on updating the documentation if necessary.

[2018-01-11 16:16] #2367 closed

[2018-01-12 02:42] karthiksbhat commented on #3309
@Plamen5kov Hi, I didn't use my own certificates. Since the error was something about not finding keys, I just deleted the debug.keystore file so that it would generate a new one.

I'm actually having trouble reproducing this issue across devices myself. I'm using a different test device (same phone -- Samsung Galaxy C7) with an older OS (Android v6.0.1) for the same project and I'm not facing the

[2018-01-12 12:09] #3280 closed

[2018-01-12 16:04] smasala commented on #3034
For others: instead of using the `tns run android` command, use `tns debug android`.

[2018-01-12 16:54] Plamen5kov commented on #3309
@karthiksbhat Thank you for the details, please let us know if you find a persistent way of reproducing the issue, so we can take a deeper look into it. Thank you!

[2018-01-13 09:52] snehanyk05 commented on #3290
Yeah I was. I was importing from rxjs/Rx which was causing the problem. Resolved it. Thanks :)

[2018-01-13 12:22] whoozle commented on #3125
I have clean native script installation (basically following your hello world setup), but seldom see anything both in emulator or device. it's just white screen, sometimes ui flashes with new content before exception dialog. Maybe it's something with UI updates propagation up to the native ui.

[2018-01-13 12:32] whoozle commented on #3125
I figured out what triggers it, when you have top-level AbsoluteLayout, and manually set its width to page.getMeasuredSize() from navigated event

[2018-01-13 14:14] hedza06 commented on #3189
@narayananl23 also working for me. Thank you!

[2018-01-14 04:41] kamlekar commented on #3314
Hi @Plamen5kov,

I tried as you said. It is still showing as offline:

![image](https://user-images.githubusercontent.com/2201186/34912900-492063d8-f913-11e7-8316-1b858d42c7e8.png)

Here is the log trace of when I run `tns run android --log trace > log.txt`.

[2018-01-14 06:53] Plamen5kov commented on #3314
Hi @kamlekar,
In case the device is showing as offline, you can try following [this thread](https://stackoverflow.com/questions/3152681/android-emulator-5554-offline) and see if it helps. Unfortunately, because the environment is different on every machine, these kinds of problems can be really difficult to figure out.

[2018-01-14 14:22] rpaulojade opened #3319 "Tns run successfully builds the app but doesn't show it on the phone."
Sorry if this is a stupid question or not but after I did tns run --device *id here* it said that build was success but was unable to apply changes in device error is: no .apk found in c:/something/unwind-using-nativescript/platforms/android/build/outputs/apk directory here is the full cmd response.

[code]

[2018-01-14 22:14] shaileshkadam25 commented on #3272
@NickIliev ; sorry for late response, was on vacation..
I tried to run with Typescript 2.4.2 but still getting same error.

![image](https://user-images.githubusercontent.com/34359368/34921318-5f02843e-f94e-11e7-9d64-f3430b831ba5.png)

[2018-01-14 22:16] shaileshkadam25 commented on #3272
![image](https://user-images.githubusercontent.com/34359368/34921344-b593db54-f94e-11e7-928d-5623076a3940.png)

[2018-01-14 22:28] shaileshkadam25 commented on #3272
Steps to reproduce the issue..
1. Install latest nodejs latest LTS from official website
2. Follow the steps of installation provided as per link -https://docs.nativescript.org/angular/start/quick-setup
3. My machine config is as follows
    Windows 10 Pro 32 bit OS
    AMD Athlon(tm) Dual Core Processor 4450e 2.30 GHz
    3 GB Ram
4. create the hellowold app as per link - https://docs.nativescrip

[2018-01-15 07:09] rosen-vladimirov commented on #1913
Closing this in favor of https://github.com/NativeScript/nativescript-cli/issues/19

[2018-01-15 07:09] #1913 closed

[2018-01-15 07:17] rosen-vladimirov commented on #3098
Hey @pedjas ,
The NativeScript Windows Installer is deprecated. Now we recommend using our setup scripts. You can find them [here](https://github.com/NativeScript/setup-scripts).
I've logged a new feature request there: https://github.com/NativeScript/setup-scripts/issues/8 , so you can follow it. I'm closing this one.

[2018-01-15 07:17] #3098 closed

[2018-01-15 07:31] rosen-vladimirov commented on #3276
Hey @jaxondu ,
Thank you for the information. I confirm there's a problem with current detection. The check for xcodeproj is `gem which xcodeproj`, instead of just spawning `xcodeproj --version`.
In order to fix this, the following changes should be applied:
1. Fix the call from `gem which xcodeproj` to `xcodeproj --version` [here](https://github.com/telerik/mobile-cli-lib/blob/master/sys-info-bas

[2018-01-15 08:17] Plamen5kov commented on #3279
@vhristov5555 I managed to reproduce the issue. The expected behavior for Android is to show an error activity with a comprehensive error: `Error building XML close tagname: ... filename ....line column`. If you expect different behavior please describe it in detail and we'll mark it as a feature.

[2018-01-15 08:39] Plamen5kov commented on #3319
Hi @rpaulojade, what version of the CLI are you using? You can check that by running `tns --version` anywhere.
We would urge you to fill in the issue template when you're creating a new issue, as you'd be helping us to solve your issue more quickly.
Thank you for trying out NativeScript :)

[2018-01-15 10:31] dtopuzov commented on #3084
https://github.com/NativeScript/setup-scripts/pull/7 implements it for windows.

[2018-01-15 10:36] dtopuzov commented on #3148
Closing, explanation posted in related PR https://github.com/telerik/mobile-cli-lib/pull/1017

[2018-01-15 10:36] #3148 closed

[2018-01-15 22:17] snovos commented on #3183
I updated cli to 3.4.1 and still getting same issue

[2018-01-15 22:32] TimHawkHodg commented on #3173
@speigg I solved the issue at one time by simply running the commands

`npm uninstall ios-device-lib --save`
`npm uninstall adb --save`

However the error has returned and that fix is no longer working.

Have you solved this issue before?

[2018-01-15 23:19] Sharique-Hasan opened #3320 "Releasing the app by signing doesn't work with *.jks file."
Hello,

I had a native app already published in playstore.Now I have ported it on nativescript with angular. To release the app I have to sign it with the same key. When I tried to do that I got an error

`They keystore is tempered or the password is incorrect. `

However I am providing valid keystore and password. I tested this with **Sidekick**.
- Created a new app with it.
- Built the release v

[2018-01-16 08:26] Pip3r4o commented on #3183
@snovos could you please share the output of the `tns debug ios` command?

[2018-01-16 14:24] NickIliev commented on #3320
This issue was moved to NativeScript/sidekick-feedback#119

[2018-01-16 14:24] #3320 closed

[2018-01-16 14:29] Sharique-Hasan commented on #3320
@NickIliev but it is related to cli. As the supposed behavior is working with Sidekick but failing in CLI

[2018-01-16 15:01] TimHawkHodg commented on #3173
Explicitly naming the provisioning profile on the build does NOT solve the issue. After much trial and error I have found how to resolve this issue.

Try these two things:
(1)
npm uninstall ios-device-lib adb --save
Remove and then re-add the ios platform
tns run ios

(2)
If one does not solve the issue then go to

node_modules > nativescript > node_modules >ios-device-lib . Delete this directory

[2018-01-16 15:31] rosen-vladimirov commented on #3173
Hey @TimHawkHodg ,

I'm copying my answer from [here](https://github.com/telerik/ios-device-lib/issues/36) for reference:

[2018-01-16 15:44] TimHawkHodg commented on #3173
@rosen-vladimirov this worked. Issue is good to close

[2018-01-16 17:37] snovos commented on #3183
@Pip3r4o I was able to spin up my app and it works, but when I paste that debug chrome url im getting this
`Frontend client connected.
Backend socket created.
Backend socket closed!
Frontend socket closed!
Frontend client connected.
Backend socket created.
Backend socket closed!`

[2018-01-16 23:36] vchimev opened #3321 "Work simultaneously with multiple iOS Simulators"
### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)?

Yes.

### Tell us about the problem
The NativeScript CLI does not recognize more than one running iOS simulator.

### Which platform(s) does your issue occur on?
iOS

### Pleas

[2018-01-17 04:19] rpaulojade commented on #3319
The CLI version I have is 3.3.1. Sorry if the question I have is messy because this is the first time I did this.

[2018-01-17 07:02] Plamen5kov commented on #3319
@rpaulojade please try running the command `tns run android`. If an emulator is running or a device is connected, it would try installing the application on it. If nothing is connected it will try and run an emulator for you and then install the application on it.

[2018-01-17 08:09] Pip3r4o commented on #3183
@snovos can you make sure that you are also running the 3.4.1 ios runtime, as the CLI and the runtime need to be the latest versions to benefit from the latest inspector fixes.

[2018-01-17 08:38] SvetoslavTsenov commented on #3321
This issue also reflects when we run tns-core-modules unit tests on the CI. The problem is that we have let say 6 simulators and we use to pass --device SIMULATOR_ID to run the tests on a specific device but the result is that CLI fails to find this simulator.

[2018-01-17 13:04] hamdiwanis opened #3322 "Error trying to run on ios simulator"
When after getting everything to work and tns doctor passes, I get this with tns run ios

[code]
Which platform(s) does your issue occur on?

MacOS Sierra
Xcode 9

[2018-01-17 13:52] rpaulojade commented on #3319
I've done that you can see the same result "Unable to apply changes on device: 8a9e9abe. Error is: No .apk found in C:/somewhere". Is it possible that I have to update my nativescript cli?

[2018-01-17 14:13] Pip3r4o commented on #2730
@devyaz that is unnecessary, `tns build android` will also produce a fresh APK. The original problem, and a workaround are described by Rosen - https://github.com/NativeScript/nativescript-cli/issues/2730#issuecomment-298851960

[2018-01-17 15:30] simano65 commented on #3295
Could also be related to this: NativeScript: Android application upgrade issues http://fluentreports.com/blog/?p=516#comment-32155

[2018-01-17 19:14] snovos commented on #3183
@Pip3r4o

    "tns-android": {
      "version": "3.4.0"
    },
    "hooks": [
      {
        "type": "before-prepare",
        "script": "nativescript-config.js"
      }
    ],
    "tns-ios": {
      "version": "3.4.0"
    }
  },
  "dependencies": {
    "@angular/animations": "~5.1.0",
    "@angular/common": "~5.1.0",
    "@angular/compiler": "~5.1.0",
    "@angular/core": "~5.1.0",
    "@angular

[2018-01-17 20:38] manijak commented on #3222
Any update on this issue? I keep getting this on a freshly installed MacBookPro with Xcode 9.2 and tns 3.4

[2018-01-18 07:59] Pip3r4o commented on #3183
@snovos please install the latest 3.4.1 version of the ios platform.

[2018-01-18 08:13] pentool commented on #3240
I'm having the same issue.

Xcode 8.2.1
iOS 9.3.5
OS X 10.11.6 (El Crapitan)
TNS 3.4.1

[2018-01-18 10:52] pawankv89 opened #3324 "Error When Run on Simulator/Emulator in iOS Only."
Hello my friends,

My Project working fine when connected by real iOS device and Android Emulator But I am not able to run on iOS Simulator(Emulator).

pawankumar$ tns info
All NativeScript components versions information
┌──────────────────┬─────────────────┬────────────────┬─────────────┐
│ Component        │ Current version │ Latest version │ Information │
│ nativescript     │ 3.4.1           │

[2018-01-18 11:01] dtopuzov commented on #3324
Hi @pawankv89 can you please specify:
- Xcode version
- macOS version

Please also run this command `xcrun simctl list devices` and make sure it list some emulators.

[2018-01-18 11:03] dtopuzov commented on #3322
Hi @hamdiwanis

Can you please run this command `xcrun simctl list devices` and check if some simulators are listed in the output?

[2018-01-18 11:06] pawankv89 commented on #3324
Thanks @dtopuzov for reply,

Xcode version Xcode 9.0
macOS version macOSSierra Version 10.12.6

pawankumar$ xcrun simctl list devices
== Devices ==
-- iOS 11.0 --
    iPhone 5s (E2E07E74-48A2-4D2D-AB0A-03914A1BF3D2) (Shutdown)
    iPhone 6 (4E47FFF3-4FBA-48F4-926A-7E3F082195D8) (Shutdown)
    iPhone 6 Plus (BE315AE4-D32A-4150-9DA0-4A282C48D06F) (Shutdown)
    iPhone 6s (446EE7FE-4CD8-4CE4-B2CC-549

[2018-01-18 11:08] hamdiwanis commented on #3322
thanks for your response.
i run it and this is the result

[code]

[2018-01-18 11:14] dtopuzov commented on #3319
Hi @rpaulojade,

Can you search recursively in `C:\Users
\Paulo\Desktop\Unwind-using-nativescript\platforms\android` and check if there is apk file build someware?

Can you also try to run just `tns build android`, just to make sure project really builds.

[2018-01-18 11:17] dtopuzov commented on #3264
Closing due to inactivity.

[2018-01-18 11:17] #3264 closed

[2018-01-18 12:39] NickIliev opened #3325 "[ios] Could not install application with code: -402620394"
_From @surdu on January 18, 2018 12:22_

When I try to to install any NativeScript application on an iPad Air running iOS 11.2.2, I get the following error:

[code]

Versions:
[code]

_Copied from original issue: NativeScript/NativeScript#5293_

[2018-01-18 12:59] NickIliev commented on #3325
@surdu tested with the template applications and with[ this app](https://github.com/NickIliev/nativescript-ng-cosmos) and all applications are successfully deployed and started on iPad Air using iOS 11.2.
If testing on a real device make sure you have [development certificate](https://docs.nativescript.org/publishing/publishing-ios-apps#certificates-identifiers--profiles) for the specific device.

[2018-01-18 13:03] surdu commented on #3325
@NickIliev Works also on iOS 11.2**.2** ? It works on my ios 11.2 devices as well.

As far as I can tell, it sees one valid provisioning profile for this device:

[code]

[2018-01-18 13:20] NickIliev opened #3326 "iOS Upload App Failed"
_From @pap5508 on January 18, 2018 13:19_

I am trying to upload app to App store in iOS. I am getting following error after succesfully archive project and Export IPA file

I am getting this error only when trying to upload to app store.

![screen shot 2018-01-18 at 14 16 39](https://user-images.githubusercontent.com/8488715/35099975-524c970c-fc5a-11e7-9982-9650e41c55c0.png)

Thank you..

_Copied

[2018-01-18 13:23] NickIliev commented on #3326
@pap5508  are you producing a release build with the `--release` flag

[2018-01-18 13:26] pap5508 commented on #3326
@NickIliev  :  yes, I am preparing release build with --release flag

[code]

[2018-01-18 14:15] surdu commented on #3325
Hmm... Managed to make it work by running the prepared project from XCode. Once I did this for every project, now they work on this device, even after deleting `/platform` `/hooks` and `/node_modules` 😕

[2018-01-18 14:28] dtopuzov commented on #3322
What about `xcrun simctl boot <some of the ids, for example E3791354-DDBD-4D5D-84E9-1CD09720893D>`, does it start simulator?
Can `tns run ios` deploy on already running simulator?

[2018-01-18 14:45] dtopuzov commented on #3240
Reopen, since it looks we still have issues.

[2018-01-18 15:34] dtopuzov commented on #3240
@shoudaos @thejonroberts @pentool
In order to use the fix released with {N} 3.4 you should have both CLI and tns-ios updated to 3.4.*.

Can you confirm your test project is updated, can you reproduce it with hello-world app?

[2018-01-18 15:57] pentool commented on #3240
I didn't have `tns-ios-inspector` installed. I didn't know that was needed since I installed {N} using the basics setup. Anyhow, I have installed it per your instruction, but it did not make any difference.

1. I have made sure my project and CLI is updated to 3.4.1.
2. I have ran the debug cmd before and after installing `tns-ios-inspector`. In both cases I got the same results (as below).

When

[2018-01-18 16:03] mbektchiev commented on #3240
@pentool It seems that the package is still not found in your application. The inspector which is launched is from `/Users/ADMIN/.local/share/.nativescript-cli/ios-inspector`. Can you try deleting this directory? This will force TNS CLI to download it again. Also can you check it's `package.json` to see which version of `tns-ios-inspector` has been cached there?

Running `tns debug ios --inspector

[2018-01-18 16:18] pentool commented on #3240
I have deleted the `tns-ios-inspector` cached folder at `/Users/ADMIN/.local/share/.nativescript-cli/ios-inspector` and reinstalled it for the basic hello-world project.

It seems this time it is trying to launch it from the correct/project folder, but it still giving me the same issue.

[code]
The `tns-ios-inspector`'s package.json file is showing v3.4.3.

[2018-01-18 18:34] dtopuzov commented on #1514
Hi  @FriOne

If you need help for some tns command you can run `tns <command> -h`.
In this case `tns create -h`.

For general help about {N} CLI commands you cna run `tns help` and it will open a browser with html help for each CLI command.

We also have a list with popular templates at Tempaltes section of https://market.nativescript.org/

You can create app from custom templates like this:
[code

[2018-01-18 19:07] dtopuzov commented on #3326
Hi @pap5508,

I see the in logs the problem is with some binary of [term-size](https://www.npmjs.com/package/term-size).
Is it something you need in app at runtime?
If not may be you should add it as dev dependency, not as dependency.

[2018-01-19 00:56] GrumpyOldTroll commented on #3139
I ran into this problem and found a solution that worked for me here:
https://stackoverflow.com/questions/47150410/failed-to-run-sdkmanager-list-android-sdk-with-java-9

Namely:
replacing line 31 of $ANDROID_HOME/tools/bin/sdkmanager:
# OLD:
# DEFAULT_JVM_OPTS='"-Dcom.android.sdklib.toolsdir=$APP_HOME"'
# NEW:
DEFAULT_JVM_OPTS='"-Dcom.android.sdklib.toolsdir=$APP_HOME" -XX:+IgnoreUnrecognizedVMOpt

[2018-01-19 01:57] nmongiya commented on #3100
I am facing the same issue that app stays on splash screen forever. I have even tried with the sample-groceries and Hello world app as well.
`roject successfully built.
Installing...
Successfully installed on device with identifier 'a2616888534152302f549cc20b23e545d83676fb'.
Skipping node_modules folder! Use the syncAllFiles option to sync files from this folder.
Starting...
Starting...
Unable to

[2018-01-19 09:59] hamdiwanis commented on #3322
The simulator runs fine but still i can not run the app on it even if the simulator is already running.

[2018-01-19 11:01] pap5508 commented on #3326
@dtopuzov : I have added [https://www.npmjs.com/package/term-size](url) in dev-dependencies. Still getting the same error.

[2018-01-19 12:42] surdu commented on #2336
This is required if you rewrite an existing application in NativeScript. I quite like @roblav96 idea, to have the id under runtime keys.

Other idea would be to have something like this:

[code]

I believe this way might be easier to maintain backwards compatibility.

[2018-01-19 12:44] Pip3r4o commented on #2336
@surdu the feature is under review, and will be merged in the next NativeScript version - https://github.com/NativeScript/nativescript-cli/pull/3120

[2018-01-19 13:54] dtopuzov commented on #3326
Can you delete `node_modules` and `platforms` folders inside your project and try to publish again?

[2018-01-19 19:53] pentool commented on #3240
@mbektchiev Hey, it works!!! Thank you!

[2018-01-20 07:53] sarojrout opened #3327 "Unable to find applicable devices to execute operation. Ensure connected devices are trusted and try again."
i am trying to run my app in IOS, getting the error while running tns run ios
Unable to find applicable devices to execute operation. Ensure connected devices are trusted and try again.

### Please provide the following version numbers that your issue occurs with:
- CLI: (run `tns --version` to fetch it): 3.4.1
- Cross-platform modules: (check the 'version' attribute in the
`node_modules/tns-core-

[2018-01-20 16:48] Ihor912 commented on #2265
I fixed the same issue with:
`export JAVA_HOME=$(/usr/libexec/java_home)`

[2018-01-20 17:45] sarojrout commented on #3327
It got resolved. I just quit the simulator and ran the tns command again as tns run ios. it started working. Thanks to @jlooper for her expert advice.

[2018-01-20 17:45] #3327 closed

[2018-01-21 06:10] thejonroberts commented on #3240
Inspector 3.4.3 (1) is working for me now.  I just ran tns update, after updating the os to 10.13.2.  If I have any issues, I will downgrade to 3.1.0.  I think my issue may have been that tns-ios was not up to date. Thank you @dtopuzov and @mbektchiev!

[2018-01-21 07:40] sarojrout commented on #3024
i am getting this error while running tns run ios

[2018-01-21 07:43] sarojrout commented on #3324
am also facing the same issue. I was able to run my application only once in the simulator. next time onwards, the app is not coming up.

[2018-01-22 13:49] fuser84 commented on #1540
Guys,
here is my fix on Ubuntu 16.04.3 LTS.
Add the below to the .bash_profile(create if you don't have it):

export JAVA_HOME=/usr/lib/jvm/java-8-oracle/
export ANDROID_HOME=/home/(your user)/Android/Sdk
export PATH=${PATH}:/home/(your user)/Android/Sdk/platform-tools:/home/(your user)/Android/Sdk/tools:/home/(your user)/Android/Sdk/tools/bin

at the end ==> $ source ~/.bash_profile

[2018-01-23 10:05] hamdiwanis opened #3331 "Error building the app with snapshot option"
Did you verify this is a real problem by searching [Stack Overflow]?
yes

### Tell us about the problem
Error building the app with snapshot option

### Which platform(s) does your issue occur on?
Android
### Please provide the following version numbers that your issue occurs with:
- CLI: 3.4.0
- Cross-platform modules: 3.4.0
- Runtime(s): 3.4.0

### Please tell us how to recreate the issue in as

[2018-01-23 14:14] Agbongbenj commented on #521
sudo chown -R <username> ~/.local
thanks the above solved it for me

[2018-01-24 10:11] #3155 closed

[2018-01-24 11:02] ndinev opened #3335 "Once snapshot is added to android build user cannot build without it"
tns version is 3.4.1

When once snapshot is added to android build it will always be included in the pack with the next builds even user do not want it.

To reproduce the problem just build first with snapshot
`tns build android --bundle --env.snapshot`

and then build without snaphot
`tns build android --bundle`
Look in the result .apk file - snapshot is added, but shouldn'tt

[2018-01-24 13:02] tsonevn commented on #3324
Log trace output:
[code]

This happens with Simulator app is running, but there is no booted simulator.

[2018-01-25 08:12] NickIliev opened #3336 "TNS fails to build when watchkit extension is present."
_From @spbond on January 25, 2018 1:31_

### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)? Yes

### Tell us about the problem
I added a watchkit extension to my NativeScript app through Xcode, and ever since I get the following

[2018-01-25 09:02] rosen-vladimirov opened #3337 "Empty Chrome DevTools when using tns debug ios for iOS Simulator"
### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)?
Yes

### Tell us about the problem
When `tns debug ios` is used and a change in the application code is applied, Chrome DevTools should be reconnected. Once the change is applie

[2018-01-25 10:38] #2127 closed

[2018-01-25 12:04] dtopuzov opened #3338 "`tns debug ios --chrome` can not stop on first line"
There is no way to stop on first line with `tns debug ios` and ChromeDevTools.

### Please provide the following version numbers that your issue occurs with:
- CLI: 3.4.2@rc
- Cross-platform modules: 3.4.0
- Runtime(s): 3.4.1
- Plugin(s): No

### Please tell us how to recreate the issue in as much detail as possible.

Steps to reproduce:
[code]

[2018-01-25 14:21] #3337 closed

[2018-01-29 08:57] alekspetrov commented on #2780
Hi, catched the same behaviour with [nativescript-vue-webpack-template](https://github.com/tralves/nativescript-vue-webpack-template)

To reproduce download fallow template usage docs and then try to change some .css or .scss and see that tns doesn't reload styles while you don't restart app. This is so annoying =(

Please, help )

[2018-01-29 20:40] rosen-vladimirov opened #3341 "Document all hooks and how to use them"
### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)?
Yes, the current hooks documentation does not describe all hooks and use-cases. Also the link in https://github.com/NativeScript/nativescript-cli/blob/master/README.md#extending

[2018-01-29 20:46] Socha17 commented on #3284
Also getting the same error as @yuzhang666

[2018-01-30 01:40] sday commented on #3183
I have the same issue with 3.4.1.  Also, it doesn't stop on a line with debugger;

`        console.log("ENTERING EVENT");
        debugger;
        console.log("LEAVING EVENT");
`
I get a new debugger port with each minor code change and it never stops on the debugger; line.

[2018-01-30 06:04] sday commented on #3183
So it wasn't immediately obvious how to update tns.  I thought maybe tns update would do it.

`npm i -g nativescript`

I stumbled up this from opening sidekick and it said I needed tns 3.4.1 and tns-ios 3.4.1.  Now it opens the same debugger port during a livesync.

[2018-01-30 07:37] pentool commented on #3114
I'm curious about this issue as well, especially that you mentioned the app icons. I had run into this issue a day ago, and posted my question on the forum here: https://discourse.nativescript.org/t/i-lost-the-ability-to-incrementally-build-and-n-keeps-doing-full-builds/4265

I'm somewhat puzzled as to why would I be restricted using the "preconfigured" size app icons? I think I got rid of the iPa

[2018-01-30 07:54] pentool commented on #3114
It seems that was the issue. I had changed (added/removed) certain app icons. Even though I have updated the 'Contents.json' file correctly, my project was kept rebuilding until I added the original sized app icons that came with {N}.

I'm still getting the bunch of warnings about 'no such file or directory', but at least my project doesn't rebuild every time I add a comma.

[code]
CLI: 3.4.1
OS X

[2018-01-30 12:15] lastpeony opened #3342 "tns debug android fails"
trying to debug tabs nativescript template for test purpose.cli version latest
i got this error:(inside npm cache log file)

[2018-01-30 14:52] Alphapage commented on #3122
I have the same problem: it seems to work most of the time for the simulator. But it is impossible for me to break at startup on device.
It seems inspector_modules is installed or run too late on device, which is not the case on simulator.
Don't know how to solve such a problem.

[2018-01-31 06:57] NickIliev opened #3344 "NativeScript CLI hangs on ADB “help”"
_From @BeMor81 on January 30, 2018 16:55_

Dear friend, we, the rest of the NativeScript community really
appreciate your feedback! While we are doing all we can to take care of every
issue, sometimes we get overwhelmed. Because of that, we will consider issues
that are not constructive or problems that cannot be reproduced "dead".
Additionally, we will treat feature requests or bug reports with u

[2018-01-31 09:15] Natalia-Hristova commented on #3342
Hi @lastpeony,
may I ask you to use the issue template so that it would be **easier and faster** to reproduce the issue and **you to get help** e.g. it's really _important_ to know the versions of ```CLI```, ```runtimes``` that you use and the specific steps that you do to se this failure e.g.

[code]

Thanks!

Here's the issue template:

## Please, provide the details below:

### Did you verify t

[2018-01-31 13:13] #3338 closed

[2018-01-31 13:16] Natalia-Hristova commented on #3338
This issue is fixed and will be available in the next ```CLI``` official release.

[2018-01-31 14:01] RadouaneRoufid opened #3345 "Http calls under proxy in a Nativescript avd emulator app on linux"
### Did you verify this is a real problem by searching [Stack Overflow](http://stackoverflow.com/questions/tagged/nativescript) and the [other open issues in this repo](https://github.com/NativeScript/nativescript/issues)?
this question has been asked on stackoverflow => https://stackoverflow.com/questions/48537140/nativescript-http-requests-under-proxy-inside-an-app-on-linux

### Tell us about th

[2018-01-31 14:57] NickIliev commented on #3344
@ligaz what is the output when you  try to directly run `adb`
[code]

[2018-01-31 16:25] Natalia-Hristova commented on #3122
Hi @Alphapage ,
I wasn't able to reproduce this behavior. I use the last official ```CLI```  version ```3.4.1``` runtimes ```3.4.1``` , running on iPhone 6s (OS 11.0.1).

Here's what I did:
[code]
Ran it 7 times with ```--inspector``` and 5 with Chrome DevTools (```tns debug ios --debug-brk```) and it always breaks.

Can you try the same steps as mine and share your result or explain what's your s

[2018-01-31 16:50] BeMor81 commented on #3344
Thanks for looking at this. Please see the below. I've noticed if I end task one of the node.exe and are lucky and get the right one it moves on but a little tricky to do.

Android Debug Bridge version 1.0.39
Version 0.0.1-4500957
Installed as D:\AndroidSDK\platform-tools\adb.exe

global options:
 -a         listen on all network interfaces, not just localhost
 -d         use USB device (error if

[2018-01-31 18:08] Alphapage commented on #3122
Hi @Natalia-Hristova ,
I'm using 3.4.1 too, but on ios 9.0.2 iphone 4s sorry!!
I have the same setup, but didn't try inspector.
I tried Chrome Devtools and most interesting vscode extension without success for device (but without problem with simulator: iphone x)

[2018-02-01 09:10] NickIliev commented on #3331
@hamdiwanis closing this issue as not enough information is provided to reproduce the issue.
Please consider providing sample project or steps to reproduce the issue and any related detailed information so we can investigate the case locally.

[2018-02-01 09:10] #3331 closed

[2018-02-01 10:34] Alphapage commented on #3122
@Natalia-Hristova, I tried ios 9 simulator successfully.
But device app is not waiting for the debugger to continue after pausing on entry.
Here is my log:
[code]

[2018-02-01 11:46] Mitko-Kerezov opened #3349 "Enable LiveSync during bundling"
### Enable LiveSync during bundling
Some bundler plugins (for example `nativescript-dev-webpack`) have the ability to be launched with a watcher and perform incremental bundling while watching for file changes. CLI should provide a way for such plugins to plug into the LiveSync pipeline.

Ultimately `tns run <platform> --bundle` should watch for file changes and LiveSync them correctly.

[2018-02-01 12:42] #3345 closed

[2018-02-02 11:56] ssimpo commented on #1813
Not sure if this helps anyone but I had the same issue on Linux (Ubuntu) after issuing:

[code]

However, in the end I realised it was my environment variables not being carried forward to _sudo_.  Once, I added:

[code]

to the bottom of **/etc/sudoers** it worked perfectly.

[2018-02-02 12:38] slimge commented on #3284
Same issue -_-

Password:
/Users/user/.nvm/versions/node/v8.4.0/bin/tns -> /Users/user/.nvm/versions/node/v8.4.0/lib/node_modules/nativescript/bin/tns
/Users/user/.nvm/versions/node/v8.4.0/bin/nativescript -> /Users/user/.nvm/versions/node/v8.4.0/lib/node_modules/nativescript/bin/tns

WARNING: adb from the Android SDK is not installed or is not configured properly.
For Android-related operations,

[2018-02-02 13:34] ssimpo commented on #1160
@x4080  Wow, there should be a note in the install documentation, spent ages trying to debug this.  Thanks , that fixed it for me.

[2018-02-02 19:01] manijak commented on #2367
I don't get it, can we have different app ids for each platform or not? Kinda annoying having to remember to change the app ids in package.json every time I switch platforms

[2018-02-02 22:07] surdu commented on #2367
@manijak As far as I understand [this is coming soon](https://github.com/NativeScript/nativescript-cli/pull/3120)

[2018-02-05 15:25] thaoula commented on #3235
Hi @dtopuzov,

Any timeline for fixing this ... pretty much have to kill IOS livesync every one or two changes.

Regards,
Tarek

[2018-02-05 22:35] paulpv commented on #3028
Any 5.x solution for this?

[2018-02-06 08:20] tsonevn opened #3351 "If you delete the whole css data or the css file itself the changes are not going to be applied to the app"
_From @vhristov5555 on December 20, 2017 15:9_

1. Create project
2. Open the app.css
3. Delete the whole data or delete the app.css
4. Save
Actual: The APP won't be refreshed with the changes
Expected: The APP to be refreshed with the changes
Comment: Test with js project. Also happens in Angular if you have only app.css

_Copied from original issue: NativeScript/NativeScript#5196_

[2018-02-06 15:15] miroslavaivanova opened #3353 "Increase inspector installer memory buffer."
### Tell us about the problem
This addresses an out-of-memory problem with the installation of the tns-ios-inspector module from @next.

### Which platform(s) does your issue occur on?
iOS

### Please provide the following version numbers that your issue occurs with:
- CLI: next
- Runtime(s): next

### Please tell us how to recreate the issue in as much detail as possible.
Create a project and run

[2018-02-06 17:08] BeMor81 commented on #3344
Thanks for looking at this. This problem seems to have been resolved by correct an issue I was having with .Net

[2018-02-06 21:03] sean-nicholas commented on #1398
I had this problem with the simulator. I solved this by checking out my initial commit, running `tns run ios` (issue is gone) and then re-checkout my last commit. Everything worked again. Strange 🤔

[2018-02-07 11:21] Plamen5kov opened #3354 "Two plugins depend on different versions of the same dependency"
Dear friend, we, the rest of the NativeScript community really
appreciate your feedback! While we are doing all we can to take care of every
issue, sometimes we get overwhelmed. Because of that, we will consider issues
that are not constructive or problems that cannot be reproduced "dead".
Additionally, we will treat feature requests or bug reports with unanswered
questions regarding the behavior/

[2018-02-07 11:23] Pip3r4o commented on #3354
@Plamen5kov how would CLI know what a plugin's dependencies are? I think this resolution is best left to the android runtime build script to handle.

[2018-02-07 12:56] Plamen5kov commented on #3354
@Pip3r4o the CLI would know that when someone does `tns plugin add native-plugin-name` it would have to do `gradlew clean` before building.

[2018-02-07 13:02] BeMor81 commented on #3028
Hi, any solution for this on 5 yet?

Use npm pack command within your module's folder to create your compressed package file. Hope this helps someone new to the platform like myself.

[2018-02-07 13:09] #3344 closed

[2018-02-07 23:44] viotti commented on #3139
Or just `export JAVA_OPTS='-XX:+IgnoreUnrecognizedVMOptions --add-modules java.se.ee'`.